{
  "openapi": "3.0.1",
  "info": {
    "title": "Upbit Exchange API",
    "description": "업비트 거래소 API. 공식 개발자 센터 v1.6.1 기준 스키마입니다.",
    "version": "1.6.1",
    "contact": {
      "name": "Upbit Developer Center",
      "url": "https://docs.upbit.com"
    }
  },
  "servers": [
    {
      "url": "https://api.upbit.com/v1",
      "description": "Upbit API 서버"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "operationId": "get-balance",
        "summary": "계정 잔고 조회",
        "tags": [
          "자산(Asset)"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n--url 'https://api.upbit.com/v1/accounts' \\\n--header 'Authorization: Bearer {JWT_TOKEN}' \\\n--header 'accept: application/json'\n"
            },
            {
              "language": "python",
              "install": "pip install requests pyjwt python-dotenv",
              "code": "import os\nimport uuid\nimport jwt\nimport requests\nfrom dotenv import load_dotenv\n\nload_dotenv()\n\nBASE_URL = \"https://api.upbit.com\"\nPATH = \"/v1/accounts\"\n\nACCESS_KEY = os.environ[\"UPBIT_OPEN_API_ACCESS_KEY\"]\nSECRET_KEY = os.environ[\"UPBIT_OPEN_API_SECRET_KEY\"]\n\npayload = {\n  \"access_key\": ACCESS_KEY,\n  \"nonce\": str(uuid.uuid4()),\n}\n\njwt_token = jwt.encode(payload, SECRET_KEY, algorithm=\"HS256\")\n\nheaders = {\n  \"Authorization\": f\"Bearer {jwt_token}\",\n  \"Accept\": \"application/json\",\n}\n\nres = requests.get(f\"{BASE_URL}{PATH}\", headers=headers)\nprint(res.json())\n"
            },
            {
              "language": "node",
              "name": "Axios",
              "install": "npm install axios jsonwebtoken uuid\n",
              "code": "const axios = require(\"axios\");\nconst { sign } = require(\"jsonwebtoken\");\nconst { v4: uuidv4 } = require(\"uuid\");\nrequire(\"dotenv\").config();\n\nconst baseURL = \"https://api.upbit.com\";\nconst path = \"/v1/accounts\";\n\nconst ACCESS_KEY = process.env.UPBIT_OPEN_API_ACCESS_KEY;\nconst SECRET_KEY = process.env.UPBIT_OPEN_API_SECRET_KEY;\n\nconst payload = {\n  access_key: ACCESS_KEY,\n  nonce: uuidv4(),\n};\n\nconst jwtToken = sign(payload, SECRET_KEY);\n\nconst options = {\n  method: \"GET\",\n  url: `${baseURL}${path}`,\n  headers: {\n    Authorization: `Bearer ${jwtToken}`,\n    Accept: \"application/json\",\n  },\n};\n\naxios\n  .request(options)\n  .then((response) => {\n    console.log(response.data);\n  })\n  .catch((error) => {\n    console.error(error.response ? error.response.data : error.message);\n  });\n"
            },
            {
              "language": "java",
              "code": "package main;\n\nimport com.auth0.jwt.JWT;\nimport com.auth0.jwt.algorithms.Algorithm;\nimport java.io.IOException;\nimport java.nio.charset.StandardCharsets;\nimport java.security.NoSuchAlgorithmException;\nimport java.util.Objects;\nimport java.util.UUID;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.Response;\n\npublic class GetBalance {\n    private static final String BASE_URL = \"https://api.upbit.com\";\n    private static final String PATH = \"/v1/accounts\";\n\n    public static void main(String[] args) throws NoSuchAlgorithmException, IOException {\n        String accessKey = System.getenv(\"UPBIT_OPEN_API_ACCESS_KEY\");\n        String secretKey = System.getenv(\"UPBIT_OPEN_API_SECRET_KEY\");\n\n\n        Algorithm algorithm = Algorithm.HMAC512(secretKey.getBytes(StandardCharsets.UTF_8));\n        String jwtToken = JWT.create()\n            .withClaim(\"access_key\", accessKey)\n            .withClaim(\"nonce\", UUID.randomUUID().toString())\n            .sign(algorithm);\n\n        String authHeader = \"Bearer \" + jwtToken;\n\n        OkHttpClient client = new OkHttpClient();\n        Request request = new Request.Builder()\n            .url(BASE_URL + PATH)\n            .get()\n            .addHeader(\"Content-Type\", \"application/json\")\n            .addHeader(\"Authorization\", authHeader)\n            .build();\n\n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.code());\n            System.out.println(Objects.requireNonNull(response.body()).string());\n        }\n    }\n}\n"
            }
          ]
        },
        "responses": {
          "200": {
            "description": "List of account balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "currency",
                      "balance",
                      "locked",
                      "avg_buy_price",
                      "avg_buy_price_modified",
                      "unit_currency"
                    ],
                    "properties": {
                      "currency": {
                        "type": "string",
                        "description": "조회하고자 하는 통화 코드",
                        "example": "BTC"
                      },
                      "balance": {
                        "type": "string",
                        "description": "주문 가능 수량 또는 금액.\n디지털 자산의 경우 수량, 법정 통화(KRW)의 경우 금액입니다.\n",
                        "example": 1000000
                      },
                      "locked": {
                        "type": "string",
                        "description": "출금이나 주문 등에 잠겨 있는 잔액",
                        "example": 0
                      },
                      "avg_buy_price": {
                        "type": "string",
                        "description": "매수 평균가",
                        "example": 0
                      },
                      "avg_buy_price_modified": {
                        "type": "boolean",
                        "description": "매수 평균가 수정 여부",
                        "example": false
                      },
                      "unit_currency": {
                        "type": "string",
                        "description": "평균가 기준 통화.\n\"avg_buy_price\"가 기준하는 단위입니다.\n\n[예시] KRW, BTC, USDT\n",
                        "example": "KRW"
                      }
                    }
                  }
                },
                "examples": {
                  "Successful Example": {
                    "value": [
                      {
                        "currency": "KRW",
                        "balance": "1000000.0",
                        "locked": "0.0",
                        "avg_buy_price": "0",
                        "avg_buy_price_modified": false,
                        "unit_currency": "KRW"
                      },
                      {
                        "currency": "BTC",
                        "balance": "2.0",
                        "locked": "0.0",
                        "avg_buy_price": "140000000",
                        "avg_buy_price_modified": false,
                        "unit_currency": "KRW"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "name",
                        "message"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "no authorization ip error": {
                    "value": {
                      "error": {
                        "name": "no_authorization_ip",
                        "message": "This is not a verified IP."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.upbit.com/kr/reference/get-balance"
        },
        "x-doc-url": "https://docs.upbit.com/kr/reference/get-balance"
      }
    },
    "/orders/chance": {
      "get": {
        "summary": "페어별 주문 가능 정보 조회",
        "operationId": "available-order-information",
        "tags": [
          "주문(Order)"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n    --url 'https://api.upbit.com/v1/orders/chance?market=KRW-BTC' \\\n    --header 'Authorization: Bearer {JWT_TOKEN}' \\\n    --header 'accept: application/json'\n"
            },
            {
              "language": "python",
              "install": "pip install requests pyjwt python-dotenv",
              "code": "import os\nimport uuid\nimport hashlib\nimport jwt\nimport requests\nfrom urllib.parse import unquote, urlencode \nfrom dotenv import load_dotenv\n\nload_dotenv()\n\nBASE_URL = \"https://api.upbit.com\"\nPATH = \"/v1/orders/chance\"\n\nACCESS_KEY = os.environ[\"UPBIT_OPEN_API_ACCESS_KEY\"]\nSECRET_KEY = os.environ[\"UPBIT_OPEN_API_SECRET_KEY\"]\n\nparams = {\"market\": \"KRW-BTC\"}\nquery_string = unquote(urlencode(params, doseq=True)).encode(\"utf-8\")\n\nm = hashlib.sha512()\nm.update(query_string)\nquery_hash = m.hexdigest()\n\npayload = {\n  \"access_key\": ACCESS_KEY,\n  \"nonce\": str(uuid.uuid4()),\n  \"query_hash\": query_hash,\n  \"query_hash_alg\": \"SHA512\",\n}\n\njwt_token = jwt.encode(payload, SECRET_KEY, algorithm=\"HS256\")\n\nheaders = {\n  \"Authorization\": f\"Bearer {jwt_token}\",\n  \"Accept\": \"application/json\",\n}\n\nres = requests.get(f\"{BASE_URL}{PATH}\", params=params, headers=headers)\nprint(res.json())\n"
            },
            {
              "language": "node",
              "name": "Axios",
              "install": "npm install axios jsonwebtoken uuid",
              "code": "const axios = require(\"axios\");\nconst crypto = require(\"crypto\");\nconst { sign } = require(\"jsonwebtoken\");\nconst { v4: uuidv4 } = require(\"uuid\");\nrequire(\"dotenv\").config();\n\nconst baseURL = \"https://api.upbit.com\";\nconst path = \"/v1/orders/chance\";\n\nconst ACCESS_KEY = process.env.UPBIT_OPEN_API_ACCESS_KEY;\nconst SECRET_KEY = process.env.UPBIT_OPEN_API_SECRET_KEY;\n\nconst queryParams = {\n  market: \"KRW-BTC\",\n};\n\nconst queryString = new URLSearchParams(queryParams).toString();\n\nconst queryHash = crypto\n  .createHash(\"sha512\")\n  .update(queryString, \"utf-8\")\n  .digest(\"hex\");\n\nconst payload = {\n  access_key: ACCESS_KEY,\n  nonce: uuidv4(),\n  query_hash: queryHash,\n  query_hash_alg: \"SHA512\",\n};\n\nconst jwtToken = sign(payload, SECRET_KEY);\n\nconst options = {\n  method: \"GET\",\n  url: `${baseURL}${path}?${queryString}`,\n  headers: {\n    Authorization: `Bearer ${jwtToken}`,\n    Accept: \"application/json\",\n  },\n};\n\naxios\n  .request(options)\n  .then((response) => {\n    console.log(response.data);\n  })\n  .catch((error) => {\n    console.error(error.response ? error.response.data : error.message);\n  });\n"
            },
            {
              "language": "java",
              "code": "package main;\n\nimport com.auth0.jwt.JWT;\nimport com.auth0.jwt.algorithms.Algorithm;\nimport java.io.IOException;\nimport java.nio.charset.StandardCharsets;\nimport java.security.MessageDigest;\nimport java.security.NoSuchAlgorithmException;\nimport java.util.HashMap;\nimport java.util.Map;\nimport java.util.Objects;\nimport java.util.UUID;\nimport java.util.stream.Collectors;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.Response;\n\npublic class AvailableOrderInformation {\n    private static final String BASE_URL = \"https://api.upbit.com\";\n    private static final String PATH = \"/v1/orders/chance\";\n\n\n    public static void main(String[] args) throws NoSuchAlgorithmException, IOException {\n        String accessKey = System.getenv(\"UPBIT_OPEN_API_ACCESS_KEY\");\n        String secretKey = System.getenv(\"UPBIT_OPEN_API_SECRET_KEY\");\n\n        Map<String, String> params = new HashMap<>();\n        params.put(\"market\", \"KRW-BTC\");\n        String queryString = params.entrySet().stream()\n            .map(e -> e.getKey() + \"=\" + String.valueOf(e.getValue()))\n            .collect(Collectors.joining(\"&\"));\n\n        MessageDigest md = MessageDigest.getInstance(\"SHA-512\");\n        md.update(queryString.getBytes(StandardCharsets.UTF_8));\n        StringBuilder sb = new StringBuilder();\n        for (byte b : md.digest()) {\n            sb.append(String.format(\"%02x\", b));\n        }\n        String queryHash = sb.toString();\n\n        Algorithm algorithm = Algorithm.HMAC512(secretKey.getBytes(StandardCharsets.UTF_8));\n        String jwtToken = JWT.create()\n            .withClaim(\"access_key\", accessKey)\n            .withClaim(\"nonce\", UUID.randomUUID().toString())\n            .withClaim(\"query_hash\", queryHash)\n            .withClaim(\"query_hash_alg\", \"SHA512\")\n            .sign(algorithm);\n\n        String authHeader = \"Bearer \" + jwtToken;\n\n        OkHttpClient client = new OkHttpClient();\n        Request request = new Request.Builder()\n            .url(BASE_URL + PATH + \"?\" + queryString)\n            .get()\n            .addHeader(\"Content-Type\", \"application/json\")\n            .addHeader(\"Authorization\", authHeader)\n            .build();\n\n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.code());\n            System.out.println(Objects.requireNonNull(response.body()).string());\n        }\n    }\n}\n"
            }
          ]
        },
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "조회하고자 하는 페어(거래쌍)",
              "example": "KRW-BTC"
            },
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "Object of order policy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "bid_fee",
                      "ask_fee",
                      "maker_bid_fee",
                      "maker_ask_fee",
                      "market",
                      "bid_account",
                      "ask_account"
                    ],
                    "properties": {
                      "bid_fee": {
                        "type": "string",
                        "description": "매수 시 적용되는 수수료율",
                        "example": 0.0005
                      },
                      "ask_fee": {
                        "type": "string",
                        "description": "매도 시 적용되는 수수료율",
                        "example": 0.0005
                      },
                      "maker_bid_fee": {
                        "type": "string",
                        "description": "매수 maker 주문 수수료 비율",
                        "example": 0.0005
                      },
                      "maker_ask_fee": {
                        "type": "string",
                        "description": "매도 maker 주문 수수료 비율",
                        "example": 0.0005
                      },
                      "market": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "order_types",
                          "order_sides",
                          "bid_types",
                          "ask_types",
                          "bid",
                          "ask",
                          "max_total",
                          "state"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                            "example": "KRW-BTC"
                          },
                          "name": {
                            "type": "string",
                            "description": "페어 코드((기준 자산)/(디지털 자산 구매에 사용되는 통화 - KRW,BTC,USDT))\n\n[예시] \"BTC/KRW\"\n",
                            "example": "BTC/KRW"
                          },
                          "order_types": {
                            "type": "array",
                            "description": "지원하는 주문 유형 (deprecated)",
                            "enum": [
                              "limit",
                              "price",
                              "market",
                              "best"
                            ],
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "limit",
                              "market"
                            ]
                          },
                          "order_sides": {
                            "type": "array",
                            "description": "지원하는 주문 방향(매수/매도)",
                            "enum": [
                              "ask",
                              "bid"
                            ],
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "ask",
                              "bid"
                            ]
                          },
                          "bid_types": {
                            "type": "array",
                            "description": "지원하는 매수 주문 유형\n\n[예시] [\"limit\", \"price\", \"best_fok\", ...]\n",
                            "enum": [
                              "best_fok",
                              "best_ioc",
                              "limit",
                              "limit_fok",
                              "limit_ioc",
                              "price"
                            ],
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "best_fok",
                              "limit"
                            ]
                          },
                          "ask_types": {
                            "description": "지원하는 매도 주문 유형\n\n[예시] [\"market\", \"limit\", \"best_fok\", ...]\n",
                            "type": "array",
                            "enum": [
                              "best_fok",
                              "best_ioc",
                              "limit",
                              "limit_fok",
                              "limit_ioc",
                              "market"
                            ],
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "market",
                              "limit_ioc"
                            ]
                          },
                          "bid": {
                            "description": "매수 제약 조건",
                            "type": "object",
                            "required": [
                              "currency",
                              "min_total"
                            ],
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "디지털 자산 구매에 사용되는 통화(KRW,BTC,USDT)\n",
                                "example": "KRW"
                              },
                              "price_unit": {
                                "type": "number",
                                "format": "double",
                                "description": "주문 금액 단위.\n해당 필드는 더 이상 사용되지 않으며, 참조하지 않을 것을 권장합니다.  \n(deprecated)\n",
                                "example": 1e-08
                              },
                              "min_total": {
                                "type": "string",
                                "format": "number",
                                "description": "매수 시 최소 주문 금액(결제 화폐 기준)\n\n[예시]  \"min_total\": \"5000\"일 경우, 5000 KRW를 의미합니다.\n",
                                "example": "5000"
                              }
                            }
                          },
                          "ask": {
                            "description": "매도 제약 조건",
                            "type": "object",
                            "required": [
                              "currency",
                              "min_total"
                            ],
                            "properties": {
                              "currency": {
                                "type": "string",
                                "description": "매도 자산 통화\n\n[예시] \"BTC\", \"ETH\"\n",
                                "example": "BTC"
                              },
                              "price_unit": {
                                "type": "number",
                                "format": "double",
                                "description": "주문 금액 단위.\n해당 필드는 더 이상 사용되지 않으며, 참조하지 않을 것을 권장합니다.  \n(deprecated)\n",
                                "example": 1e-08
                              },
                              "min_total": {
                                "type": "string",
                                "format": "number",
                                "description": "매도 시 최소 주문 금액(결제 화폐 기준)\n\n[예시]  \"min_total\": \"5000\"일 경우, 5000 KRW를 의미합니다.\n",
                                "example": "5000"
                              }
                            }
                          },
                          "max_total": {
                            "type": "string",
                            "description": "최대 주문 가능 금액",
                            "example": "1000000000"
                          },
                          "state": {
                            "type": "string",
                            "enum": [
                              "active"
                            ],
                            "description": "페어 운영 상태",
                            "example": "active",
                            "default": "active"
                          }
                        }
                      },
                      "bid_account": {
                        "description": "호가 자산(Quote Asset) 계좌 정보",
                        "type": "object",
                        "required": [
                          "currency",
                          "balance",
                          "locked",
                          "avg_buy_price",
                          "avg_buy_price_modified"
                        ],
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "조회하고자 하는 통화 코드",
                            "example": "BTC"
                          },
                          "balance": {
                            "type": "string",
                            "description": "주문 가능 수량 또는 금액.\n디지털 자산의 경우 수량, 법정 통화(KRW)의 경우 금액입니다.\n",
                            "example": 1000000
                          },
                          "locked": {
                            "type": "string",
                            "description": "출금이나 주문 등에 잠겨 있는 잔액",
                            "example": 0
                          },
                          "avg_buy_price": {
                            "type": "string",
                            "description": "매수 평균가",
                            "example": 0
                          },
                          "avg_buy_price_modified": {
                            "type": "boolean",
                            "description": "매수 평균가 수정 여부",
                            "example": false
                          },
                          "unit_currency": {
                            "type": "string",
                            "description": "평균가 기준 통화.\n\"avg_buy_price\"가 기준하는 단위입니다.\n\n[예시] KRW, BTC, USDT\n",
                            "example": "KRW"
                          }
                        }
                      },
                      "ask_account": {
                        "description": "기준 자산(Base Asset) 계좌 정보",
                        "type": "object",
                        "required": [
                          "currency",
                          "balance",
                          "locked",
                          "avg_buy_price",
                          "avg_buy_price_modified"
                        ],
                        "properties": {
                          "currency": {
                            "type": "string",
                            "description": "조회하고자 하는 통화 코드",
                            "example": "BTC"
                          },
                          "balance": {
                            "type": "string",
                            "description": "주문 가능 수량 또는 금액.\n디지털 자산의 경우 수량, 법정 통화(KRW)의 경우 금액입니다.\n",
                            "example": 1000000
                          },
                          "locked": {
                            "type": "string",
                            "description": "출금이나 주문 등에 잠겨 있는 잔액",
                            "example": 0
                          },
                          "avg_buy_price": {
                            "type": "string",
                            "description": "매수 평균가",
                            "example": 0
                          },
                          "avg_buy_price_modified": {
                            "type": "boolean",
                            "description": "매수 평균가 수정 여부",
                            "example": false
                          },
                          "unit_currency": {
                            "type": "string",
                            "description": "평균가 기준 통화.\n\"avg_buy_price\"가 기준하는 단위입니다.\n\n[예시] KRW, BTC, USDT\n",
                            "example": "KRW"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Successful Example": {
                    "value": [
                      {
                        "bid_fee": "0.0005",
                        "ask_fee": "0.0005",
                        "maker_bid_fee": "0.0005",
                        "maker_ask_fee": "0.0005",
                        "market": {
                          "id": "KRW-BTC",
                          "name": "BTC/KRW",
                          "order_types": [
                            "limit"
                          ],
                          "order_sides": [
                            "ask",
                            "bid"
                          ],
                          "bid_types": [
                            "best_fok",
                            "best_ioc",
                            "limit",
                            "limit_fok",
                            "limit_ioc",
                            "price"
                          ],
                          "ask_types": [
                            "best_fok",
                            "best_ioc",
                            "limit",
                            "limit_fok",
                            "limit_ioc",
                            "market"
                          ],
                          "bid": {
                            "currency": "KRW",
                            "min_total": "5000"
                          },
                          "ask": {
                            "currency": "BTC",
                            "min_total": "5000"
                          },
                          "max_total": "1000000000",
                          "state": "active"
                        },
                        "bid_account": {
                          "currency": "KRW",
                          "balance": "10000",
                          "locked": "0",
                          "avg_buy_price": "0",
                          "avg_buy_price_modified": true,
                          "unit_currency": "KRW"
                        },
                        "ask_account": {
                          "currency": "BTC",
                          "balance": "0.001",
                          "locked": "0",
                          "avg_buy_price": "140000000",
                          "avg_buy_price_modified": false,
                          "unit_currency": "KRW"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "name",
                        "message"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "invalid parameter error": {
                    "value": {
                      "error": {
                        "name": "invalid_parameter",
                        "message": "잘못된 파라미터"
                      }
                    }
                  },
                  "not found market error": {
                    "value": {
                      "error": {
                        "name": "notfoundmarket",
                        "message": "다음 마켓에 없는 종목입니다: KRW-BTCs"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.upbit.com/kr/reference/available-order-information"
        },
        "x-doc-url": "https://docs.upbit.com/kr/reference/available-order-information"
      }
    },
    "/orders": {
      "post": {
        "summary": "주문 생성",
        "operationId": "new-order",
        "tags": [
          "주문(Order)"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n--url 'https://api.upbit.com/v1/orders' \\\n--header 'Authorization: Bearer {JWT_TOKEN}' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data '\n  {\n  \"market\":\"KRW-BTC\",\n  \"side\":\"bid\",\n  \"volume\":\"1\",\n  \"price\":\"140000000\",\n  \"ord_type\":\"limit\"\n  }\n'\n"
            },
            {
              "language": "python",
              "install": "pip install requests pyjwt python-dotenv",
              "code": "import os\nimport uuid\nimport hashlib\nimport jwt\nimport requests\nfrom urllib.parse import unquote, urlencode\nfrom dotenv import load_dotenv\n\nload_dotenv()\n\nBASE_URL = \"https://api.upbit.com\"\nPATH = \"/v1/orders\"\n\nACCESS_KEY = os.environ[\"UPBIT_OPEN_API_ACCESS_KEY\"]\nSECRET_KEY = os.environ[\"UPBIT_OPEN_API_SECRET_KEY\"]\n\nparams = {\n    \"market\": \"KRW-BTC\",\n    \"side\": \"bid\",\n    \"volume\": \"1\",\n    \"price\": \"140000000\",\n    \"ord_type\": \"limit\",\n}\nquery_string = unquote(urlencode(params, doseq=True)).encode(\"utf-8\")\n\nm = hashlib.sha512()\nm.update(query_string)\nquery_hash = m.hexdigest()\n\npayload = {\n    \"access_key\": ACCESS_KEY,\n    \"nonce\": str(uuid.uuid4()),\n    \"query_hash\": query_hash,\n    \"query_hash_alg\": \"SHA512\",\n}\n\njwt_token = jwt.encode(payload, SECRET_KEY, algorithm=\"HS256\")\n\nheaders = {\n    \"Authorization\": f\"Bearer {jwt_token}\",\n    \"Accept\": \"application/json\",\n}\n\nres = requests.post(f\"{BASE_URL}{PATH}\", headers=headers, json=params)\nprint(res.json())\n"
            },
            {
              "language": "node",
              "name": "Axios",
              "install": "npm install axios jsonwebtoken uuid",
              "code": "const axios = require(\"axios\");\nconst crypto = require(\"crypto\");\nconst { sign } = require(\"jsonwebtoken\");\nconst { v4: uuidv4 } = require(\"uuid\");\nrequire(\"dotenv\").config();\n\nconst baseURL = \"https://api.upbit.com\";\nconst path = \"/v1/orders\";\n\nconst ACCESS_KEY = process.env.UPBIT_OPEN_API_ACCESS_KEY;\nconst SECRET_KEY = process.env.UPBIT_OPEN_API_SECRET_KEY;\n\nconst params = {\n  market: \"KRW-BTC\",\n  side: \"bid\",\n  volume: \"1\",\n  price: \"140000000\",\n  ord_type: \"limit\",\n};\n\nconst queryString = new URLSearchParams(params).toString();\n\nconst queryHash = crypto\n  .createHash(\"sha512\")\n  .update(queryString, \"utf-8\")\n  .digest(\"hex\");\n\nconst payload = {\n  access_key: ACCESS_KEY,\n  nonce: uuidv4(),\n  query_hash: queryHash,\n  query_hash_alg: \"SHA512\",\n};\n\nconst jwtToken = sign(payload, SECRET_KEY);\n\nconst options = {\n  method: \"POST\",\n  url: `${baseURL}${path}`,\n  headers: {\n    Authorization: `Bearer ${jwtToken}`,\n    Accept: \"application/json\",\n  },\n  data: params,\n};\n\naxios\n  .request(options)\n  .then((response) => {\n    console.log(response.data);\n  })\n  .catch((error) => {\n    console.error(error.response ? error.response.data : error.message);\n  });\n"
            },
            {
              "language": "java",
              "code": "package main;\n\nimport com.auth0.jwt.JWT;\nimport com.auth0.jwt.algorithms.Algorithm;\nimport java.io.IOException;\nimport java.nio.charset.StandardCharsets;\nimport java.security.MessageDigest;\nimport java.security.NoSuchAlgorithmException;\nimport java.util.HashMap;\nimport java.util.Map;\nimport java.util.Objects;\nimport java.util.UUID;\nimport java.util.stream.Collectors;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.RequestBody;\nimport okhttp3.Response;\nimport com.google.gson.Gson;\n\npublic class CreateOrder {\n    private static final String BASE_URL = \"https://api.upbit.com\";\n    private static final String PATH = \"/v1/orders\";\n\n\n    public static void main(String[] args) throws NoSuchAlgorithmException, IOException {\n        String accessKey = System.getenv(\"UPBIT_OPEN_API_ACCESS_KEY\");\n        String secretKey = System.getenv(\"UPBIT_OPEN_API_SECRET_KEY\");\n\n        Map<String, String> params = new HashMap<>();\n        params.put(\"market\", \"KRW-BTC\");\n        params.put(\"side\", \"bid\");\n        params.put(\"volume\", \"1\");\n        params.put(\"price\", \"140000000\");\n        params.put(\"ord_type\", \"limit\");\n        String queryString = params.entrySet().stream()\n            .map(e -> e.getKey() + \"=\" + String.valueOf(e.getValue()))\n            .collect(Collectors.joining(\"&\"));\n\n        MessageDigest md = MessageDigest.getInstance(\"SHA-512\");\n        md.update(queryString.getBytes(StandardCharsets.UTF_8));\n        StringBuilder sb = new StringBuilder();\n        for (byte b : md.digest()) {\n            sb.append(String.format(\"%02x\", b));\n        }\n        String queryHash = sb.toString();\n\n        Algorithm algorithm = Algorithm.HMAC512(secretKey.getBytes(StandardCharsets.UTF_8));\n        String jwtToken = JWT.create()\n            .withClaim(\"access_key\", accessKey)\n            .withClaim(\"nonce\", UUID.randomUUID().toString())\n            .withClaim(\"query_hash\", queryHash)\n            .withClaim(\"query_hash_alg\", \"SHA512\")\n            .sign(algorithm);\n\n        String authHeader = \"Bearer \" + jwtToken;\n\n        String jsonBody = new Gson().toJson(params);\n        OkHttpClient client = new OkHttpClient();\n        Request request = new Request.Builder()\n            .url(BASE_URL + PATH)\n            .post(RequestBody.create(jsonBody, okhttp3.MediaType.parse(\"application/json; charset=utf-8\")))\n            .addHeader(\"Content-Type\", \"application/json\")\n            .addHeader(\"Authorization\", authHeader)\n            .build();\n\n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.code());\n            System.out.println(Objects.requireNonNull(response.body()).string());\n        }\n    }\n}\n"
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "market",
                  "side"
                ],
                "properties": {
                  "market": {
                    "type": "string",
                    "description": "주문을 생성하고자 하는 대상 페어(거래쌍)\n",
                    "example": "KRW-BTC"
                  },
                  "side": {
                    "type": "string",
                    "enum": [
                      "ask",
                      "bid"
                    ],
                    "description": "주문 방향(매수/매도). \n매수 주문을 생성하는 경우 “bid”, 매도 주문을 생성하는 경우 “ask”로 지정합니다.\n",
                    "example": "bid"
                  },
                  "volume": {
                    "type": "string",
                    "description": "주문 수량.\n매수 또는 매도하고자 하는 수량을 숫자 형식의 String으로 입력합니다.\n\n다음 주문 유형에 대해 필수로 입력되어야 합니다.\n- 지정가 매수/매도(ord_type 필드가 “limit”인 경우)\n- 시장가 매도(ord_type 필드가 “market”인 경우)\n- 최유리 지정가 매도(side 필드가 “ask”, ord_type 필드가 “best”인 경우)\n",
                    "example": "0.01"
                  },
                  "price": {
                    "type": "string",
                    "description": "주문 단가 또는 총액.\n디지털 자산 구매에 사용되는 통화(KRW,BTC,USDT)를 기준으로, 숫자 형식의 String으로 입력합니다.\n\n다음 주문 조건에 대해 필수로 입력합니다.\n- 지정가 매수/매도(ord_type 필드가 “limit”인 경우)\n- 시장가 매수(ord_type 필드가 “price”인 경우)\n- 최유리 지정가 매수(side필드가 “bid”, ord_type 필드가 “best”인 경우)\n\nprice 필드는 주문 유형에 따라 다른 용도로 사용됩니다.\n- 지정가 주문시 매수/매도 호가로 사용됩니다.\n- 시장가 매수, 최유리 지정가 매수시 매수 총액을 설정하는 용도로 사용됩니다. 주문 시점의 시장가 또는 최유리 지정가로 price 총액을 채우는 수량만큼 매수 주문이 체결됩니다.\n",
                    "example": "1000"
                  },
                  "ord_type": {
                    "type": "string",
                    "enum": [
                      "limit",
                      "price",
                      "market",
                      "best"
                    ],
                    "description": "주문 유형. \n생성하고자 하는 주문 유형에 따라 아래 값 중 하나를 입력합니다. \n\n- `limit`: 지정가 매수/매도 주문\n- `price`: 시장가 매수 주문\n- `market`: 시장가 매도 주문\n- `best`: 최유리 지정가 매수/매도 주문 (time_in_force 필드 설정 필수)\n",
                    "example": "limit",
                    "default": "limit"
                  },
                  "identifier": {
                    "type": "string",
                    "description": "클라이언트 지정 주문 식별자. \n각 주문에는 사용자 계정의 전체 주문 내에서 유일하게 식별되는 값을 할당해야 하며, 한번 사용한 identifier 값은 해당 주문의 생성,체결 여부와 상관 없이 재사용할 수 없습니다.\n",
                    "example": "9ca023a5-851b-4fec-9f0a-48cd83c2eaae"
                  },
                  "time_in_force": {
                    "type": "string",
                    "enum": [
                      "fok",
                      "ioc",
                      "post_only"
                    ],
                    "description": "주문 체결 조건.\nIOC(Immediate or Cancel), FOK(Fill or Kill), Post Only와 같은 주문 체결 조건을 설정할 수 있습니다. \n\n시장가 주문(ord_type 필드가 \"limit\")인 경우 모든 옵션을 선택적으로 사용할 수 있습니다. 최유리 지정가 주문(ord_type 필드가 “best”)인 경우 대해 \"ioc\" 또는 \"fok\" 중 하나를 필수로 입력합니다. 사용 가능한 값은 다음과 같습니다.\n\n* `ioc`: 지정가 조건으로 체결 가능한 수량만 즉시 부분 체결하고, 잔여 수량은 취소됩니다.\n* `fok`: 지정가 조건으로 주문량 전량 체결 가능할 때만 주문을 실행하고, 아닌 경우 전량 주문 취소합니다.\n* `post_only`: 지정가 조건으로 부분 또는 전체에 대해 즉시 체결 가능한 상황인 경우 주문을 실행하지 않고 취소합니다. 즉, 메이커(maker)주문으로 생성될 수 있는 상황에서만 주문이 생성되며 테이커(taker) 주문으로 체결되는 것을 방지합니다.\n",
                    "example": "ioc"
                  },
                  "smp_type": {
                    "type": "string",
                    "enum": [
                      "cancel_maker",
                      "cancel_taker",
                      "reduce"
                    ],
                    "description": "자전거래 체결 방지(Self-Match Prevention) 모드.\n\n사용 가능한 값은 다음과 같습니다.\n\n* `cancel_maker`: 메이커 주문(이전 주문)을 취소합니다. \n* `cancel_taker`: 테이커 주문(신규 주문)을 취소합니다. \n* `reduce`: 기존 주문과 신규 주문의 주문 수량을 줄여 체결을 방지합니다. 잔량이 0인 경우 주문을 취소합니다.\n",
                    "example": "cancel_maker"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Object of created order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "market",
                    "uuid",
                    "side",
                    "ord_type",
                    "state",
                    "created_at",
                    "remaining_volume",
                    "executed_volume",
                    "reserved_fee",
                    "remaining_fee",
                    "paid_fee",
                    "locked",
                    "trades_count",
                    "prevented_volume",
                    "prevented_locked"
                  ],
                  "properties": {
                    "market": {
                      "type": "string",
                      "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                      "example": "KRW-BTC"
                    },
                    "uuid": {
                      "type": "string",
                      "description": "주문의 유일 식별자",
                      "example": "9ca023a5-851b-4fec-9f0a-48cd83c2eaae"
                    },
                    "side": {
                      "type": "string",
                      "enum": [
                        "ask",
                        "bid"
                      ],
                      "description": "주문 방향(매수/매도)",
                      "example": "ask"
                    },
                    "ord_type": {
                      "type": "string",
                      "enum": [
                        "limit",
                        "price",
                        "market",
                        "best"
                      ],
                      "description": "주문 유형.\n",
                      "example": "limit"
                    },
                    "price": {
                      "type": "string",
                      "description": "주문 단가 또는 총액\n지정가 주문의 경우 단가, 시장가 매수 주문의 경우 매수 총액입니다.\n",
                      "example": 1000
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "wait",
                        "watch",
                        "done",
                        "cancel"
                      ],
                      "description": "주문 상태\n\n- `wait`: 체결 대기\n- `watch`: 예약 주문 대기\n- `done`: 체결 완료\n- `cancel`: 주문 취소\n",
                      "example": "wait"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "주문 생성 시각 (KST 기준)\n\n[형식] yyyy-MM-ddTHH:mm:ss+09:00\n",
                      "example": "2025-06-25T15:42:25+09:00"
                    },
                    "volume": {
                      "type": "string",
                      "description": "주문 요청 수량",
                      "example": 10
                    },
                    "remaining_volume": {
                      "type": "string",
                      "description": "체결 후 남은 주문 양",
                      "example": 8
                    },
                    "executed_volume": {
                      "type": "string",
                      "description": "체결된 양",
                      "example": 2
                    },
                    "reserved_fee": {
                      "type": "string",
                      "description": "수수료로 예약된 비용",
                      "example": 5
                    },
                    "remaining_fee": {
                      "type": "string",
                      "description": "남은 수수료",
                      "example": 5
                    },
                    "paid_fee": {
                      "type": "string",
                      "description": "사용된 수수료",
                      "example": 0
                    },
                    "locked": {
                      "type": "string",
                      "description": "거래에 사용 중인 비용",
                      "example": 0
                    },
                    "trades_count": {
                      "type": "integer",
                      "description": "해당 주문에 대한 체결 건수",
                      "example": 1
                    },
                    "time_in_force": {
                      "type": "string",
                      "enum": [
                        "fok",
                        "ioc",
                        "post_only"
                      ],
                      "description": "주문 체결 옵션",
                      "example": "ioc"
                    },
                    "identifier": {
                      "type": "string",
                      "description": "주문 생성시 클라이언트가 지정한 주문 식별자. \n* identifier 필드는 2024년 10월 18일 이후 생성된 주문에 대해서만 제공됩니다.\n",
                      "example": "9ca023a5-851b-4fec-9f0a-48cd83c2eaae"
                    },
                    "smp_type": {
                      "type": "string",
                      "enum": [
                        "reduce",
                        "cancel_maker",
                        "cancel_taker"
                      ],
                      "description": "자전거래 체결 방지(Self-Match Prevention) 모드",
                      "example": "cancel_maker"
                    },
                    "prevented_volume": {
                      "type": "string",
                      "description": "자전거래 방지로 인해 취소된 수량.\n동일 사용자의 주문 간 체결이 발생하지 않도록 설정(SMP)에 따라 취소된 주문 수량입니다.\n",
                      "example": 2
                    },
                    "prevented_locked": {
                      "type": "string",
                      "description": "자전거래 방지로 인해 해제된 자산.\n자전거래 체결 방지 설정으로 인해 취소된 주문의 잔여 자산입니다.\n  - 매수 주문의 경우: 취소된 금액\n  - 매도 주문의 경우: 취소된 수량\n",
                      "example": 2000
                    }
                  }
                },
                "examples": {
                  "Successful Example": {
                    "value": {
                      "market": "KRW-BTC",
                      "uuid": "cdd92199-2897-4e14-9448-f923320408ad",
                      "side": "ask",
                      "ord_type": "limit",
                      "price": "140000000",
                      "state": "wait",
                      "created_at": "2025-07-04T15:00:00+09:00",
                      "volume": "1.0",
                      "remaining_volume": "1.0",
                      "reserved_fee": "70000.0",
                      "remaining_fee": "70000.0",
                      "paid_fee": "0.0",
                      "locked": "0.0",
                      "executed_volume": "0.0",
                      "prevented_volume": "0",
                      "prevented_locked": "0",
                      "trades_count": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "name",
                        "message"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "invalid parameter error": {
                    "value": {
                      "error": {
                        "name": "invalid_parameter",
                        "message": "잘못된 파라미터"
                      }
                    }
                  },
                  "invalid time in force error": {
                    "value": {
                      "error": {
                        "name": "invalid_time_in_force",
                        "message": "주문조건을 다시 확인해 주세요. \\n지속적인 에러가 발생할 경우, 고객센터로 문의해 주세요."
                      }
                    }
                  },
                  "invalid price bid error": {
                    "value": {
                      "error": {
                        "name": "invalid_price_bid",
                        "message": "주문가격 단위를 잘못 입력하셨습니다. 확인 후 시도해주세요."
                      }
                    }
                  },
                  "invalid price ask error": {
                    "value": {
                      "error": {
                        "name": "invalid_price_ask",
                        "message": "주문가격 단위를 잘못 입력하셨습니다. 확인 후 시도해주세요."
                      }
                    }
                  },
                  "over krw funds bid error": {
                    "value": {
                      "error": {
                        "name": "over_krw_funds_bid",
                        "message": "최대 주문 가능 금액 1000000000 KRW 보다 작은 주문을 입력해 주세요."
                      }
                    }
                  },
                  "over krw funds ask error": {
                    "value": {
                      "error": {
                        "name": "over_krw_funds_ask",
                        "message": "최대 주문 가능 금액 1000000000 KRW 보다 작은 주문을 입력해 주세요."
                      }
                    }
                  },
                  "insufficient funds bid error": {
                    "value": {
                      "error": {
                        "name": "insufficient_funds_bid",
                        "message": "주문 가능한 금액(KRW)이 부족합니다."
                      }
                    }
                  },
                  "insufficient funds ask error": {
                    "value": {
                      "error": {
                        "name": "insufficient_funds_ask",
                        "message": "주문 가능한 수량이 부족합니다."
                      }
                    }
                  },
                  "not found market error": {
                    "value": {
                      "error": {
                        "name": "notfoundmarket",
                        "message": "다음 마켓에 없는 종목입니다: KRW-BTCs"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "name",
                        "message"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "market offline error": {
                    "value": {
                      "error": {
                        "name": "market_offline",
                        "message": "시스템 점검 중입니다. 점검이 완료된 후에 다시 시도해주세요. \\n자세한 내용은 공지사항을 참고 부탁드립니다."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.upbit.com/kr/reference/new-order"
        },
        "x-doc-url": "https://docs.upbit.com/kr/reference/new-order"
      }
    },
    "/orders/test": {
      "post": {
        "summary": "주문 생성 테스트",
        "operationId": "test-order",
        "tags": [
          "주문(Order)"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request POST \\\n--url 'https://api.upbit.com/v1/orders/test' \\\n--header 'Authorization: Bearer {JWT_TOKEN}' \\\n--header 'Accept: application/json' \\\n--header 'Content-Type: application/json' \\\n--data '\n  {\n  \"market\":\"KRW-BTC\",\n  \"side\":\"bid\",\n  \"volume\":\"1\",\n  \"price\":\"140000000\",\n  \"ord_type\":\"limit\"\n  }\n'\n"
            },
            {
              "language": "python",
              "install": "pip install requests pyjwt python-dotenv",
              "code": "import os\nimport uuid\nimport hashlib\nimport jwt\nimport requests\nfrom urllib.parse import unquote, urlencode\nfrom dotenv import load_dotenv\n\nload_dotenv()\n\nBASE_URL = \"https://api.upbit.com\"\nPATH = \"/v1/orders/test\"\n\nACCESS_KEY = os.environ[\"UPBIT_OPEN_API_ACCESS_KEY\"]\nSECRET_KEY = os.environ[\"UPBIT_OPEN_API_SECRET_KEY\"]\n\nparams = {\n    \"market\": \"KRW-BTC\",\n    \"side\": \"bid\",\n    \"volume\": \"1\",\n    \"price\": \"140000000\",\n    \"ord_type\": \"limit\",\n}\nquery_string = unquote(urlencode(params, doseq=True)).encode(\"utf-8\")\n\nm = hashlib.sha512()\nm.update(query_string)\nquery_hash = m.hexdigest()\n\npayload = {\n    \"access_key\": ACCESS_KEY,\n    \"nonce\": str(uuid.uuid4()),\n    \"query_hash\": query_hash,\n    \"query_hash_alg\": \"SHA512\",\n}\n\njwt_token = jwt.encode(payload, SECRET_KEY, algorithm=\"HS256\")\n\nheaders = {\n    \"Authorization\": f\"Bearer {jwt_token}\",\n    \"Accept\": \"application/json\",\n}\n\nres = requests.post(f\"{BASE_URL}{PATH}\", headers=headers, json=params)\nprint(res.json())\n"
            },
            {
              "language": "node",
              "name": "Axios",
              "install": "npm install axios jsonwebtoken uuid",
              "code": "const axios = require(\"axios\");\nconst crypto = require(\"crypto\");\nconst { sign } = require(\"jsonwebtoken\");\nconst { v4: uuidv4 } = require(\"uuid\");\nrequire(\"dotenv\").config();\n\nconst baseURL = \"https://api.upbit.com\";\nconst path = \"/v1/orders/test\";\n\nconst ACCESS_KEY = process.env.UPBIT_OPEN_API_ACCESS_KEY;\nconst SECRET_KEY = process.env.UPBIT_OPEN_API_SECRET_KEY;\n\nconst params = {\n  market: \"KRW-BTC\",\n  side: \"bid\",\n  volume: \"1\",\n  price: \"140000000\",\n  ord_type: \"limit\",\n};\n\nconst queryString = new URLSearchParams(params).toString();\n\nconst queryHash = crypto\n  .createHash(\"sha512\")\n  .update(queryString, \"utf-8\")\n  .digest(\"hex\");\n\nconst payload = {\n  access_key: ACCESS_KEY,\n  nonce: uuidv4(),\n  query_hash: queryHash,\n  query_hash_alg: \"SHA512\",\n};\n\nconst jwtToken = sign(payload, SECRET_KEY);\n\nconst options = {\n  method: \"POST\",\n  url: `${baseURL}${path}`,\n  headers: {\n    Authorization: `Bearer ${jwtToken}`,\n    Accept: \"application/json\",\n  },\n  data: params,\n};\n\naxios\n  .request(options)\n  .then((response) => {\n    console.log(response.data);\n  })\n  .catch((error) => {\n    console.error(error.response ? error.response.data : error.message);\n  });\n"
            },
            {
              "language": "java",
              "code": "package main;\n\nimport com.auth0.jwt.JWT;\nimport com.auth0.jwt.algorithms.Algorithm;\nimport java.io.IOException;\nimport java.nio.charset.StandardCharsets;\nimport java.security.MessageDigest;\nimport java.security.NoSuchAlgorithmException;\nimport java.util.HashMap;\nimport java.util.Map;\nimport java.util.Objects;\nimport java.util.UUID;\nimport java.util.stream.Collectors;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.RequestBody;\nimport okhttp3.Response;\nimport com.google.gson.Gson;\n\npublic class CreateOrder {\n    private static final String BASE_URL = \"https://api.upbit.com\";\n    private static final String PATH = \"/v1/orders/test\";\n\n\n    public static void main(String[] args) throws NoSuchAlgorithmException, IOException {\n        String accessKey = System.getenv(\"UPBIT_OPEN_API_ACCESS_KEY\");\n        String secretKey = System.getenv(\"UPBIT_OPEN_API_SECRET_KEY\");\n\n        Map<String, String> params = new HashMap<>();\n        params.put(\"market\", \"KRW-BTC\");\n        params.put(\"side\", \"bid\");\n        params.put(\"volume\", \"1\");\n        params.put(\"price\", \"140000000\");\n        params.put(\"ord_type\", \"limit\");\n        String queryString = params.entrySet().stream()\n            .map(e -> e.getKey() + \"=\" + String.valueOf(e.getValue()))\n            .collect(Collectors.joining(\"&\"));\n\n        MessageDigest md = MessageDigest.getInstance(\"SHA-512\");\n        md.update(queryString.getBytes(StandardCharsets.UTF_8));\n        StringBuilder sb = new StringBuilder();\n        for (byte b : md.digest()) {\n            sb.append(String.format(\"%02x\", b));\n        }\n        String queryHash = sb.toString();\n\n        Algorithm algorithm = Algorithm.HMAC512(secretKey.getBytes(StandardCharsets.UTF_8));\n        String jwtToken = JWT.create()\n            .withClaim(\"access_key\", accessKey)\n            .withClaim(\"nonce\", UUID.randomUUID().toString())\n            .withClaim(\"query_hash\", queryHash)\n            .withClaim(\"query_hash_alg\", \"SHA512\")\n            .sign(algorithm);\n\n        String authHeader = \"Bearer \" + jwtToken;\n\n        String jsonBody = new Gson().toJson(params);\n        OkHttpClient client = new OkHttpClient();\n        Request request = new Request.Builder()\n            .url(BASE_URL + PATH)\n            .post(RequestBody.create(jsonBody, okhttp3.MediaType.parse(\"application/json; charset=utf-8\")))\n            .addHeader(\"Content-Type\", \"application/json\")\n            .addHeader(\"Authorization\", authHeader)\n            .build();\n\n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.code());\n            System.out.println(Objects.requireNonNull(response.body()).string());\n        }\n    }\n}\n"
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "market",
                  "side"
                ],
                "properties": {
                  "market": {
                    "type": "string",
                    "description": "주문을 생성하고자 하는 대상 페어(거래쌍)\n",
                    "example": "KRW-BTC"
                  },
                  "side": {
                    "type": "string",
                    "enum": [
                      "ask",
                      "bid"
                    ],
                    "description": "주문 방향(매수/매도). \n매수 주문을 생성하는 경우 “bid”, 매도 주문을 생성하는 경우 “ask”로 지정합니다.\n",
                    "example": "bid"
                  },
                  "volume": {
                    "type": "string",
                    "description": "주문 수량.\n매수 또는 매도하고자 하는 수량을 숫자 형식의 String으로 입력합니다.\n\n다음 주문 유형에 대해 필수로 입력되어야 합니다.\n- 지정가 매수/매도(ord_type 필드가 “limit”인 경우)\n- 시장가 매도(ord_type 필드가 “market”인 경우)\n- 최유리 지정가 매도(side 필드가 “ask”, ord_type 필드가 “best”인 경우)\n",
                    "example": "0.01"
                  },
                  "price": {
                    "type": "string",
                    "description": "주문 단가 또는 총액.\n디지털 자산 구매에 사용되는 통화(KRW,BTC,USDT)를 기준으로, 숫자 형식의 String으로 입력합니다.\n\n다음 주문 조건에 대해 필수로 입력합니다.\n- 지정가 매수/매도(ord_type 필드가 “limit”인 경우)\n- 시장가 매수(ord_type 필드가 “price”인 경우)\n- 최유리 지정가 매수(side필드가 “bid”, ord_type 필드가 “best”인 경우)\n\nprice 필드는 주문 유형에 따라 다른 용도로 사용됩니다.\n- 지정가 주문시 매수/매도 호가로 사용됩니다.\n- 시장가 매수, 최유리 지정가 매수시 매수 총액을 설정하는 용도로 사용됩니다. 주문 시점의 시장가 또는 최유리 지정가로 price 총액을 채우는 수량만큼 매수 주문이 체결됩니다.\n",
                    "example": "1000"
                  },
                  "ord_type": {
                    "type": "string",
                    "enum": [
                      "limit",
                      "price",
                      "market",
                      "best"
                    ],
                    "description": "주문 유형. \n생성하고자 하는 주문 유형에 따라 아래 값 중 하나를 입력합니다. \n\n- `limit`: 지정가 매수/매도 주문\n- `price`: 시장가 매수 주문\n- `market`: 시장가 매도 주문\n- `best`: 최유리 지정가 매수/매도 주문 (time_in_force 필드 설정 필수)\n",
                    "example": "limit",
                    "default": "limit"
                  },
                  "identifier": {
                    "type": "string",
                    "description": "클라이언트 지정 주문 식별자. \n각 주문에는 사용자 계정의 전체 주문 내에서 유일하게 식별되는 값을 할당해야 하며, 한번 사용한 identifier 값은 해당 주문의 생성,체결 여부와 상관 없이 재사용할 수 없습니다.\n",
                    "example": "9ca023a5-851b-4fec-9f0a-48cd83c2eaae"
                  },
                  "time_in_force": {
                    "type": "string",
                    "enum": [
                      "fok",
                      "ioc",
                      "post_only"
                    ],
                    "description": "주문 체결 조건.\nIOC(Immediate or Cancel), FOK(Fill or Kill), Post Only와 같은 주문 체결 조건을 설정할 수 있습니다. \n\n시장가 주문(ord_type 필드가 \"limit\")인 경우 모든 옵션을 선택적으로 사용할 수 있습니다. 최유리 지정가 주문(ord_type 필드가 “best”)인 경우 대해 \"ioc\" 또는 \"fok\" 중 하나를 필수로 입력합니다. 사용 가능한 값은 다음과 같습니다.\n\n* `ioc`: 지정가 조건으로 체결 가능한 수량만 즉시 부분 체결하고, 잔여 수량은 취소됩니다.\n* `fok`: 지정가 조건으로 주문량 전량 체결 가능할 때만 주문을 실행하고, 아닌 경우 전량 주문 취소합니다.\n* `post_only`: 지정가 조건으로 부분 또는 전체에 대해 즉시 체결 가능한 상황인 경우 주문을 실행하지 않고 취소합니다. 즉, 메이커(maker)주문으로 생성될 수 있는 상황에서만 주문이 생성되며 테이커(taker) 주문으로 체결되는 것을 방지합니다.\n",
                    "example": "ioc"
                  },
                  "smp_type": {
                    "type": "string",
                    "enum": [
                      "cancel_maker",
                      "cancel_taker",
                      "reduce"
                    ],
                    "description": "자전거래 체결 방지(Self-Match Prevention) 모드.\n\n사용 가능한 값은 다음과 같습니다.\n\n* `cancel_maker`: 메이커 주문(이전 주문)을 취소합니다. \n* `cancel_taker`: 테이커 주문(신규 주문)을 취소합니다. \n* `reduce`: 기존 주문과 신규 주문의 주문 수량을 줄여 체결을 방지합니다. 잔량이 0인 경우 주문을 취소합니다.\n",
                    "example": "cancel_maker"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Object of created order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "market",
                    "uuid",
                    "side",
                    "ord_type",
                    "state",
                    "created_at",
                    "remaining_volume",
                    "executed_volume",
                    "reserved_fee",
                    "remaining_fee",
                    "paid_fee",
                    "locked",
                    "trades_count",
                    "prevented_volume",
                    "prevented_locked"
                  ],
                  "properties": {
                    "market": {
                      "type": "string",
                      "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                      "example": "KRW-BTC"
                    },
                    "uuid": {
                      "type": "string",
                      "description": "주문의 유일 식별자.\n실제 주문과 동일하게 매 요청마다 새로운 값이 할당되어 반환됩니다. \n단, 실제 주문의 UUID가 아니므로 주문 조회나 취소 시 사용할 수 없습니다.\n",
                      "example": "9ca023a5-851b-4fec-9f0a-48cd83c2eaae"
                    },
                    "side": {
                      "type": "string",
                      "enum": [
                        "ask",
                        "bid"
                      ],
                      "description": "주문 방향(매수/매도)",
                      "example": "ask"
                    },
                    "ord_type": {
                      "type": "string",
                      "enum": [
                        "limit",
                        "price",
                        "market",
                        "best"
                      ],
                      "description": "주문 유형.\n",
                      "example": "limit"
                    },
                    "price": {
                      "type": "string",
                      "description": "주문 단가 또는 총액\n지정가 주문의 경우 단가, 시장가 매수 주문의 경우 매수 총액입니다.\n",
                      "example": 1000
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "wait"
                      ],
                      "description": "주문 상태. 테스트 주문의 경우 실제로 체결되지 않습니다.\n\n- `wait`: 체결 대기\n",
                      "example": "wait"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "주문 생성 시각 (KST 기준)\n\n[형식] yyyy-MM-ddTHH:mm:ss+09:00\n",
                      "example": "2025-06-25T15:42:25+09:00"
                    },
                    "volume": {
                      "type": "string",
                      "description": "주문 요청 수량",
                      "example": 10
                    },
                    "remaining_volume": {
                      "type": "string",
                      "description": "체결 후 남은 주문 양",
                      "example": 8
                    },
                    "executed_volume": {
                      "type": "string",
                      "description": "체결된 양",
                      "example": 2
                    },
                    "reserved_fee": {
                      "type": "string",
                      "description": "수수료로 예약된 비용",
                      "example": 5
                    },
                    "remaining_fee": {
                      "type": "string",
                      "description": "남은 수수료",
                      "example": 5
                    },
                    "paid_fee": {
                      "type": "string",
                      "description": "사용된 수수료",
                      "example": 0
                    },
                    "locked": {
                      "type": "string",
                      "description": "거래에 사용 중인 비용",
                      "example": 0
                    },
                    "trades_count": {
                      "type": "integer",
                      "description": "해당 주문에 대한 체결 건수",
                      "example": 1
                    },
                    "time_in_force": {
                      "type": "string",
                      "enum": [
                        "fok",
                        "ioc",
                        "post_only"
                      ],
                      "description": "주문 체결 옵션",
                      "example": "ioc"
                    },
                    "identifier": {
                      "type": "string",
                      "description": "주문 생성시 클라이언트가 지정한 주문 식별자. \n* identifier 필드는 2024년 10월 18일 이후 생성된 주문에 대해서만 제공됩니다.\n",
                      "example": "9ca023a5-851b-4fec-9f0a-48cd83c2eaae"
                    },
                    "smp_type": {
                      "type": "string",
                      "enum": [
                        "reduce",
                        "cancel_maker",
                        "cancel_taker"
                      ],
                      "description": "자전거래 체결 방지(Self-Match Prevention) 모드",
                      "example": "cancel_maker"
                    },
                    "prevented_volume": {
                      "type": "string",
                      "description": "자전거래 방지로 인해 취소된 수량.\n동일 사용자의 주문 간 체결이 발생하지 않도록 설정(SMP)에 따라 취소된 주문 수량입니다.\n",
                      "example": 2
                    },
                    "prevented_locked": {
                      "type": "string",
                      "description": "자전거래 방지로 인해 해제된 자산.\n자전거래 체결 방지 설정으로 인해 취소된 주문의 잔여 자산입니다.\n  - 매수 주문의 경우: 취소된 금액\n  - 매도 주문의 경우: 취소된 수량\n",
                      "example": 2000
                    }
                  }
                },
                "examples": {
                  "Successful Example": {
                    "value": {
                      "market": "KRW-BTC",
                      "uuid": "cdd92199-2897-4e14-9448-f923320408ad",
                      "side": "ask",
                      "ord_type": "limit",
                      "price": "140000000",
                      "state": "wait",
                      "created_at": "2025-07-04T15:00:00+09:00",
                      "volume": "1.0",
                      "remaining_volume": "1.0",
                      "reserved_fee": "70000.0",
                      "remaining_fee": "70000.0",
                      "paid_fee": "0.0",
                      "locked": "0.0",
                      "executed_volume": "0.0",
                      "prevented_volume": "0",
                      "prevented_locked": "0",
                      "trades_count": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "name",
                        "message"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "invalid parameter error": {
                    "value": {
                      "error": {
                        "name": "invalid_parameter",
                        "message": "잘못된 파라미터"
                      }
                    }
                  },
                  "invalid time in force error": {
                    "value": {
                      "error": {
                        "name": "invalid_time_in_force",
                        "message": "주문조건을 다시 확인해 주세요. \\n지속적인 에러가 발생할 경우, 고객센터로 문의해 주세요."
                      }
                    }
                  },
                  "invalid price bid error": {
                    "value": {
                      "error": {
                        "name": "invalid_price_bid",
                        "message": "주문가격 단위를 잘못 입력하셨습니다. 확인 후 시도해주세요."
                      }
                    }
                  },
                  "invalid price ask error": {
                    "value": {
                      "error": {
                        "name": "invalid_price_ask",
                        "message": "주문가격 단위를 잘못 입력하셨습니다. 확인 후 시도해주세요."
                      }
                    }
                  },
                  "over krw funds bid error": {
                    "value": {
                      "error": {
                        "name": "over_krw_funds_bid",
                        "message": "최대 주문 가능 금액 1000000000 KRW 보다 작은 주문을 입력해 주세요."
                      }
                    }
                  },
                  "over krw funds ask error": {
                    "value": {
                      "error": {
                        "name": "over_krw_funds_ask",
                        "message": "최대 주문 가능 금액 1000000000 KRW 보다 작은 주문을 입력해 주세요."
                      }
                    }
                  },
                  "insufficient funds bid error": {
                    "value": {
                      "error": {
                        "name": "insufficient_funds_bid",
                        "message": "주문 가능한 금액(KRW)이 부족합니다."
                      }
                    }
                  },
                  "insufficient funds ask error": {
                    "value": {
                      "error": {
                        "name": "insufficient_funds_ask",
                        "message": "주문 가능한 수량이 부족합니다."
                      }
                    }
                  },
                  "not found market error": {
                    "value": {
                      "error": {
                        "name": "notfoundmarket",
                        "message": "다음 마켓에 없는 종목입니다: KRW-BTCs"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "name",
                        "message"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "market offline error": {
                    "value": {
                      "error": {
                        "name": "market_offline",
                        "message": "시스템 점검 중입니다. 점검이 완료된 후에 다시 시도해주세요. \\n자세한 내용은 공지사항을 참고 부탁드립니다."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.upbit.com/kr/reference/order-test"
        },
        "x-doc-url": "https://docs.upbit.com/kr/reference/order-test"
      }
    },
    "/order": {
      "get": {
        "summary": "개별 주문 조회",
        "operationId": "get-order",
        "tags": [
          "주문(Order)"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --request GET \\\n--url 'https://api.upbit.com/v1/order?uuid=3b67e543-8ad3-48d0-8451-0dad315cae73' \\\n--header 'Authorization: Bearer {JWT_TOKEN}' \\\n--header 'accept: application/json'\n"
            },
            {
              "language": "python",
              "install": "pip install requests pyjwt python-dotenv",
              "code": "import os\nimport uuid\nimport hashlib\nimport jwt\nimport requests\nfrom urllib.parse import unquote, urlencode\nfrom dotenv import load_dotenv\n\nload_dotenv()\n\nBASE_URL = \"https://api.upbit.com\"\nPATH = \"/v1/order\"\n\nACCESS_KEY = os.environ[\"UPBIT_OPEN_API_ACCESS_KEY\"]\nSECRET_KEY = os.environ[\"UPBIT_OPEN_API_SECRET_KEY\"]\n\nparams = {\n  \"uuid\": \"3b67e543-8ad3-48d0-8451-0dad315cae73\",\n}\n\nquery_string = unquote(urlencode(params, doseq=True)).encode(\"utf-8\")\n\nm = hashlib.sha512()\nm.update(query_string)\nquery_hash = m.hexdigest()\n\npayload = {\n  \"access_key\": ACCESS_KEY,\n  \"nonce\": str(uuid.uuid4()),\n  \"query_hash\": query_hash,\n  \"query_hash_alg\": \"SHA512\",\n}\n\njwt_token = jwt.encode(payload, SECRET_KEY, algorithm=\"HS256\")\n\nheaders = {\n  \"Authorization\": f\"Bearer {jwt_token}\",\n  \"Accept\": \"application/json\",\n}\n\nres = requests.get(f\"{BASE_URL}{PATH}\", headers=headers, params=params)\nprint(res.json())\n"
            },
            {
              "language": "node",
              "name": "Axios",
              "install": "npm install axios jsonwebtoken uuid",
              "code": "const axios = require(\"axios\");\nconst crypto = require(\"crypto\");\nconst { sign } = require(\"jsonwebtoken\");\nconst { v4: uuidv4 } = require(\"uuid\");\nrequire(\"dotenv\").config();\n\nconst baseURL = \"https://api.upbit.com\";\nconst path = \"/v1/order\";\n\nconst ACCESS_KEY = process.env.UPBIT_OPEN_API_ACCESS_KEY;\nconst SECRET_KEY = process.env.UPBIT_OPEN_API_SECRET_KEY;\n\nconst params = {\n  uuid: \"3b67e543-8ad3-48d0-8451-0dad315cae73\",\n};\n\nconst queryString = new URLSearchParams(params).toString();\n\nconst queryHash = crypto\n  .createHash(\"sha512\")\n  .update(queryString, \"utf-8\")\n  .digest(\"hex\");\n\nconst payload = {\n  access_key: ACCESS_KEY,\n  nonce: uuidv4(),\n  query_hash: queryHash,\n  query_hash_alg: \"SHA512\",\n};\n\nconst jwtToken = sign(payload, SECRET_KEY);\n\nconst options = {\n  method: \"GET\",\n  url: `${baseURL}${path}?${queryString}`,\n  headers: {\n    Authorization: `Bearer ${jwtToken}`,\n    Accept: \"application/json\",\n  },\n};\n\naxios\n  .request(options)\n  .then((response) => {\n    console.log(response.data);\n  })\n  .catch((error) => {\n    console.error(error.response ? error.response.data : error.message);\n  });\n"
            },
            {
              "language": "java",
              "code": "package main;\n\nimport com.auth0.jwt.JWT;\nimport com.auth0.jwt.algorithms.Algorithm;\nimport java.io.IOException;\nimport java.nio.charset.StandardCharsets;\nimport java.security.MessageDigest;\nimport java.security.NoSuchAlgorithmException;\nimport java.util.HashMap;\nimport java.util.Map;\nimport java.util.Objects;\nimport java.util.UUID;\nimport java.util.stream.Collectors;\nimport okhttp3.OkHttpClient;\nimport okhttp3.Request;\nimport okhttp3.Response;\n\npublic class GetOrder {\n    private static final String BASE_URL = \"https://api.upbit.com\";\n    private static final String PATH = \"/v1/order\";\n\n\n    public static void main(String[] args) throws NoSuchAlgorithmException, IOException {\n        String accessKey = System.getenv(\"UPBIT_OPEN_API_ACCESS_KEY\");\n        String secretKey = System.getenv(\"UPBIT_OPEN_API_SECRET_KEY\");\n\n        Map<String, String> params = new HashMap<>();\n        params.put(\"uuid\", \"3b67e543-8ad3-48d0-8451-0dad315cae73\");\n        String queryString = params.entrySet().stream()\n            .map(e -> e.getKey() + \"=\" + String.valueOf(e.getValue()))\n            .collect(Collectors.joining(\"&\"));\n\n        MessageDigest md = MessageDigest.getInstance(\"SHA-512\");\n        md.update(queryString.getBytes(StandardCharsets.UTF_8));\n        StringBuilder sb = new StringBuilder();\n        for (byte b : md.digest()) {\n            sb.append(String.format(\"%02x\", b));\n        }\n        String queryHash = sb.toString();\n\n        Algorithm algorithm = Algorithm.HMAC512(secretKey.getBytes(StandardCharsets.UTF_8));\n        String jwtToken = JWT.create()\n            .withClaim(\"access_key\", accessKey)\n            .withClaim(\"nonce\", UUID.randomUUID().toString())\n            .withClaim(\"query_hash\", queryHash)\n            .withClaim(\"query_hash_alg\", \"SHA512\")\n            .sign(algorithm);\n\n        String authHeader = \"Bearer \" + jwtToken;\n\n        OkHttpClient client = new OkHttpClient();\n        Request request = new Request.Builder()\n            .url(BASE_URL + PATH + \"?\" + queryString)\n            .get()\n            .addHeader(\"Content-Type\", \"application/json\")\n            .addHeader(\"Authorization\", authHeader)\n            .build();\n\n        try (Response response = client.newCall(request).execute()) {\n            System.out.println(response.code());\n            System.out.println(Objects.requireNonNull(response.body()).string());\n        }\n    }\n}\n"
            }
          ]
        },
        "parameters": [
          {
            "name": "uuid",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "조회하고자 하는 주문의 유일식별자(UUID)",
              "example": "9ca023a5-851b-4fec-9f0a-48cd83c2eaae"
            },
            "allowReserved": true
          },
          {
            "name": "identifier",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "조회하고자 하는 주문의 클라이언트 지정 식별자.\n사용자 또는 클라이언트가 주문 생성 시 부여한 주문 식별자로 조회하는 경우 사용합니다.\n",
              "example": "9ca023a5-851b-4fec-9f0a-48cd83c2eaae"
            },
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "Object of order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "market",
                    "uuid",
                    "side",
                    "ord_type",
                    "state",
                    "created_at",
                    "executed_volume",
                    "reserved_fee",
                    "remaining_fee",
                    "paid_fee",
                    "locked",
                    "prevented_locked",
                    "trades_count",
                    "trades"
                  ],
                  "properties": {
                    "market": {
                      "type": "string",
                      "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                      "example": "KRW-BTC"
                    },
                    "uuid": {
                      "type": "string",
                      "description": "주문의 유일 식별자",
                      "example": "9ca023a5-851b-4fec-9f0a-48cd83c2eaae"
                    },
                    "side": {
                      "type": "string",
                      "enum": [
                        "ask",
                        "bid"
                      ],
                      "description": "주문 방향(매수/매도)",
                      "example": "ask"
                    },
                    "ord_type": {
                      "type": "string",
                      "enum": [
                        "limit",
                        "price",
                        "market",
                        "best"
                      ],
                      "description": "주문 유형. \n\n- `limit`: 지정가 매수/매도 주문\n- `price`: 시장가 매수 주문\n- `market`: 시장가 매도 주문\n- `best`: 최유리 지정가 매수/매도 주문 (time_in_force 필드 설정 필수)\n",
                      "example": "limit"
                    },
                    "price": {
                      "type": "string",
                      "description": "주문 단가 또는 총액\n지정가 주문의 경우 단가, 시장가 매수 주문의 경우 매수 총액입니다.\n",
                      "example": 1000
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "wait",
                        "watch",
                        "done",
                        "cancel"
                      ],
                      "description": "주문 상태\n\n- `wait`: 체결 대기\n- `watch`: 예약 주문 대기\n- `done`: 체결 완료\n- `cancel`: 주문 취소\n",
                      "example": "wait"
                    },
                    "created_at": {
                      "type": "string",
                      "description": "주문 생성 시각 (KST 기준)\n\n[형식] yyyy-MM-ddTHH:mm:ss+09:00\n",
                      "example": "2025-06-25T15:42:25+09:00"
                    },
                    "volume": {
                      "type": "string",
                      "description": "주문 요청 수량",
                      "example": 10
                    },
                    "remaining_volume": {
                      "type": "string",
                      "description": "체결 후 남은 주문 양",
                      "example": 8
                    },
                    "executed_volume": {
                      "type": "string",
                      "description": "체결된 양",
                      "example": 2
                    },
                    "reserved_fee": {
                      "type": "string",
                      "description": "수수료로 예약된 비용",
                      "example": 5
                    },
                    "remaining_fee": {
                      "type": "string",
                      "description": "남은 수수료",
                      "example": 5
                    },
                    "paid_fee": {
                      "type": "string",
                      "description": "사용된 수수료",
                      "example": 0
                    },
                    "locked": {
                      "type": "string",
                      "description": "거래에 사용 중인 비용",
                      "example": 0
                    },
                    "time_in_force": {
                      "type": "string",
                      "enum": [
                        "fok",
                        "ioc",
                        "post_only"
                      ],
                      "description": "주문 체결 옵션",
                      "example": "ioc"
                    },
                    "smp_type": {
                      "type": "string",
                      "enum": [
                        "reduce",
                        "cancel_maker",
                        "cancel_taker"
                      ],
                      "description": "자전거래 체결 방지(Self-Match Prevention) 모드",
                      "example": "cancel_maker"
                    },
                    "prevented_volume": {
                      "type": "string",
                      "description": "자전거래 방지로 인해 취소된 수량.\n동일 사용자의 주문 간 체결이 발생하지 않도록 설정(SMP)에 따라 취소된 주문 수량입니다.\n",
                      "example": 2
                    },
                    "prevented_locked": {
                      "type": "string",
                      "description": "자전거래 방지로 인해 해제된 자산.\n자전거래 체결 방지 설정으로 인해 취소된 주문의 잔여 자산입니다.\n  - 매수 주문의 경우: 취소된 금액\n  - 매도 주문의 경우: 취소된 수량\n",
                      "example": 2000
                    },
                    "identifier": {
                      "type": "string",
                      "description": "주문 생성시 클라이언트가 지정한 주문 식별자. \n* identifier 필드는 2024년 10월 18일 이후 생성된 주문에 대해서만 제공됩니다.\n",
                      "example": "9ca023a5-851b-4fec-9f0a-48cd83c2eaae"
                    },
                    "trades_count": {
                      "type": "integer",
                      "description": "해당 주문에 대한 체결 건수",
                      "example": 1
                    },
                    "trades": {
                      "description": "주문의 체결 목록",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "market",
                          "uuid",
                          "price",
                          "volume",
                          "funds",
                          "trend",
                          "created_at",
                          "side"
                        ],
                        "properties": {
                          "market": {
                            "type": "string",
                            "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                            "example": "KRW-BTC"
                          },
                          "uuid": {
                            "type": "string",
                            "description": "체결의 유일 식별자",
                            "example": "9e8f8eba-7050-4837-8969-cfc272cbe083"
                          },
                          "price": {
                            "type": "string",
                            "description": "체결 단가",
                            "example": 1000
                          },
                          "volume": {
                            "type": "string",
                            "description": "체결 수량",
                            "example": 2
                          },
                          "funds": {
                            "type": "string",
                            "description": "체결 총액",
                            "example": 2000
                          },
                          "trend": {
                            "type": "string",
                            "enum": [
                              "up",
                              "down"
                            ],
                            "description": "체결 시세 흐름\n- `up`: \"매수 주문\" 에 의해 체결이 발생\n- `down`: \"매도 주문\" 에 의해 체결이 발생\n",
                            "example": "up"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "체결 시각 (KST 기준)\n\n[형식] yyyy-MM-ddTHH:mm:ss.SSS+09:00\n",
                            "example": "2025-08-09T16:44:00.597751+09:00"
                          },
                          "side": {
                            "type": "string",
                            "enum": [
                              "ask",
                              "bid"
                            ],
                            "description": "체결 방향(매수/매도)",
                            "example": "ask"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Successful Example(market)": {
                    "value": {
                      "market": "KRW-USDT",
                      "uuid": "3b67e543-8ad3-48d0-8451-0dad315cae73",
                      "side": "ask",
                      "ord_type": "market",
                      "state": "done",
                      "created_at": "2025-08-09T16:44:00+09:00",
                      "volume": "5.377594",
                      "remaining_volume": "0",
                      "executed_volume": "5.377594",
                      "reserved_fee": "0",
                      "remaining_fee": "0",
                      "paid_fee": "3.697095875",
                      "locked": "0",
                      "prevented_volume": "0",
                      "prevented_locked": "0",
                      "trades_count": 1,
                      "trades": [
                        {
                          "market": "KRW-USDT",
                          "uuid": "795dff29-bba6-49b2-baab-63473ab7931c",
                          "price": "1375",
                          "volume": "5.377594",
                          "funds": "7394.19175",
                          "trend": "down",
                          "created_at": "2025-08-09T16:44:00.597751+09:00",
                          "side": "ask"
                        }
                      ]
                    }
                  },
                  "Successful Example(limit)": {
                    "value": {
                      "market": "KRW-BTC",
                      "uuid": "5d303952-8be9-41e6-915b-121a90026248",
                      "side": "bid",
                      "ord_type": "limit",
                      "price": "155772000",
                      "state": "wait",
                      "created_at": "2025-08-09T16:52:49+09:00",
                      "volume": "0.0001",
                      "remaining_volume": "0.0001",
                      "executed_volume": "0",
                      "reserved_fee": "7.7886",
                      "remaining_fee": "7.7886",
                      "paid_fee": "0",
                      "locked": "15584.9886",
                      "prevented_volume": "0",
                      "prevented_locked": "0",
                      "trades_count": 0,
                      "trades": []
                    }
                  },
                  "Successful Example(price)": {
                    "value": {
                      "market": "KRW-BTC",
                      "uuid": "3944c2c1-bd8c-441a-aa25-2370d08217a9",
                      "side": "bid",
                      "ord_type": "price",
                      "price": "6000",
                      "state": "cancel",
                      "created_at": "2025-08-09T16:52:11+09:00",
                      "executed_volume": "0.00003736",
                      "reserved_fee": "3",
                      "remaining_fee": "0.00010408",
                      "paid_fee": "2.99989592",
                      "locked": "0.20826408",
                      "prevented_locked": "0",
                      "trades_count": 1,
                      "trades": [
                        {
                          "market": "KRW-BTC",
                          "uuid": "e39834ac-0459-4164-aa8f-7165d9fdfd40",
                          "price": "160594000",
                          "volume": "0.00003736",
                          "funds": "5999.79184",
                          "trend": "up",
                          "created_at": "2025-08-09T16:52:11.176073+09:0",
                          "side": "bid"
                        }
                      ]
                    }
                  },
                  "Successful Example(best)": {
                    "value": {
                      "market": "KRW-BTC",
                      "uuid": "5b95451b-971e-4e76-8f61-5ff441f078d5",
                      "side": "bid",
                      "ord_type": "best",
                      "price": "6000",
                      "state": "cancel",
                      "created_at": "2025-08-09T16:50:53+09:00",
                      "executed_volume": "0.00003736",
                      "reserved_fee": "3",
                      "remaining_fee": "0.00010408",
                      "paid_fee": "2.99989592",
                      "locked": "0.20826408",
                      "prevented_locked": "0",
                      "trades_count": 1,
                      "time_in_force": "fok",
                      "trades": [
                        {
                          "market": "KRW-BTC",
                          "uuid": "b4ffc5dc-2f0b-42a7-9fa3-f25a0ea726e2",
                          "price": "160594000",
                          "volume": "0.00003736",
                          "funds": "5999.79184",
                          "trend": "up",
                          "created_at": "2025-08-09T16:50:53.687716+09:00",
                          "side": "bid"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "name",
                        "message"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "invalid parameter error": {
                    "value": {
                      "error": {
                        "name": "invalid_parameter",
                        "message": "잘못된 파라미터"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": [
                        "name",
                        "message"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not found order error": {
                    "value": {
                      "error": {
                        "name": "order_not_found",
                        "message": "주문을 찾지 못했습니다."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.upbit.com/kr/reference/get-order"
        },
        "x-doc-url": "https://docs.upbit.com/kr/reference/get-order"
      },
      "delete": {
        "summary": "개별 주문 취소 접수",
        "operationId": "cancel-order",
        "tags": [
          "주문(Order)"
        ],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
[...]
