{
  "openapi": "3.0.1",
  "info": {
    "title": "Bithumb REST Private API",
    "description": "빗썸 공식 API 문서 v2.1.5 기준 Private REST API 스펙입니다.",
    "version": "2.1.5",
    "contact": {
      "name": "Bithumb API Docs",
      "url": "https://apidocs.bithumb.com/reference"
    }
  },
  "servers": [
    {
      "url": "https://api.bithumb.com"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Authorization 헤더에 JWT 토큰을 전달합니다. 공식 인증 가이드 기준 payload는 access_key, nonce, timestamp를 사용하고, 파라미터가 있으면 query_hash와 query_hash_alg를 추가합니다."
      }
    }
  },
  "paths": {
    "/v1/accounts": {
      "get": {
        "summary": "전체 계좌 조회",
        "description": "보유 중인 자산 정보를 조회합니다.",
        "operationId": "get-accounts",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token (JWT)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"currency\": \"KRW\",\n    \"balance\": \"10981650.10635\",\n    \"locked\": \"98246\",\n    \"avg_buy_price\": \"0\",\n    \"avg_buy_price_modified\": false,\n    \"unit_currency\": \"KRW\"\n  },\n  {\n    \"currency\": \"BTC\",\n    \"balance\": \"124.45272908\",\n    \"locked\": \"0\",\n    \"avg_buy_price\": \"36340973\",\n    \"avg_buy_price_modified\": false,\n    \"unit_currency\": \"KRW\"\n  },\n  {\n    \"currency\": \"ETH\",\n    \"balance\": \"106993.5839313\",\n    \"locked\": \"0\",\n    \"avg_buy_price\": \"23993\",\n    \"avg_buy_price_modified\": false,\n    \"unit_currency\": \"KRW\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "example": "KRW"
                      },
                      "balance": {
                        "type": "string",
                        "example": "10981650.10635"
                      },
                      "locked": {
                        "type": "string",
                        "example": "98246"
                      },
                      "avg_buy_price": {
                        "type": "string",
                        "example": "0"
                      },
                      "avg_buy_price_modified": {
                        "type": "boolean",
                        "example": false,
                        "default": true
                      },
                      "unit_currency": {
                        "type": "string",
                        "example": "KRW"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error\": {\n        \"name\": \"error name\",\n    \t\t\"message\": \"error message\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "error name"
                        },
                        "message": {
                          "type": "string",
                          "example": "error message"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const jwt = require('jsonwebtoken');\nconst { v4: uuidv4 } = require('uuid');\nconst axios = require('axios')\n\nconst accessKey = '발급받은 API KEY'\nconst secretKey = '발급받은 SECRET KEY'\nconst apiUrl = 'https:/api.bithumb.com'\n\n// Generate access token\nconst payload = {\n    access_key: accessKey,\n    nonce: uuidv4(),\n    timestamp: Date.now()\n};\nconst jwtToken = jwt.sign(payload, secretKey)\nconst config = {\n    headers: {\n        Authorization: `Bearer ${jwtToken}`\n    }\n}\n\n// Call API\naxios.get(apiUrl + '/v1/accounts', config)\n    .then((response) => {\n        // handle to success\n        console.log('status: ', response.status)\n        console.log('data: ', response.data)\n    })\n    .catch((error) => {\n        // handle to fail\n        console.log(error.response.status)\n        console.log(error.response.data)\n    });"
            },
            {
              "language": "python",
              "code": "# Python 3\n# pip3 installl pyJwt\nimport jwt \nimport uuid\nimport time\nimport requests\n\n# Set API parameters\naccessKey = '발급받은 API KEY'\nsecretKey = '발급받은 SECRET KEY'\napiUrl = 'https://api.bithumb.com'\n\n# Generate access token\npayload = {\n    'access_key': accessKey,\n    'nonce': str(uuid.uuid4()),\n    'timestamp': round(time.time() * 1000)\n}\njwt_token = jwt.encode(payload, secretKey)\nauthorization_token = 'Bearer {}'.format(jwt_token)\nheaders = {\n  'Authorization': authorization_token\n}\n\ntry:\n    # Call API\n    response = requests.get(apiUrl + '/v1/accounts', headers=headers)\n    # handle to success or fail\n    print(response.status_code)\n    print(response.json())\nexcept Exception as err:\n    # handle exception\n    print(err)\n"
            },
            {
              "language": "java",
              "code": "package com.example.sample;\n\n// https://mvnrepository.com/artifact/com.auth0/java-jwt\nimport com.auth0.jwt.JWT;\nimport com.auth0.jwt.algorithms.Algorithm;\n// https://mvnrepository.com/artifact/org.apache.httpcomponents/httpclient\nimport org.apache.http.client.methods.CloseableHttpResponse;\nimport org.apache.http.client.methods.HttpGet;\nimport org.apache.http.impl.client.CloseableHttpClient;\nimport org.apache.http.impl.client.HttpClients;\nimport org.apache.http.util.EntityUtils;\n\nimport java.nio.charset.StandardCharsets;\nimport java.util.UUID;\n\npublic class GETNoArgs {\n\n    public static void main(String[] args) {\n        String accessKey = \"발급받은 API KEY\";\n        String secretKey = \"발급받은 SECRET KEY\";\n        String apiUrl = \"https://api.bithumb.com\";\n        \n        // Generate access token\n        Algorithm algorithm = Algorithm.HMAC256(secretKey);\n        String jwtToken = JWT.create()\n                .withClaim(\"access_key\", accessKey)\n                .withClaim(\"nonce\", UUID.randomUUID().toString())\n                .withClaim(\"timestamp\", System.currentTimeMillis())\n                .sign(algorithm);\n        String authenticationToken = \"Bearer \" + jwtToken;\n\n        // Call API\n        final HttpGet httpRequest = new HttpGet(apiUrl + \"/v1/accounts\");\n        httpRequest.addHeader(\"Authorization\", authenticationToken);\n\n        try (CloseableHttpClient client = HttpClients.createDefault();\n             CloseableHttpResponse response = client.execute(httpRequest)) {\n            // handle to response\n            int httpStatus = response.getStatusLine().getStatusCode();\n            String responseBody = EntityUtils.toString(response.getEntity(), StandardCharsets.UTF_8);\n            System.out.println(httpStatus);\n            System.out.println(responseBody);\n        } catch (Exception e) {\n            throw new RuntimeException(e);\n        }\n    }\n}\n"
            }
          ],
          "samples-languages": ["javascript", "python", "java"]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EC%A0%84%EC%B2%B4-%EA%B3%84%EC%A2%8C-%EC%A1%B0%ED%9A%8C"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/전체-계좌-조회",
        "tags": ["자산"]
      }
    },
    "/v1/orders/chance": {
      "get": {
        "summary": "주문 가능 정보",
        "description": "마켓별 주문 가능 정보를 조회합니다.",
        "operationId": "get-orders-chance",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token (JWT)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "Market ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"bid_fee\": \"0.0025\",\n  \"ask_fee\": \"0.0025\",\n  \"maker_bid_fee\": \"0.0025\",\n  \"maker_ask_fee\": \"0.0025\",\n  \"market\": {\n    \"id\": \"BTC-ETH\",\n    \"name\": \"ETH/BTC\",\n    \"order_types\": [\n      \"limit\"\n    ],\n    \"order_sides\": [\n      \"ask\",\n      \"bid\"\n    ],\n    \"bid_types\": [\n      \"limit\",\n      \"price\"\n    ],\n    \"ask_types\": [\n      \"limit\",\n      \"market\"\n    ],\n    \"bid\": {\n      \"currency\": \"BTC\",\n      \"price_unit\": \"0.00000001\",\n      \"min_total\": \"0.0005\"\n    },\n    \"ask\": {\n      \"currency\": \"ETH\",\n      \"price_unit\": \"0.00000001\",\n      \"min_total\": \"0.0005\"\n    },\n    \"max_total\": \"5\",\n    \"state\": \"active\"\n  },\n  \"bid_account\": {\n    \"currency\": \"BTC\",\n    \"balance\": \"124.45372908\",\n    \"locked\": \"0.0001\",\n    \"avg_buy_price\": \"36341394\",\n    \"avg_buy_price_modified\": false,\n    \"unit_currency\": \"KRW\"\n  },\n  \"ask_account\": {\n    \"currency\": \"ETH\",\n    \"balance\": \"106993.5839313\",\n    \"locked\": \"0\",\n    \"avg_buy_price\": \"23993\",\n    \"avg_buy_price_modified\": false,\n    \"unit_currency\": \"KRW\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "bid_fee": {
                      "type": "string",
                      "example": "0.0025"
                    },
                    "ask_fee": {
                      "type": "string",
                      "example": "0.0025"
                    },
                    "maker_bid_fee": {
                      "type": "string",
                      "example": "0.0025"
                    },
                    "maker_ask_fee": {
                      "type": "string",
                      "example": "0.0025"
                    },
                    "market": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "BTC-ETH"
                        },
                        "name": {
                          "type": "string",
                          "example": "ETH/BTC"
                        },
                        "order_types": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "limit"
                          }
                        },
                        "order_sides": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "ask"
                          }
                        },
                        "bid_types": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "limit"
                          }
                        },
                        "ask_types": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "limit"
                          }
                        },
                        "bid": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "BTC"
                            },
                            "price_unit": {
                              "type": "string",
                              "example": "0.00000001"
                            },
                            "min_total": {
                              "type": "string",
                              "example": "0.0005"
                            }
                          }
                        },
                        "ask": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "ETH"
                            },
                            "price_unit": {
                              "type": "string",
                              "example": "0.00000001"
                            },
                            "min_total": {
                              "type": "string",
                              "example": "0.0005"
                            }
                          }
                        },
                        "max_total": {
                          "type": "string",
                          "example": "5"
                        },
                        "state": {
                          "type": "string",
                          "example": "active"
                        }
                      }
                    },
                    "bid_account": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "BTC"
                        },
                        "balance": {
                          "type": "string",
                          "example": "124.45372908"
                        },
                        "locked": {
                          "type": "string",
                          "example": "0.0001"
                        },
                        "avg_buy_price": {
                          "type": "string",
                          "example": "36341394"
                        },
                        "avg_buy_price_modified": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "unit_currency": {
                          "type": "string",
                          "example": "KRW"
                        }
                      }
                    },
                    "ask_account": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "ETH"
                        },
                        "balance": {
                          "type": "string",
                          "example": "106993.5839313"
                        },
                        "locked": {
                          "type": "string",
                          "example": "0"
                        },
                        "avg_buy_price": {
                          "type": "string",
                          "example": "23993"
                        },
                        "avg_buy_price_modified": {
                          "type": "boolean",
                          "example": false,
                          "default": true
                        },
                        "unit_currency": {
                          "type": "string",
                          "example": "KRW"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"name\": \"error name\",\n    \"message\": \"error message\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "error name"
                        },
                        "message": {
                          "type": "string",
                          "example": "error message"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const jwt = require('jsonwebtoken');\nconst { v4: uuidv4 } = require('uuid');\nconst crypto = require('crypto');\nconst querystring = require('querystring');\nconst axios = require('axios')\n\nconst accessKey = '발급받은 API KEY'\nconst secretKey = '발급받은 SECRET KEY'\nconst apiUrl = 'https://api.bithumb.com'\n\n// Set API parameters\nconst query = 'market=KRW-BTC'\n\n// Generate access token\nconst alg = 'SHA512'\nconst hash = crypto.createHash(alg)\nconst queryHash = hash.update(query, 'utf-8').digest('hex')\nconst payload = {\n    access_key: accessKey,\n    nonce: uuidv4(),\n    timestamp: Date.now(),\n    query_hash: queryHash,\n    query_hash_alg: alg\n}\nconst jwtToken = jwt.sign(payload, secretKey)\nconst config = {\n    headers: {\n        Authorization: `Bearer ${jwtToken}`\n    }\n}\n\n// Call API\naxios.get(apiUrl + '/v1/orders/chance?' + query, config)\n    .then((response) => {\n        // handle to success\n        console.log('status: ', response.status)\n        console.log('data: ', response.data)\n    })\n    .catch((error) => {\n        // handle to fail\n        console.log(error.response.status)\n        console.log(error.response.data)\n    })"
            },
            {
              "language": "python",
              "code": "# Python 3\n# pip3 installl pyJwt\nimport jwt \nimport uuid\nimport hashlib\nimport time\nfrom urllib.parse import urlencode\nimport requests\n\naccessKey = '발급받은 API KEY'\nsecretKey = '발급받은 SECRET KEY'\napiUrl = 'https://api.bithumb.com'\n\n# Set API parameters\nparam = dict( market='KRW-BTC' )\n\n# Generate access token\nquery = urlencode(param).encode()\nhash = hashlib.sha512()\nhash.update(query)\nquery_hash = hash.hexdigest()\npayload = {\n    'access_key': accessKey,\n    'nonce': str(uuid.uuid4()),\n    'timestamp': round(time.time() * 1000), \n    'query_hash': query_hash,\n    'query_hash_alg': 'SHA512',\n}   \njwt_token = jwt.encode(payload, secretKey)\nauthorization_token = 'Bearer {}'.format(jwt_token)\nheaders = {\n  'Authorization': authorization_token\n}\n\ntry:\n    # Call API\n    response = requests.get(apiUrl + '/v1/orders/chance', params=param, headers=headers)\n    # handle to success or fail\n    print(response.status_code)\n    print(response.json())\nexcept Exception as err:\n    # handle exception\n    print(err)\n"
            },
            {
              "language": "java",
              "code": "package com.example.sample;\n\n// https://mvnrepository.com/artifact/com.auth0/java-jwt\nimport com.auth0.jwt.JWT;\nimport com.auth0.jwt.algorithms.Algorithm;\n// https://mvnrepository.com/artifact/org.apache.httpcomponents/httpclient\nimport org.apache.http.NameValuePair;\nimport org.apache.http.client.methods.CloseableHttpResponse;\nimport org.apache.http.client.methods.HttpGet;\nimport org.apache.http.client.utils.URLEncodedUtils;\nimport org.apache.http.impl.client.CloseableHttpClient;\nimport org.apache.http.impl.client.HttpClients;\nimport org.apache.http.message.BasicNameValuePair;\nimport org.apache.http.util.EntityUtils;\n\nimport java.math.BigInteger;\nimport java.nio.charset.StandardCharsets;\nimport java.security.MessageDigest;\nimport java.security.NoSuchAlgorithmException;\nimport java.util.ArrayList;\nimport java.util.List;\nimport java.util.UUID;\n\npublic class GETArgs {\n\n    public static void main(String[] args) throws NoSuchAlgorithmException {\n        String accessKey = \"발급받은 API KEY\";\n        String secretKey = \"발급받은 SECRET KEY\";\n        String apiUrl = \"https://api.bithumb.com\";\n\n        // Set API parameters\n        List<NameValuePair> queryParams = new ArrayList<>();\n        queryParams.add(new BasicNameValuePair(\"market\", \"KRW-BTC\"));\n\n        // Generate access token\n        String query = URLEncodedUtils.format(queryParams, StandardCharsets.UTF_8);\n        MessageDigest md = MessageDigest.getInstance(\"SHA-512\");\n        md.update(query.getBytes(StandardCharsets.UTF_8));\n        String queryHash = String.format(\"%0128x\", new BigInteger(1, md.digest()));\n        Algorithm algorithm = Algorithm.HMAC256(secretKey);\n        String jwtToken = JWT.create()\n                .withClaim(\"access_key\", accessKey)\n                .withClaim(\"nonce\", UUID.randomUUID().toString())\n                .withClaim(\"timestamp\", System.currentTimeMillis())\n                .withClaim(\"query_hash\", queryHash)\n                .withClaim(\"query_hash_alg\", \"SHA512\")\n                .sign(algorithm);\n        String authenticationToken = \"Bearer \" + jwtToken;\n\n        // Call API\n        final HttpGet httpRequest = new HttpGet(apiUrl + \"/v1/orders/chance?\" + query);\n        httpRequest.addHeader(\"Authorization\", authenticationToken);\n\n        try (CloseableHttpClient client = HttpClients.createDefault();\n             CloseableHttpResponse response = client.execute(httpRequest)) {\n            // handle to response\n            int httpStatus = response.getStatusLine().getStatusCode();\n            String responseBody = EntityUtils.toString(response.getEntity(), StandardCharsets.UTF_8);\n            System.out.println(httpStatus);\n            System.out.println(responseBody);\n        } catch (Exception e) {\n            throw new RuntimeException(e);\n        }\n    }\n}\n"
            }
          ],
          "samples-languages": ["javascript", "python", "java"]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EC%A3%BC%EB%AC%B8-%EA%B0%80%EB%8A%A5-%EC%A0%95%EB%B3%B4"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/주문-가능-정보",
        "tags": ["주문"]
      }
    },
    "/v1/order": {
      "get": {
        "summary": "개별 주문 조회",
        "description": "개별 주문 내역을 조회합니다.",
        "operationId": "get-order",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token (JWT)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "description": "주문의 고유 ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "client_order_id",
            "schema": {
              "type": "string"
            },
            "description": "서버에서 부여하는 주문 ID(`uuid`)와 별도로 주문 생성 시 사용자가 직접 지정한 고유 ID\n\n- 허용 문자: 영문 대/소문자, 숫자, -, _\n- 길이: 1–36자"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"uuid\": \"C0101000000001799231\",\n  \"side\": \"bid\",\n  \"ord_type\": \"limit\",\n  \"price\": \"83000000\",\n  \"state\": \"done\",\n  \"market\": \"KRW-BTC\",\n  \"created_at\": \"2024-07-09T16:32:23+09:00\",\n  \"volume\": \"1\",\n  \"remaining_volume\": \"0\",\n  \"reserved_fee\": \"207500\",\n  \"remaining_fee\": \"0\",\n  \"paid_fee\": \"207500\",\n  \"locked\": \"0\",\n  \"executed_volume\": \"1\",\n  \"trades_count\": 1,\n  \"trades\": [\n    {\n      \"market\": \"KRW-BTC\",\n      \"uuid\": \"C0101000000001713006\",\n      \"price\": \"83000000\",\n      \"volume\": \"1\",\n      \"funds\": \"83000000\",\n      \"side\": \"bid\",\n      \"created_at\": \"2024-07-09T16:32:23+09:00\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "uuid": {
                      "type": "string",
                      "example": "C0101000000001799231",
                      "description": "주문의 고유 ID"
                    },
                    "client_order_id": {
                      "type": "string",
                      "description": "서버에서 부여하는 주문 ID(`uuid`)와 별도로 주문 생성 시 사용자가 직접 지정한 고유 ID"
                    },
                    "side": {
                      "type": "string",
                      "example": "bid",
                      "description": "주문 종류\n- `bid`: 매수\n- `ask`: 매도",
                      "enum": ["bid", "ask"]
                    },
                    "ord_type": {
                      "type": "string",
                      "example": "limit",
                      "description": "주문 방식\n- `limit`: 지정가\n- `price`: 시장가(매수)\n- `market`: 시장가(매도)",
                      "enum": ["limit", "price", "market"]
                    },
                    "price": {
                      "type": "string",
                      "example": "83000000",
                      "description": "주문 가격"
                    },
                    "state": {
                      "type": "string",
                      "example": "done",
                      "description": "주문 상태\n- `wait`: 체결 대기 \n- `watch`: 주문 대기\n- `done`: 체결 완료\n- `cancel`: 주문 취소",
                      "enum": ["wait", "watch", "done", "cancel"]
                    },
                    "market": {
                      "type": "string",
                      "example": "KRW-BTC",
                      "description": "거래 대상 페어의 고유 심볼\n\n예시) KRW-BTC",
                      "default": ""
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2024-07-09T16:32:23+09:00",
                      "description": "주문 생성 시각",
                      "format": "date-time"
                    },
                    "volume": {
                      "type": "string",
                      "example": "1",
                      "description": "사용자가 입력한 주문 수량"
                    },
                    "remaining_volume": {
                      "type": "string",
                      "example": "0",
                      "description": "체결 후 남은 주문 수량"
                    },
                    "reserved_fee": {
                      "type": "string",
                      "example": "207500",
                      "description": "수수료로 예약된 금액"
                    },
                    "remaining_fee": {
                      "type": "string",
                      "example": "0",
                      "description": "남은 수수료 금액"
                    },
                    "paid_fee": {
                      "type": "string",
                      "example": "207500",
                      "description": "사용된 수수료 금액"
                    },
                    "locked": {
                      "type": "string",
                      "example": "0",
                      "description": "거래에 사용 중인 금액"
                    },
                    "executed_volume": {
                      "type": "string",
                      "example": "1",
                      "description": "체결된 수량"
                    },
                    "trades_count": {
                      "type": "integer",
                      "example": 1,
                      "description": "해당 주문의 체결 건수"
                    },
                    "trades": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "market": {
                            "type": "string",
                            "example": "KRW-BTC",
                            "description": "거래 대상 페어의 고유 심볼\n\n예시) KRW-BTC"
                          },
                          "uuid": {
                            "type": "string",
                            "example": "C0101000000001713006",
                            "description": "체결의 고유 ID"
                          },
                          "price": {
                            "type": "string",
                            "example": "83000000",
                            "description": "체결 가격"
                          },
                          "volume": {
                            "type": "string",
                            "example": "1",
                            "description": "체결 수량"
                          },
                          "funds": {
                            "type": "string",
                            "example": "83000000",
                            "description": "체결 금액"
                          },
                          "side": {
                            "type": "string",
                            "example": "bid",
                            "description": "체결 종류\n- `bid`: 매수\n- `ask`: 매도",
                            "enum": ["bid", "ask"]
                          },
                          "created_at": {
                            "type": "string",
                            "example": "2024-07-09T16:32:23+09:00",
                            "description": "체결 시각",
                            "format": "date-time"
                          }
                        }
                      },
                      "description": "체결 내역 "
                    }
                  },
                  "required": [
                    "uuid",
                    "side",
                    "ord_type",
                    "price",
                    "state",
                    "market",
                    "created_at",
                    "volume",
                    "remaining_volume",
                    "reserved_fee",
                    "remaining_fee",
                    "paid_fee",
                    "locked",
                    "executed_volume",
                    "trades_count",
                    "trades"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"name\": \"error name\",\n    \"message\": \"error message\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "error name",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "example": "error message",
                          "description": "에러 메시지"
                        }
                      }
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"name\": \"error name\",\n    \"message\": \"error message\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메시지"
                        }
                      }
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"name\": \"error name\",\n    \"message\": \"error message\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메시지"
                        }
                      }
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "  const jwt = require('jsonwebtoken');\n  const { v4: uuidv4 } = require('uuid');\n  const crypto = require('crypto');\n  const axios = require('axios')\n\n  const accessKey = '발급받은 API KEY'\n  const secretKey = '발급받은 SECRET KEY'\n  const apiUrl = 'https://api.bithumb.com'\n\n  // Set API parameters\n  // uuid 또는 client_order_id 중 하나를 사용\n  // 두 값이 모두 전달된 경우, uuid를 기준으로 조회\n  const params = {\n      uuid: 'C0295000000000100020',\n      // client_order_id: 'my-client-order-id-001'  // 필요 시 주석 해제\n  }\n\n  // 인코딩 없이 query string 생성\n  const query = Object.entries(params)\n      .map(([key, value]) => `${key}=${value}`)\n      .join('&')\n\n  // Generate access token\n  const alg = 'SHA512'\n  const hash = crypto.createHash(alg)\n  const queryHash = hash.update(query, 'utf-8').digest('hex')\n  const payload = {\n      access_key: accessKey,\n      nonce: uuidv4(),\n      timestamp: Date.now(),\n      query_hash: queryHash,\n      query_hash_alg: alg\n  }\n  const jwtToken = jwt.sign(payload, secretKey)\n  const config = {\n      headers: {\n          Authorization: `Bearer ${jwtToken}`\n      }\n  }\n\n  // Call API\n  axios.get(apiUrl + '/v1/order?' + query, config)\n      .then((response) => {\n          // handle to success\n          console.log('status: ', response.status)\n          console.log('data: ', response.data)\n      })\n      .catch((error) => {\n          // handle to fail\n          console.log(error.response.status)\n          console.log(error.response.data)\n      })"
            },
            {
              "language": "python",
              "code": " # Python 3\n  # pip3 installl pyJwt\n  import jwt\n  import uuid\n  import hashlib\n  import time\n  import requests\n\n  accessKey = '발급받은 API KEY'\n  secretKey = '발급받은 SECRET KEY'\n  apiUrl = 'https://api.bithumb.com'\n\n  # Set API parameters\n  param = dict( uuid='C0295000000000100020' )\n\n  # client_order_id (선택)\n  # param['client_order_id'] = 'my-client-order-id-001'\n\n  # Generate access token\n  query = '&'.join([f'{k}={v}' for k, v in param.items()])\n  hash = hashlib.sha512()\n  hash.update(query.encode('utf-8'))\n  query_hash = hash.hexdigest()\n  payload = {\n      'access_key': accessKey,\n      'nonce': str(uuid.uuid4()),\n      'timestamp': round(time.time() * 1000),\n      'query_hash': query_hash,\n      'query_hash_alg': 'SHA512',\n  }\n  jwt_token = jwt.encode(payload, secretKey)\n  authorization_token = 'Bearer {}'.format(jwt_token)\n  headers = {\n    'Authorization': authorization_token\n  }\n\n  try:\n      # Call API\n      response = requests.get(apiUrl + '/v1/order?' + query, headers=headers)\n      # handle to success or fail\n      print(response.status_code)\n      print(response.json())\n  except Exception as err:\n      # handle exception\n      print(err)"
            },
            {
              "language": "java",
              "code": "  package com.example.sample;\n\n  // https://mvnrepository.com/artifact/com.auth0/java-jwt\n  import com.auth0.jwt.JWT;\n  import com.auth0.jwt.algorithms.Algorithm;\n  // https://mvnrepository.com/artifact/org.apache.httpcomponents/httpclient\n  import org.apache.http.client.methods.CloseableHttpResponse;\n  import org.apache.http.client.methods.HttpGet;\n  import org.apache.http.impl.client.CloseableHttpClient;\n  import org.apache.http.impl.client.HttpClients;\n  import org.apache.http.util.EntityUtils;\n\n  import java.math.BigInteger;\n  import java.nio.charset.StandardCharsets;\n  import java.security.MessageDigest;\n  import java.security.NoSuchAlgorithmException;\n  import java.util.ArrayList;\n  import java.util.List;\n  import java.util.UUID;\n\n  public class GETArgs {\n\n      public static void main(String[] args) throws NoSuchAlgorithmException {\n          String accessKey = \"발급받은 API KEY\";\n          String secretKey = \"발급받은 SECRET KEY\";\n          String apiUrl = \"https://api.bithumb.com\";\n\n          // Set API parameters (URL 인코딩 없이 수동 조합)\n          List<String> queryParts = new ArrayList<>();\n          queryParts.add(\"uuid=C0295000000000100020\");\n\n          // client_order_id는 선택 - 필요 시 아래 주석 해제\n          // queryParts.add(\"client_order_id=my-client-order-id-001\");\n\n          String query = String.join(\"&\", queryParts);\n\n          // Generate access token\n          MessageDigest md = MessageDigest.getInstance(\"SHA-512\");\n          md.update(query.getBytes(StandardCharsets.UTF_8));\n          String queryHash = String.format(\"%0128x\", new BigInteger(1, md.digest()));\n          Algorithm algorithm = Algorithm.HMAC256(secretKey);\n          String jwtToken = JWT.create()\n                  .withClaim(\"access_key\", accessKey)\n                  .withClaim(\"nonce\", UUID.randomUUID().toString())\n                  .withClaim(\"timestamp\", System.currentTimeMillis())\n                  .withClaim(\"query_hash\", queryHash)\n                  .withClaim(\"query_hash_alg\", \"SHA512\")\n                  .sign(algorithm);\n          String authenticationToken = \"Bearer \" + jwtToken;\n\n          // Call API\n          final HttpGet httpRequest = new HttpGet(apiUrl + \"/v1/order?\" + query);\n          httpRequest.addHeader(\"Authorization\", authenticationToken);\n\n          try (CloseableHttpClient client = HttpClients.createDefault();\n               CloseableHttpResponse response = client.execute(httpRequest)) {\n              // handle to response\n              int httpStatus = response.getStatusLine().getStatusCode();\n              String responseBody = EntityUtils.toString(response.getEntity(), StandardCharsets.UTF_8);\n              System.out.println(httpStatus);\n              System.out.println(responseBody);\n          } catch (Exception e) {\n              throw new RuntimeException(e);\n          }\n      }\n  }"
            }
          ],
          "samples-languages": ["javascript", "python", "java"]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EA%B0%9C%EB%B3%84-%EC%A3%BC%EB%AC%B8-%EC%A1%B0%ED%9A%8C"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/개별-주문-조회",
        "tags": ["주문"]
      },
      "delete": {
        "summary": "주문 취소 접수",
        "description": "주문 취소를 요청합니다.",
        "operationId": "delete-order",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token (JWT)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "required": false,
            "description": "주문의 고유 ID(구 `uuid`)",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "in": "query",
            "name": "client_order_id",
            "schema": {
              "type": "string"
            },
            "description": "서버에서 부여하는 주문 ID(`order_id`)와 별도로 주문 생성 시 사용자가 직접 지정한 고유 ID\n\n- 허용 문자: 영문 대/소문자, 숫자, -, _\n- 길이: 1–36자"
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "order_id": "C0101000000001799625",
                      "created_at": "2024-07-12T16:30:01+09:00"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "order_id": {
                      "type": "string",
                      "example": "C0101000000001799625",
                      "description": "주문의 고유 ID(구 `uuid`)"
                    },
                    "client_order_id": {
                      "type": "string",
                      "description": "서버에서 부여하는 주문 ID(`order_id`)와 별도로 주문 생성 시 사용자가 직접 지정한 고유 ID"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2024-07-12T16:30:01+09:00",
                      "description": "주문 생성 시각",
                      "format": "date-time"
                    }
                  },
                  "required": ["order_id", "created_at"]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"name\": \"error name\",\n    \"message\": \"error message\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "error name",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "example": "error message",
                          "description": "에러 메시지"
                        }
                      }
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"message\": \"주문을 찾지 못했습니다.\",\n    \"name\": \"order_not_found\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "order_not_found",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "example": "주문을 찾지 못했습니다.",
                          "description": "에러 메시지"
                        }
                      }
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"message\": \"주문 접수 처리 중입니다. 잠시 후 다시 시도해주세요.\",\n    \"name\": \"order_not_ready\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "order_not_ready",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "example": "주문 접수 처리 중입니다. 잠시 후 다시 시도해주세요.",
                          "description": "에러 메시지"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "  const jwt = require('jsonwebtoken');\n  const { v4: uuidv4 } = require('uuid');\n  const crypto = require('crypto');\n  const querystring = require('querystring');\n  const axios = require('axios')\n\n  const accessKey = '발급받은 API KEY'\n  const secretKey = '발급받은 SECRET KEY'\n  const apiUrl = 'https://api.bithumb.com'\n\n  // Set API parameters\n  // order_id 또는 client_order_id 중 하나를 사용\n  // 두 값이 모두 전달된 경우, order_id를 기준으로 취소\n  const query = 'order_id=C0917000000000070001'\n  // 또는\n  // const query = 'client_order_id=my-order-001'\n\n  // Generate access token\n  const alg = 'SHA512'\n  const hash = crypto.createHash(alg)\n  const queryHash = hash.update(query, 'utf-8').digest('hex')\n  const payload = {\n      access_key: accessKey,\n      nonce: uuidv4(),\n      timestamp: Date.now(),\n      query_hash: queryHash,\n      query_hash_alg: alg\n  }\n  const jwtToken = jwt.sign(payload, secretKey)\n  const config = {\n      headers: {\n          Authorization: `Bearer ${jwtToken}`\n      }\n  }\n\n  // Call API\n  axios.delete(apiUrl + '/v2/order?' + query, config)\n      .then((response) => {\n          // handle to success\n          console.log('status: ', response.status)\n          console.log('data: ', response.data)\n      })\n      .catch((error) => {\n          // handle to fail\n          console.log(error.response.status)\n          console.log(error.response.data)\n      })"
            },
            {
              "language": "python",
              "code": "  # Python 3\n  # pip3 installl pyJwt\n  import jwt\n  import uuid\n  import hashlib\n  import time\n  from urllib.parse import urlencode\n  import requests\n\n  accessKey = '발급받은 API KEY'\n  secretKey = '발급받은 SECRET KEY'\n  apiUrl = 'https://api.bithumb.com'\n\n  # Set API parameters\n  # order_id 또는 client_order_id 중 하나를 사용\n  # 두 값이 모두 전달된 경우, order_id를 기준으로 취소\n  param = dict( order_id='C0917000000000070001' )\n  # 또는\n  # param = dict( client_order_id='my-order-001' )\n\n  # Generate access token\n  query = urlencode(param).encode()\n  hash = hashlib.sha512()\n  hash.update(query)\n  query_hash = hash.hexdigest()\n  payload = {\n      'access_key': accessKey,\n      'nonce': str(uuid.uuid4()),\n      'timestamp': round(time.time() * 1000),\n      'query_hash': query_hash,\n      'query_hash_alg': 'SHA512',\n  }\n  jwt_token = jwt.encode(payload, secretKey)\n  authorization_token = 'Bearer {}'.format(jwt_token)\n  headers = {\n    'Authorization': authorization_token\n  }\n\n  try:\n      # Call API\n      response = requests.delete(apiUrl + '/v2/order', params=param, headers=headers)\n      # handle to success or fail\n      print(response.status_code)\n      print(response.json())\n  except Exception as err:\n      # handle exception\n      print(err)"
            },
            {
              "language": "java",
              "code": "  package com.example.sample;\n\n  // https://mvnrepository.com/artifact/com.auth0/java-jwt\n  import com.auth0.jwt.JWT;\n  import com.auth0.jwt.algorithms.Algorithm;\n  // https://mvnrepository.com/artifact/org.apache.httpcomponents/httpclient\n  import org.apache.http.NameValuePair;\n  import org.apache.http.client.methods.CloseableHttpResponse;\n  import org.apache.http.client.methods.HttpDelete;\n  import org.apache.http.client.utils.URLEncodedUtils;\n  import org.apache.http.impl.client.CloseableHttpClient;\n  import org.apache.http.impl.client.HttpClients;\n  import org.apache.http.message.BasicNameValuePair;\n  import org.apache.http.util.EntityUtils;\n\n  import java.math.BigInteger;\n  import java.nio.charset.StandardCharsets;\n  import java.security.MessageDigest;\n  import java.security.NoSuchAlgorithmException;\n  import java.util.ArrayList;\n  import java.util.List;\n  import java.util.UUID;\n\n  public class DELETEArgs {\n\n      public static void main(String[] args) throws NoSuchAlgorithmException {\n          String accessKey = \"발급받은 API KEY\";\n          String secretKey = \"발급받은 SECRET KEY\";\n          String apiUrl = \"https://api.bithumb.com\";\n\n          // Set API parameters\n          List<NameValuePair> queryParams = new ArrayList<>();\n\n          // [Option 1] 주문번호로 취소\n          queryParams.add(new BasicNameValuePair(\"order_id\", \"C0917000000000070001\"));\n\n          // [Option 2] 클라이언트 주문 ID로 취소 (Option 1 대신 사용)\n          // queryParams.add(new BasicNameValuePair(\"client_order_id\", \"my-order-001\"));\n\n          // Generate access token\n          String query = URLEncodedUtils.format(queryParams, StandardCharsets.UTF_8);\n          MessageDigest md = MessageDigest.getInstance(\"SHA-512\");\n          md.update(query.getBytes(StandardCharsets.UTF_8));\n          String queryHash = String.format(\"%0128x\", new BigInteger(1, md.digest()));\n          Algorithm algorithm = Algorithm.HMAC256(secretKey);\n          String jwtToken = JWT.create()\n                  .withClaim(\"access_key\", accessKey)\n                  .withClaim(\"nonce\", UUID.randomUUID().toString())\n                  .withClaim(\"timestamp\", System.currentTimeMillis())\n                  .withClaim(\"query_hash\", queryHash)\n                  .withClaim(\"query_hash_alg\", \"SHA512\")\n                  .sign(algorithm);\n          String authenticationToken = \"Bearer \" + jwtToken;\n\n          // Call API\n          final HttpDelete httpRequest = new HttpDelete(apiUrl + \"/v2/order?\" + query);\n          httpRequest.addHeader(\"Authorization\", authenticationToken);\n\n          try (CloseableHttpClient client = HttpClients.createDefault();\n               CloseableHttpResponse response = client.execute(httpRequest)) {\n              // handle to response\n              int httpStatus = response.getStatusLine().getStatusCode();\n              String responseBody = EntityUtils.toString(response.getEntity(), StandardCharsets.UTF_8);\n              System.out.println(httpStatus);\n              System.out.println(responseBody);\n          } catch (Exception e) {\n              throw new RuntimeException(e);\n          }\n      }\n  }"
            }
          ],
          "samples-languages": ["javascript", "python", "java"]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EC%A3%BC%EB%AC%B8-%EC%B7%A8%EC%86%8C-%EC%A0%91%EC%88%98"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/주문-취소-접수",
        "tags": ["주문"]
      }
    },
    "/v1/orders": {
      "get": {
        "summary": "주문 리스트 조회",
        "description": "주문 목록을 조회합니다.",
        "operationId": "get-orders",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token (JWT)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "description": "거래 대상 페어의 고유 심볼\n\n예시) KRW-BTC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "주문 상태\n- `wait`: 체결 대기(default) \n- `watch`: 주문 대기\n- `done`: 체결 완료\n- `cancel`: 주문 취소",
            "schema": {
              "type": "string",
              "default": "wait",
              "enum": ["wait", "watch", "done", "cancel"]
            }
          },
          {
            "name": "states",
            "in": "query",
            "description": "주문 상태 목록\n- 일반주문(`wait`, `done`, `cancel`)과 자동주문(`watch`)은 혼합하여 조회하실 수 없습니다.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "uuids",
            "in": "query",
            "description": "주문 고유 ID 목록(max 30)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "in": "query",
            "name": "client_order_ids",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "서버에서 부여하는 주문 ID(`uuid`)와 별도로 주문 생성 시 사용자가 직접 지정한 고유 ID 목록(max 30)"
          },
          {
            "name": "page",
            "in": "query",
            "description": "페이지네이션 응답에서 조회할 페이지 번호",
            "schema": {
              "type": "integer",
              "default": 1,
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "조회할 주문 개수",
            "schema": {
              "type": "integer",
              "default": 100,
              "format": "int32"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "조회 결과 정렬 방식\n- `asc`: 오름차순\n- `desc`: 내림차순(default)",
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": ["asc", "desc"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"uuid\": \"C0101000000001799625\",\n    \"side\": \"ask\",\n    \"ord_type\": \"limit\",\n    \"price\": \"84001000\",\n    \"state\": \"wait\",\n    \"market\": \"KRW-BTC\",\n    \"created_at\": \"2024-07-12T16:30:01+09:00\",\n    \"volume\": \"0.2\",\n    \"remaining_volume\": \"0.2\",\n    \"reserved_fee\": \"0\",\n    \"remaining_fee\": \"0\",\n    \"paid_fee\": \"0\",\n    \"locked\": \"0.2\",\n    \"executed_volume\": \"0\",\n    \"trades_count\": 0\n  },\n  {\n    \"uuid\": \"C0661000000000760010\",\n    \"side\": \"ask\",\n    \"ord_type\": \"limit\",\n    \"price\": \"1055\",\n    \"state\": \"wait\",\n    \"market\": \"KRW-GMT\",\n    \"created_at\": \"2024-07-10T20:00:02+09:00\",\n    \"volume\": \"16\",\n    \"remaining_volume\": \"11\",\n    \"reserved_fee\": \"0\",\n    \"remaining_fee\": \"0\",\n    \"paid_fee\": \"0.52\",\n    \"locked\": \"11\",\n    \"executed_volume\": \"5\",\n    \"trades_count\": 1\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "uuid": {
                        "type": "string",
                        "example": "C0101000000001799625",
                        "description": "주문의 고유 ID"
                      },
                      "client_order_id": {
                        "type": "string",
                        "description": "서버에서 부여하는 주문 ID(`uuid`)와 별도로 주문 생성 시 사용자가 직접 지정한 고유 ID"
                      },
                      "side": {
                        "type": "string",
                        "example": "ask",
                        "description": "주문 종류\n- `bid`: 매수\n- `ask`: 매도",
                        "enum": ["bid", "ask"]
                      },
                      "ord_type": {
                        "type": "string",
                        "example": "limit",
                        "description": "주문 방식\n- `limit`: 지정가\n- `price`: 시장가(매수)\n- `market`: 시장가(매도)",
                        "enum": ["limit", "price", "market"]
                      },
                      "price": {
                        "type": "string",
                        "example": "84001000",
                        "description": "주문 가격"
                      },
                      "state": {
                        "type": "string",
                        "example": "wait",
                        "description": "주문 상태\n- `wait`: 체결 대기 \n- `watch`: 주문 대기\n- `done`: 체결 완료\n- `cancel`: 주문 취소",
                        "enum": ["wait", "watch", "done", "cancel"]
                      },
                      "market": {
                        "type": "string",
                        "example": "KRW-BTC",
                        "description": "거래 대상 페어의 고유 심볼\n\n예시) KRW-BTC"
                      },
                      "created_at": {
                        "type": "string",
                        "example": "2024-07-12T16:30:01+09:00",
                        "description": "주문 생성 시각",
                        "format": "date-time"
                      },
                      "volume": {
                        "type": "string",
                        "example": "0.2",
                        "description": "주문 수량"
                      },
                      "remaining_volume": {
                        "type": "string",
                        "example": "0.2",
                        "description": "체결 후 남은 수량"
                      },
                      "reserved_fee": {
                        "type": "string",
                        "example": "0",
                        "description": "수수료로 예약된 금액"
                      },
                      "remaining_fee": {
                        "type": "string",
                        "example": "0",
                        "description": "남은 수수료 금액"
                      },
                      "paid_fee": {
                        "type": "string",
                        "example": "0",
                        "description": "사용된 수수료 금액"
                      },
                      "locked": {
                        "type": "string",
                        "example": "0.2",
                        "description": "거래에 사용 중인 금액"
                      },
                      "executed_volume": {
                        "type": "string",
                        "example": "0",
                        "description": "체결된 수량"
                      },
                      "trades_count": {
                        "type": "integer",
                        "example": 0,
                        "description": "해당 주문에 걸린 체결 수"
                      }
                    },
                    "required": [
                      "uuid",
                      "side",
                      "ord_type",
                      "price",
                      "state",
                      "market",
                      "created_at",
                      "volume",
                      "remaining_volume",
                      "reserved_fee",
                      "remaining_fee",
                      "paid_fee",
                      "locked",
                      "executed_volume",
                      "trades_count"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"name\": \"error name\",\n    \"message\": \"error message\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "error name",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "example": "error message",
                          "description": "에러 메시지"
                        }
                      }
                    }
                  },
                  "required": ["error"]
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const jwt = require('jsonwebtoken');\n  const { v4: uuidv4 } = require('uuid');\n  const crypto = require('crypto');\n  const querystring = require('querystring');\n  const axios = require('axios')\n\n  const accessKey = '발급받은 API KEY'\n  const secretKey = '발급받은 SECRET KEY'\n  const apiUrl = 'https://api.bithumb.com'\n\n  // Set API parameters\n  var query = 'market=KRW-XRP&limit=100&page=1&order_by=desc'\n\n  // uuids 또는 client_order_ids 두 값 모두 전달하지 않은 경우 최신 주문 내역 조회\n  // 두 값이 모두 전달된 경우, uuids를 기준으로 조회\n  const uuids = [\n      'C0106000032400700021', 'C0106000043000097801'\n  ]\n  const clientOrderIds = [\n      'my-order-001', 'my-order-002'\n  ]\n\n  const uuid_query = uuids.map(uuid => `uuids[]=${uuid}`).join('&')\n  const client_order_id_query = clientOrderIds.map(id => `client_order_ids[]=${id}`).join('&')\n\n  if (uuid_query) {\n      query = query + \"&\" + uuid_query\n  }\n  if (client_order_id_query) {\n      query = query + \"&\" + client_order_id_query\n  }\n\n  // Generate access token\n  const alg = 'SHA512'\n  const hash = crypto.createHash(alg)\n  const queryHash = hash.update(query, 'utf-8').digest('hex')\n  const payload = {\n      access_key: accessKey,\n      nonce: uuidv4(),\n      timestamp: Date.now(),\n      query_hash: queryHash,\n      query_hash_alg: alg\n  }\n  const jwtToken = jwt.sign(payload, secretKey)\n  const config = {\n      headers: {\n          Authorization: `Bearer ${jwtToken}`\n      }\n  }\n\n  // Call API\n  axios.get(apiUrl + '/v1/orders?' + query, config)\n      .then((response) => {\n          // handle to success\n          console.log('status: ', response.status)\n          console.log('data: ', response.data)\n      })\n      .catch((error) => {\n          // handle to fail\n          console.log(error.response.status)\n          console.log(error.response.data)\n      })"
            },
            {
              "language": "python",
              "code": "# Python 3\n  # pip3 installl pyJwt\n  import jwt\n  import uuid\n  import hashlib\n  import time\n  from urllib.parse import urlencode\n  import requests\n\n  accessKey = '발급받은 API KEY'\n  secretKey = '발급받은 SECRET KEY'\n  apiUrl = 'https://api.bithumb.com'\n\n  # Set API parameters\n  param = dict( market='KRW-XRP', limit=100, page=1, order_by='desc' )\n\n  # uuids 또는 client_order_ids 두 값 모두 전달하지 않은 경우 최신 주문 내역 조회\n  # 두 값이 모두 전달된 경우, uuids를 기준으로 조회\n  uuids = [\n      'C0106000032400700021', 'C0106000043000097801'\n  ]\n  client_order_ids = [\n      'my-order-001', 'my-order-002'\n  ]\n\n  query = urlencode(param)\n  uuid_query = '&'.join([f'uuids[]={u}' for u in uuids])\n  client_order_id_query = '&'.join([f'client_order_ids[]={id}' for id in client_order_ids])\n\n  if uuid_query:\n      query = query + \"&\" + uuid_query\n  if client_order_id_query:\n      query = query + \"&\" + client_order_id_query\n\n  # Generate access token\n  hash = hashlib.sha512()\n  hash.update(query.encode())\n  query_hash = hash.hexdigest()\n  payload = {\n      'access_key': accessKey,\n      'nonce': str(uuid.uuid4()),\n      'timestamp': round(time.time() * 1000),\n      'query_hash': query_hash,\n      'query_hash_alg': 'SHA512',\n  }\n  jwt_token = jwt.encode(payload, secretKey)\n  authorization_token = 'Bearer {}'.format(jwt_token)\n  headers = {\n    'Authorization': authorization_token\n  }\n\n  try:\n      # Call API\n      response = requests.get(apiUrl + '/v1/orders?' + query, headers=headers)\n      # handle to success or fail\n      print(response.status_code)\n      print(response.json())\n  except Exception as err:\n      # handle exception\n      print(err)"
            },
            {
              "language": "java",
              "code": "package com.example.sample;\n\n  // https://mvnrepository.com/artifact/com.auth0/java-jwt\n\n  import com.auth0.jwt.JWT;\n  import com.auth0.jwt.algorithms.Algorithm;\n  // https://mvnrepository.com/artifact/org.apache.httpcomponents/httpclient\n  import org.apache.http.NameValuePair;\n  import org.apache.http.client.methods.CloseableHttpResponse;\n  import org.apache.http.client.methods.HttpGet;\n  import org.apache.http.client.utils.URLEncodedUtils;\n  import org.apache.http.impl.client.CloseableHttpClient;\n  import org.apache.http.impl.client.HttpClients;\n  import org.apache.http.message.BasicNameValuePair;\n  import org.apache.http.util.EntityUtils;\n\n  import java.math.BigInteger;\n  import java.nio.charset.StandardCharsets;\n  import java.security.MessageDigest;\n  import java.security.NoSuchAlgorithmException;\n  import java.util.ArrayList;\n  import java.util.List;\n  import java.util.UUID;\n  import java.util.stream.Collectors;\n\n  public class GETArgsArray {\n\n      public static void main(String[] args) throws NoSuchAlgorithmException {\n          String accessKey = \"발급받은 API KEY\";\n          String secretKey = \"발급받은 SECRET KEY\";\n          String apiUrl = \"https://api.bithumb.com\";\n\n          // Set API parameters\n          List<NameValuePair> queryParams = new ArrayList<>();\n          queryParams.add(new BasicNameValuePair(\"market\", \"KRW-XRP\"));\n          queryParams.add(new BasicNameValuePair(\"limit\", \"100\"));\n          queryParams.add(new BasicNameValuePair(\"page\", \"1\"));\n          queryParams.add(new BasicNameValuePair(\"order_by\", \"desc\"));\n\n          // uuids 또는 client_order_ids 두 값 모두 전달하지 않은 경우 최신 주문 내역 조회\n          // 두 값이 모두 전달된 경우, uuids를 기준으로 조회\n          List<String> uuids = new ArrayList<>();\n          uuids.add(\"C0106000032400700021\");\n          uuids.add(\"C0106000043000097801\");\n          String uuidQuery = uuids.stream().map(uuid -> \"uuids[]=\" + uuid).collect(Collectors.joining(\"&\"));\n\n          List<String> clientOrderIds = new ArrayList<>();\n          clientOrderIds.add(\"my-order-001\");\n          clientOrderIds.add(\"my-order-002\");\n          String clientOrderIdQuery = clientOrderIds.stream().map(id -> \"client_order_ids[]=\" + id).collect(Collectors.joining(\"&\"));\n\n          // Generate access token\n          String query = URLEncodedUtils.format(queryParams, StandardCharsets.UTF_8);\n          if (!uuidQuery.isEmpty()) {\n              query = query + \"&\" + uuidQuery;\n          }\n          if (!clientOrderIdQuery.isEmpty()) {\n              query = query + \"&\" + clientOrderIdQuery;\n          }\n          MessageDigest md = MessageDigest.getInstance(\"SHA-512\");\n          md.update(query.getBytes(StandardCharsets.UTF_8));\n          String queryHash = String.format(\"%0128x\", new BigInteger(1, md.digest()));\n          Algorithm algorithm = Algorithm.HMAC256(secretKey);\n          String jwtToken = JWT.create()\n                  .withClaim(\"access_key\", accessKey)\n                  .withClaim(\"nonce\", UUID.randomUUID().toString())\n                  .withClaim(\"timestamp\", System.currentTimeMillis())\n                  .withClaim(\"query_hash\", queryHash)\n                  .withClaim(\"query_hash_alg\", \"SHA512\")\n                  .sign(algorithm);\n          String authenticationToken = \"Bearer \" + jwtToken;\n\n          // Call API\n          final HttpGet httpRequest = new HttpGet(apiUrl + \"/v1/orders?\" + query);\n          httpRequest.addHeader(\"Authorization\", authenticationToken);\n\n          try (CloseableHttpClient client = HttpClients.createDefault();\n               CloseableHttpResponse response = client.execute(httpRequest)) {\n              // handle to response\n              int httpStatus = response.getStatusLine().getStatusCode();\n              String responseBody = EntityUtils.toString(response.getEntity(), StandardCharsets.UTF_8);\n              System.out.println(httpStatus);\n              System.out.println(responseBody);\n          } catch (Exception e) {\n              throw new RuntimeException(e);\n          }\n      }\n  }"
            }
          ],
          "samples-languages": ["javascript", "python", "java"]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EC%A3%BC%EB%AC%B8-%EB%A6%AC%EC%8A%A4%ED%8A%B8-%EC%A1%B0%ED%9A%8C"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/주문-리스트-조회",
        "tags": ["주문"]
      },
      "post": {
        "summary": "주문 요청",
        "description": "주문을 요청합니다.",
        "operationId": "post-orders",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization token (JWT)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["market", "side", "order_type"],
                "properties": {
                  "market": {
                    "type": "string",
                    "description": "거래 대상 페어의 고유 심볼\n\n예시) KRW-BTC",
                    "x-readme-id": "0.0"
                  },
                  "side": {
                    "type": "string",
                    "description": "주문 종류\n- `bid`: 매수\n- `ask`: 매도",
                    "x-readme-id": "0.1",
                    "enum": ["bid", "ask"]
                  },
                  "price": {
                    "type": "string",
                    "description": "주문 가격(지정가 주문, 시장가 매수 주문 시 필수)\n- 지정가 주문: 주문 단가\n- 시장가 매수 주문: 주문 총액",
                    "x-readme-id": "0.3"
                  },
                  "volume": {
                    "type": "string",
                    "description": "주문 수량(지정가 주문, 시장가 매도 주문 시 필수)",
                    "x-readme-id": "0.4"
                  },
                  "order_type": {
                    "type": "string",
                    "description": "주문 방식(구 `ord_type`)\n- `limit`: 지정가\n- `price`: 시장가(매수)\n- `market`: 시장가(매도)",
                    "x-readme-id": "0.2",
                    "enum": ["limit", "price", "market"]
                  },
                  "client_order_id": {
                    "type": "string",
                    "description": "서버에서 부여하는 주문 ID(`order_id`)와 별도로 주문 생성 시 사용자가 직접 지정하는 고유 ID\n\n- 허용 문자: 영문 대/소문자, 숫자, -, _\n- 길이: 1–36자"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "order_id": "C0101000000001799653",
                      "market": "KRW-BTC",
                      "side": "bid",
                      "order_type": "limit",
                      "created_at": "2024-07-14T13:35:41+09:00"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "order_id": {
                      "type": "string",
                      "description": "주문의 고유 ID(구 `uuid`)"
                    },
                    "market": {
                      "type": "string",
                      "example": "KRW-BTC",
                      "description": "거래 대상 페어의 고유 심볼\n\n예시) KRW-BTC"
                    },
                    "side": {
                      "type": "string",
                      "example": "bid",
                      "description": "주문 종류\n- `bid`: 매수\n- `ask`: 매도",
                      "enum": ["bid", "ask"]
                    },
                    "order_type": {
                      "type": "string",
                      "example": "limit",
                      "description": "주문 방식(구 `ord_type`)\n- `limit`: 지정가\n- `price`: 시장가(매수)\n- `market`: 시장가(매도)"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2024-07-14T13:35:41+09:00",
                      "description": "주문 생성 시각",
                      "format": "date-time"
                    },
                    "client_order_id": {
                      "type": "string",
                      "description": "서버에서 부여하는 주문 ID(`order_id`)와 별도로 주문 생성 시 사용자가 직접 지정한 고유 ID"
                    }
                  },
                  "required": ["order_id", "market", "side", "order_type", "created_at"]
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"error\": {\n    \"name\": \"error name\",\n    \"message\": \"error message\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "error name",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "example": "error message",
                          "description": "에러 메시지"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "    const jwt = require('jsonwebtoken');\n    const { v4: uuidv4 } = require('uuid');\n    const crypto = require('crypto');\n    const axios = require('axios')\n\n    const accessKey = '발급받은 API KEY'\n    const secretKey = '발급받은 SECRET KEY'\n    const apiUrl = 'https://api.bithumb.com'\n\n    // Set API parameters\n    const requestBody = {\n        market: 'KRW-BTC',\n        side: 'bid',\n        order_type: 'limit',\n        price: 84000000,\n        volume: 0.001,\n        client_order_id: 'my-order-001'  // 사용자 지정 주문 ID (선택)\n    }\n\n    // Generate access token\n    const query = Object.entries(requestBody)\n        .map(([key, value]) => `${key}=${value}`)\n        .join('&')\n    const alg = 'SHA512'\n    const hash = crypto.createHash(alg)\n    const queryHash = hash.update(query, 'utf-8').digest('hex')\n    const payload = {\n        access_key: accessKey,\n        nonce: uuidv4(),\n        timestamp: Date.now(),\n        query_hash: queryHash,\n        query_hash_alg: alg\n    }\n    const jwtToken = jwt.sign(payload, secretKey)\n    const config = {\n        headers: {\n            Authorization: `Bearer ${jwtToken}`,\n            'Content-Type': 'application/json'\n        }\n    }\n\n    // Call API\n    axios.post(apiUrl + '/v2/orders', requestBody, config)\n        .then((response) => {\n            // handle to success\n            console.log('status: ', response.status)\n            console.log('data: ', response.data)\n        })\n        .catch((error) => {\n            // handle to fail\n            console.log(error.response.status)\n            console.log(error.response.data)\n        })"
            },
            {
              "language": "python",
              "code": "  # Python 3\n  # pip3 install pyJwt\n  import jwt\n  import uuid\n  import hashlib\n  import time\n  import requests\n  import json\n\n  accessKey = '발급받은 API KEY'\n  secretKey = '발급받은 SECRET KEY'\n  apiUrl = 'https://api.bithumb.com'\n\n  # Set API parameters\n  requestBody = dict(\n      market='KRW-BTC',\n      side='bid',\n      order_type='limit',\n      price=84000000,\n      volume=0.001,\n      client_order_id='my-order-001'  # 사용자 지정 주문 ID (선택)\n  )\n\n  # Generate access token\n  query = '&'.join([f'{k}={v}' for k, v in requestBody.items()])\n  hash = hashlib.sha512()\n  hash.update(query.encode('utf-8'))\n  query_hash = hash.hexdigest()\n  payload = {\n      'access_key': accessKey,\n      'nonce': str(uuid.uuid4()),\n      'timestamp': round(time.time() * 1000),\n      'query_hash': query_hash,\n      'query_hash_alg': 'SHA512',\n  }\n  jwt_token = jwt.encode(payload, secretKey)\n  authorization_token = 'Bearer {}'.format(jwt_token)\n  headers = {\n      'Authorization': authorization_token,\n      'Content-Type': 'application/json'\n  }\n\n  try:\n      # Call API\n      response = requests.post(apiUrl + '/v2/orders', data=json.dumps(requestBody), headers=headers)\n      # handle to success or fail\n      print(response.status_code)\n      print(response.json())\n  except Exception as err:\n      # handle exception\n      print(err)"
            },
            {
              "language": "java",
              "code": "  public class POSTArgs {\n\n      public static void main(String[] args) throws NoSuchAlgorithmException, IOException {\n          String accessKey = \"발급받은 API KEY\";\n          String secretKey = \"발급받은 SECRET KEY\";\n          String apiUrl = \"https://api.bithumb.com\";\n\n          // Set API parameters\n          Map<String, Object> requestBody = new LinkedHashMap<>();\n          requestBody.put(\"market\", \"KRW-BTC\");\n          requestBody.put(\"side\", \"bid\");\n          requestBody.put(\"order_type\", \"limit\");\n          requestBody.put(\"price\", 84000000);\n          requestBody.put(\"volume\", 0.001);\n          requestBody.put(\"client_order_id\", \"my-order-001\");  // 사용자 지정 주문 ID (선택)\n\n          // Generate access token\n          String query = requestBody.entrySet().stream()\n                  .map(entry -> entry.getKey() + \"=\" + entry.getValue())\n                  .collect(Collectors.joining(\"&\"));\n          MessageDigest md = MessageDigest.getInstance(\"SHA-512\");\n          md.update(query.getBytes(StandardCharsets.UTF_8));\n          String queryHash = String.format(\"%0128x\", new BigInteger(1, md.digest()));\n          Algorithm algorithm = Algorithm.HMAC256(secretKey);\n          String jwtToken = JWT.create()\n                  .withClaim(\"access_key\", accessKey)\n                  .withClaim(\"nonce\", UUID.randomUUID().toString())\n                  .withClaim(\"timestamp\", System.currentTimeMillis())\n                  .withClaim(\"query_hash\", queryHash)\n                  .withClaim(\"query_hash_alg\", \"SHA512\")\n                  .sign(algorithm);\n          String authenticationToken = \"Bearer \" + jwtToken;\n\n          // Call API\n          final HttpPost httpRequest = new HttpPost(apiUrl + \"/v2/orders\");\n          httpRequest.addHeader(\"Authorization\", authenticationToken);\n          httpRequest.addHeader(\"Content-type\", \"application/json\");\n          httpRequest.setEntity(new StringEntity(new ObjectMapper().writeValueAsString(requestBody), StandardCharsets.UTF_8));\n\n          try (CloseableHttpClient client = HttpClients.createDefault();\n               CloseableHttpResponse response = client.execute(httpRequest)) {\n              // handle to response\n              int httpStatus = response.getStatusLine().getStatusCode();\n              String responseBody = EntityUtils.toString(response.getEntity(), StandardCharsets.UTF_8);\n              System.out.println(httpStatus);\n              System.out.println(responseBody);\n          } catch (Exception e) {\n              throw new RuntimeException(e);\n          }\n      }\n  }"
            }
          ],
          "samples-languages": ["javascript", "python", "java"]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EC%A3%BC%EB%AC%B8-%EC%9A%94%EC%B2%AD"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/주문-요청",
        "tags": ["주문"]
      }
    },
    "/v1/orders/batch": {
      "post": {
        "summary": "다건 주문 요청",
        "description": "여러 건의 주문을 한 번의 요청으로 생성합니다. 요청당 최대 20건까지 가능합니다.",
        "operationId": "post-orders-batch",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "schema": {
              "type": "string"
            },
            "description": "Authorization token (JWT)",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["batch_orders"],
                "properties": {
                  "batch_orders": {
                    "type": "array",
                    "description": "다건 주문 목록(min 1, max 20)",
                    "items": {
                      "type": "object",
                      "required": ["order_type", "side", "market"],
                      "properties": {
                        "client_order_id": {
                          "type": "string",
                          "description": "서버에서 부여하는 주문 ID(`order_id`)와 별도로 주문 생성 시 사용자가 직접 지정한 고유 ID\n\n- 허용 문자: 영문 대/소문자, 숫자, -, _\n- 길이: 1–36자"
                        },
                        "market": {
                          "type": "string",
                          "description": "거래 대상 페어의 고유 심볼\n\n예시) KRW-BTC"
                        },
                        "side": {
                          "type": "string",
                          "description": "주문 종류\n- `bid`: 매수\n- `ask`: 매도",
                          "enum": ["bid", "ask"]
                        },
                        "order_type": {
                          "type": "string",
                          "description": "주문 방식(구 `ord_type`)\n- `limit`: 지정가\n- `price`: 시장가(매수)\n- `market`: 시장가(매도)",
                          "enum": ["limit", "price", "market"]
                        },
                        "price": {
                          "type": "string",
                          "description": "주문 가격(지정가 주문, 시장가 매수 주문 시 필수)\n- 지정가 주문: 주문 단가\n- 시장가 매수 주문: 주문 총액"
                        },
                        "volume": {
                          "type": "string",
                          "description": "주문 수량(지정가 주문, 시장가 매도 시 필수)"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "batch_orders_response": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "client_order_id": {
                            "type": "string",
                            "description": "서버에서 부여하는 주문 ID(`order_id`)와 별도로 주문 생성 시 사용자가 직접 지정한 고유 ID"
                          },
                          "order_id": {
                            "type": "string",
                            "description": "주문의 고유 ID(구 `uuid`)"
                          },
                          "market": {
                            "type": "string",
                            "description": "거래 대상 페어의 고유 심볼\n\n예시) KRW-BTC"
                          },
                          "side": {
                            "type": "string",
                            "description": "주문 종류\n- `bid`: 매수\n- `ask`: 매도"
                          },
                          "order_type": {
                            "type": "string",
                            "description": "주문 방식(구 `ord_type`)\n- `limit`: 지정가\n- `price`: 시장가(매수)\n- `market`: 시장가(매도)"
                          },
                          "created_at": {
                            "type": "string",
                            "description": "주문 생성 시각",
                            "format": "date-time"
                          },
                          "name": {
                            "type": "string",
                            "description": "실패 주문의 에러명"
                          },
                          "message": {
                            "type": "string",
                            "description": "실패 주문의 에러 메시지"
                          }
                        }
                      }
                    }
                  },
                  "required": ["batch_orders_response"]
                },
                "examples": {
                  "OK": {
                    "summary": "OK",
                    "value": {
                      "batch_orders_response": [
                        {
                          "client_order_id": "20260106-test00",
                          "order_id": "C0101000007410713262",
                          "market": "KRW-BTC",
                          "side": "bid",
                          "order_type": "limit",
                          "created_at": "2026-01-06T12:08:11+09:00"
                        },
                        {
                          "client_order_id": "20260106-test01",
                          "order_id": "C0101000007410713263",
                          "market": "KRW-BTC",
                          "side": "bid",
                          "order_type": "limit",
                          "created_at": "2026-01-06T12:08:11+09:00"
                        },
                        {
                          "client_order_id": "20260106-test6",
                          "name": "cross_trading",
                          "message": "제출하신 주문은 귀하가 기존에 제출하신 주문과 체결될 수 있어 취소되었습니다. 제출된 주문ID: [C0101000007410713241, C0101000007410713242, C0101000007410713243]"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메시지"
                        }
                      }
                    }
                  },
                  "required": ["error"]
                },
                "examples": {
                  "Bad Request": {
                    "summary": "Bad Request",
                    "value": {
                      "error": {
                        "name": "error name",
                        "message": "error message"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-readme": {
          "code-samples": [
            {
              "code": "  const jwt = require('jsonwebtoken');\n  const { v4: uuidv4 } = require('uuid');\n  const crypto = require('crypto');\n  const axios = require('axios')\n\n  const accessKey = '발급받은 API KEY'\n  const secretKey = '발급받은 SECRET KEY'\n  const apiUrl = 'https://api.bithumb.com'\n\n  // Set API parameters - 다건 주문 (최대 20건)\n  const batchOrders = [\n      {\n          market: 'KRW-BTC',\n          side: 'bid',\n          order_type: 'limit',\n          price: 84000000,\n          volume: 0.001,\n          client_order_id: 'my-order-001' // optional\n      },\n      {\n          market: 'KRW-BTC',\n          side: 'bid',\n          order_type: 'limit',\n          price: 83000000,\n          volume: 0.001\n      }\n  ]\n\n  const requestBody = { batch_orders: batchOrders }\n\n  // Generate query string for hash (배열 형식 처리)\n  const queryParts = []\n  batchOrders.forEach((order, index) => {\n      Object.entries(order).forEach(([key, value]) => {\n          queryParts.push(`batch_orders[${index}][${key}]=${value}`)\n      })\n  })\n  const query = queryParts.join('&')\n\n  // Generate access token\n  const alg = 'SHA512'\n  const hash = crypto.createHash(alg)\n  const queryHash = hash.update(query, 'utf-8').digest('hex')\n  const payload = {\n      access_key: accessKey,\n      nonce: uuidv4(),\n      timestamp: Date.now(),\n      query_hash: queryHash,\n      query_hash_alg: alg\n  }\n  const jwtToken = jwt.sign(payload, secretKey)\n  const config = {\n      headers: {\n          Authorization: `Bearer ${jwtToken}`,\n          'Content-Type': 'application/json'\n      }\n  }\n\n  // Call API\n  axios.post(apiUrl + '/v2/orders/batch', requestBody, config)\n      .then((response) => {\n          // handle to success\n          console.log('status: ', response.status)\n          console.log('data: ', response.data)\n      })\n      .catch((error) => {\n          // handle to fail\n          console.log(error.response.status)\n          console.log(error.response.data)\n      })",
              "language": "javascript",
              "name": ""
            },
            {
              "code": "  # Python 3\n  # pip3 installl pyJwt\n  import jwt\n  import uuid\n  import hashlib\n  import time\n  import requests\n  import json\n\n  accessKey = '발급받은 API KEY'\n  secretKey = '발급받은 SECRET KEY'\n  apiUrl = 'https://api.bithumb.com'\n\n  # Set API parameters - 다건 주문 (최대 20건)\n  batch_orders = [\n      dict(market='KRW-BTC', side='bid', order_type='limit', price=84000000, volume=0.001, client_order_id='my-order-001'),\n      dict(market='KRW-BTC', side='bid', order_type='limit', price=83000000, volume=0.001)\n  ]\n\n  requestBody = dict(batch_orders=batch_orders)\n\n  # Generate query string for hash (배열 형식 처리)\n  query_parts = []\n  for index, order in enumerate(batch_orders):\n      for key, value in order.items():\n          query_parts.append(f'batch_orders[{index}][{key}]={value}')\n  query = '&'.join(query_parts)\n\n  # Generate access token\n  hash = hashlib.sha512()\n  hash.update(query.encode())\n  query_hash = hash.hexdigest()\n  payload = {\n      'access_key': accessKey,\n      'nonce': str(uuid.uuid4()),\n      'timestamp': round(time.time() * 1000),\n      'query_hash': query_hash,\n      'query_hash_alg': 'SHA512',\n  }\n  jwt_token = jwt.encode(payload, secretKey)\n  authorization_token = 'Bearer {}'.format(jwt_token)\n  headers = {\n    'Authorization': authorization_token,\n    'Content-Type': 'application/json'\n  }\n\n  try:\n      # Call API\n      response = requests.post(apiUrl + '/v2/orders/batch', data=json.dumps(requestBody), headers=headers)\n      # handle to success or fail\n      print(response.status_code)\n      print(response.json())\n  except Exception as err:\n      # handle exception\n      print(err)",
              "language": "python",
              "name": ""
            },
            {
              "code": "  package com.example.sample;\n\n  // https://mvnrepository.com/artifact/com.auth0/java-jwt\n  import com.auth0.jwt.JWT;\n  import com.auth0.jwt.algorithms.Algorithm;\n  // https://mvnrepository.com/artifact/org.apache.httpcomponents/httpclient\n  import org.apache.http.client.methods.CloseableHttpResponse;\n  import org.apache.http.client.methods.HttpPost;\n  import org.apache.http.impl.client.CloseableHttpClient;\n  import org.apache.http.impl.client.HttpClients;\n  import org.apache.http.entity.StringEntity;\n  import org.apache.http.util.EntityUtils;\n  import com.fasterxml.jackson.databind.ObjectMapper;\n\n  import java.io.IOException;\n  import java.math.BigInteger;\n  import java.nio.charset.StandardCharsets;\n  import java.security.MessageDigest;\n  import java.security.NoSuchAlgorithmException;\n  import java.util.ArrayList;\n  import java.util.LinkedHashMap;\n  import java.util.List;\n  import java.util.Map;\n  import java.util.UUID;\n\n  public class POSTBatchArgs {\n\n      public static void main(String[] args) throws NoSuchAlgorithmException, IOException {\n          String accessKey = \"발급받은 API KEY\";\n          String secretKey = \"발급받은 SECRET KEY\";\n          String apiUrl = \"https://api.bithumb.com\";\n\n          // Set API parameters - 다건 주문 목록 구성 (최대 20건)\n          List<Map<String, Object>> batchOrders = new ArrayList<>();\n\n          Map<String, Object> order1 = new LinkedHashMap<>();\n          order1.put(\"market\", \"KRW-BTC\");\n          order1.put(\"side\", \"bid\");\n          order1.put(\"order_type\", \"limit\");\n          order1.put(\"price\", \"84000000\");\n          order1.put(\"volume\", \"0.001\");\n          order1.put(\"client_order_id\", \"my-batch-order-001\");  // 사용자 지정 주문 ID (선택)\n          batchOrders.add(order1);\n\n          Map<String, Object> order2 = new LinkedHashMap<>();\n          order2.put(\"market\", \"KRW-BTC\");\n          order2.put(\"side\", \"bid\");\n          order2.put(\"order_type\", \"limit\");\n          order2.put(\"price\", \"83000000\");\n          order2.put(\"volume\", \"0.002\");\n          order2.put(\"client_order_id\", \"my-batch-order-002\");  // 사용자 지정 주문 ID (선택)\n          batchOrders.add(order2);\n\n          Map<String, Object> requestBody = new LinkedHashMap<>();\n          requestBody.put(\"batch_orders\", batchOrders);\n\n          // Generate access token\n          // batch_orders는 배열 인덱스 포맷으로 query string 생성\n          List<String> queryParts = new ArrayList<>();\n          for (int i = 0; i < batchOrders.size(); i++) {\n              for (Map.Entry<String, Object> entry : batchOrders.get(i).entrySet()) {\n                  queryParts.add(\"batch_orders[\" + i + \"][\" + entry.getKey() + \"]=\" + entry.getValue());\n              }\n          }\n          String query = String.join(\"&\", queryParts);\n          MessageDigest md = MessageDigest.getInstance(\"SHA-512\");\n          md.update(query.getBytes(StandardCharsets.UTF_8));\n          String queryHash = String.format(\"%0128x\", new BigInteger(1, md.digest()));\n          Algorithm algorithm = Algorithm.HMAC256(secretKey);\n          String jwtToken = JWT.create()\n                  .withClaim(\"access_key\", accessKey)\n                  .withClaim(\"nonce\", UUID.randomUUID().toString())\n                  .withClaim(\"timestamp\", System.currentTimeMillis())\n                  .withClaim(\"query_hash\", queryHash)\n                  .withClaim(\"query_hash_alg\", \"SHA512\")\n                  .sign(algorithm);\n          String authenticationToken = \"Bearer \" + jwtToken;\n\n          // Call API\n          final HttpPost httpRequest = new HttpPost(apiUrl + \"/v2/orders/batch\");\n          httpRequest.addHeader(\"Authorization\", authenticationToken);\n          httpRequest.addHeader(\"Content-type\", \"application/json\");\n          httpRequest.setEntity(new StringEntity(new ObjectMapper().writeValueAsString(requestBody), StandardCharsets.UTF_8));\n\n          try (CloseableHttpClient client = HttpClients.createDefault();\n               CloseableHttpResponse response = client.execute(httpRequest)) {\n              // handle to response\n              int httpStatus = response.getStatusLine().getStatusCode();\n              String responseBody = EntityUtils.toString(response.getEntity(), StandardCharsets.UTF_8);\n              System.out.println(httpStatus);\n              System.out.println(responseBody);\n          } catch (Exception e) {\n              throw new RuntimeException(e);\n          }\n      }\n  }",
              "language": "java",
              "name": ""
            }
          ],
          "samples-languages": ["javascript", "python", "java"]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EB%8B%A4%EA%B1%B4-%EC%A3%BC%EB%AC%B8-%EC%9A%94%EC%B2%AD"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/다건-주문-요청",
        "tags": ["주문"]
      }
    },
    "/v1/orders/cancel": {
      "post": {
        "summary": "다건 주문 취소 접수",
        "description": "여러 개의 주문을 일괄 취소 요청합니다. 요청당 최대 30건까지 처리할 수 있습니다.",
        "operationId": "post-orders-cancel",
        "parameters": [
          {
[...]
