{
  "openapi": "3.0.1",
  "info": {
    "title": "Bithumb REST Public API",
    "description": "빗썸 공식 API 문서 v2.1.5 기준 Public REST API 스펙입니다.",
    "version": "2.1.5",
    "contact": {
      "name": "Bithumb API Docs",
      "url": "https://apidocs.bithumb.com/reference"
    }
  },
  "servers": [
    {
      "url": "https://api.bithumb.com"
    }
  ],
  "paths": {
    "/v1/market/all": {
      "get": {
        "summary": "마켓 코드 조회",
        "description": "빗썸에서 거래 가능한 마켓과 가상자산 정보를 제공합니다.",
        "operationId": "get-markets",
        "parameters": [
          {
            "name": "isDetails",
            "in": "query",
            "description": "유의종목 필드와 같은 상세 정보 노출 여부(선택 파라미터)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "market": {
                        "type": "string",
                        "description": "빗썸에서 제공중인 시장 정보"
                      },
                      "korean_name": {
                        "type": "string",
                        "description": "거래 대상 디지털 자산 한글명"
                      },
                      "english_name": {
                        "type": "string",
                        "description": "거래 대상 디지털 자산 영문명"
                      },
                      "market_warning": {
                        "type": "string",
                        "description": "유의 종목 여부",
                        "enum": [
                          "NONE",
                          "CAUTION"
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": "[\n    {\n        \"market\": \"KRW-BTC\",\n        \"korean_name\": \"비트코인\",\n        \"english_name\": \"Bitcoin\"\n    },\n    ...\n]"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error\": {\n        \"name\": 400,\n        \"message\": \"Type mismatch error. Check the parameters type!\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "integer",
                          "example": 400,
                          "default": 0
                        },
                        "message": {
                          "type": "string",
                          "example": "Type mismatch error. Check the parameters type!"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const options = {method: 'GET', headers: {accept: 'application/json'}};\n\nfetch('https://api.bithumb.com/v1/market/all?isDetails=false', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.bithumb.com/v1/market/all?isDetails=false\"\n\nheaders = {\"accept\": \"application/json\"}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
            },
            {
              "language": "java",
              "code": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.bithumb.com/v1/market/all?isDetails=false\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
            }
          ],
          "samples-languages": [
            "javascript",
            "python",
            "java"
          ]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EB%A7%88%EC%BC%93%EC%BD%94%EB%93%9C-%EC%A1%B0%ED%9A%8C"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/마켓코드-조회",
        "tags": [
          "시세 종목 조회"
        ]
      }
    },
    "/v1/candles/minutes/{unit}": {
      "get": {
        "summary": "분(Minute) 캔들",
        "description": "",
        "operationId": "get-minute-candles",
        "parameters": [
          {
            "name": "unit",
            "in": "path",
            "description": "분 단위. 가능한 값 : 1, 3, 5, 10, 15, 30, 60, 240",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "required": true
          },
          {
            "name": "market",
            "in": "query",
            "description": "마켓 코드 (ex. KRW-BTC)",
            "required": true,
            "schema": {
              "type": "string",
              "default": "KRW-BTC"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "마지막 캔들 시각 (exclusive). 비워서 요청시 가장 최근 캔들",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "캔들 개수(최대 200개까지 요청 가능)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"market\": \"KRW-BTC\",\n    \"candle_date_time_utc\": \"2018-04-18T10:16:00\",\n    \"candle_date_time_kst\": \"2018-04-18T19:16:00\",\n    \"opening_price\": 8615000,\n    \"high_price\": 8618000,\n    \"low_price\": 8611000,\n    \"trade_price\": 8616000,\n    \"timestamp\": 1524046594584,\n    \"candle_acc_trade_price\": 60018891.90054,\n    \"candle_acc_trade_volume\": 6.96780929,\n    \"unit\": 1\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "market": {
                        "type": "string",
                        "example": "KRW-BTC"
                      },
                      "candle_date_time_utc": {
                        "type": "string",
                        "example": "2018-04-18T10:16:00"
                      },
                      "candle_date_time_kst": {
                        "type": "string",
                        "example": "2018-04-18T19:16:00"
                      },
                      "opening_price": {
                        "type": "integer",
                        "example": 8615000,
                        "default": 0
                      },
                      "high_price": {
                        "type": "integer",
                        "example": 8618000,
                        "default": 0
                      },
                      "low_price": {
                        "type": "integer",
                        "example": 8611000,
                        "default": 0
                      },
                      "trade_price": {
                        "type": "integer",
                        "example": 8616000,
                        "default": 0
                      },
                      "timestamp": {
                        "type": "integer",
                        "example": 1524046594584,
                        "default": 0
                      },
                      "candle_acc_trade_price": {
                        "type": "number",
                        "example": 60018891.90054,
                        "default": 0
                      },
                      "candle_acc_trade_volume": {
                        "type": "number",
                        "example": 6.96780929,
                        "default": 0
                      },
                      "unit": {
                        "type": "integer",
                        "example": 1,
                        "default": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const options = {method: 'GET', headers: {accept: 'application/json'}};\n\nfetch('https://api.bithumb.com/v1/candles/minutes/1?market=KRW-BTC&count=1', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.bithumb.com/v1/candles/minutes/1?market=KRW-BTC&count=1\"\n\nheaders = {\"accept\": \"application/json\"}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
            },
            {
              "language": "java",
              "code": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.bithumb.com/v1/candles/minutes/1?market=KRW-BTC&count=1\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
            }
          ],
          "samples-languages": [
            "javascript",
            "python",
            "java"
          ]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EB%B6%84minute-%EC%BA%94%EB%93%A4-1"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/분minute-캔들-1",
        "tags": [
          "시세 캔들 조회"
        ]
      }
    },
    "/v1/candles/days": {
      "get": {
        "summary": "일(Day) 캔들",
        "description": "",
        "operationId": "get-day-candles",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "description": "마켓 코드 (ex. KRW-BTC)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "마지막 캔들 시각 (exclusive). 비워서 요청시 가장 최근 캔들",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "캔들 개수(최대 200개까지 요청 가능)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "convertingPriceUnit",
            "in": "query",
            "description": "종가 환산 화폐 단위 (생략 가능, KRW로 명시할 시 원화 환산 가격을 반환.)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"market\": \"KRW-BTC\",\n    \"candle_date_time_utc\": \"2018-04-18T00:00:00\",\n    \"candle_date_time_kst\": \"2018-04-18T09:00:00\",\n    \"opening_price\": 8450000,\n    \"high_price\": 8679000,\n    \"low_price\": 8445000,\n    \"trade_price\": 8626000,\n    \"timestamp\": 1524046650532,\n    \"candle_acc_trade_price\": 107184005903.68721,\n    \"candle_acc_trade_volume\": 12505.93101659,\n    \"prev_closing_price\": 8450000,\n    \"change_price\": 176000,\n    \"change_rate\": 0.0208284024\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "market": {
                        "type": "string",
                        "example": "KRW-BTC"
                      },
                      "candle_date_time_utc": {
                        "type": "string",
                        "example": "2018-04-18T00:00:00"
                      },
                      "candle_date_time_kst": {
                        "type": "string",
                        "example": "2018-04-18T09:00:00"
                      },
                      "opening_price": {
                        "type": "integer",
                        "example": 8450000,
                        "default": 0
                      },
                      "high_price": {
                        "type": "integer",
                        "example": 8679000,
                        "default": 0
                      },
                      "low_price": {
                        "type": "integer",
                        "example": 8445000,
                        "default": 0
                      },
                      "trade_price": {
                        "type": "integer",
                        "example": 8626000,
                        "default": 0
                      },
                      "timestamp": {
                        "type": "integer",
                        "example": 1524046650532,
                        "default": 0
                      },
                      "candle_acc_trade_price": {
                        "type": "number",
                        "example": 107184005903.687,
                        "default": 0
                      },
                      "candle_acc_trade_volume": {
                        "type": "number",
                        "example": 12505.93101659,
                        "default": 0
                      },
                      "prev_closing_price": {
                        "type": "integer",
                        "example": 8450000,
                        "default": 0
                      },
                      "change_price": {
                        "type": "integer",
                        "example": 176000,
                        "default": 0
                      },
                      "change_rate": {
                        "type": "number",
                        "example": 0.0208284024,
                        "default": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const options = {method: 'GET', headers: {accept: 'application/json'}};\n\nfetch('https://api.bithumb.com/v1/candles/days?count=1', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.bithumb.com/v1/candles/days?count=1\"\n\nheaders = {\"accept\": \"application/json\"}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
            },
            {
              "language": "java",
              "code": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.bithumb.com/v1/candles/days?count=1\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
            }
          ],
          "samples-languages": [
            "javascript",
            "python",
            "java"
          ]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EC%9D%BCday-%EC%BA%94%EB%93%A4"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/일day-캔들",
        "tags": [
          "시세 캔들 조회"
        ]
      }
    },
    "/v1/candles/weeks": {
      "get": {
        "summary": "주(Week) 캔들",
        "description": "",
        "operationId": "get-week-candles",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "description": "마켓 코드 (ex. KRW-BTC)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "마지막 캔들 시각 (exclusive). 비워서 요청시 가장 최근 캔들",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "캔들 개수(최대 200개까지 요청 가능)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"market\": \"KRW-BTC\",\n    \"candle_date_time_utc\": \"2018-04-16T00:00:00\",\n    \"candle_date_time_kst\": \"2018-04-16T09:00:00\",\n    \"opening_price\": 8665000,\n    \"high_price\": 8840000,\n    \"low_price\": 8360000,\n    \"trade_price\": 8611000,\n    \"timestamp\": 1524046708995,\n    \"candle_acc_trade_price\": 466989414916.1301,\n    \"candle_acc_trade_volume\": 54410.56660813,\n    \"first_day_of_period\": \"2018-04-16\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "market": {
                        "type": "string",
                        "example": "KRW-BTC"
                      },
                      "candle_date_time_utc": {
                        "type": "string",
                        "example": "2018-04-16T00:00:00"
                      },
                      "candle_date_time_kst": {
                        "type": "string",
                        "example": "2018-04-16T09:00:00"
                      },
                      "opening_price": {
                        "type": "integer",
                        "example": 8665000,
                        "default": 0
                      },
                      "high_price": {
                        "type": "integer",
                        "example": 8840000,
                        "default": 0
                      },
                      "low_price": {
                        "type": "integer",
                        "example": 8360000,
                        "default": 0
                      },
                      "trade_price": {
                        "type": "integer",
                        "example": 8611000,
                        "default": 0
                      },
                      "timestamp": {
                        "type": "integer",
                        "example": 1524046708995,
                        "default": 0
                      },
                      "candle_acc_trade_price": {
                        "type": "number",
                        "example": 466989414916.13,
                        "default": 0
                      },
                      "candle_acc_trade_volume": {
                        "type": "number",
                        "example": 54410.56660813,
                        "default": 0
                      },
                      "first_day_of_period": {
                        "type": "string",
                        "example": "2018-04-16"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const options = {method: 'GET', headers: {accept: 'application/json'}};\n\nfetch('https://api.bithumb.com/v1/candles/weeks?count=1', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.bithumb.com/v1/candles/weeks?count=1\"\n\nheaders = {\"accept\": \"application/json\"}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
            },
            {
              "language": "java",
              "code": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.bithumb.com/v1/candles/weeks?count=1\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
            }
          ],
          "samples-languages": [
            "javascript",
            "python",
            "java"
          ]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EC%A3%BCweek-%EC%BA%94%EB%93%A4"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/주week-캔들",
        "tags": [
          "시세 캔들 조회"
        ]
      }
    },
    "/v1/candles/months": {
      "get": {
        "summary": "월(Month) 캔들",
        "description": "",
        "operationId": "get-month-candles",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "description": "마켓 코드 (ex. KRW-BTC)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "마지막 캔들 시각 (exclusive). 비워서 요청시 가장 최근 캔들",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "캔들 개수(최대 200개까지 요청 가능)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"market\": \"KRW-BTC\",\n    \"candle_date_time_utc\": \"2018-04-16T00:00:00\",\n    \"candle_date_time_kst\": \"2018-04-16T09:00:00\",\n    \"opening_price\": 8665000,\n    \"high_price\": 8840000,\n    \"low_price\": 8360000,\n    \"trade_price\": 8611000,\n    \"timestamp\": 1524046708995,\n    \"candle_acc_trade_price\": 466989414916.1301,\n    \"candle_acc_trade_volume\": 54410.56660813,\n    \"first_day_of_period\": \"2018-04-16\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "market": {
                        "type": "string",
                        "example": "KRW-BTC"
                      },
                      "candle_date_time_utc": {
                        "type": "string",
                        "example": "2018-04-16T00:00:00"
                      },
                      "candle_date_time_kst": {
                        "type": "string",
                        "example": "2018-04-16T09:00:00"
                      },
                      "opening_price": {
                        "type": "integer",
                        "example": 8665000,
                        "default": 0
                      },
                      "high_price": {
                        "type": "integer",
                        "example": 8840000,
                        "default": 0
                      },
                      "low_price": {
                        "type": "integer",
                        "example": 8360000,
                        "default": 0
                      },
                      "trade_price": {
                        "type": "integer",
                        "example": 8611000,
                        "default": 0
                      },
                      "timestamp": {
                        "type": "integer",
                        "example": 1524046708995,
                        "default": 0
                      },
                      "candle_acc_trade_price": {
                        "type": "number",
                        "example": 466989414916.13,
                        "default": 0
                      },
                      "candle_acc_trade_volume": {
                        "type": "number",
                        "example": 54410.56660813,
                        "default": 0
                      },
                      "first_day_of_period": {
                        "type": "string",
                        "example": "2018-04-16"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const options = {method: 'GET', headers: {accept: 'application/json'}};\n\nfetch('https://api.bithumb.com/v1/candles/months?count=1', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.bithumb.com/v1/candles/months?count=1\"\n\nheaders = {\"accept\": \"application/json\"}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
            },
            {
              "language": "java",
              "code": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.bithumb.com/v1/candles/months?count=1\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
            }
          ],
          "samples-languages": [
            "javascript",
            "python",
            "java"
          ]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EC%9B%94month-%EC%BA%94%EB%93%A4"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/월month-캔들",
        "tags": [
          "시세 캔들 조회"
        ]
      }
    },
    "/v1/trades/ticks": {
      "get": {
        "summary": "최근 체결 내역",
        "description": "",
        "operationId": "list-trades-ticks",
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "description": "마켓 코드 (ex. KRW-BTC)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "마지막 체결 시각. 형식 : [HHmmss 또는 HH:mm:ss]. 비워서 요청시 가장 최근 데이터(00:00:00 ~ 23:59:59)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "체결 개수(1~500)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "페이지네이션 커서 (sequentialId)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "daysAgo",
            "in": "query",
            "description": "최근 체결 날짜 기준 7일 이내의 이전 데이터 조회 가능. 비워서 요청 시 가장 최근 체결 날짜 반환. (범위: 1 ~ 7)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"market\": \"KRW-BTC\",\n    \"trade_date_utc\": \"2018-04-18\",\n    \"trade_time_utc\": \"10:19:58\",\n    \"timestamp\": 1524046798000,\n    \"trade_price\": 8616000,\n    \"trade_volume\": 0.03060688,\n    \"prev_closing_price\": 8450000,\n    \"chane_price\": 166000,\n    \"ask_bid\": \"ASK\"\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "market": {
                        "type": "string",
                        "example": "KRW-BTC"
                      },
                      "trade_date_utc": {
                        "type": "string",
                        "example": "2018-04-18"
                      },
                      "trade_time_utc": {
                        "type": "string",
                        "example": "10:19:58"
                      },
                      "timestamp": {
                        "type": "integer",
                        "example": 1524046798000,
                        "default": 0
                      },
                      "trade_price": {
                        "type": "integer",
                        "example": 8616000,
                        "default": 0
                      },
                      "trade_volume": {
                        "type": "number",
                        "example": 0.03060688,
                        "default": 0
                      },
                      "prev_closing_price": {
                        "type": "integer",
                        "example": 8450000,
                        "default": 0
                      },
                      "chane_price": {
                        "type": "integer",
                        "example": 166000,
                        "default": 0
                      },
                      "ask_bid": {
                        "type": "string",
                        "example": "ASK"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const options = {method: 'GET', headers: {accept: 'application/json'}};\n\nfetch('https://api.bithumb.com/v1/trades/ticks?count=1', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.bithumb.com/v1/trades/ticks?count=1\"\n\nheaders = {\"accept\": \"application/json\"}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
            },
            {
              "language": "java",
              "code": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.bithumb.com/v1/trades/ticks?count=1\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
            }
          ],
          "samples-languages": [
            "javascript",
            "python",
            "java"
          ]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EC%B5%9C%EA%B7%BC-%EC%B2%B4%EA%B2%B0-%EB%82%B4%EC%97%AD"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/최근-체결-내역",
        "tags": [
          "시세 체결 조회"
        ]
      }
    },
    "/v1/ticker": {
      "get": {
        "summary": "현재가 정보",
        "description": "요청 시점 종목의 스냅샷이 제공됩니다.",
        "operationId": "get-ticker",
        "parameters": [
          {
            "name": "markets",
            "in": "query",
            "description": "반점으로 구분되는 마켓 코드 (ex. KRW-BTC, BTC-ETH)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"market\": \"KRW-BTC\",\n    \"trade_date\": \"20180418\",\n    \"trade_time\": \"102340\",\n    \"trade_date_kst\": \"20180418\",\n    \"trade_time_kst\": \"192340\",\n    \"trade_timestamp\": 1524047020000,\n    \"opening_price\": 8450000,\n    \"high_price\": 8679000,\n    \"low_price\": 8445000,\n    \"trade_price\": 8621000,\n    \"prev_closing_price\": 8450000,\n    \"change\": \"RISE\",\n    \"change_price\": 171000,\n    \"change_rate\": 0.0202366864,\n    \"signed_change_price\": 171000,\n    \"signed_change_rate\": 0.0202366864,\n    \"trade_volume\": 0.02467802,\n    \"acc_trade_price\": 108024804862.58253,\n    \"acc_trade_price_24h\": 232702901371.09308,\n    \"acc_trade_volume\": 12603.53386105,\n    \"acc_trade_volume_24h\": 27181.31137002,\n    \"highest_52_week_price\": 28885000,\n    \"highest_52_week_date\": \"2018-01-06\",\n    \"lowest_52_week_price\": 4175000,\n    \"lowest_52_week_date\": \"2017-09-25\",\n    \"timestamp\": 1524047026072\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "market": {
                        "type": "string",
                        "example": "KRW-BTC"
                      },
                      "trade_date": {
                        "type": "string",
                        "example": "20180418"
                      },
                      "trade_time": {
                        "type": "string",
                        "example": "102340"
                      },
                      "trade_date_kst": {
                        "type": "string",
                        "example": "20180418"
                      },
                      "trade_time_kst": {
                        "type": "string",
                        "example": "192340"
                      },
                      "trade_timestamp": {
                        "type": "integer",
                        "example": 1524047020000,
                        "default": 0
                      },
                      "opening_price": {
                        "type": "integer",
                        "example": 8450000,
                        "default": 0
                      },
                      "high_price": {
                        "type": "integer",
                        "example": 8679000,
                        "default": 0
                      },
                      "low_price": {
                        "type": "integer",
                        "example": 8445000,
                        "default": 0
                      },
                      "trade_price": {
                        "type": "integer",
                        "example": 8621000,
                        "default": 0
                      },
                      "prev_closing_price": {
                        "type": "integer",
                        "example": 8450000,
                        "default": 0
                      },
                      "change": {
                        "type": "string",
                        "example": "RISE"
                      },
                      "change_price": {
                        "type": "integer",
                        "example": 171000,
                        "default": 0
                      },
                      "change_rate": {
                        "type": "number",
                        "example": 0.0202366864,
                        "default": 0
                      },
                      "signed_change_price": {
                        "type": "integer",
                        "example": 171000,
                        "default": 0
                      },
                      "signed_change_rate": {
                        "type": "number",
                        "example": 0.0202366864,
                        "default": 0
                      },
                      "trade_volume": {
                        "type": "number",
                        "example": 0.02467802,
                        "default": 0
                      },
                      "acc_trade_price": {
                        "type": "number",
                        "example": 108024804862.583,
                        "default": 0
                      },
                      "acc_trade_price_24h": {
                        "type": "number",
                        "example": 232702901371.093,
                        "default": 0
                      },
                      "acc_trade_volume": {
                        "type": "number",
                        "example": 12603.53386105,
                        "default": 0
                      },
                      "acc_trade_volume_24h": {
                        "type": "number",
                        "example": 27181.31137002,
                        "default": 0
                      },
                      "highest_52_week_price": {
                        "type": "integer",
                        "example": 28885000,
                        "default": 0
                      },
                      "highest_52_week_date": {
                        "type": "string",
                        "example": "2018-01-06"
                      },
                      "lowest_52_week_price": {
                        "type": "integer",
                        "example": 4175000,
                        "default": 0
                      },
                      "lowest_52_week_date": {
                        "type": "string",
                        "example": "2017-09-25"
                      },
                      "timestamp": {
                        "type": "integer",
                        "example": 1524047026072,
                        "default": 0
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const options = {method: 'GET', headers: {accept: 'application/json'}};\n\nfetch('https://api.bithumb.com/v1/ticker', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.bithumb.com/v1/ticker\"\n\nheaders = {\"accept\": \"application/json\"}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
            },
            {
              "language": "java",
              "code": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.bithumb.com/v1/ticker\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
            }
          ],
          "samples-languages": [
            "javascript",
            "python",
            "java"
          ]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%ED%98%84%EC%9E%AC%EA%B0%80-%EC%A0%95%EB%B3%B4"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/현재가-정보",
        "tags": [
          "시세 현재가(Ticker) 조회"
        ]
      }
    },
    "/v1/orderbook": {
      "get": {
        "summary": "호가 정보 조회",
        "description": "",
        "operationId": "get-orderbook",
        "parameters": [
          {
            "name": "markets",
            "in": "query",
            "description": "마켓 코드 목록 (ex. KRW-BTC,BTC-ETH)",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"market\": \"KRW-BTC\",\n    \"timestamp\": 1529910247984,\n    \"total_ask_size\": 8.83621228,\n    \"total_bid_size\": 2.43976741,\n    \"orderbook_units\": [\n      {\n        \"ask_price\": 6956000,\n        \"bid_price\": 6954000,\n        \"ask_size\": 0.24078656,\n        \"bid_size\": 0.00718341\n      },\n      {\n        \"ask_price\": 6958000,\n        \"bid_price\": 6953000,\n        \"ask_size\": 1.12919,\n        \"bid_size\": 0.11500074\n      },\n      {\n        \"ask_price\": 6960000,\n        \"bid_price\": 6952000,\n        \"ask_size\": 0.08614137,\n        \"bid_size\": 0.19019028\n      },\n      {\n        \"ask_price\": 6962000,\n        \"bid_price\": 6950000,\n        \"ask_size\": 0.0837203,\n        \"bid_size\": 0.28201649\n      },\n      {\n        \"ask_price\": 6964000,\n        \"bid_price\": 6949000,\n        \"ask_size\": 0.501885,\n        \"bid_size\": 0.01822085\n      },\n      {\n        \"ask_price\": 6965000,\n        \"bid_price\": 6946000,\n        \"ask_size\": 1.12517189,\n        \"bid_size\": 0.0002\n      },\n      {\n        \"ask_price\": 6968000,\n        \"bid_price\": 6945000,\n        \"ask_size\": 2.89900477,\n        \"bid_size\": 0.03597913\n      },\n      {\n        \"ask_price\": 6970000,\n        \"bid_price\": 6944000,\n        \"ask_size\": 0.2044231,\n        \"bid_size\": 0.39291445\n      },\n      {\n        \"ask_price\": 6972000,\n        \"bid_price\": 6939000,\n        \"ask_size\": 2.55280097,\n        \"bid_size\": 0.12963816\n      },\n      {\n        \"ask_price\": 6974000,\n        \"bid_price\": 6937000,\n        \"ask_size\": 0.01308832,\n        \"bid_size\": 1.2684239\n      }\n    ]\n  }\n]"
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "market": {
                        "type": "string",
                        "example": "KRW-BTC"
                      },
                      "timestamp": {
                        "type": "integer",
                        "example": 1529910247984,
                        "default": 0
                      },
                      "total_ask_size": {
                        "type": "number",
                        "example": 8.83621228,
                        "default": 0
                      },
                      "total_bid_size": {
                        "type": "number",
                        "example": 2.43976741,
                        "default": 0
                      },
                      "orderbook_units": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ask_price": {
                              "type": "integer",
                              "example": 6956000,
                              "default": 0
                            },
                            "bid_price": {
                              "type": "integer",
                              "example": 6954000,
                              "default": 0
                            },
                            "ask_size": {
                              "type": "number",
                              "example": 0.24078656,
                              "default": 0
                            },
                            "bid_size": {
                              "type": "number",
                              "example": 0.00718341,
                              "default": 0
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const options = {method: 'GET', headers: {accept: 'application/json'}};\n\nfetch('https://api.bithumb.com/v1/orderbook', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.bithumb.com/v1/orderbook\"\n\nheaders = {\"accept\": \"application/json\"}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
            },
            {
              "language": "java",
              "code": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.bithumb.com/v1/orderbook\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
            }
          ],
          "samples-languages": [
            "javascript",
            "python",
            "java"
          ]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%ED%98%B8%EA%B0%80-%EC%A0%95%EB%B3%B4-%EC%A1%B0%ED%9A%8C"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/호가-정보-조회",
        "tags": [
          "시세 호가 정보(Orderbook) 조회"
        ]
      }
    },
    "/v1/market/virtual_asset_warning": {
      "get": {
        "summary": "경보제",
        "description": "경보중인 마켓-코인 목록 조회",
        "operationId": "get-market-virtual-asset-warning",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "market": "KRW-BTC",
                        "warning_type": "PRICE_SUDDEN_FLUCTUATION",
                        "warning_step": "CAUTION",
                        "end_date": "2026-01-15 18:00:00"
                      },
                      {
                        "market": "KRW-ETH",
                        "warning_type": "TRADING_VOLUME_SUDDEN_FLUCTUATION",
                        "warning_step": "WARNING",
                        "end_date": "2026-01-16 12:30:00"
                      },
                      {
                        "market": "BTC-XRP",
                        "warning_type": "PRICE_DIFFERENCE_HIGH",
                        "warning_step": "DANGER",
                        "end_date": "2026-01-17 09:00:00"
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "market": {
                        "type": "string",
                        "example": "KRW-BTC"
                      },
                      "warning_type": {
                        "type": "string",
                        "example": "PRICE_SUDDEN_FLUCTUATION"
                      },
                      "warning_step": {
                        "type": "string"
                      },
                      "end_date": {
                        "type": "string",
                        "example": "2023-12-18 18:23:16"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error\": {\n        \"name\": 400,\n        \"message\": \"Type mismatch error. Check the parameters type!\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "integer",
                          "example": 400,
                          "default": 0
                        },
                        "message": {
                          "type": "string",
                          "example": "Type mismatch error. Check the parameters type!"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const options = {\n  method: 'GET',\n  headers: {\n    accept: 'application/json',\n  },\n};\n\nfetch('https://api.bithumb.com/v1/market/virtual_asset_warning', options)\n  .then((response) => response.json())\n  .then((response) => {\n    console.log(response);\n    /*\n      response 예시:\n      [\n        {\n          market: \"KRW-BTC\",\n          warning_type: \"PRICE_SUDDEN_FLUCTUATION\",\n          warning_step: \"CAUTION\",\n          end_date: \"2026-01-15 18:00:00\"\n        },\n        {\n          market: \"KRW-ETH\",\n          warning_type: \"TRADING_VOLUME_SUDDEN_FLUCTUATION\",\n          warning_step: \"WARNING\",\n          end_date: \"2026-01-16 12:30:00\"\n        },\n        {\n          market: \"BTC-XRP\",\n          warning_type: \"PRICE_DIFFERENCE_HIGH\",\n          warning_step: \"DANGER\",\n          end_date: \"2026-01-17 09:00:00\"\n        }\n      ]\n    */\n  })\n  .catch((error) => {\n    console.error(error);\n  });"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.bithumb.com/v1/market/virtual_asset_warning\"\n\nheaders = {\n    \"accept\": \"application/json\"\n}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
            },
            {
              "language": "java",
              "code": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n        .url(\"https://api.bithumb.com/v1/market/virtual_asset_warning\")\n        .get()\n        .addHeader(\"accept\", \"application/json\")\n        .build();\n\nResponse response = client.newCall(request).execute();\n\nSystem.out.println(response.body().string());"
            }
          ],
          "samples-languages": [
            "javascript",
            "python",
            "java"
          ]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EA%B2%BD%EB%B3%B4%EC%A0%9C"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/경보제",
        "tags": [
          "서비스 정보"
        ]
      }
    },
    "/v1/notices": {
      "get": {
        "summary": "공지사항 조회",
        "description": "빗썸 공지사항을 조회합니다.",
        "operationId": "list-notices",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "categories": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "공지사항 카테고리"
                      },
                      "title": {
                        "type": "string",
                        "description": "공지사항 제목"
                      },
                      "pc_url": {
                        "type": "string",
                        "description": "공지사항 URL"
                      },
                      "publish_at": {
                        "type": "string",
                        "description": "공지사항 게시시간 (yyyy-MM-dd hh:mm:ss)"
                      },
                      "modified_at": {
                        "type": "string",
                        "description": "공지사항 수정시간 (yyyy-MM-dd hh:mm:ss)"
                      }
                    }
                  }
                },
                "examples": {
                  "Result": {
                    "value": "[\n  {\n    \"categories\": [\n      \"이벤트\",\n      \"안내\"\n    ],\n    \"title\": \"마이쉘(SHELL) 원화 마켓 추가 기념 에어드랍 이벤트\",\n    \"pc_url\": \"https://feed.bithumb.com/notice/1647203\",\n    \"publish_at\": \"2025-02-28 15:00:00\",\n    \"modified_at\": \"2025-02-28 14:29:56\"\n  },\n  {\n    \"categories\": [\n      \"마켓추가\"\n    ],\n    \"title\": \"마이쉘(SHELL) 원화 마켓 추가\",\n    \"pc_url\": \"https://feed.bithumb.com/notice/1647199\",\n    \"publish_at\": \"2025-02-28 11:12:14\",\n    \"modified_at\": \"2025-02-28 15:10:59\"\n  },\n  {\n    \"categories\": [\n      \"점검\"\n    ],\n    \"title\": \"정부24 점검으로 인한 주민등록증 진위확인 서비스 일시 중단 안내\",\n    \"pc_url\": \"https://feed.bithumb.com/notice/1647039\",\n    \"publish_at\": \"2025-02-20 16:00:00\",\n    \"modified_at\": \"2025-02-20 15:06:07\"\n  },\n]"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"error\": {\n        \"name\": 400,\n        \"message\": \"Type mismatch error. Check the parameters type!\"\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "integer",
                          "example": 400,
                          "default": 0
                        },
                        "message": {
                          "type": "string",
                          "example": "Type mismatch error. Check the parameters type!"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "javascript",
              "code": "const options = {method: 'GET', headers: {accept: 'application/json'}};\n\nfetch('https://api.bithumb.com/v1/notices', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
            },
            {
              "language": "python",
              "code": "import requests\n\nurl = \"https://api.bithumb.com/v1/notices\"\n\nheaders = {\"accept\": \"application/json\"}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
            },
            {
              "language": "java",
              "code": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.bithumb.com/v1/notices\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
            }
          ],
          "samples-languages": [
            "javascript",
            "python",
            "java"
          ]
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://apidocs.bithumb.com/reference/%EA%B3%B5%EC%A7%80%EC%82%AC%ED%95%AD-%EC%A1%B0%ED%9A%8C"
        },
        "x-doc-url": "https://apidocs.bithumb.com/reference/공지사항-조회",
        "tags": [
          "서비스 정보"
        ]
      }
    },
    "/v2/fee/inout/{currency}": {
      "get": {
        "description": "",
        "operationId": "get-fee-info",
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "Result",
                    "value": [
                      {
                        "name": "비트코인",
                        "currency": "BTC",
                        "networks": [
                          {
                            "net_name": "Bitcoin",
                            "deposit_fee_quantity": "0.00006",
                            "deposit_minimum_quantity": "2",
                            "withdraw_fee_quantity": "0.0002",
                            "withdraw_minimum_quantity": "0.002"
                          }
                        ]
                      },
                      {
                        "name": "이더리움",
                        "currency": "ETH",
                        "networks": [
                          {
                            "net_name": "Ethereum",
                            "deposit_fee_quantity": "0.001",
                            "deposit_minimum_quantity": "5",
                            "withdraw_fee_quantity": "0.005",
                            "withdraw_minimum_quantity": "0.001"
                          },
                          {
                            "net_name": "Arbitrum One",
                            "deposit_fee_quantity": "0",
                            "deposit_minimum_quantity": "0",
                            "withdraw_fee_quantity": "0.00000022",
                            "withdraw_minimum_quantity": "1.00001"
                          },
                          {
                            "net_name": "Optimism",
                            "deposit_fee_quantity": "10",
                            "deposit_minimum_quantity": "5",
                            "withdraw_fee_quantity": "0.005",
                            "withdraw_minimum_quantity": "0.01"
                          }
                        ]
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "currency": {
                        "type": "string"
                      },
                      "networks": {
                        "type": "array",
                        "items": {
                          "properties": {
                            "net_name": {
                              "type": "string"
                            },
                            "deposit_fee_quantity": {
                              "type": "string"
                            },
                            "deposit_minimum_quantity": {
                              "type": "string"
                            },
                            "withdraw_fee_quantity": {
                              "type": "string"
                            },
                            "withdraw_minimum_quantity": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "summary": "Result",
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Type mismatch error. Check the parameters type!"
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "currency",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "x-readme": {
          "code-samples": [
            {
              "code": "const options = {method: 'GET', headers: {accept: 'application/json'}};\n\nfetch('https://api.bithumb.com/v2/fee/inout/ALL', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));",
              "language": "javascript",
              "name": ""
            },
            {
              "code": "import requests\n\nurl = \"https://api.bithumb.com/v2/fee/inout/ALL\"\n\nheaders = {\"accept\": \"application/json\"}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)",
              "language": "python",
              "name": ""
            },
            {
              "code": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.bithumb.com/v2/fee/inout/ALL\")\n  .get()\n  .addHeader(\"accept\", \"application/json\")\n  .build();\n\nResponse response = client.newCall(request).execute();",
              "language": "java",
              "name": ""
            },
            {
              "code": "curl --request GET \\\n     --url https://api.bithumb.com/v2/fee/inout/ALL \\\n     --header 'accept: application/json'",
              "language": "shell",
              "name": ""
            }
          ],
          "samples-languages": [
            "javascript",
            "python",
            "java",
            "shell"
          ]
        },
        "summary": "입출금 수수료 조회",
        "tags": [
          "서비스 정보"
        ]
      }
    }
  },
  "tags": [
    {
      "name": "시세 종목 조회",
      "description": "빗썸 공식 문서의 시세 종목 조회 카테고리"
    },
    {
      "name": "시세 캔들 조회",
      "description": "빗썸 공식 문서의 시세 캔들 조회 카테고리"
    },
    {
      "name": "시세 체결 조회",
      "description": "빗썸 공식 문서의 시세 체결 조회 카테고리"
    },
    {
      "name": "시세 현재가(Ticker) 조회",
      "description": "빗썸 공식 문서의 시세 현재가(Ticker) 조회 카테고리"
    },
    {
      "name": "시세 호가 정보(Orderbook) 조회",
      "description": "빗썸 공식 문서의 시세 호가 정보(Orderbook) 조회 카테고리"
    },
    {
      "name": "서비스 정보",
      "description": "빗썸 공식 문서의 서비스 정보 카테고리"
    }
  ]
}
