{
  "openapi": "3.0.3",
  "info": {
    "title": "GOPAX Private REST API",
    "version": "1.0.0",
    "description": "고팍스 공식 문서 기준 스펙입니다.",
    "contact": {
      "name": "GOPAX API Docs",
      "url": "https://gopax.github.io/API/index.html"
    }
  },
  "servers": [
    {
      "url": "https://api.gopax.co.kr"
    }
  ],
  "tags": [
    {
      "name": "개인 API"
    }
  ],
  "paths": {
    "/balances": {
      "get": {
        "tags": [
          "개인 API"
        ],
        "summary": "잔고 조회",
        "operationId": "getBalances",
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://gopax.github.io/API/index.html#ac7d6b6a6f"
        },
        "x-doc-url": "https://gopax.github.io/API/index.html#ac7d6b6a6f",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "asset": {
                        "type": "string",
                        "example": "KRW",
                        "description": "자산 이름"
                      },
                      "avail": {
                        "type": "number",
                        "example": 1759466.76,
                        "description": "주문 가능 보유 수량"
                      },
                      "hold": {
                        "type": "integer",
                        "example": 16500,
                        "description": "오더북에 올라가 있는 미체결 수량"
                      },
                      "pendingWithdrawal": {
                        "type": "integer",
                        "example": 0,
                        "description": "출금 처리 중인 수량"
                      },
                      "lastUpdatedAt": {
                        "type": "string",
                        "example": "1600684352032",
                        "description": "해당 잔고 최근 갱신 시간"
                      }
                    },
                    "required": [
                      "asset",
                      "avail",
                      "hold",
                      "pendingWithdrawal",
                      "lastUpdatedAt"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "timestamp",
            "in": "header",
            "required": false,
            "description": "밀리세컨드 단위 타임스탬프. nonce 대신 사용할 수 있습니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "header",
            "required": false,
            "description": "timestamp 대신 사용할 수 있는 증가하는 난스 값.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA512 서명값(base64 인코딩).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receive-window",
            "in": "header",
            "required": false,
            "description": "리시브 윈도 (200~60000 밀리세컨드).",
            "schema": {
              "type": "integer",
              "minimum": 200,
              "maximum": 60000
            }
          }
        ]
      }
    },
    "/balances/{AssetName}": {
      "get": {
        "tags": [
          "개인 API"
        ],
        "summary": "특정 자산 잔고 조회",
        "operationId": "getBalancesAssetName",
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://gopax.github.io/API/index.html#520aba9e71"
        },
        "x-doc-url": "https://gopax.github.io/API/index.html#520aba9e71",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "asset": {
                      "type": "string",
                      "example": "ETH",
                      "description": "자산 이름"
                    },
                    "avail": {
                      "type": "number",
                      "example": 100979.57523727,
                      "description": "주문 가능 보유 수량"
                    },
                    "hold": {
                      "type": "number",
                      "example": 50.02,
                      "description": "오더북에 올라가 있는 미체결 수량"
                    },
                    "pendingWithdrawal": {
                      "type": "integer",
                      "example": 0,
                      "description": "출금 처리 중인 수량"
                    },
                    "lastUpdatedAt": {
                      "type": "string",
                      "example": "1600686162591",
                      "description": "해당 잔고 최근 갱신 시간"
                    }
                  },
                  "required": [
                    "asset",
                    "avail",
                    "hold",
                    "pendingWithdrawal",
                    "lastUpdatedAt"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "AssetName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "자산 이름 (예: BTC)"
          },
          {
            "name": "timestamp",
            "in": "header",
            "required": false,
            "description": "밀리세컨드 단위 타임스탬프. nonce 대신 사용할 수 있습니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "header",
            "required": false,
            "description": "timestamp 대신 사용할 수 있는 증가하는 난스 값.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA512 서명값(base64 인코딩).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receive-window",
            "in": "header",
            "required": false,
            "description": "리시브 윈도 (200~60000 밀리세컨드).",
            "schema": {
              "type": "integer",
              "minimum": 200,
              "maximum": 60000
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "개인 API"
        ],
        "summary": "주문 조회",
        "description": "GET /orders에 한하여 쿼리스트링이 시그니쳐 생성 과정에 포함되어야 합니다. 문서 상단의 예시 코드를 참고하세요.",
        "operationId": "getOrders",
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://gopax.github.io/API/index.html#4464ef00d1"
        },
        "x-doc-url": "https://gopax.github.io/API/index.html#4464ef00d1",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "453324",
                        "description": "주문 ID"
                      },
                      "clientOrderId": {
                        "type": "string",
                        "example": "zeckrw23456",
                        "description": "클라이언트 오더 ID (존재할 경우에 한하여 표시됨)"
                      },
                      "status": {
                        "type": "string",
                        "example": "updated",
                        "description": "placed(미체결), cancelled(취소됨), completed(전체 체결됨), updated(일부 체결됨), reserved(예약됨)"
                      },
                      "forcedCompletionReason": {
                        "nullable": true,
                        "example": null,
                        "description": "주문 중도 취소된 경우에 한하여 그 사유로 protection/timeInForce 중 하나"
                      },
                      "tradingPairName": {
                        "type": "string",
                        "example": "ZEC-KRW",
                        "description": "오더북"
                      },
                      "side": {
                        "type": "string",
                        "example": "buy",
                        "description": "buy(구매), sell(판매)"
                      },
                      "type": {
                        "type": "string",
                        "example": "limit",
                        "description": "limit(지정가), market(시장가)"
                      },
                      "price": {
                        "type": "integer",
                        "example": 1000000,
                        "description": "주문 가격"
                      },
                      "stopPrice": {
                        "nullable": true,
                        "example": null,
                        "description": "감시 가격 (예약가 주문에 한하여 표시됨)"
                      },
                      "amount": {
                        "type": "integer",
                        "example": 4,
                        "description": "최초 주문 수량"
                      },
                      "remaining": {
                        "type": "integer",
                        "example": 1,
                        "description": "오더북에 남아 있는 미체결 주문 수량"
                      },
                      "protection": {
                        "type": "string",
                        "example": "yes",
                        "description": "최초 체결가 기준 ±10% 초과되는 주문 취소 여부로 yes/no 중 하나"
                      },
                      "timeInForce": {
                        "type": "string",
                        "example": "gtc",
                        "description": "지정가 주문 유형으로 gtc/po/ioc/fok 중 하나"
                      },
                      "createdAt": {
                        "type": "string",
                        "example": "2020-09-25T04:06:20.000Z",
                        "description": "주문 넣은 시간"
                      },
                      "updatedAt": {
                        "type": "string",
                        "example": "2020-09-25T04:06:29.000Z",
                        "description": "주문 업데이트 시간"
                      },
                      "balanceChange": {
                        "type": "object",
                        "properties": {
                          "baseGross": {
                            "type": "integer",
                            "example": 3,
                            "description": "base 자산 잔고 gross 변화 (이 경우 ZEC)"
                          },
                          "baseFee": {
                            "type": "object",
                            "properties": {
                              "taking": {
                                "type": "integer",
                                "example": 0,
                                "description": "taker 포지션으로 발생한 base 자산 수수료"
                              },
                              "making": {
                                "type": "number",
                                "example": -0.0012,
                                "description": "maker 포지션으로 발생한 base 자산 수수료"
                              }
                            },
                            "required": [
                              "taking",
                              "making"
                            ]
                          },
                          "baseNet": {
                            "type": "number",
                            "example": 2.9988,
                            "description": "base 자산 잔고 net 변화 (이 경우 ZEC)"
                          },
                          "quoteGross": {
                            "type": "integer",
                            "example": -3000000,
                            "description": "quote 자산 잔고 gross 변화 (이 경우 KRW)"
                          },
                          "quoteFee": {
                            "type": "object",
                            "properties": {
                              "taking": {
                                "type": "integer",
                                "example": 0,
                                "description": "taker 포지션으로 발생한 quote 자산 수수료"
                              },
                              "making": {
                                "type": "integer",
                                "example": 0,
                                "description": "maker 포지션으로 발생한 quote 자산 수수료"
                              }
                            },
                            "required": [
                              "taking",
                              "making"
                            ]
                          },
                          "quoteNet": {
                            "type": "integer",
                            "example": -3000000,
                            "description": "quote 자산 잔고 net 변화 (이 경우 KRW)"
                          }
                        },
                        "required": [
                          "baseGross",
                          "baseFee",
                          "baseNet",
                          "quoteGross",
                          "quoteFee",
                          "quoteNet"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "clientOrderId",
                      "status",
                      "forcedCompletionReason",
                      "tradingPairName",
                      "side",
                      "type",
                      "price",
                      "stopPrice",
                      "amount",
                      "remaining",
                      "protection",
                      "timeInForce",
                      "createdAt",
                      "updatedAt",
                      "balanceChange"
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "includePast",
            "in": "query",
            "required": false,
            "description": "true일 경우 완전 체결 혹은 취소된 주문들도 조회 결과에 포함됨(완전 체결 혹은 취소 시점부터 10분 동안만 조회가 가능)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pagination",
            "in": "query",
            "required": false,
            "description": "리턴되는 주문 수가 3천 개를 초과할 경우에는true로 설정하여 페이지 별로 1천 개씩 접근 필요",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradingPairName",
            "in": "query",
            "required": false,
            "description": "해당 거래쌍 주문 조회 (BTC-KRW, ETH-KRW ...)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "주문 상태별로 조회(placed, cancelled, completed, updated, reserved)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "description": "시작 시점 타임 스탬프 (밀리세컨드 단위)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filterByUpdatedAt",
            "in": "query",
            "required": false,
            "description": "since와 함께 사용true: 시작 시점이 updatedAt 기준false: 시작 시점이 createdAt 기준",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "최대 주문 개수",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tail",
            "in": "query",
            "required": false,
            "description": "limit과 함께 사용 true: 최근 주문부터 limit 만큼 데이터 조회false: 오래된 주문부터 limit 만큼 데이터 조회",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "header",
            "required": false,
            "description": "밀리세컨드 단위 타임스탬프. nonce 대신 사용할 수 있습니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "header",
            "required": false,
            "description": "timestamp 대신 사용할 수 있는 증가하는 난스 값.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA512 서명값(base64 인코딩).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receive-window",
            "in": "header",
            "required": false,
            "description": "리시브 윈도 (200~60000 밀리세컨드).",
            "schema": {
              "type": "integer",
              "minimum": 200,
              "maximum": 60000
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "개인 API"
        ],
        "summary": "주문 등록",
        "description": "지정가 주문 시 amount는 무조건 base 자산을 단위로 합니다. 시장가 주문 시 amount는 매도의 경우에는 base 자산을 단위로, 매수의 경우는 quote 자산을 단위로 합니다. 예를 들어, ETH-KRW 오더북에서 지정가는 매도 매수 관계없이 단위가 ETH인 반면, 시장가 매도는 단위가 ETH이고 시장가 매수는 단위가 KRW이 됩니다.\n\n모든 거래 수수료는 거래쌍의 quote 자산으로 지불됩니다. (2022년 11월 1일 정기점검 이후 적용) 매도 주문의 경우 매도 완료 후 얻게된 quote 자산에 대하여 수수료율을 적용합니다. 예를 들어, 매도 거래에서 10,000원을 받은 사용자가 거래 수수료로 20원(수수료율 0.2% 가정)을 지불한 후 사용자는 9980원을 받게 됩니다. 매수 주문의 경우 매수자는 주문을 한 quote amount 외에 수수료를 지불할 수 있는 충분한 잔고가 필요합니다. (quote balance > order quote amount + fee (amount * fee rate)) 예를 들어, 사용자가 10,000원 매수 주문 시, 최소 10,020원 필요합니다. (수수료율 0.2% 가정)\n\nREST API를 통한 최소 주문 금액은 quote 자산이 KRW일 경우 1,000 KRW이고, quote 자산이 USDC일 경우 1 USDC입니다.\n\n클라이언트 오더 ID는 사용자가 주문에 대해 부여할 수 있는 커스텀 ID입니다. 주문을 등록/조회/취소할 때 클라이언트 오더 ID를 사용할 수 있습니다.\n\n예약주문은 감시가격을 지정하여 주문을 예약해 놓았다가, 현재가가 감시가격에 도달했을 시에 주문을 등록하는 기능으로 스탑오더라고도 불립니다. 참고로 예약지정가 주문만 지원하며 예약시장가 주문은 시장 안정성을 위해 허용되지 않습니다.\n\n프로텍션은 주문 시 해당 주문의 최초 체결가를 기준, 10%를 초과한 가격에 매도/매수 주문이 체결되는 것을 막는 주문 보호 기능입니다. 가격이 10%를 초과하게 되면 해당 주문은 중도 취소되고 잔량은 고객에게 되돌려집니다. 지정가 및 시장가 주문 모두 적용 가능합니다.\n\n지정가 주문 유형에서 po(post only)는 즉시 체결되는 상대 주문이 있으면 주문을 취소하고 그렇지 않으면 주문을 전량 등록하는 조건(전량 오더북에 올림 or 전량 취소)입니다. ioc(immediate-or-cancel)는 즉시 체결할 수 있는 만큼 최대한 체결한 후에 잔량은 오더북에 올리지 않고 중도 취소하는 조건(즉시 체결 then 잔량 취소)입니다. fok(fill-or-kill)는 수량 전부를 즉시 체결할 수 있는 경우에만 주문을 넣고 그렇지 않은 경우에는 전량 취소하는 조건(전량 즉시 체결 or 전량 취소)입니다. 참고로, 시장가 주문일 경우 지정가 주문 유형은 무시되며, 프로텍션을 yes로 설정한 경우에는 ioc와 fok를 사용할 수 없습니다.",
        "operationId": "postOrders",
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://gopax.github.io/API/index.html#3b4234f03e"
        },
        "x-doc-url": "https://gopax.github.io/API/index.html#3b4234f03e",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "453327",
                      "description": "주문 ID"
                    },
                    "clientOrderId": {
                      "type": "string",
                      "example": "test4321",
                      "description": "클라이언트 오더 ID (존재할 경우에 한하여 표시됨)"
                    },
                    "status": {
                      "type": "string",
                      "example": "reserved",
                      "description": "placed(미체결), cancelled(취소됨), completed(전체 체결됨), updated(일부 체결됨), reserved(예약됨)"
                    },
                    "forcedCompletionReason": {
                      "nullable": true,
                      "example": null,
                      "description": "주문 중도 취소된 경우에 한하여 그 사유로 protection/timeInForce 중 하나"
                    },
                    "tradingPairName": {
                      "type": "string",
                      "example": "BCH-KRW",
                      "description": "오더북"
                    },
                    "side": {
                      "type": "string",
                      "example": "sell",
                      "description": "buy(구매), sell(판매)"
                    },
                    "type": {
                      "type": "string",
                      "example": "limit",
                      "description": "limit(지정가), market(시장가)"
                    },
                    "price": {
                      "type": "integer",
                      "example": 11000000,
                      "description": "주문 가격"
                    },
                    "stopPrice": {
                      "type": "integer",
                      "example": 12000000,
                      "description": "감시 가격 (예약가 주문에 한하여 표시됨)"
                    },
                    "amount": {
                      "type": "number",
                      "example": 0.5,
                      "description": "최초 주문 수량"
                    },
                    "remaining": {
                      "type": "number",
                      "example": 0.5,
                      "description": "오더북에 남아 있는 미체결 주문 수량"
                    },
                    "protection": {
                      "type": "string",
                      "example": "no",
                      "description": "최초 체결가 기준 ±10% 초과되는 주문 취소 여부로 yes/no 중 하나"
                    },
                    "timeInForce": {
                      "type": "string",
                      "example": "gtc",
                      "description": "지정가 주문 유형으로 gtc/po/ioc/fok 중 하나"
                    },
                    "createdAt": {
                      "type": "string",
                      "example": "2020-09-25T04:51:31.000Z",
                      "description": "주문 넣은 시간"
                    },
                    "balanceChange": {
                      "type": "object",
                      "properties": {
                        "baseGross": {
                          "type": "integer",
                          "example": 0,
                          "description": "base 자산 잔고 gross 변화 (이 경우 BCH)"
                        },
                        "baseFee": {
                          "type": "object",
                          "properties": {
                            "taking": {
                              "type": "integer",
                              "example": 0,
                              "description": "taker 포지션으로 발생한 base 자산 수수료"
                            },
                            "making": {
                              "type": "integer",
                              "example": 0,
                              "description": "maker 포지션으로 발생한 base 자산 수수료"
                            }
                          },
                          "required": [
                            "taking",
                            "making"
                          ]
                        },
                        "baseNet": {
                          "type": "integer",
                          "example": 0,
                          "description": "base 자산 잔고 net 변화 (이 경우 BCH)"
                        },
                        "quoteGross": {
                          "type": "integer",
                          "example": 0,
                          "description": "quote 자산 잔고 gross 변화 (이 경우 KRW)"
                        },
                        "quoteFee": {
                          "type": "object",
                          "properties": {
                            "taking": {
                              "type": "integer",
                              "example": 0,
                              "description": "taker 포지션으로 발생한 quote 자산 수수료"
                            },
                            "making": {
                              "type": "integer",
                              "example": 0,
                              "description": "maker 포지션으로 발생한 quote 자산 수수료"
                            }
                          },
                          "required": [
                            "taking",
                            "making"
                          ]
                        },
                        "quoteNet": {
                          "type": "integer",
                          "example": 0,
                          "description": "quote 자산 잔고 net 변화 (이 경우 KRW)"
                        }
                      },
                      "required": [
                        "baseGross",
                        "baseFee",
                        "baseNet",
                        "quoteGross",
                        "quoteFee",
                        "quoteNet"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "clientOrderId",
                    "status",
                    "forcedCompletionReason",
                    "tradingPairName",
                    "side",
                    "type",
                    "price",
                    "stopPrice",
                    "amount",
                    "remaining",
                    "protection",
                    "timeInForce",
                    "createdAt",
                    "balanceChange"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "timestamp",
            "in": "header",
            "required": false,
            "description": "밀리세컨드 단위 타임스탬프. nonce 대신 사용할 수 있습니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "header",
            "required": false,
            "description": "timestamp 대신 사용할 수 있는 증가하는 난스 값.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA512 서명값(base64 인코딩).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receive-window",
            "in": "header",
            "required": false,
            "description": "리시브 윈도 (200~60000 밀리세컨드).",
            "schema": {
              "type": "integer",
              "minimum": 200,
              "maximum": 60000
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientOrderId": {
                    "type": "string",
                    "example": "test4321",
                    "description": "클라이언트 오더 ID로 최대 20자이고 [a-zA-Z0-9_-] 문자 사용 가능"
                  },
                  "tradingPairName": {
                    "type": "string",
                    "example": "BCH-KRW",
                    "description": "오더북"
                  },
                  "side": {
                    "type": "string",
                    "example": "sell",
                    "description": "buy(구매), sell(판매)"
                  },
                  "type": {
                    "type": "string",
                    "example": "limit",
                    "description": "limit(지정가), market(시장가)"
                  },
                  "price": {
                    "type": "integer",
                    "example": 11000000,
                    "description": "주문 가격"
                  },
                  "stopPrice": {
                    "type": "integer",
                    "example": 12000000,
                    "description": "감시 가격"
                  },
                  "amount": {
                    "type": "number",
                    "example": 0.5,
                    "description": "주문 수량"
                  },
                  "protection": {
                    "type": "string",
                    "example": "no",
                    "description": "최초 체결가 기준 ±10% 초과되는 주문 취소 여부로 yes/no 중 택일"
                  },
                  "timeInForce": {
                    "type": "string",
                    "example": "gtc",
                    "description": "지정가 주문 유형으로 gtc/po/ioc/fok 중 택일"
                  }
                },
                "required": [
                  "tradingPairName",
                  "side",
                  "type",
                  "price",
                  "amount"
                ]
              }
            }
          }
        }
      }
    },
    "/orders/{OrderId}": {
      "get": {
        "tags": [
          "개인 API"
        ],
        "summary": "특정 주문 조회",
        "description": "완전 체결 혹은 취소된 주문은 완전 체결 혹은 취소 시점부터 10분 동안만 조회가 가능합니다.",
        "operationId": "getOrdersOrderId",
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://gopax.github.io/API/index.html#13f95abff7"
        },
        "x-doc-url": "https://gopax.github.io/API/index.html#13f95abff7",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "453324",
                      "description": "주문 ID"
                    },
                    "clientOrderId": {
                      "type": "string",
                      "example": "zeckrw23456",
                      "description": "클라이언트 오더 ID (존재할 경우에 한하여 표시됨)"
                    },
                    "status": {
                      "type": "string",
                      "example": "updated",
                      "description": "placed(미체결), cancelled(취소됨), completed(전체 체결됨), updated(일부 체결됨), reserved(예약됨)"
                    },
                    "forcedCompletionReason": {
                      "nullable": true,
                      "example": null,
                      "description": "주문 중도 취소된 경우에 한하여 그 사유로 protection/timeInForce 중 하나"
                    },
                    "tradingPairName": {
                      "type": "string",
                      "example": "ZEC-KRW",
                      "description": "오더북"
                    },
                    "side": {
                      "type": "string",
                      "example": "buy",
                      "description": "buy(구매), sell(판매)"
                    },
                    "type": {
                      "type": "string",
                      "example": "limit",
                      "description": "limit(지정가), market(시장가)"
                    },
                    "price": {
                      "type": "integer",
                      "example": 1000000,
                      "description": "주문 가격"
                    },
                    "stopPrice": {
                      "nullable": true,
                      "example": null,
                      "description": "감시 가격 (예약가 주문에 한하여 표시됨)"
                    },
                    "amount": {
                      "type": "integer",
                      "example": 4,
                      "description": "최초 주문 수량"
                    },
                    "remaining": {
                      "type": "integer",
                      "example": 1,
                      "description": "오더북에 남아 있는 미체결 주문 수량"
                    },
                    "protection": {
                      "type": "string",
                      "example": "yes",
                      "description": "최초 체결가 기준 ±10% 초과되는 주문 취소 여부로 yes/no 중 하나"
                    },
                    "timeInForce": {
                      "type": "string",
                      "example": "gtc",
                      "description": "지정가 주문 유형으로 gtc/po/ioc/fok 중 하나"
                    },
                    "createdAt": {
                      "type": "string",
                      "example": "2020-09-25T04:06:20.000Z",
                      "description": "주문 넣은 시간"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "2020-09-25T04:06:29.000Z",
                      "description": "주문 업데이트 시간"
                    },
                    "balanceChange": {
                      "type": "object",
                      "properties": {
                        "baseGross": {
                          "type": "integer",
                          "example": 3,
                          "description": "base 자산 잔고 gross 변화 (이 경우 ZEC)"
                        },
                        "baseFee": {
                          "type": "object",
                          "properties": {
                            "taking": {
                              "type": "integer",
                              "example": 0,
                              "description": "taker 포지션으로 발생한 base 자산 수수료"
                            },
                            "making": {
                              "type": "number",
                              "example": -0.0012,
                              "description": "maker 포지션으로 발생한 base 자산 수수료"
                            }
                          },
                          "required": [
                            "taking",
                            "making"
                          ]
                        },
                        "baseNet": {
                          "type": "number",
                          "example": 2.9988,
                          "description": "base 자산 잔고 net 변화 (이 경우 ZEC)"
                        },
                        "quoteGross": {
                          "type": "integer",
                          "example": -3000000,
                          "description": "quote 자산 잔고 gross 변화 (이 경우 KRW)"
                        },
                        "quoteFee": {
                          "type": "object",
                          "properties": {
                            "taking": {
                              "type": "integer",
                              "example": 0,
                              "description": "taker 포지션으로 발생한 quote 자산 수수료"
                            },
                            "making": {
                              "type": "integer",
                              "example": 0,
                              "description": "maker 포지션으로 발생한 quote 자산 수수료"
                            }
                          },
                          "required": [
                            "taking",
                            "making"
                          ]
                        },
                        "quoteNet": {
                          "type": "integer",
                          "example": -3000000,
                          "description": "quote 자산 잔고 net 변화 (이 경우 KRW)"
                        }
                      },
                      "required": [
                        "baseGross",
                        "baseFee",
                        "baseNet",
                        "quoteGross",
                        "quoteFee",
                        "quoteNet"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "clientOrderId",
                    "status",
                    "forcedCompletionReason",
                    "tradingPairName",
                    "side",
                    "type",
                    "price",
                    "stopPrice",
                    "amount",
                    "remaining",
                    "protection",
                    "timeInForce",
                    "createdAt",
                    "updatedAt",
                    "balanceChange"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "OrderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "주문 ID"
          },
          {
            "name": "timestamp",
            "in": "header",
            "required": false,
            "description": "밀리세컨드 단위 타임스탬프. nonce 대신 사용할 수 있습니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "header",
            "required": false,
            "description": "timestamp 대신 사용할 수 있는 증가하는 난스 값.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA512 서명값(base64 인코딩).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receive-window",
            "in": "header",
            "required": false,
            "description": "리시브 윈도 (200~60000 밀리세컨드).",
            "schema": {
              "type": "integer",
              "minimum": 200,
              "maximum": 60000
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "개인 API"
        ],
        "summary": "주문 취소",
        "description": "해당하는 오더가 존재하지 않으면 404 에러가 반환됩니다.",
        "operationId": "deleteOrdersOrderId",
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://gopax.github.io/API/index.html#9019a1d4df"
        },
        "x-doc-url": "https://gopax.github.io/API/index.html#9019a1d4df",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "OrderId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "주문 ID"
          },
          {
            "name": "timestamp",
            "in": "header",
            "required": false,
            "description": "밀리세컨드 단위 타임스탬프. nonce 대신 사용할 수 있습니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "header",
            "required": false,
            "description": "timestamp 대신 사용할 수 있는 증가하는 난스 값.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA512 서명값(base64 인코딩).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receive-window",
            "in": "header",
            "required": false,
            "description": "리시브 윈도 (200~60000 밀리세컨드).",
            "schema": {
              "type": "integer",
              "minimum": 200,
              "maximum": 60000
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/trades": {
      "get": {
        "tags": [
          "개인 API"
        ],
        "summary": "체결 기록 조회",
        "description": "해당 개인 API로는 본인 주문 관련 체결 내역만 조회됩니다. 본인 주문 가릴 것 없이 모든 체결 기록 조회를 위해서는 공개 API의 체결 기록 조회 기능을 사용하세요.",
        "operationId": "getTrades",
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://gopax.github.io/API/index.html#c3c0208b04"
        },
        "x-doc-url": "https://gopax.github.io/API/index.html#c3c0208b04",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "example": 73953,
                        "description": "체결 이벤트 ID"
                      },
                      "orderId": {
                        "type": "integer",
                        "example": 453324,
                        "description": "주문 ID"
                      },
                      "baseAmount": {
                        "type": "integer",
                        "example": 3,
                        "description": "체결된 base 자산 수량"
                      },
                      "quoteAmount": {
                        "type": "integer",
                        "example": 3000000,
                        "description": "체결된 quote 자산 수량"
                      },
                      "fee": {
                        "type": "number",
                        "example": 0.0012,
                        "description": "수수료"
                      },
                      "price": {
                        "type": "integer",
                        "example": 1000000,
                        "description": "체결 가격"
                      },
                      "timestamp": {
                        "type": "string",
                        "example": "2020-09-25T04:06:30.000Z",
                        "description": "체결 시간"
                      },
                      "side": {
                        "type": "string",
                        "example": "buy",
                        "description": "buy(구매), sell(판매)"
                      },
                      "feeAsset": {
                        "type": "string",
                        "example": "KRW",
                        "description": "수수료 자산"
                      },
                      "tradingPairName": {
                        "type": "string",
                        "example": "ZEC-KRW",
                        "description": "오더북"
                      },
                      "position": {
                        "type": "string",
                        "example": "maker",
                        "description": "maker(메이커), taker(테이커)"
                      }
                    },
                    "required": [
                      "id",
                      "orderId",
                      "baseAmount",
                      "quoteAmount",
                      "fee",
                      "price",
                      "timestamp",
                      "side",
                      "feeAsset",
                      "tradingPairName",
                      "position"
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "반환되는 항목의 개수 (최대 100)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pastmax",
            "in": "query",
            "required": false,
            "description": "이 ID보다 오래된 데이터를 조회",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latestmin",
            "in": "query",
            "required": false,
            "description": "이 ID보다 새로운 최신 데이터를 조회",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "이 타임스탬프 이후의 데이터를 조회 (초 단위)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "이 타임스탬프 이전의 데이터를 조회 (초 단위)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deepSearch",
            "in": "query",
            "required": false,
            "description": "true인 경우에 한하여 한 달 이상 지난 데이터까지 모두 포함하여 조회(다른 파라미터들보다 더 높은 우선순위를 가짐)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tradingPairName",
            "in": "query",
            "required": false,
            "description": "해당 거래쌍의 데이터 조회 (BTC-KRW, ETH-KRW...)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "header",
            "required": false,
            "description": "밀리세컨드 단위 타임스탬프. nonce 대신 사용할 수 있습니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "header",
            "required": false,
            "description": "timestamp 대신 사용할 수 있는 증가하는 난스 값.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA512 서명값(base64 인코딩).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receive-window",
            "in": "header",
            "required": false,
            "description": "리시브 윈도 (200~60000 밀리세컨드).",
            "schema": {
              "type": "integer",
              "minimum": 200,
              "maximum": 60000
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/deposit-withdrawal-status": {
      "get": {
        "tags": [
          "개인 API"
        ],
        "summary": "입출금 기록 조회",
        "operationId": "getDepositWithdrawalStatus",
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://gopax.github.io/API/index.html#0117466212"
        },
        "x-doc-url": "https://gopax.github.io/API/index.html#0117466212",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "\"id\": 640",
                    "description": "입출금 이벤트 ID",
                    "oneOf": [
                      {
                        "type": "string",
                        "example": "asset\": \"BTC",
                        "description": "자산 이름"
                      },
                      {
                        "type": "string",
                        "example": "type\": \"crypto_withdrawal",
                        "description": "fiat_withdrawal(원화출금), fiat_deposit(원화입금), crypto_withdrawal(크립토출금), crypto_deposit(크립토입금)"
                      },
                      {
                        "type": "string",
                        "example": "\"netAmount\": 0.0001",
                        "description": "입출금 자산의 수량"
                      },
                      {
                        "type": "string",
                        "example": "\"feeAmount\": 0.0005",
                        "description": "수수료 (없을 경우 null)"
                      },
                      {
                        "type": "string",
                        "example": "status\": \"completed",
                        "description": "reviewing(심사중), rejected(심사거절), processing(처리중), failed(처리실패), completed(처리완료)"
                      },
                      {
                        "type": "string",
                        "example": "\"reviewStartedAt\": 1595556218",
                        "description": "입출금 요청 시간"
                      },
                      {
                        "type": "string",
                        "example": "\"completedAt\": 1595556902",
                        "description": "입출금 처리 완료 시간 (처리완료 상태가 아닐 경우 null)"
                      },
                      {
                        "type": "string",
                        "example": "txId\": \"eaca5ad3...",
                        "description": "트랜잭션 ID"
                      },
                      {
                        "type": "string",
                        "example": "\"sourceAddress\": null",
                        "description": "보낸 사람 주소 (크립토입금일 경우 값 존재)"
                      },
                      {
                        "type": "string",
                        "example": "\"destinationAddress: \"3H8...\",  # 받을 사람 주소 (크립토출금일 경우 값 존재)"
                      },
                      {
                        "type": "string",
                        "example": "\"destinationMemoId\": null",
                        "description": "받을 사람 주소의 메모 ID"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "반환되는 항목의 개수 (최대 20)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latestmin",
            "in": "query",
            "required": false,
            "description": "이 ID보다 오래된 데이터를 조회",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "description": "이 타임스탬프 이후의 데이터를 조회 (ms 단위)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "이 타임스탬프 이전의 데이터를 조회 (ms 단위)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "completedOnly",
            "in": "query",
            "required": false,
            "description": "완료된 입출금 내역만 조회 (true/false 중 택일)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "asset",
            "in": "query",
            "required": false,
            "description": "해당 자산의 입출금 내역 조회 (BTC, ETH ...)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timestamp",
            "in": "header",
            "required": false,
            "description": "밀리세컨드 단위 타임스탬프. nonce 대신 사용할 수 있습니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "header",
            "required": false,
            "description": "timestamp 대신 사용할 수 있는 증가하는 난스 값.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA512 서명값(base64 인코딩).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receive-window",
            "in": "header",
            "required": false,
            "description": "리시브 윈도 (200~60000 밀리세컨드).",
            "schema": {
              "type": "integer",
              "minimum": 200,
              "maximum": 60000
            }
          }
        ],
        "security": [
          {
            "ApiKeyAuth": []
          }
        ]
      }
    },
    "/crypto-deposit-addresses": {
      "get": {
        "tags": [
          "개인 API"
        ],
        "summary": "가상자산 입금 주소 조회",
        "operationId": "getCryptoDepositAddresses",
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://gopax.github.io/API/index.html#25bd765b28"
        },
        "x-doc-url": "https://gopax.github.io/API/index.html#25bd765b28",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "asset": {
                        "type": "string",
                        "example": "BTC",
                        "description": "자산 이름"
                      },
                      "address": {
                        "type": "string",
                        "example": "1CwC2cMFu1jRQUBtw925cENbT1kctJBMdm",
                        "description": "입금 주소"
                      },
                      "memoId": {
                        "nullable": true,
                        "example": null,
                        "description": "메모 ID (메모 ID를 통한 입금인 경우만 존재)"
                      },
                      "createdAt": {
                        "type": "integer",
                        "example": 1594802312,
                        "description": "입금 주소 생성 시간"
                      }
                    },
                    "required": [
                      "asset",
                      "address",
                      "memoId",
                      "createdAt"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "timestamp",
            "in": "header",
            "required": false,
            "description": "밀리세컨드 단위 타임스탬프. nonce 대신 사용할 수 있습니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "header",
            "required": false,
            "description": "timestamp 대신 사용할 수 있는 증가하는 난스 값.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA512 서명값(base64 인코딩).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receive-window",
            "in": "header",
            "required": false,
            "description": "리시브 윈도 (200~60000 밀리세컨드).",
            "schema": {
              "type": "integer",
              "minimum": 200,
              "maximum": 60000
            }
          }
        ]
      }
    },
    "/crypto-withdrawal-addresses": {
      "get": {
        "tags": [
          "개인 API"
        ],
        "summary": "가상자산 출금 주소 조회",
        "operationId": "getCryptoWithdrawalAddresses",
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://gopax.github.io/API/index.html#8186332e13"
        },
        "x-doc-url": "https://gopax.github.io/API/index.html#8186332e13",
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "asset": {
                        "type": "string",
                        "example": "BTC",
                        "description": "자산 이름"
                      },
                      "address": {
                        "type": "string",
                        "example": "3QEdPvg2XuK8Q1tGU1RpyzxkkEsiLkvQF3",
                        "description": "출금 주소"
                      },
                      "memoId": {
                        "nullable": true,
                        "example": null,
                        "description": "메모 ID (메모 ID를 통한 출금인 경우만 존재)"
                      },
                      "nickname": {
                        "type": "string",
                        "example": "My External BTC Address",
                        "description": "출금 주소 별칭"
                      },
                      "createdAt": {
                        "type": "integer",
                        "example": 1588417815,
                        "description": "출금 주소 등록 시간"
                      }
                    },
                    "required": [
                      "asset",
                      "address",
                      "memoId",
                      "nickname",
                      "createdAt"
                    ]
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "timestamp",
            "in": "header",
            "required": false,
            "description": "밀리세컨드 단위 타임스탬프. nonce 대신 사용할 수 있습니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "header",
            "required": false,
            "description": "timestamp 대신 사용할 수 있는 증가하는 난스 값.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA512 서명값(base64 인코딩).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receive-window",
            "in": "header",
            "required": false,
            "description": "리시브 윈도 (200~60000 밀리세컨드).",
            "schema": {
              "type": "integer",
              "minimum": 200,
              "maximum": 60000
            }
          }
        ]
      }
    },
    "/withdrawals": {
      "post": {
        "tags": [
          "개인 API"
        ],
        "summary": "가상자산 출금",
        "description": "사전에 등록된 IP에서만 출금이 가능합니다.",
        "operationId": "postWithdrawals",
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://gopax.github.io/API/index.html#f17b15a36c"
        },
        "x-doc-url": "https://gopax.github.io/API/index.html#f17b15a36c",
        "responses": {
          "200": {
            "description": "성공"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "timestamp",
            "in": "header",
            "required": false,
            "description": "밀리세컨드 단위 타임스탬프. nonce 대신 사용할 수 있습니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nonce",
            "in": "header",
            "required": false,
            "description": "timestamp 대신 사용할 수 있는 증가하는 난스 값.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signature",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA512 서명값(base64 인코딩).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "receive-window",
            "in": "header",
            "required": false,
            "description": "리시브 윈도 (200~60000 밀리세컨드).",
            "schema": {
              "type": "integer",
              "minimum": 200,
              "maximum": 60000
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "asset": {
                    "type": "string",
                    "example": "BCH",
                    "description": "자산 이름"
                  },
                  "nickname": {
                    "type": "string",
                    "example": "WithdrawalAddress",
                    "description": "출금 주소 별칭"
                  },
                  "amount": {
                    "type": "string",
                    "example": "10000000000",
                    "description": "출금 수량"
                  }
                },
                "required": [
                  "asset",
                  "nickname",
                  "amount"
                ]
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key",
        "description": "고팍스 API Key. 인증 요청에는 api-key와 함께 timestamp 또는 nonce, signature 헤더를 사용합니다."
      }
    }
  }
}
