{
  "openapi": "3.0.1",
  "info": {
    "title": "Upbit Quotation API",
    "description": "업비트 시세 조회 API. 공식 개발자 센터 v1.6.1 기준 스키마입니다.",
    "version": "1.6.1",
    "contact": {
      "name": "Upbit Developer Center",
      "url": "https://docs.upbit.com"
    }
  },
  "servers": [
    {
      "url": "https://api.upbit.com/v1",
      "description": "Upbit API 서버"
    }
  ],
  "paths": {
    "/market/all": {
      "get": {
        "operationId": "list-trading-pairs",
        "summary": "페어 목록 조회",
        "tags": ["페어(Trading Pairs)"],
        "parameters": [
          {
            "name": "is_details",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "상세 정보를 포함한 조회 여부.\ntrue로 지정하여 유의종목 지정 여부, 주의종목 지정 여부와 같은 상세 정보를 응답에 포함할 수 있습니다. 기본값은 false입니다.\n",
              "example": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of trading pairs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": ["market", "korean_name", "english_name"],
                    "properties": {
                      "market": {
                        "type": "string",
                        "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                        "example": "KRW-BTC"
                      },
                      "korean_name": {
                        "type": "string",
                        "description": "해당 디지털 자산의 한글명",
                        "example": "비트코인"
                      },
                      "english_name": {
                        "type": "string",
                        "description": "해당 디지털 자산의 영문명",
                        "example": "Bitcoin"
                      },
                      "market_event": {
                        "description": "종목 경보 정보",
                        "type": "object",
                        "properties": {
                          "warning": {
                            "type": "boolean",
                            "description": "유의 종목 여부. \n업비트 시장 경보에 따라 해당 페어가 유의 종목으로 지정되었는지 여부를 나타냅니다.\n※ 자세한 사항은 관련 <a href=\"https://support.upbit.com/hc/ko/articles/900005994766\">관련 가이드</a>를 참고 바랍니다.\n",
                            "example": false
                          },
                          "caution": {
                            "description": "주의 종목 여부.\n업비트 시장 경보에 따라 해당 페어가 주의 종목으로 지정되었는지 여부를 경보 유형별로 나타냅니다.\n세분화된 경보 정보에 대해서는 지원하지 않습니다.\n※ 자세한 사항은 관련 <a href=\"https://support.upbit.com/hc/ko/articles/900005994766\">관련 가이드</a>를 참고 바랍니다.",
                            "type": "object",
                            "properties": {
                              "PRICE_FLUCTUATIONS": {
                                "type": "boolean",
                                "description": "가격 급등락 경보",
                                "example": false
                              },
                              "TRADING_VOLUME_SOARING": {
                                "type": "boolean",
                                "description": "거래량 급증 경보",
                                "example": false
                              },
                              "DEPOSIT_AMOUNT_SOARING": {
                                "type": "boolean",
                                "description": "입금량 급증 경보",
                                "example": false
                              },
                              "GLOBAL_PRICE_DIFFERENCES": {
                                "type": "boolean",
                                "description": "국내외 가격 차이 경보",
                                "example": false
                              },
                              "CONCENTRATION_OF_SMALL_ACCOUNTS": {
                                "type": "boolean",
                                "description": "소수 계정 집중 거래 경보",
                                "example": false
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Successful Example": {
                    "value": [
                      {
                        "market": "KRW-BTC",
                        "korean_name": "비트코인",
                        "english_name": "Bitcoin",
                        "market_event": {
                          "warning": false,
                          "caution": {
                            "PRICE_FLUCTUATIONS": false,
                            "TRADING_VOLUME_SOARING": false,
                            "DEPOSIT_AMOUNT_SOARING": false,
                            "GLOBAL_PRICE_DIFFERENCES": false,
                            "CONCENTRATION_OF_SMALL_ACCOUNTS": false
                          }
                        }
                      },
                      {
                        "market": "KRW-ETH",
                        "korean_name": "이더리움",
                        "english_name": "Ethereum",
                        "market_event": {
                          "warning": true,
                          "caution": {
                            "PRICE_FLUCTUATIONS": false,
                            "TRADING_VOLUME_SOARING": false,
                            "DEPOSIT_AMOUNT_SOARING": false,
                            "GLOBAL_PRICE_DIFFERENCES": false,
                            "CONCENTRATION_OF_SMALL_ACCOUNTS": false
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "parameter type error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Type mismatch error. Check the parameters type!"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.upbit.com/kr/reference/list-trading-pairs"
        },
        "x-doc-url": "https://docs.upbit.com/kr/reference/list-trading-pairs",
        "description": "업비트에서 지원하는 모든 페어 목록을 조회합니다."
      }
    },
    "/candles/seconds": {
      "get": {
        "operationId": "get-second-candles",
        "summary": "초(Second) 캔들 조회",
        "tags": ["캔들(OHLCV)"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "조회하고자 하는 페어(거래쌍)",
              "example": "KRW-BTC"
            },
            "allowReserved": true
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "조회 기간의 종료 시각. \n지정한 시각 이전 캔들을 조회합니다. 미지정시 요청 시각을 기준으로 최근 캔들이 조회됩니다.\n\nISO 8601 형식의 datetime으로 다음과 같이 요청 할 수 있습니다. 실제 요청 시에는 공백 및 특수문자가 정상적으로 처리되도록 URL 인코딩을 수행해야 합니다.\n\n[예시] 2025-06-24T04:56:53Z \n2025-06-24 04:56:53 \n2025-06-24T13:56:53+09:00 \n\n초 캔들은 요청 시점으로부터 최대 3개월 이전 데이터까지의 조회만 지원하므로, 3개월 이전 시각을 지정하는 경우 응답이 빈 배열로 반환됩니다.\n",
              "example": "2024-01-01T00:00:00"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "조회하고자 하는 캔들의 개수.\n최대 200개의 캔들 조회를 지원하며, 기본값은 1입니다.\n",
              "example": 200,
              "default": 1
            },
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of candles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "market",
                      "candle_date_time_utc",
                      "candle_date_time_kst",
                      "opening_price",
                      "high_price",
                      "low_price",
                      "trade_price",
                      "timestamp",
                      "candle_acc_trade_price",
                      "candle_acc_trade_volume"
                    ],
                    "properties": {
                      "market": {
                        "type": "string",
                        "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                        "example": "KRW-BTC"
                      },
                      "candle_date_time_utc": {
                        "type": "string",
                        "description": "캔들 구간의 시작 시각 (UTC 기준)\n\n[형식] yyyy-MM-dd'T'HH:mm:ss\n",
                        "example": "2025-06-23T14:29:59"
                      },
                      "candle_date_time_kst": {
                        "type": "string",
                        "description": "캔들 구간의 시작 시각 (KST 기준)\n\n[형식] yyyy-MM-dd'T'HH:mm:ss\n",
                        "example": "2025-06-23T23:29:59"
                      },
                      "opening_price": {
                        "type": "number",
                        "format": "double",
                        "description": "시가.\n해당 캔들의 첫 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "high_price": {
                        "type": "number",
                        "format": "double",
                        "description": "고가.\n해당 캔들의 최고 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "low_price": {
                        "type": "number",
                        "format": "double",
                        "description": "저가.\n해당 캔들의 최저 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "종가.\n해당 페어의 현재 가격입니다.\n",
                        "example": 142340000
                      },
                      "timestamp": {
                        "type": "integer",
                        "format": "int64",
                        "description": "해당 캔들의 마지막 틱이 저장된 시각의 타임스탬프 (ms)\n",
                        "example": 1750688999123
                      },
                      "candle_acc_trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "해당 캔들 동안의 누적 거래 금액\n",
                        "example": 185042
                      },
                      "candle_acc_trade_volume": {
                        "type": "number",
                        "format": "double",
                        "description": "해당 캔들 동안의 누적 거래된 디지털 자산의 수량\n",
                        "example": 0.0013
                      }
                    }
                  }
                },
                "examples": {
                  "Successful Example": {
                    "value": [
                      {
                        "market": "KRW-BTC",
                        "candle_date_time_utc": "2025-06-30T23:59:59",
                        "candle_date_time_kst": "2025-07-01T08:59:59",
                        "opening_price": 145794000,
                        "high_price": 145794000,
                        "low_price": 145759000,
                        "trade_price": 145759000,
                        "timestamp": 1751327999833,
                        "candle_acc_trade_price": 185042,
                        "candle_acc_trade_volume": 0.0013
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "parameter range error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Invalid parameter. Check the given value!"
                      }
                    }
                  },
                  "parameter type error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Type mismatch error. Check the parameters type!"
                      }
                    }
                  },
                  "missing required parameter error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Missing request parameter error. Check the required parameters!"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not found error": {
                    "value": {
                      "error": {
                        "name": 404,
                        "message": "Code not found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.upbit.com/kr/reference/list-candles-seconds"
        },
        "x-doc-url": "https://docs.upbit.com/kr/reference/list-candles-seconds",
        "description": "업비트 Open API로 초 단위 캔들 데이터를 조회할 수 있습니다."
      }
    },
    "/candles/minutes/{unit}": {
      "get": {
        "operationId": "get-minute-candles",
        "summary": "분(Minute) 캔들 조회",
        "tags": ["캔들(OHLCV)"],
        "x-readme": {
          "parameter-ordering": ["header", "path", "query", "body", "form", "cookie"]
        },
        "parameters": [
          {
            "name": "unit",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "분(Minute) 캔들 단위\n캔들 단위를 지정하여 캔들 조회를 할 수 있습니다.\n최대 240분(4시간) 캔들까지 조회할 수 있습니다.\n",
              "example": 15,
              "enum": [1, 3, 5, 10, 15, 30, 60, 240]
            },
            "allowReserved": true
          },
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "조회하고자 하는 페어(거래쌍)",
              "example": "KRW-BTC"
            },
            "allowReserved": true
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "조회 기간의 종료 시각. \n지정한 시각 이전 캔들을 조회합니다. 미지정시 요청 시각을 기준으로 최근 캔들이 조회됩니다.\n\nISO 8601 형식의 datetime으로 아래와 같이 요청 할 수 있습니다. 실제 요청 시에는 공백 및 특수문자가 정상적으로 처리되도록 URL 인코딩을 수행해야 합니다.\n\n[예시] \n2025-06-24T04:56:53Z\n2025-06-24 04:56:53\n2025-06-24T13:56:53+09:00\n",
              "example": "2024-01-01T00:00:00"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "조회하고자 하는 캔들의 개수.\n최대 200개의 캔들 조회를 지원하며, 기본값은 1입니다.\n",
              "example": 200,
              "default": 1
            },
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of candles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "market",
                      "candle_date_time_utc",
                      "candle_date_time_kst",
                      "opening_price",
                      "high_price",
                      "low_price",
                      "trade_price",
                      "timestamp",
                      "candle_acc_trade_price",
                      "candle_acc_trade_volume",
                      "unit"
                    ],
                    "properties": {
                      "market": {
                        "type": "string",
                        "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                        "example": "KRW-BTC"
                      },
                      "candle_date_time_utc": {
                        "type": "string",
                        "description": "캔들 구간의 시작 시각 (UTC 기준)\n\n[형식] yyyy-MM-dd'T'HH:mm:ss\n",
                        "example": "2025-06-23T14:29:59"
                      },
                      "candle_date_time_kst": {
                        "type": "string",
                        "description": "캔들 구간의 시작 시각 (KST 기준)\n\n[형식] yyyy-MM-dd'T'HH:mm:ss\n",
                        "example": "2025-06-23T23:29:59"
                      },
                      "opening_price": {
                        "type": "number",
                        "format": "double",
                        "description": "시가.\n해당 캔들의 첫 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "high_price": {
                        "type": "number",
                        "format": "double",
                        "description": "고가.\n해당 캔들의 최고 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "low_price": {
                        "type": "number",
                        "format": "double",
                        "description": "저가.\n해당 캔들의 최저 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "종가.\n해당 페어의 현재 가격입니다.\n",
                        "example": 142340000
                      },
                      "timestamp": {
                        "type": "integer",
                        "format": "int64",
                        "description": "해당 캔들의 마지막 틱이 저장된 시각의 타임스탬프 (ms)\n",
                        "example": 1750688999123
                      },
                      "candle_acc_trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "해당 캔들 동안의 누적 거래 금액\n",
                        "example": 185042
                      },
                      "candle_acc_trade_volume": {
                        "type": "number",
                        "format": "double",
                        "description": "해당 캔들 동안의 누적 거래된 디지털 자산의 수량\n",
                        "example": 0.0013
                      },
                      "unit": {
                        "type": "integer",
                        "enum": [1, 3, 5, 10, 15, 30, 60, 240],
                        "description": "캔들 집계 시간 단위(분)",
                        "example": 30,
                        "default": 1
                      }
                    }
                  }
                },
                "examples": {
                  "Successful Example": {
                    "value": [
                      {
                        "market": "KRW-BTC",
                        "candle_date_time_utc": "2025-07-01T12:00:00",
                        "candle_date_time_kst": "2025-07-01T21:00:00",
                        "opening_price": 145831000,
                        "high_price": 145831000,
                        "low_price": 145752000,
                        "trade_price": 145759000,
                        "timestamp": 1751327999833,
                        "candle_acc_trade_price": 4022470467.03403,
                        "candle_acc_trade_volume": 27.58904602,
                        "unit": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "parameter range error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Invalid parameter. Check the given value!"
                      }
                    }
                  },
                  "parameter type error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Type mismatch error. Check the parameters type!"
                      }
                    }
                  },
                  "missing required parameter error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Missing request parameter error. Check the required parameters!"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not found error": {
                    "value": {
                      "error": {
                        "name": 404,
                        "message": "Code not found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.upbit.com/kr/reference/list-candles-minutes"
        },
        "x-doc-url": "https://docs.upbit.com/kr/reference/list-candles-minutes",
        "description": "분 단위 캔들 목록을 조회합니다."
      }
    },
    "/candles/days": {
      "get": {
        "operationId": "get-day-candles",
        "summary": "일(Day) 캔들 조회",
        "tags": ["캔들(OHLCV)"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "조회하고자 하는 페어(거래쌍)",
              "example": "KRW-BTC"
            },
            "allowReserved": true
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "조회 기간의 종료 시각. \n지정한 시각 이전 캔들을 조회합니다. 미지정시 요청 시각을 기준으로 최근 캔들이 조회됩니다.\n\nISO 8601 형식의 datetime으로 아래와 같이 요청 할 수 있습니다. 실제 요청 시에는 공백 및 특수문자가 정상적으로 처리되도록 URL 인코딩을 수행해야 합니다.\n\n[예시] \n2025-06-24T04:56:53Z\n2025-06-24 04:56:53\n2025-06-24T13:56:53+09:00\n",
              "example": "2024-01-01T00:00:00"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "조회하고자 하는 캔들의 개수.\n최대 200개의 캔들 조회를 지원하며, 기본값은 1입니다.\n",
              "example": 200,
              "default": 1
            },
            "allowReserved": true
          },
          {
            "name": "converting_price_unit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "종가 환산 통화.\n종가를 특정 통화로 환산하고자 하는 경우 선택적으로 지정할 수 있습니다. 사용시 응답에 “converted_trade_price” 필드가 추가로 반환됩니다. \n\n[예시] “KRW”로 지정시 원가로 환산된 종가가 반환됨.\n",
              "example": "KRW"
            },
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of candles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "market",
                      "candle_date_time_utc",
                      "candle_date_time_kst",
                      "opening_price",
                      "high_price",
                      "low_price",
                      "trade_price",
                      "timestamp",
                      "candle_acc_trade_price",
                      "candle_acc_trade_volume",
                      "prev_closing_price",
                      "change_price",
                      "change_rate"
                    ],
                    "properties": {
                      "market": {
                        "type": "string",
                        "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                        "example": "KRW-BTC"
                      },
                      "candle_date_time_utc": {
                        "type": "string",
                        "description": "캔들 구간의 시작 시각 (UTC 기준)\n\n[형식] yyyy-MM-dd'T'HH:mm:ss\n",
                        "example": "2025-06-23T14:29:59"
                      },
                      "candle_date_time_kst": {
                        "type": "string",
                        "description": "캔들 구간의 시작 시각 (KST 기준)\n\n[형식] yyyy-MM-dd'T'HH:mm:ss\n",
                        "example": "2025-06-23T23:29:59"
                      },
                      "opening_price": {
                        "type": "number",
                        "format": "double",
                        "description": "시가.\n해당 캔들의 첫 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "high_price": {
                        "type": "number",
                        "format": "double",
                        "description": "고가.\n해당 캔들의 최고 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "low_price": {
                        "type": "number",
                        "format": "double",
                        "description": "저가.\n해당 캔들의 최저 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "종가.\n해당 페어의 현재 가격입니다.\n",
                        "example": 142340000
                      },
                      "timestamp": {
                        "type": "integer",
                        "format": "int64",
                        "description": "해당 캔들의 마지막 틱이 저장된 시각의 타임스탬프 (ms)\n",
                        "example": 1750688999123
                      },
                      "candle_acc_trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "해당 캔들 동안의 누적 거래 금액\n",
                        "example": 185042
                      },
                      "candle_acc_trade_volume": {
                        "type": "number",
                        "format": "double",
                        "description": "해당 캔들 동안의 누적 거래된 디지털 자산의 수량\n",
                        "example": 0.0013
                      },
                      "prev_closing_price": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 (UTC 0시 기준)",
                        "example": 140908000
                      },
                      "change_price": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 대비 가격 변화.\n\"trade_price\" - \"prev_closing_price\"로 계산되며, 현재 종가가 전일 종가보다 얼마나 상승 또는 하락했는지를 나타냅니다.\n  - 양수(+): 현재 종가가 전일 종가보다 상승한 경우\n  - 음수(-): 현재 종가가 전일 종가보다 하락한 경우\n  - 0: 전일 종가와 동일하여 가격 변화가 없는 경우\n",
                        "example": 100000000
                      },
                      "change_rate": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 대비 가격 변화율.\n(\"trade_price\" - \"prev_closing_price\") ÷ \"prev_closing_price\" 으로 계산됩니다.\n  - 양수(+): 가격 상승\n  - 음수(-): 가격 하락\n  - 0: 전일 종가와 동일하여 가격 변화가 없는 경우\n\n  [예시] 0.015 = 1.5% 상승\n",
                        "example": 5274000
                      },
                      "converted_trade_price": {
                        "type": "number",
                        "format": "double",
                        "nullable": true,
                        "description": "종가 환산 가격.\nconverted_trade_price 에 요청된 통화 기준으로 환산된 종가입니다.\n  - 요청에 converted_trade_price 미포함시, 이 필드는 제공되지 않습니다.\n  - 현재는 원화(KRW)로의 변환만 지원합니다.\n",
                        "example": 146452359.1
                      }
                    }
                  }
                },
                "examples": {
                  "Successful Example": {
                    "value": [
                      {
                        "market": "KRW-BTC",
                        "candle_date_time_utc": "2025-06-30T00:00:00",
                        "candle_date_time_kst": "2025-06-30T09:00:00",
                        "opening_price": 147996000,
                        "high_price": 148480000,
                        "low_price": 145740000,
                        "trade_price": 145759000,
                        "timestamp": 1751327999833,
                        "candle_acc_trade_price": 138812096716.42776,
                        "candle_acc_trade_volume": 944.35761221,
                        "prev_closing_price": 147996000,
                        "change_price": -2237000,
                        "change_rate": -0.0151152734
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "parameter range error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Invalid parameter. Check the given value!"
                      }
                    }
                  },
                  "parameter type error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Type mismatch error. Check the parameters type!"
                      }
                    }
                  },
                  "missing required parameter error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Missing request parameter error. Check the required parameters!"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not found error": {
                    "value": {
                      "error": {
                        "name": 404,
                        "message": "Code not found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.upbit.com/kr/reference/list-candles-days"
        },
        "x-doc-url": "https://docs.upbit.com/kr/reference/list-candles-days",
        "description": "일 단위 캔들 목록을 조회합니다."
      }
    },
    "/candles/weeks": {
      "get": {
        "operationId": "get-week-candles",
        "summary": "주(Week) 캔들 조회",
        "tags": ["캔들(OHLCV)"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "조회하고자 하는 페어(거래쌍)",
              "example": "KRW-BTC"
            },
            "allowReserved": true
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "조회 기간의 종료 시각. \n지정한 시각 이전 캔들을 조회합니다. 미지정시 요청 시각을 기준으로 최근 캔들이 조회됩니다.\n\nISO 8601 형식의 datetime으로 아래와 같이 요청 할 수 있습니다. 실제 요청 시에는 공백 및 특수문자가 정상적으로 처리되도록 URL 인코딩을 수행해야 합니다.\n\n[예시] \n2025-06-24T04:56:53Z\n2025-06-24 04:56:53\n2025-06-24T13:56:53+09:00\n",
              "example": "2024-01-01T00:00:00"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "조회하고자 하는 캔들의 개수.\n최대 200개의 캔들 조회를 지원하며, 기본값은 1입니다.\n",
              "example": 200,
              "default": 1
            },
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of candles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "market",
                      "candle_date_time_utc",
                      "candle_date_time_kst",
                      "opening_price",
                      "high_price",
                      "low_price",
                      "trade_price",
                      "timestamp",
                      "candle_acc_trade_price",
                      "candle_acc_trade_volume",
                      "first_day_of_period"
                    ],
                    "properties": {
                      "market": {
                        "type": "string",
                        "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                        "example": "KRW-BTC"
                      },
                      "candle_date_time_utc": {
                        "type": "string",
                        "description": "캔들 구간의 시작 시각 (UTC 기준)\n\n[형식] yyyy-MM-dd'T'HH:mm:ss\n",
                        "example": "2025-06-23T14:29:59"
                      },
                      "candle_date_time_kst": {
                        "type": "string",
                        "description": "캔들 구간의 시작 시각 (KST 기준)\n\n[형식] yyyy-MM-dd'T'HH:mm:ss\n",
                        "example": "2025-06-23T23:29:59"
                      },
                      "opening_price": {
                        "type": "number",
                        "format": "double",
                        "description": "시가.\n해당 캔들의 첫 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "high_price": {
                        "type": "number",
                        "format": "double",
                        "description": "고가.\n해당 캔들의 최고 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "low_price": {
                        "type": "number",
                        "format": "double",
                        "description": "저가.\n해당 캔들의 최저 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "종가.\n해당 페어의 현재 가격입니다.\n",
                        "example": 142340000
                      },
                      "timestamp": {
                        "type": "integer",
                        "format": "int64",
                        "description": "해당 캔들의 마지막 틱이 저장된 시각의 타임스탬프 (ms)\n",
                        "example": 1750688999123
                      },
                      "candle_acc_trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "해당 캔들 동안의 누적 거래 금액\n",
                        "example": 185042
                      },
                      "candle_acc_trade_volume": {
                        "type": "number",
                        "format": "double",
                        "description": "해당 캔들 동안의 누적 거래된 디지털 자산의 수량\n",
                        "example": 0.0013
                      },
                      "first_day_of_period": {
                        "type": "string",
                        "description": "캔들 집계 시작일자\n\n[형식] yyyy-MM-dd\n",
                        "example": "2025-06-23"
                      }
                    }
                  }
                },
                "examples": {
                  "Successful Example": {
                    "value": [
                      {
                        "market": "KRW-BTC",
                        "candle_date_time_utc": "2025-06-30T00:00:00",
                        "candle_date_time_kst": "2025-06-30T09:00:00",
                        "opening_price": 147996000,
                        "high_price": 149755000,
                        "low_price": 144265000,
                        "trade_price": 148336000,
                        "timestamp": 1751605274309,
                        "candle_acc_trade_price": 677950313447.2709,
                        "candle_acc_trade_volume": 4603.1776237,
                        "first_day_of_period": "2025-06-30"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "parameter range error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Invalid parameter. Check the given value!"
                      }
                    }
                  },
                  "parameter type error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Type mismatch error. Check the parameters type!"
                      }
                    }
                  },
                  "missing required parameter error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Missing request parameter error. Check the required parameters!"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not found error": {
                    "value": {
                      "error": {
                        "name": 404,
                        "message": "Code not found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.upbit.com/kr/reference/list-candles-weeks"
        },
        "x-doc-url": "https://docs.upbit.com/kr/reference/list-candles-weeks",
        "description": "주 단위 캔들 목록을 조회합니다."
      }
    },
    "/candles/months": {
      "get": {
        "operationId": "get-month-candles",
        "summary": "월(Month) 캔들 조회",
        "tags": ["캔들(OHLCV)"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "조회하고자 하는 페어(거래쌍)",
              "example": "KRW-BTC"
            },
            "allowReserved": true
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "조회 기간의 종료 시각. \n지정한 시각 이전 캔들을 조회합니다. 미지정시 요청 시각을 기준으로 최근 캔들이 조회됩니다.\n\nISO 8601 형식의 datetime으로 아래와 같이 요청 할 수 있습니다. 실제 요청 시에는 공백 및 특수문자가 정상적으로 처리되도록 URL 인코딩을 수행해야 합니다.\n\n[예시] \n2025-06-24T04:56:53Z\n2025-06-24 04:56:53\n2025-06-24T13:56:53+09:00\n",
              "example": "2024-01-01T00:00:00"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "조회하고자 하는 캔들의 개수.\n최대 200개의 캔들 조회를 지원하며, 기본값은 1입니다.\n",
              "example": 200,
              "default": 1
            },
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of candles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "market",
                      "candle_date_time_utc",
                      "candle_date_time_kst",
                      "opening_price",
                      "high_price",
                      "low_price",
                      "trade_price",
                      "timestamp",
                      "candle_acc_trade_price",
                      "candle_acc_trade_volume",
                      "first_day_of_period"
                    ],
                    "properties": {
                      "market": {
                        "type": "string",
                        "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                        "example": "KRW-BTC"
                      },
                      "candle_date_time_utc": {
                        "type": "string",
                        "description": "캔들 구간의 시작 시각 (UTC 기준)\n\n[형식] yyyy-MM-dd'T'HH:mm:ss\n",
                        "example": "2025-06-23T14:29:59"
                      },
                      "candle_date_time_kst": {
                        "type": "string",
                        "description": "캔들 구간의 시작 시각 (KST 기준)\n\n[형식] yyyy-MM-dd'T'HH:mm:ss\n",
                        "example": "2025-06-23T23:29:59"
                      },
                      "opening_price": {
                        "type": "number",
                        "format": "double",
                        "description": "시가.\n해당 캔들의 첫 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "high_price": {
                        "type": "number",
                        "format": "double",
                        "description": "고가.\n해당 캔들의 최고 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "low_price": {
                        "type": "number",
                        "format": "double",
                        "description": "저가.\n해당 캔들의 최저 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "종가.\n해당 페어의 현재 가격입니다.\n",
                        "example": 142340000
                      },
                      "timestamp": {
                        "type": "integer",
                        "format": "int64",
                        "description": "해당 캔들의 마지막 틱이 저장된 시각의 타임스탬프 (ms)\n",
                        "example": 1750688999123
                      },
                      "candle_acc_trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "해당 캔들 동안의 누적 거래 금액\n",
                        "example": 185042
                      },
                      "candle_acc_trade_volume": {
                        "type": "number",
                        "format": "double",
                        "description": "해당 캔들 동안의 누적 거래된 디지털 자산의 수량\n",
                        "example": 0.0013
                      },
                      "first_day_of_period": {
                        "type": "string",
                        "description": "캔들 집계 시작일자\n\n[형식] yyyy-MM-dd\n",
                        "example": "2025-06-23"
                      }
                    }
                  }
                },
                "examples": {
                  "Successful Example": {
                    "value": [
                      {
                        "market": "KRW-BTC",
                        "candle_date_time_utc": "2025-06-30T00:00:00",
                        "candle_date_time_kst": "2025-06-30T09:00:00",
                        "opening_price": 147996000,
                        "high_price": 149755000,
                        "low_price": 144265000,
                        "trade_price": 148336000,
                        "timestamp": 1751605274309,
                        "candle_acc_trade_price": 677950313447.2709,
                        "candle_acc_trade_volume": 4603.1776237,
                        "first_day_of_period": "2025-06-30"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "parameter range error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Invalid parameter. Check the given value!"
                      }
                    }
                  },
                  "parameter type error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Type mismatch error. Check the parameters type!"
                      }
                    }
                  },
                  "missing required parameter error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Missing request parameter error. Check the required parameters!"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not found error": {
                    "value": {
                      "error": {
                        "name": 404,
                        "message": "Code not found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.upbit.com/kr/reference/list-candles-months"
        },
        "x-doc-url": "https://docs.upbit.com/kr/reference/list-candles-months",
        "description": "월 단위 캔들 목록을 조회합니다."
      }
    },
    "/candles/years": {
      "get": {
        "operationId": "get-year-candles",
        "summary": "연(Year) 캔들 조회",
        "tags": ["캔들(OHLCV)"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "조회하고자 하는 페어(거래쌍)",
              "example": "KRW-BTC"
            },
            "allowReserved": true
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "조회 기간의 종료 시각. \n지정한 시각 이전 캔들을 조회합니다. 미지정시 요청 시각을 기준으로 최근 캔들이 조회됩니다.\n\nISO 8601 형식의 datetime으로 아래와 같이 요청 할 수 있습니다. 실제 요청 시에는 공백 및 특수문자가 정상적으로 처리되도록 URL 인코딩을 수행해야 합니다.\n\n[예시] \n2025-06-24T04:56:53Z\n2025-06-24 04:56:53\n2025-06-24T13:56:53+09:00\n",
              "example": "2024-01-01T00:00:00"
            }
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "조회하고자 하는 캔들의 개수.\n최대 200개의 캔들 조회를 지원하며, 기본값은 1입니다.\n",
              "example": 200,
              "default": 1
            },
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of candles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "market",
                      "candle_date_time_utc",
                      "candle_date_time_kst",
                      "opening_price",
                      "high_price",
                      "low_price",
                      "trade_price",
                      "timestamp",
                      "candle_acc_trade_price",
                      "candle_acc_trade_volume",
                      "first_day_of_period"
                    ],
                    "properties": {
                      "market": {
                        "type": "string",
                        "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                        "example": "KRW-BTC"
                      },
                      "candle_date_time_utc": {
                        "type": "string",
                        "description": "캔들 구간의 시작 시각 (UTC 기준)\n\n[형식] yyyy-MM-dd'T'HH:mm:ss\n",
                        "example": "2025-06-23T14:29:59"
                      },
                      "candle_date_time_kst": {
                        "type": "string",
                        "description": "캔들 구간의 시작 시각 (KST 기준)\n\n[형식] yyyy-MM-dd'T'HH:mm:ss\n",
                        "example": "2025-06-23T23:29:59"
                      },
                      "opening_price": {
                        "type": "number",
                        "format": "double",
                        "description": "시가.\n해당 캔들의 첫 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "high_price": {
                        "type": "number",
                        "format": "double",
                        "description": "고가.\n해당 캔들의 최고 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "low_price": {
                        "type": "number",
                        "format": "double",
                        "description": "저가.\n해당 캔들의 최저 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "종가.\n해당 페어의 현재 가격입니다.\n",
                        "example": 142340000
                      },
                      "timestamp": {
                        "type": "integer",
                        "format": "int64",
                        "description": "해당 캔들의 마지막 틱이 저장된 시각의 타임스탬프 (ms)\n",
                        "example": 1750688999123
                      },
                      "candle_acc_trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "해당 캔들 동안의 누적 거래 금액\n",
                        "example": 185042
                      },
                      "candle_acc_trade_volume": {
                        "type": "number",
                        "format": "double",
                        "description": "해당 캔들 동안의 누적 거래된 디지털 자산의 수량\n",
                        "example": 0.0013
                      },
                      "first_day_of_period": {
                        "type": "string",
                        "description": "캔들 집계 시작일자\n\n[형식] yyyy-MM-dd\n",
                        "example": "2025-06-23"
                      }
                    }
                  }
                },
                "examples": {
                  "Successful Example": {
                    "value": [
                      {
                        "market": "KRW-BTC",
                        "candle_date_time_utc": "2025-01-01T00:00:00",
                        "candle_date_time_kst": "2025-01-01T09:00:00",
                        "opening_price": 139394000,
                        "high_price": 163325000,
                        "low_price": 111659000,
                        "trade_price": 148348000,
                        "timestamp": 1751605431315,
                        "candle_acc_trade_price": 58039408928064.63,
                        "candle_acc_trade_volume": 416778.44227734,
                        "first_day_of_period": "2025-01-01"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "parameter range error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Invalid parameter. Check the given value!"
                      }
                    }
                  },
                  "parameter type error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Type mismatch error. Check the parameters type!"
                      }
                    }
                  },
                  "missing required parameter error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Missing request parameter error. Check the required parameters!"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not found error": {
                    "value": {
                      "error": {
                        "name": 404,
                        "message": "Code not found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.upbit.com/kr/reference/list-candles-years"
        },
        "x-doc-url": "https://docs.upbit.com/kr/reference/list-candles-years",
        "description": "연 단위 캔들 목록을 조회합니다."
      }
    },
    "/trades/ticks": {
      "get": {
        "operationId": "list-trades-ticks",
        "summary": "최근 체결 내역 조회",
        "externalDocs": {
          "url": "https://docs.upbit.com/kr/reference/list-trades-ticks"
        },
        "tags": ["체결(Trade)"],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "조회하고자 하는 페어(거래쌍)",
              "example": "KRW-BTC"
            },
            "allowReserved": true
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "조회 대상 일자 내 조회 기간의 종료 시각(UTC).\n지정한 조회 일자 내에서 특정 시간대의 체결 내역을 조회하고자 하는 경우 선택적으로 사용할 수 있는 파라미터입니다. \n\nHHmmss 또는 HH:mm:ss 형식의 시간 포맷으로 입력합니다. 체결 목록이 지정한 시간부터 시간 역순으로 반환됩니다. \n\n[예시] days_ago=1&to=130000 으로 조회하는 경우 1일 전(어제) UTC 기준 오후 1시 정각 이전 체결 이력을 최신순으로 반환\n",
              "example": 134501
            },
            "allowReserved": true
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "조회하고자 하는 체결 내역의 개수.\n최대 500개 조회를 지원하며 기본 값은 1입니다.\n",
              "example": 500,
              "default": 1
            },
            "allowReserved": true
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Pagination을 위한 조회 범위 지정용 커서. \n응답에 포함된 체결의 \"sequential_id” 값을 이 필드에 입력하여 해당 체결 직전 데이터부터 “count”개의 이전 체결 이력을 이어서 조회할 수 있습니다.\n",
              "example": 17510687993360000
            },
            "allowReserved": true
          },
          {
            "name": "days_ago",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "체결 내역 조회 대상 일자와 요청 시점과의 일 단위 offset. \n체결 내역은 체결 일을 지정하여 조회해야 하며 최대 7일의 조회 기간을 지원합니다. 일자 구분은 UTC를 기준으로 합니다.\n\n1 이상 7 이하의 정수형으로 입력합니다. 빈 값으로 입력할 경우, 요청 일자에 발생한 체결 목록을 반환하며, 7을 입력하면 7일 이전에 발생한 체결 목록을 시간 역순(최신 체결 순)으로 반환합니다.\n",
              "example": 1
            },
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of trades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "market",
                      "trade_date_utc",
                      "trade_time_utc",
                      "timestamp",
                      "trade_price",
                      "trade_volume",
                      "prev_closing_price",
                      "change_price",
                      "ask_bid",
                      "sequential_id"
                    ],
                    "properties": {
                      "market": {
                        "type": "string",
                        "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                        "example": "KRW-BTC"
                      },
                      "trade_date_utc": {
                        "type": "string",
                        "description": "체결 일자 (UTC 기준)\n\n[형식] yyyy-MM-dd\n",
                        "example": "2025-06-17"
                      },
                      "trade_time_utc": {
                        "type": "string",
                        "description": "체결 시각 (UTC 기준)\n\n[형식] HH:mm:ss\n",
                        "example": "16:59:59"
                      },
                      "timestamp": {
                        "type": "integer",
                        "format": "int64",
                        "description": "체결 시각의 밀리초단위 타임스탬프",
                        "example": 1750749886904
                      },
                      "trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "최근 체결 가격\n",
                        "example": 142340000
                      },
                      "trade_volume": {
                        "type": "number",
                        "format": "double",
                        "description": "최근 거래 수량",
                        "example": 100000000
                      },
                      "prev_closing_price": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 (UTC 0시 기준)",
                        "example": 140908000
                      },
                      "change_price": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 대비 가격 변화.\n\"trade_price\" - \"prev_closing_price\"로 계산되며, 현재 종가가 전일 종가보다 얼마나 상승 또는 하락했는지를 나타냅니다.\n  - 양수(+): 현재 종가가 전일 종가보다 상승한 경우\n  - 음수(-): 현재 종가가 전일 종가보다 하락한 경우\n  - 0: 전일 종가와 동일하여 가격 변화가 없는 경우\n",
                        "example": 100000000
                      },
                      "ask_bid": {
                        "type": "string",
                        "enum": ["ASK", "BID"],
                        "description": "매수/매도 주문 구분",
                        "example": "ASK, BID"
                      },
                      "sequential_id": {
                        "type": "integer",
                        "description": "체결의 유일 식별자.\n해당 필드는 체결 순서를 보장하지 않습니다.\n",
                        "example": 17501795992650000
                      }
                    }
                  }
                },
                "examples": {
                  "Successful Example": {
                    "value": [
                      {
                        "market": "KRW-BTC",
                        "trade_date_utc": "2025-06-27",
                        "trade_time_utc": "23:59:59",
                        "timestamp": 1751068799336,
                        "trade_price": 147058000,
                        "trade_volume": 0.00006043,
                        "prev_closing_price": 146852000,
                        "change_price": 206000,
                        "ask_bid": "BID",
                        "sequential_id": 17510687993360000
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "parameter range error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Invalid parameter. Check the given value!"
                      }
                    }
                  },
                  "parameter type error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Type mismatch error. Check the parameters type!"
                      }
                    }
                  },
                  "missing required parameter error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Missing request parameter error. Check the required parameters!"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not found error": {
                    "value": {
                      "error": {
                        "name": 404,
                        "message": "Code not found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "지정한 페어의 최근 체결 목록을 조회합니다."
      }
    },
    "/ticker": {
      "get": {
        "operationId": "list-tickers",
        "summary": "페어 단위 현재가 조회",
        "tags": ["현재가(Ticker)"],
        "parameters": [
          {
            "name": "markets",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "조회하고자 하는 페어(거래쌍) 목록.\n2개 이상의 페어에 대해 조회하고자 하는 경우 쉼표(,)로 구분된 문자열 형식으로 요청합니다.\n\n[예시] KRW-BTC,KRW-ETH,BTC-ETH,BTC-XRP\n",
              "example": "KRW-BTC,KRW-ETH"
            },
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of tickers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "market",
                      "trade_date",
                      "trade_time",
                      "trade_date_kst",
                      "trade_time_kst",
                      "trade_timestamp",
                      "opening_price",
                      "high_price",
                      "low_price",
                      "trade_price",
                      "prev_closing_price",
                      "change",
                      "change_price",
                      "change_rate",
                      "signed_change_price",
                      "signed_change_rate",
                      "trade_volume",
                      "acc_trade_price",
                      "acc_trade_price_24h",
                      "acc_trade_volume",
                      "acc_trade_volume_24h",
                      "highest_52_week_price",
                      "highest_52_week_date",
                      "lowest_52_week_price",
                      "lowest_52_week_date",
                      "timestamp"
                    ],
                    "properties": {
                      "market": {
                        "type": "string",
                        "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                        "example": "KRW-BTC"
                      },
                      "trade_date": {
                        "type": "string",
                        "description": "최근 체결 일자 (UTC 기준)\n\n[형식] yyyyMMdd\n",
                        "example": 20250624
                      },
                      "trade_time": {
                        "type": "string",
                        "description": "최근 체결 시각 (UTC 기준)\n\n[형식] HHmmss\n",
                        "example": 63514
                      },
                      "trade_date_kst": {
                        "type": "string",
                        "description": "최근 체결 일자 (KST 기준)\n\n[형식] yyyyMMdd\n",
                        "example": 20250624
                      },
                      "trade_time_kst": {
                        "type": "string",
                        "description": "최근 체결 시각 (KST 기준)\n\n[형식] HHmmss\n",
                        "example": 153514
                      },
                      "trade_timestamp": {
                        "type": "integer",
                        "format": "int64",
                        "description": "체결 시각의 밀리초단위 타임스탬프",
                        "example": 1750179599265
                      },
                      "opening_price": {
                        "type": "number",
                        "format": "double",
                        "description": "시가.\n해당 페어의 첫 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "high_price": {
                        "type": "number",
                        "format": "double",
                        "description": "고가.\n해당 페어의 최고 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "low_price": {
                        "type": "number",
                        "format": "double",
                        "description": "저가.\n해당 페어의 최저 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "종가.\n해당 페어의 현재 가격입니다.\n",
                        "example": 142340000
                      },
                      "prev_closing_price": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 (UTC 0시 기준)",
                        "example": 140908000
                      },
                      "change": {
                        "type": "string",
                        "enum": ["EVEN", "RISE", "FALL"],
                        "description": "가격 변동 상태\n  - `EVEN`: 보합\n  - `RISE`: 상승\n  - `FALL`: 하락\n",
                        "example": "FALL"
                      },
                      "change_price": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 대비 가격 변화(절대값)\n\"trade_price\" - \"prev_closing_price\"로 계산됩니다.\n",
                        "example": 100000000
                      },
                      "change_rate": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 대비 가격 변화 (절대값)\n(\"trade_price\" - \"prev_closing_price\") ÷ \"prev_closing_price\" 으로 계산됩니다.\n",
                        "example": 0.0031057175
                      },
                      "signed_change_price": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 대비 가격 변화.\n\"trade_price\" - \"prev_closing_price\"로 계산되며, 현재 종가가 전일 종가보다 얼마나 상승 또는 하락했는지를 나타냅니다.\n  - 양수(+): 현재 종가가 전일 종가보다 상승한 경우\n  - 음수(-): 현재 종가가 전일 종가보다 하락한 경우\n",
                        "example": -454000
                      },
                      "signed_change_rate": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 대비 가격 변화율\n(\"trade_price\" - \"prev_closing_price\") ÷ \"prev_closing_price\" 으로 계산됩니다.\n  - 양수(+): 가격 상승\n  - 음수(-): 가격 하락\n\n  [예시] 0.015 = 1.5% 상승\n",
                        "example": -0.0031057175
                      },
                      "trade_volume": {
                        "type": "number",
                        "format": "double",
                        "description": "최근 거래 수량",
                        "example": 0.0068
                      },
                      "acc_trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "누적 거래 금액 (UTC 0시 기준)",
                        "example": 72976655137.21983
                      },
                      "acc_trade_price_24h": {
                        "type": "number",
                        "format": "double",
                        "description": "24시간 누적 거래 금액",
                        "example": 344100708901.19037
                      },
                      "acc_trade_volume": {
                        "type": "number",
                        "format": "double",
                        "description": "누적 거래량 (UTC 0시 기준)",
                        "example": 501.38991748
                      },
                      "acc_trade_volume_24h": {
                        "type": "number",
                        "format": "double",
                        "description": "24시간 누적 거래량",
                        "example": 2389.39562434
                      },
                      "highest_52_week_price": {
                        "type": "number",
                        "format": "double",
                        "description": "52주 신고가",
                        "example": 163325000
                      },
                      "highest_52_week_date": {
                        "type": "string",
                        "description": "52주 신고가 달성일\n\n[형식] yyyy-MM-dd\n",
                        "example": "2025-01-20"
                      },
                      "lowest_52_week_price": {
                        "type": "number",
                        "format": "double",
                        "description": "52주 신저가",
                        "example": 72100000
                      },
                      "lowest_52_week_date": {
                        "type": "string",
                        "description": "52주 신저가 달성일\n\n[형식] yyyy-MM-dd\n",
                        "example": "2024-08-05"
                      },
                      "timestamp": {
                        "type": "integer",
                        "format": "int64",
                        "description": "현재가 정보가 반영된 시각의 타임스탬프(ms)",
                        "example": 1750746915062
                      }
                    }
                  }
                },
                "examples": {
                  "Successful Example": {
                    "value": [
                      {
                        "market": "KRW-BTC",
                        "trade_date": "20250704",
                        "trade_time": "051400",
                        "trade_date_kst": "20250704",
                        "trade_time_kst": "141400",
                        "trade_timestamp": 1751606040365,
                        "opening_price": 148737000,
                        "high_price": 149360000,
                        "low_price": 148288000,
                        "trade_price": 148601000,
                        "prev_closing_price": 148737000,
                        "change": "FALL",
                        "change_price": 136000,
                        "change_rate": 0.0009143656,
                        "signed_change_price": -136000,
                        "signed_change_rate": -0.0009143656,
                        "trade_volume": 0.00016823,
                        "acc_trade_price": 31615925234.05438,
                        "acc_trade_price_24h": 178448329314.96686,
                        "acc_trade_volume": 212.38911576,
                        "acc_trade_volume_24h": 1198.26954807,
                        "highest_52_week_price": 163325000,
                        "highest_52_week_date": "2025-01-20",
                        "lowest_52_week_price": 72100000,
                        "lowest_52_week_date": "2024-08-05",
                        "timestamp": 1751606040403
                      },
                      {
                        "market": "KRW-ETH",
                        "trade_date": "20250704",
                        "trade_time": "051400",
                        "trade_date_kst": "20250704",
                        "trade_time_kst": "141400",
                        "trade_timestamp": 1751606040327,
                        "opening_price": 3518000,
                        "high_price": 3542000,
                        "low_price": 3495000,
                        "trade_price": 3510000,
                        "prev_closing_price": 3517000,
                        "change": "FALL",
                        "change_price": 7000,
                        "change_rate": 0.0019903327,
                        "signed_change_price": -7000,
                        "signed_change_rate": -0.0019903327,
                        "trade_volume": 0.00712453,
                        "acc_trade_price": 20633572185.68442,
                        "acc_trade_price_24h": 111690309851.79362,
                        "acc_trade_volume": 5871.4585559,
                        "acc_trade_volume_24h": 31689.60167858,
                        "highest_52_week_price": 5900000,
                        "highest_52_week_date": "2024-12-16",
                        "lowest_52_week_price": 2096000,
                        "lowest_52_week_date": "2025-04-09",
                        "timestamp": 1751606040373
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "parameter type error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Type mismatch error. Check the parameters type!"
                      }
                    }
                  },
                  "missing required parameter error": {
                    "value": {
                      "error": {
                        "name": 400,
                        "message": "Missing request parameter error. Check the required parameters!"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "error object",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "required": ["name", "message"],
                      "properties": {
                        "name": {
                          "type": "number",
                          "description": "에러명"
                        },
                        "message": {
                          "type": "string",
                          "description": "에러 메세지"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "not found error": {
                    "value": {
                      "error": {
                        "name": 404,
                        "message": "Code not found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.upbit.com/kr/reference/list-tickers"
        },
        "x-doc-url": "https://docs.upbit.com/kr/reference/list-tickers",
        "description": "지정한 페어의 현재가를 조회합니다. 요청 시점 기준으로 해당 페어의 티커 스냅샷이 반환됩니다."
      }
    },
    "/ticker/all": {
      "get": {
        "operationId": "list-quote-tickers",
        "summary": "마켓 단위 현재가 조회",
        "tags": ["현재가(Ticker)"],
        "parameters": [
          {
            "name": "quote_currencies",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "조회하고자 하는 마켓의 통화 코드 목록. \n2개 이상의 마켓에 대해 조회하고자 하는 경우 쉼표(,)로 구분된 문자열 형식으로 요청합니다.\n\n[예시] KRW,BTC\n",
              "example": "KRW,BTC,USDT"
            },
            "allowReserved": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of tickers by market",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "market",
                      "trade_date",
                      "trade_time",
                      "trade_date_kst",
                      "trade_time_kst",
                      "trade_timestamp",
                      "opening_price",
                      "high_price",
                      "low_price",
                      "trade_price",
                      "prev_closing_price",
                      "change",
                      "change_price",
                      "change_rate",
                      "signed_change_price",
                      "signed_change_rate",
                      "trade_volume",
                      "acc_trade_price",
                      "acc_trade_price_24h",
                      "acc_trade_volume",
                      "acc_trade_volume_24h",
                      "highest_52_week_price",
                      "highest_52_week_date",
                      "lowest_52_week_price",
                      "lowest_52_week_date",
                      "timestamp"
                    ],
                    "properties": {
                      "market": {
                        "type": "string",
                        "description": "페어(거래쌍)의 코드\n\n[예시] \"KRW-BTC\"\n",
                        "example": "KRW-BTC"
                      },
                      "trade_date": {
                        "type": "string",
                        "description": "최근 체결 일자 (UTC 기준)\n\n[형식] yyyyMMdd\n",
                        "example": 20250624
                      },
                      "trade_time": {
                        "type": "string",
                        "description": "최근 체결 시각 (UTC 기준)\n\n[형식] HHmmss\n",
                        "example": 63514
                      },
                      "trade_date_kst": {
                        "type": "string",
                        "description": "최근 체결 일자 (KST 기준)\n\n[형식] yyyyMMdd\n",
                        "example": 20250624
                      },
                      "trade_time_kst": {
                        "type": "string",
                        "description": "최근 체결 시각 (KST 기준)\n\n[형식] HHmmss\n",
                        "example": 153514
                      },
                      "trade_timestamp": {
                        "type": "integer",
                        "format": "int64",
                        "description": "현재가 정보가 반영된 시각의 타임스탬프(ms)",
                        "example": 1750746915062
                      },
                      "opening_price": {
                        "type": "number",
                        "format": "double",
                        "description": "시가.\n해당 페어의 첫 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "high_price": {
                        "type": "number",
                        "format": "double",
                        "description": "고가.\n해당 페어의 최고 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "low_price": {
                        "type": "number",
                        "format": "double",
                        "description": "저가.\n해당 페어의 최저 거래 가격입니다.\n",
                        "example": 142340000
                      },
                      "trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "종가.\n해당 페어의 현재 가격입니다.\n",
                        "example": 142340000
                      },
                      "prev_closing_price": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 (UTC 0시 기준)",
                        "example": 140908000
                      },
                      "change": {
                        "type": "string",
                        "enum": ["EVEN", "RISE", "FALL"],
                        "description": "가격 변동 상태\n  - `EVEN`: 보합\n  - `RISE`: 상승\n  - `FALL`: 하락\n",
                        "example": "FALL"
                      },
                      "change_price": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 대비 가격 변화.\n\"trade_price\" - \"prev_closing_price\"로 계산되며, 현재 종가가 전일 종가보다 얼마나 상승 또는 하락했는지를 나타냅니다.\n  - 양수(+): 현재 종가가 전일 종가보다 상승한 경우\n  - 음수(-): 현재 종가가 전일 종가보다 하락한 경우\n  - 0: 전일 종가와 동일하여 가격 변화가 없는 경우\n",
                        "example": 100000000
                      },
                      "change_rate": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 대비 가격 변화율.\n(\"trade_price\" - \"prev_closing_price\") ÷ \"prev_closing_price\" 으로 계산됩니다.\n  - 양수(+): 가격 상승\n  - 음수(-): 가격 하락\n  - 0: 전일 종가와 동일하여 가격 변화가 없는 경우\n\n  [예시] 0.015 = 1.5% 상승\n",
                        "example": 5274000
                      },
                      "signed_change_price": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 대비 가격 변화.\n\"trade_price\" - \"prev_closing_price\"로 계산되며, 현재 종가가 전일 종가보다 얼마나 상승 또는 하락했는지를 나타냅니다.\n  - 양수(+): 현재 종가가 전일 종가보다 상승한 경우\n  - 음수(-): 현재 종가가 전일 종가보다 하락한 경우\n",
                        "example": -454000
                      },
                      "signed_change_rate": {
                        "type": "number",
                        "format": "double",
                        "description": "전일 종가 대비 가격 변화율\n(\"trade_price\" - \"prev_closing_price\") ÷ \"prev_closing_price\" 으로 계산됩니다.\n  - 양수(+): 가격 상승\n  - 음수(-): 가격 하락\n\n  [예시] 0.015 = 1.5% 상승\n",
                        "example": -0.0031057175
                      },
                      "trade_volume": {
                        "type": "number",
                        "format": "double",
                        "description": "최근 거래 수량",
                        "example": 0.0068
                      },
                      "acc_trade_price": {
                        "type": "number",
                        "format": "double",
                        "description": "누적 거래 금액 (UTC 0시 기준)",
                        "example": 72976655137.21983
                      },
                      "acc_trade_price_24h": {
                        "type": "number",
                        "format": "double",
                        "description": "24시간 누적 거래 금액",
                        "example": 344100708901.19037
                      },
                      "acc_trade_volume": {
                        "type": "number",
                        "format": "double",
                        "description": "누적 거래량 (UTC 0시 기준)",
                        "example": 501.38991748
                      },
                      "acc_trade_volume_24h": {
                        "type": "number",
                        "format": "double",
                        "description": "24시간 누적 거래량",
                        "example": 2389.39562434
                      },
                      "highest_52_week_price": {
                        "type": "number",
                        "format": "double",
                        "description": "52주 신고가",
                        "example": 163325000
                      },
                      "highest_52_week_date": {
                        "type": "string",
                        "description": "52주 신고가 달성일\n\n[형식] yyyy-MM-dd\n",
                        "example": "2025-01-20"
                      },
                      "lowest_52_week_price": {
                        "type": "number",
                        "format": "double",
                        "description": "52주 신저가",
                        "example": 72100000
                      },
                      "lowest_52_week_date": {
                        "type": "string",
                        "description": "52주 신저가 달성일\n\n[형식] yyyy-MM-dd\n",
                        "example": "2024-08-05"
                      },
                      "timestamp": {
                        "type": "integer",
                        "format": "int64",
                        "description": "현재가 정보가 반영된 시각의 타임스탬프(ms)",
                        "example": 1750746915062
                      }
                    }
                  }
                },
                "examples": {
                  "Successful Example": {
                    "value": [
                      {
                        "market": "KRW-BTC",
                        "trade_date": "20250704",
                        "trade_time": "051400",
                        "trade_date_kst": "20250704",
                        "trade_time_kst": "141400",
                        "trade_timestamp": 1751606040365,
                        "opening_price": 148737000,
                        "high_price": 149360000,
                        "low_price": 148288000,
                        "trade_price": 148601000,
                        "prev_closing_price": 148737000,
                        "change": "FALL",
                        "change_price": 136000,
                        "change_rate": 0.0009143656,
                        "signed_change_price": -136000,
                        "signed_change_rate": -0.0009143656,
                        "trade_volume": 0.00016823,
                        "acc_trade_price": 31615925234.05438,
                        "acc_trade_price_24h": 178448329314.96686,
[...]
