{
  "openapi": "3.1.0",
  "info": {
    "title": "Coinone REST Private API",
    "description": "코인원 공식 문서 v1.7 기준 Private REST API 스펙입니다.",
    "version": "1.7",
    "contact": {
      "name": "코인원 개발자 센터",
      "url": "https://docs.coinone.co.kr/reference"
    }
  },
  "servers": [
    {
      "url": "https://api.coinone.co.kr"
    }
  ],
  "paths": {
    "/v2.1/account/balance/all": {
      "post": {
        "summary": "전체 잔고 조회",
        "description": "고객이 보유한 전체 잔고 조회",
        "operationId": "find-balance",
        "parameters": [
          {
            "name": "X-COINONE-PAYLOAD",
            "in": "header",
            "description": "Request body Object -> JSON string -> base64",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-COINONE-SIGNATURE",
            "in": "header",
            "description": "HMAC(X-COINONE-PAYLOAD, SECRET_KEY, SHA512).hexdigest()",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "access_token",
                  "nonce"
                ],
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "사용자의 액세스 토큰 (access token)"
                  },
                  "nonce": {
                    "type": "string",
                    "description": "UUID nonce (예: \"022f53b2-8b2f-40c6-8e51-b594f562ee83\")"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"balances\": [\n    {\n      \"available\": \"998999692485\",\n      \"limit\": \"0\",\n      \"average_price\": \"100000000\",\n      \"currency\": \"BTC\"\n    },\n    {\n      \"available\": \"100\",\n      \"limit\": \"0\",\n      \"average_price\": \"3290000\",\n      \"currency\": \"XRP\"\n    },\n    {\n      \"available\": \"232706745677\",\n      \"limit\": \"0\",\n      \"average_price\": \"0\",\n      \"currency\": \"KRW\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success",
                      "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                    },
                    "error_code": {
                      "type": "string",
                      "example": "0",
                      "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                    },
                    "balances": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "available": {
                            "type": "string",
                            "example": "998999692485",
                            "description": "가용 잔고 ('available’과 ‘limit’의 합이 전체 잔고)"
                          },
                          "limit": {
                            "type": "string",
                            "example": "0",
                            "description": "주문에 걸려있는 잔고"
                          },
                          "average_price": {
                            "type": "string",
                            "example": "100000000",
                            "description": "구매한 종목의 평단가 (종목 단위로 표시)"
                          },
                          "currency": {
                            "type": "string",
                            "example": "BTC",
                            "description": "코인 심볼 (예: \"BTC\")"
                          }
                        }
                      },
                      "description": "배열 형태의 잔고 정보"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "import base64\nimport hashlib\nimport hmac\nimport json\nimport httplib2\nimport uuid\n\nACCESS_TOKEN = '{access token}'\nSECRET_KEY = bytes('{secret key}', 'utf-8')\n\n\ndef get_encoded_payload(payload):\n    payload['nonce'] = str(uuid.uuid4())\n\n    dumped_json = json.dumps(payload)\n    encoded_json = base64.b64encode(bytes(dumped_json, 'utf-8'))\n    return encoded_json\n\n\ndef get_signature(encoded_payload):\n    signature = hmac.new(SECRET_KEY, encoded_payload, hashlib.sha512)\n    return signature.hexdigest()\n\n\ndef get_response(action, payload):\n    url = '{}{}'.format('https://api.coinone.co.kr', action)\n\n    encoded_payload = get_encoded_payload(payload)\n\n    headers = {\n        'Content-type': 'application/json',\n        'X-COINONE-PAYLOAD': encoded_payload,\n        'X-COINONE-SIGNATURE': get_signature(encoded_payload),\n    }\n\n    http = httplib2.Http()\n    response, content = http.request(url, 'POST', headers=headers)\n\n    return content\n\n\nprint(get_response(action='/v2.1/account/balance/all', payload={\n    'access_token': ACCESS_TOKEN,\n}))\n"
            },
            {
              "language": "java",
              "code": "package main;\n\nimport com.fasterxml.jackson.core.JsonProcessingException;\nimport com.fasterxml.jackson.databind.ObjectMapper;\n\nimport javax.crypto.Mac;\nimport javax.crypto.spec.SecretKeySpec;\nimport java.io.IOException;\nimport java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\nimport java.security.InvalidKeyException;\nimport java.security.NoSuchAlgorithmException;\nimport java.util.Base64;\nimport java.util.UUID;\n\npublic class FindAllBalance {\n    private static final String ENDPOINT = \"https://api.coinone.co.kr/v2.1/account/balance/all\";\n    private static final String ACCESS_TOKEN = \"{accessToken}\";\n    private static final String SECRET_KEY = \"{secretKey}\";\n    private static final ObjectMapper om = new ObjectMapper();\n\n    record Payload(String access_token, String nonce){}\n\n    public static void main(String[] args) {\n        var nonce = UUID.randomUUID().toString();\n        var payload = new Payload(ACCESS_TOKEN, nonce);\n        var base64EncodedPayload = makeBase64EncodedPayload(payload);\n        var signature = makeSignature(base64EncodedPayload);\n\n\n        try {\n            var client = HttpClient.newBuilder().build();\n            var body = om.writeValueAsString(payload);\n            var request = HttpRequest.newBuilder()\n                    .uri(URI.create(ENDPOINT))\n                    .header(\"Content-type\", \"application/json\")\n                    .header(\"X-COINONE-PAYLOAD\", base64EncodedPayload)\n                    .header(\"X-COINONE-SIGNATURE\", signature)\n                    .POST(HttpRequest.BodyPublishers.ofString(body))\n                    .build();\n            var response = client.send(request, HttpResponse.BodyHandlers.ofString());\n            System.out.println(response.body());\n        } catch (InterruptedException | IOException e) {\n            throw new RuntimeException(e);\n        }\n    }\n\n    private static String makeBase64EncodedPayload(Payload payload) {\n        try {\n            var bytesPayload = om.writeValueAsBytes(payload);\n            return Base64.getEncoder().encodeToString(bytesPayload);\n        } catch (JsonProcessingException e) {\n            throw new RuntimeException(e);\n        }\n    }\n    private static String makeSignature(String base64EncodedPayload) {\n        try {\n            var mac = Mac.getInstance(\"HmacSHA512\");\n            var keySpec = new SecretKeySpec(SECRET_KEY.getBytes(), \"HmacSHA512\");\n            mac.init(keySpec);\n            var messageDigest = mac.doFinal(base64EncodedPayload.getBytes());\n            var sb = new StringBuilder();\n            for (byte b : messageDigest) {\n                sb.append(String.format(\"%02x\", b));\n            }\n            return sb.toString();\n        } catch (NoSuchAlgorithmException | InvalidKeyException e) {\n            throw new RuntimeException(e);\n        }\n    }\n}"
            },
            {
              "language": "kotlin",
              "code": "package main\n\nimport com.fasterxml.jackson.core.JsonProcessingException\nimport com.fasterxml.jackson.databind.ObjectMapper\nimport java.io.IOException\nimport java.net.URI\nimport java.net.http.HttpClient\nimport java.net.http.HttpRequest\nimport java.net.http.HttpResponse\nimport java.security.InvalidKeyException\nimport java.security.NoSuchAlgorithmException\nimport java.util.*\nimport javax.crypto.Mac\nimport javax.crypto.spec.SecretKeySpec\n\nobject FindAllBalance {\n    private const val ENDPOINT = \"https://api.coinone.co.kr/v2.1/account/balance/all\"\n    private const val ACCESS_TOKEN = \"{accessToken}\"\n    private const val SECRET_KEY = \"{secretKey}\"\n    private val om = ObjectMapper()\n    internal data class Payload(val access_token: String, val nonce: String)\n\n    @JvmStatic\n    fun main(args: Array<String>) {\n        val nonce = UUID.randomUUID().toString()\n        val payload = Payload(ACCESS_TOKEN, nonce)\n        val base64EncodedPayload = makeBase64EncodedPayload(payload)\n        val signature = makeSignature(base64EncodedPayload)\n        try {\n            val client = HttpClient.newBuilder().build()\n            val body = om.writeValueAsString(payload)\n            val request = HttpRequest.newBuilder()\n                .uri(URI.create(ENDPOINT))\n                .header(\"Content-type\", \"application/json\")\n                .header(\"X-COINONE-PAYLOAD\", base64EncodedPayload)\n                .header(\"X-COINONE-SIGNATURE\", signature)\n                .POST(HttpRequest.BodyPublishers.ofString(body))\n                .build()\n            val response = client.send(request, HttpResponse.BodyHandlers.ofString())\n            println(response.body())\n        } catch (e: InterruptedException) {\n            throw RuntimeException(e)\n        } catch (e: IOException) {\n            throw RuntimeException(e)\n        }\n    }\n\n    private fun makeBase64EncodedPayload(payload: Payload): String {\n        return try {\n            val bytesPayload = om.writeValueAsBytes(payload)\n            Base64.getEncoder().encodeToString(bytesPayload)\n        } catch (e: JsonProcessingException) {\n            throw RuntimeException(e)\n        }\n    }\n\n    private fun makeSignature(base64EncodedPayload: String): String {\n        return try {\n            val mac = Mac.getInstance(\"HmacSHA512\")\n            val keySpec = SecretKeySpec(SECRET_KEY.toByteArray(), \"HmacSHA512\")\n            mac.init(keySpec)\n            val messageDigest = mac.doFinal(base64EncodedPayload.toByteArray())\n            val sb = StringBuilder()\n            for (b in messageDigest) {\n                sb.append(String.format(\"%02x\", b))\n            }\n            sb.toString()\n        } catch (e: NoSuchAlgorithmException) {\n            throw RuntimeException(e)\n        } catch (e: InvalidKeyException) {\n            throw RuntimeException(e)\n        }\n    }\n}"
            },
            {
              "language": "javascript",
              "code": "const request = require('request');\nconst crypto = require('crypto');\nconst { v4: uuidv4 } = require('uuid');\n\n\nconst ACCESS_TOKEN = \"{accessToken}\"\nconst SECRET_KEY = \"{secretKey}\"\n\nconst payload = {\n    access_token: ACCESS_TOKEN,\n    nonce: uuidv4()\n};\n\nconst encodedPayload = Buffer.from(JSON.stringify(payload)).toString('base64');\nconst signature = crypto.createHmac('sha512', SECRET_KEY).update(encodedPayload).digest('hex');\nconst options = {\n    url: 'https://api.coinone.co.kr/v2.1/account/balance/all',\n    method: 'POST',\n    headers: {\n        'Content-Type': 'application/json',\n        'X-COINONE-PAYLOAD': encodedPayload,\n        'X-COINONE-SIGNATURE': signature,\n    },\n    body: JSON.stringify(payload),\n};\n\nrequest(options, (error, response, body) => {\n    if (error) throw new Error(error);\n    console.log(body);\n});"
            },
            {
              "language": "go",
              "code": "package main\n\nimport (\n\t\"fmt\"\n)\n\nimport (\n\t\"crypto/hmac\"\n\t\"crypto/sha512\"\n\t\"encoding/base64\"\n\t\"encoding/json\"\n\t\"github.com/google/uuid\"\n\t\"io\"\n\t\"net/http\"\n\t\"strings\"\n)\n\nconst (\n\taccessToken = \"{access token}\"\n\tsecretKey   = \"{secret key}\"\n)\n\nfunc getEncodedPayload(payload map[string]interface{}) string {\n\tpayload[\"nonce\"] = uuid.New().String()\n\n\tdumpedJSON, _ := json.Marshal(payload)\n\treturn base64.StdEncoding.EncodeToString(dumpedJSON)\n}\n\nfunc getSignature(encodedPayload string) string {\n\th := hmac.New(sha512.New, []byte(secretKey))\n\th.Write([]byte(encodedPayload))\n\treturn fmt.Sprintf(\"%x\", h.Sum(nil))\n}\n\nfunc getResponse(action string, payload map[string]interface{}) ([]byte, error) {\n\turl := fmt.Sprintf(\"https://api.coinone.co.kr%s\", action)\n\n\tencodedPayload := getEncodedPayload(payload)\n\n\treq, err := http.NewRequest(\"POST\", url, strings.NewReader(\"\"))\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\treq.Header.Set(\"X-COINONE-PAYLOAD\", encodedPayload)\n\treq.Header.Set(\"X-COINONE-SIGNATURE\", getSignature(encodedPayload))\n\n\tclient := &http.Client{}\n\tresp, err := client.Do(req)\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\tdefer resp.Body.Close()\n\n\tbody, err := io.ReadAll(resp.Body)\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\n\treturn body, nil\n}\n\nfunc main() {\n\tresponse, err := getResponse(\"/v2.1/account/balance/all\", map[string]interface{}{\n\t\t\"access_token\": accessToken,\n\t})\n\tif err != nil {\n\t\tfmt.Println(\"Error:\", err)\n\t\treturn\n\t}\n\n\tfmt.Println(string(response))\n}"
            }
          ],
          "samples-languages": [
            "python",
            "java",
            "kotlin",
            "javascript",
            "go"
          ]
        },
        "tags": [
          "잔고 조회"
        ],
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.coinone.co.kr/reference/find-balance"
        },
        "x-doc-url": "https://docs.coinone.co.kr/reference/find-balance"
      }
    },
    "/v2.1/account/balance": {
      "post": {
        "summary": "특정 자산 잔고 조회",
        "description": "고객이 보유한 특정 종목의 잔고 조회",
        "operationId": "find-balance-by-currencies",
        "parameters": [
          {
            "name": "X-COINONE-PAYLOAD",
            "in": "header",
            "description": "Request body object -> JSON string -> base64",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-COINONE-SIGNATURE",
            "in": "header",
            "description": "HMAC(X-COINONE-PAYLOAD, SECRET_KEY, SHA512).hexdigest()",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "access_token",
                  "nonce",
                  "currencies"
                ],
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "사용자의 액세스 토큰 (access token)"
                  },
                  "nonce": {
                    "type": "string",
                    "description": "UUID nonce (예: \"022f53b2-8b2f-40c6-8e51-b594f562ee83\")"
                  },
                  "currencies": {
                    "type": "array",
                    "description": "잔고 조회하려는 자산의 심볼 입력",
                    "default": [
                      "\"BTC\"",
                      "\"KRW\"",
                      "\"ETH\""
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"balances\": [\n    {\n      \"available\": \"998999692485\",\n      \"limit\": \"0\",\n      \"average_price\": \"100000000\",\n      \"currency\": \"BTC\"\n    },\n    {\n      \"available\": \"100\",\n      \"limit\": \"0\",\n      \"average_price\": \"3290000\",\n      \"currency\": \"XRP\"\n    },\n    {\n      \"available\": \"232706745677\",\n      \"limit\": \"0\",\n      \"average_price\": \"0\",\n      \"currency\": \"KRW\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success",
                      "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                    },
                    "error_code": {
                      "type": "string",
                      "example": "0",
                      "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                    },
                    "balances": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "available": {
                            "type": "string",
                            "example": "998999692485",
                            "description": "가용 잔고 ('available’과 ‘limit’의 합이 전체 잔고)"
                          },
                          "limit": {
                            "type": "string",
                            "example": "0",
                            "description": "주문에 걸려있는 잔고"
                          },
                          "average_price": {
                            "type": "string",
                            "example": "100000000",
                            "description": "구매한 종목의 평단가 (종목 단위로 표시)"
                          },
                          "currency": {
                            "type": "string",
                            "example": "BTC",
                            "description": "코인 심볼 (예: \"BTC\")"
                          }
                        }
                      },
                      "description": "배열 형태의 잔고 정보"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "import base64\nimport hashlib\nimport hmac\nimport json\nimport uuid\nimport httplib2\n\nACCESS_TOKEN = '{access token}'\nSECRET_KEY = bytes('{secret key}', 'utf-8')\n\n\ndef get_encoded_payload(payload):\n    payload['nonce'] = str(uuid.uuid4())\n\n    dumped_json = json.dumps(payload)\n    encoded_json = base64.b64encode(bytes(dumped_json, 'utf-8'))\n    return encoded_json\n\n\ndef get_signature(encoded_payload):\n    signature = hmac.new(SECRET_KEY, encoded_payload, hashlib.sha512)\n    return signature.hexdigest()\n\n\ndef get_response(action, payload):\n    url = '{}{}'.format('https://api.coinone.co.kr/', action)\n\n    encoded_payload = get_encoded_payload(payload)\n\n    headers = {\n        'Content-type': 'application/json',\n        'X-COINONE-PAYLOAD': encoded_payload,\n        'X-COINONE-SIGNATURE': get_signature(encoded_payload),\n    }\n\n    http = httplib2.Http()\n    response, content = http.request(url, 'POST', headers=headers)\n\n    return content\n\n\nprint(get_response(action='/v2.1/account/balance', payload={\n    'access_token': ACCESS_TOKEN,\n    'currencies': ['KRW', 'BTC', 'ETH']\n}))\n"
            },
            {
              "language": "java",
              "code": "package main;\n\nimport com.fasterxml.jackson.core.JsonProcessingException;\nimport com.fasterxml.jackson.databind.ObjectMapper;\n\nimport javax.crypto.Mac;\nimport javax.crypto.spec.SecretKeySpec;\nimport java.io.IOException;\nimport java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\nimport java.security.InvalidKeyException;\nimport java.security.NoSuchAlgorithmException;\nimport java.util.Base64;\nimport java.util.UUID;\n\npublic class FindBalanceByCurrencies {\n    private static final String ENDPOINT = \"https://api.coinone.co.kr/v2.1/account/balance\";\n    private static final String ACCESS_TOKEN = \"{accessToken}\";\n    private static final String SECRET_KEY = \"{secretKey}\";\n    private static final ObjectMapper om = new ObjectMapper();\n  \n    record Payload(String access_token, String nonce, String[] currencies){}\n\n    public static void main(String[] args) {\n        var nonce = UUID.randomUUID().toString();\n        var payload = new Payload(ACCESS_TOKEN, nonce, new String[]{\"BTC\", \"ETH\", \"XRP\"});\n        var base64EncodedPayload = makeBase64EncodedPayload(payload);\n        var signature = makeSignature(base64EncodedPayload);\n\n\n        try {\n            var client = HttpClient.newBuilder().build();\n            var body = om.writeValueAsString(payload);\n            var request = HttpRequest.newBuilder()\n                    .uri(URI.create(ENDPOINT))\n                    .header(\"Content-type\", \"application/json\")\n                    .header(\"X-COINONE-PAYLOAD\", base64EncodedPayload)\n                    .header(\"X-COINONE-SIGNATURE\", signature)\n                    .POST(HttpRequest.BodyPublishers.ofString(body))\n                    .build();\n            var response = client.send(request, HttpResponse.BodyHandlers.ofString());\n            System.out.println(response.body());\n        } catch (InterruptedException | IOException e) {\n            throw new RuntimeException(e);\n        }\n    }\n\n    private static String makeBase64EncodedPayload(Payload payload) {\n        try {\n            var bytesPayload = om.writeValueAsBytes(payload);\n            return Base64.getEncoder().encodeToString(bytesPayload);\n        } catch (JsonProcessingException e) {\n            throw new RuntimeException(e);\n        }\n    }\n    private static String makeSignature(String base64EncodedPayload) {\n        try {\n            var mac = Mac.getInstance(\"HmacSHA512\");\n            var keySpec = new SecretKeySpec(SECRET_KEY.getBytes(), \"HmacSHA512\");\n            mac.init(keySpec);\n            var messageDigest = mac.doFinal(base64EncodedPayload.getBytes());\n            var sb = new StringBuilder();\n            for (byte b : messageDigest) {\n                sb.append(String.format(\"%02x\", b));\n            }\n            return sb.toString();\n        } catch (NoSuchAlgorithmException | InvalidKeyException e) {\n            throw new RuntimeException(e);\n        }\n    }\n}"
            },
            {
              "language": "kotlin",
              "code": "package main\n\nimport com.fasterxml.jackson.core.JsonProcessingException\nimport com.fasterxml.jackson.databind.ObjectMapper\nimport java.io.IOException\nimport java.net.URI\nimport java.net.http.HttpClient\nimport java.net.http.HttpRequest\nimport java.net.http.HttpResponse\nimport java.security.InvalidKeyException\nimport java.security.NoSuchAlgorithmException\nimport java.util.*\nimport javax.crypto.Mac\nimport javax.crypto.spec.SecretKeySpec\n\nobject FindBalanceByCurrencies {\n    private const val ENDPOINT = \"https://api.coinone.co.kr/v2.1/account/balance\"\n    private const val ACCESS_TOKEN = \"{accessToken}\"\n    private const val SECRET_KEY = \"{secretKey}\"\n    private val om = ObjectMapper()\n    internal data class Payload(val access_token: String, val nonce: String, val currencies: Array<String>)\n\n    @JvmStatic\n    fun main(args: Array<String>) {\n        val nonce = UUID.randomUUID().toString()\n        val payload = Payload(ACCESS_TOKEN, nonce, arrayOf(\"BTC\", \"ETH\", \"XRP\"))\n        val base64EncodedPayload = makeBase64EncodedPayload(payload)\n        val signature = makeSignature(base64EncodedPayload)\n        try {\n            val client = HttpClient.newBuilder().build()\n            val body = om.writeValueAsString(payload)\n            val request = HttpRequest.newBuilder()\n                .uri(URI.create(ENDPOINT))\n                .header(\"Content-type\", \"application/json\")\n                .header(\"X-COINONE-PAYLOAD\", base64EncodedPayload)\n                .header(\"X-COINONE-SIGNATURE\", signature)\n                .POST(HttpRequest.BodyPublishers.ofString(body))\n                .build()\n            val response = client.send(request, HttpResponse.BodyHandlers.ofString())\n            println(response.body())\n        } catch (e: InterruptedException) {\n            throw RuntimeException(e)\n        } catch (e: IOException) {\n            throw RuntimeException(e)\n        }\n    }\n\n    private fun makeBase64EncodedPayload(payload: Payload): String {\n        return try {\n            val bytesPayload = om.writeValueAsBytes(payload)\n            Base64.getEncoder().encodeToString(bytesPayload)\n        } catch (e: JsonProcessingException) {\n            throw RuntimeException(e)\n        }\n    }\n\n    private fun makeSignature(base64EncodedPayload: String): String {\n        return try {\n            val mac = Mac.getInstance(\"HmacSHA512\")\n            val keySpec = SecretKeySpec(SECRET_KEY.toByteArray(), \"HmacSHA512\")\n            mac.init(keySpec)\n            val messageDigest = mac.doFinal(base64EncodedPayload.toByteArray())\n            val sb = StringBuilder()\n            for (b in messageDigest) {\n                sb.append(String.format(\"%02x\", b))\n            }\n            sb.toString()\n        } catch (e: NoSuchAlgorithmException) {\n            throw RuntimeException(e)\n        } catch (e: InvalidKeyException) {\n            throw RuntimeException(e)\n        }\n    }\n}"
            },
            {
              "language": "javascript",
              "code": "const request = require('request');\nconst crypto = require('crypto');\nconst { v4: uuidv4 } = require('uuid');\n\n\nconst ACCESS_TOKEN = \"{accessToken}\"\nconst SECRET_KEY = \"{secretKey}\"\n\nconst payload = {\n    access_token: ACCESS_TOKEN,\n    nonce: uuidv4(),\n    currencies: ['btc', 'krw']\n};\n\nconst encodedPayload = Buffer.from(JSON.stringify(payload)).toString('base64');\nconst signature = crypto.createHmac('sha512', SECRET_KEY).update(encodedPayload).digest('hex');\nconst options = {\n    url: 'https://api.coinone.co.kr/v2.1/account/balance',\n    method: 'POST',\n    headers: {\n        'Content-Type': 'application/json',\n        'X-COINONE-PAYLOAD': encodedPayload,\n        'X-COINONE-SIGNATURE': signature,\n    },\n    body: JSON.stringify(payload),\n};\n\nrequest(options, (error, response, body) => {\n    if (error) throw new Error(error);\n    console.log(body);\n});"
            },
            {
              "language": "go",
              "code": "package main\n\nimport (\n\t\"fmt\"\n)\n\nimport (\n\t\"crypto/hmac\"\n\t\"crypto/sha512\"\n\t\"encoding/base64\"\n\t\"encoding/json\"\n\t\"github.com/google/uuid\"\n\t\"io\"\n\t\"net/http\"\n\t\"strings\"\n)\n\nconst (\n\taccessToken = \"{access token}\"\n\tsecretKey   = \"{secret key}\"\n)\n\nfunc getEncodedPayload(payload map[string]interface{}) string {\n\tpayload[\"nonce\"] = uuid.New().String()\n\n\tdumpedJSON, _ := json.Marshal(payload)\n\treturn base64.StdEncoding.EncodeToString(dumpedJSON)\n}\n\nfunc getSignature(encodedPayload string) string {\n\th := hmac.New(sha512.New, []byte(secretKey))\n\th.Write([]byte(encodedPayload))\n\treturn fmt.Sprintf(\"%x\", h.Sum(nil))\n}\n\nfunc getResponse(action string, payload map[string]interface{}) ([]byte, error) {\n\turl := fmt.Sprintf(\"https://api.coinone.co.kr%s\", action)\n\n\tencodedPayload := getEncodedPayload(payload)\n\n\treq, err := http.NewRequest(\"POST\", url, strings.NewReader(\"\"))\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\treq.Header.Set(\"X-COINONE-PAYLOAD\", encodedPayload)\n\treq.Header.Set(\"X-COINONE-SIGNATURE\", getSignature(encodedPayload))\n\n\tclient := &http.Client{}\n\tresp, err := client.Do(req)\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\tdefer resp.Body.Close()\n\n\tbody, err := io.ReadAll(resp.Body)\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\n\treturn body, nil\n}\n\nfunc main() {\n\tresponse, err := getResponse(\"/v2.1/account/balance\", map[string]interface{}{\n\t\t\"access_token\": accessToken,\n\t\t\"currencies\":   []string{\"KRW\", \"BTC\", \"ETH\"},\n\t})\n\tif err != nil {\n\t\tfmt.Println(\"Error:\", err)\n\t\treturn\n\t}\n\n\tfmt.Println(string(response))\n}"
            }
          ],
          "samples-languages": [
            "python",
            "java",
            "kotlin",
            "javascript",
            "go"
          ]
        },
        "tags": [
          "잔고 조회"
        ],
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.coinone.co.kr/reference/find-balance-by-currencies"
        },
        "x-doc-url": "https://docs.coinone.co.kr/reference/find-balance-by-currencies"
      }
    },
    "/v2.1/account/trade_fee": {
      "post": {
        "summary": "전체 수수료 조회",
        "description": "거래 가능한 모든 종목의 수수료 조회",
        "operationId": "find-all-trade-fees",
        "parameters": [
          {
            "name": "X-COINONE-PAYLOAD",
            "in": "header",
            "description": "Request body object -> JSON string -> base64",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-COINONE-SIGNATURE",
            "in": "header",
            "description": "HMAC(X-COINONE-PAYLOAD, SECRET_KEY, SHA512).hexdigest()",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "access_token",
                  "nonce"
                ],
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "사용자의 액세스 토큰 (access token)"
                  },
                  "nonce": {
                    "type": "string",
                    "description": "UUID nonce (예: \"022f53b2-8b2f-40c6-8e51-b594f562ee83\")"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"fee_rates\": [\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BTC\",\n      \"maker\": \"0.001\",\n      \"taker\": \"0.001\"\n    },\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"XRP\",\n      \"maker\": \"0.001\",\n      \"taker\": \"0.001\"\n    },\n    {\n      \"quote_currency\": \"XRP\",\n      \"target_currency\": \"BTC\",\n      \"maker\": \"0.001\",\n      \"taker\": \"0.001\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success",
                      "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                    },
                    "error_code": {
                      "type": "string",
                      "example": "0",
                      "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                    },
                    "fee_rates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quote_currency": {
                            "type": "string",
                            "example": "KRW",
                            "description": "마켓 기준 통화 (예: \"KRW\")"
                          },
                          "target_currency": {
                            "type": "string",
                            "example": "BTC",
                            "description": "수수료 조회하려는 종목의 심볼 (예: \"BTC\")"
                          },
                          "maker": {
                            "type": "string",
                            "example": "0.001",
                            "description": "makers 수수료율 (즉시 체결되지 않고 오더북에 쌓이는 주문, 예: \"0.001)"
                          },
                          "taker": {
                            "type": "string",
                            "example": "0.001",
                            "description": "takers 수수료율 (즉시 체결되는 주문, :예: \"0.001\")"
                          }
                        }
                      },
                      "description": "배열 형태의 수수료 정보"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "import base64\nimport hashlib\nimport hmac\nimport json\nimport uuid\nimport httplib2\n\nACCESS_TOKEN = '{access token}'\nSECRET_KEY = bytes('{secret key}', 'utf-8')\n\n\ndef get_encoded_payload(payload):\n    payload['nonce'] = str(uuid.uuid4())\n\n    dumped_json = json.dumps(payload)\n    encoded_json = base64.b64encode(bytes(dumped_json, 'utf-8'))\n    return encoded_json\n\n\ndef get_signature(encoded_payload):\n    signature = hmac.new(SECRET_KEY, encoded_payload, hashlib.sha512)\n    return signature.hexdigest()\n\n\ndef get_response(action, payload):\n    url = '{}{}'.format('https://api.coinone.co.kr/', action)\n\n    encoded_payload = get_encoded_payload(payload)\n\n    headers = {\n        'Content-type': 'application/json',\n        'X-COINONE-PAYLOAD': encoded_payload,\n        'X-COINONE-SIGNATURE': get_signature(encoded_payload),\n    }\n\n    http = httplib2.Http()\n    response, content = http.request(url, 'POST', headers=headers)\n\n    return content\n\n\nprint(get_response(action='/v2.1/account/trade_fee', payload={\n    'access_token': ACCESS_TOKEN,\n}))\n"
            },
            {
              "language": "java",
              "code": "package main;\n\nimport com.fasterxml.jackson.core.JsonProcessingException;\nimport com.fasterxml.jackson.databind.ObjectMapper;\n\nimport javax.crypto.Mac;\nimport javax.crypto.spec.SecretKeySpec;\nimport java.io.IOException;\nimport java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\nimport java.security.InvalidKeyException;\nimport java.security.NoSuchAlgorithmException;\nimport java.util.Base64;\nimport java.util.UUID;\n\npublic class FindAllTradeFee {\n    private static final String ENDPOINT = \"https://api.coinone.co.kr/v2.1/account/trade_fee\";\n    private static final String ACCESS_TOKEN = \"{accessToken}\";\n    private static final String SECRET_KEY = \"{secretKey}\";\n    private static final ObjectMapper om = new ObjectMapper();\n\n    record Payload(String access_token, String nonce){}\n\n    public static void main(String[] args) {\n        var nonce = UUID.randomUUID().toString();\n        var payload = new Payload(ACCESS_TOKEN, nonce);\n        var base64EncodedPayload = makeBase64EncodedPayload(payload);\n        var signature = makeSignature(base64EncodedPayload);\n\n\n        try {\n            var client = HttpClient.newBuilder().build();\n            var body = om.writeValueAsString(payload);\n            var request = HttpRequest.newBuilder()\n                    .uri(URI.create(ENDPOINT))\n                    .header(\"Content-type\", \"application/json\")\n                    .header(\"X-COINONE-PAYLOAD\", base64EncodedPayload)\n                    .header(\"X-COINONE-SIGNATURE\", signature)\n                    .POST(HttpRequest.BodyPublishers.ofString(body))\n                    .build();\n            var response = client.send(request, HttpResponse.BodyHandlers.ofString());\n            System.out.println(response.body());\n        } catch (InterruptedException | IOException e) {\n            throw new RuntimeException(e);\n        }\n\n    }\n\n    private static String makeBase64EncodedPayload(Payload payload) {\n        try {\n            var bytesPayload = om.writeValueAsBytes(payload);\n            return Base64.getEncoder().encodeToString(bytesPayload);\n        } catch (JsonProcessingException e) {\n            throw new RuntimeException(e);\n        }\n    }\n    private static String makeSignature(String base64EncodedPayload) {\n        try {\n            var mac = Mac.getInstance(\"HmacSHA512\");\n            var keySpec = new SecretKeySpec(SECRET_KEY.getBytes(), \"HmacSHA512\");\n            mac.init(keySpec);\n            var messageDigest = mac.doFinal(base64EncodedPayload.getBytes());\n            var sb = new StringBuilder();\n            for (byte b : messageDigest) {\n                sb.append(String.format(\"%02x\", b));\n            }\n            return sb.toString();\n        } catch (NoSuchAlgorithmException | InvalidKeyException e) {\n            throw new RuntimeException(e);\n        }\n    }\n}"
            },
            {
              "language": "kotlin",
              "code": "package main\n\nimport com.fasterxml.jackson.core.JsonProcessingException\nimport com.fasterxml.jackson.databind.ObjectMapper\nimport java.io.IOException\nimport java.net.URI\nimport java.net.http.HttpClient\nimport java.net.http.HttpRequest\nimport java.net.http.HttpResponse\nimport java.security.InvalidKeyException\nimport java.security.NoSuchAlgorithmException\nimport java.util.*\nimport javax.crypto.Mac\nimport javax.crypto.spec.SecretKeySpec\n\nobject FindAllTradeFee {\n    private const val ENDPOINT = \"https://api.coinone.co.kr/v2.1/account/trade_fee\"\n    private const val ACCESS_TOKEN = \"{accessToken}\"\n    private const val SECRET_KEY = \"{secretKey}\"\n    private val om = ObjectMapper()\n    internal data class Payload(val access_token: String, val nonce: String)\n\n    @JvmStatic\n    fun main(args: Array<String>) {\n        val nonce = UUID.randomUUID().toString()\n        val payload = Payload(ACCESS_TOKEN, nonce)\n        val base64EncodedPayload = makeBase64EncodedPayload(payload)\n        val signature = makeSignature(base64EncodedPayload)\n        try {\n            val client = HttpClient.newBuilder().build()\n            val body = om.writeValueAsString(payload)\n            val request = HttpRequest.newBuilder()\n                .uri(URI.create(ENDPOINT))\n                .header(\"Content-type\", \"application/json\")\n                .header(\"X-COINONE-PAYLOAD\", base64EncodedPayload)\n                .header(\"X-COINONE-SIGNATURE\", signature)\n                .POST(HttpRequest.BodyPublishers.ofString(body))\n                .build()\n            val response = client.send(request, HttpResponse.BodyHandlers.ofString())\n            println(response.body())\n        } catch (e: InterruptedException) {\n            throw RuntimeException(e)\n        } catch (e: IOException) {\n            throw RuntimeException(e)\n        }\n    }\n\n    private fun makeBase64EncodedPayload(payload: Payload): String {\n        return try {\n            val bytesPayload = om.writeValueAsBytes(payload)\n            Base64.getEncoder().encodeToString(bytesPayload)\n        } catch (e: JsonProcessingException) {\n            throw RuntimeException(e)\n        }\n    }\n\n    private fun makeSignature(base64EncodedPayload: String): String {\n        return try {\n            val mac = Mac.getInstance(\"HmacSHA512\")\n            val keySpec = SecretKeySpec(SECRET_KEY.toByteArray(), \"HmacSHA512\")\n            mac.init(keySpec)\n            val messageDigest = mac.doFinal(base64EncodedPayload.toByteArray())\n            val sb = StringBuilder()\n            for (b in messageDigest) {\n                sb.append(String.format(\"%02x\", b))\n            }\n            sb.toString()\n        } catch (e: NoSuchAlgorithmException) {\n            throw RuntimeException(e)\n        } catch (e: InvalidKeyException) {\n            throw RuntimeException(e)\n        }\n    }\n}"
            },
            {
              "language": "javascript",
              "code": "const request = require('request');\nconst crypto = require('crypto');\nconst { v4: uuidv4 } = require('uuid');\n\n\nconst ACCESS_TOKEN = \"{accessToken}\"\nconst SECRET_KEY = \"{secretKey}\"\n\nconst payload = {\n    access_token: ACCESS_TOKEN,\n    nonce: uuidv4()\n};\n\nconst encodedPayload = Buffer.from(JSON.stringify(payload)).toString('base64');\nconst signature = crypto.createHmac('sha512', SECRET_KEY).update(encodedPayload).digest('hex');\nconst options = {\n    url: 'https://api.coinone.co.kr/v2.1/account/trade_fee',\n    method: 'POST',\n    headers: {\n        'Content-Type': 'application/json',\n        'X-COINONE-PAYLOAD': encodedPayload,\n        'X-COINONE-SIGNATURE': signature,\n    },\n    body: JSON.stringify(payload),\n};\n\nrequest(options, (error, response, body) => {\n    if (error) throw new Error(error);\n    console.log(body);\n});"
            },
            {
              "language": "go",
              "code": "package main\n\nimport (\n\t\"crypto/hmac\"\n\t\"crypto/sha512\"\n\t\"encoding/base64\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"github.com/google/uuid\"\n\t\"io\"\n\t\"net/http\"\n\t\"strings\"\n)\n\nconst (\n\taccessToken = \"{access token}\"\n\tsecretKey   = \"{secret key}\"\n)\n\nfunc getEncodedPayload(payload map[string]interface{}) string {\n\tpayload[\"nonce\"] = uuid.New().String()\n\n\tdumpedJSON, _ := json.Marshal(payload)\n\treturn base64.StdEncoding.EncodeToString(dumpedJSON)\n}\n\nfunc getSignature(encodedPayload string) string {\n\th := hmac.New(sha512.New, []byte(secretKey))\n\th.Write([]byte(encodedPayload))\n\treturn fmt.Sprintf(\"%x\", h.Sum(nil))\n}\n\nfunc getResponse(action string, payload map[string]interface{}) ([]byte, error) {\n\turl := fmt.Sprintf(\"https://api.coinone.co.kr%s\", action)\n\n\tencodedPayload := getEncodedPayload(payload)\n\n\treq, err := http.NewRequest(\"POST\", url, strings.NewReader(\"\"))\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\treq.Header.Set(\"X-COINONE-PAYLOAD\", encodedPayload)\n\treq.Header.Set(\"X-COINONE-SIGNATURE\", getSignature(encodedPayload))\n\n\tclient := &http.Client{}\n\tresp, err := client.Do(req)\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\tdefer resp.Body.Close()\n\n\tbody, err := io.ReadAll(resp.Body)\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\n\treturn body, nil\n}\n\nfunc main() {\n\tresponse, err := getResponse(\"/v2.1/account/trade_fee\", map[string]interface{}{\n\t\t\"access_token\": accessToken,\n\t})\n\tif err != nil {\n\t\tfmt.Println(\"Error:\", err)\n\t\treturn\n\t}\n\n\tfmt.Println(string(response))\n}"
            }
          ],
          "samples-languages": [
            "python",
            "java",
            "kotlin",
            "javascript",
            "go"
          ]
        },
        "tags": [
          "고객 정보"
        ],
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.coinone.co.kr/reference/find-all-trade-fees"
        },
        "x-doc-url": "https://docs.coinone.co.kr/reference/find-all-trade-fees"
      }
    },
    "/v2.1/account/trade_fee/{quote_currency}/{target_currency}": {
      "post": {
        "summary": "개별 종목 수수료 조회",
        "description": "개별 종목 별로 수수료 조회",
        "operationId": "find-trade-fee-by-pair",
        "parameters": [
          {
            "name": "quote_currency",
            "in": "path",
            "description": "마켓 기준 통화",
            "schema": {
              "type": "string",
              "default": "KRW"
            },
            "required": true
          },
          {
            "name": "target_currency",
            "in": "path",
            "description": "조회하려는 종목의 심볼",
            "schema": {
              "type": "string",
              "default": "BTC"
            },
            "required": true
          },
          {
            "name": "X-COINONE-PAYLOAD",
            "in": "header",
            "description": "Request body object -> JSON string -> base64",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-COINONE-SIGNATURE",
            "in": "header",
            "description": "HMAC(X-COINONE-PAYLOAD, SECRET_KEY, SHA512).hexdigest()",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "access_token",
                  "nonce"
                ],
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "사용자의 액세스 토큰 (access token)"
                  },
                  "nonce": {
                    "type": "string",
                    "description": "UUID nonce (예: \"022f53b2-8b2f-40c6-8e51-b594f562ee83\")"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"fee_rates\": [\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BTC\",\n      \"maker\": \"0.001\",\n      \"taker\": \"0.001\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success",
                      "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                    },
                    "error_code": {
                      "type": "string",
                      "example": "0",
                      "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                    },
                    "fee_rates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quote_currency": {
                            "type": "string",
                            "example": "KRW",
                            "description": "마켓 기준 통화 (예: \"KRW\")"
                          },
                          "target_currency": {
                            "type": "string",
                            "example": "BTC",
                            "description": "수수료 조회하려는 종목의 심볼 (예: \"BTC\")"
                          },
                          "maker": {
                            "type": "string",
                            "example": "0.001",
                            "description": "makers 수수료율 (즉시 체결되지 않고 오더북에 쌓이는 주문, 예: \"0.001)"
                          },
                          "taker": {
                            "type": "string",
                            "example": "0.001",
                            "description": "takers 수수료율 (즉시 체결되는 주문, :예: \"0.001\")"
                          }
                        }
                      },
                      "description": "배열 형태의 수수료 정보"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "import base64\nimport hashlib\nimport hmac\nimport json\nimport uuid\nimport httplib2\n\nACCESS_TOKEN = '{access token}'\nSECRET_KEY = bytes('{secret key}', 'utf-8')\n\n\ndef get_encoded_payload(payload):\n    payload['nonce'] = str(uuid.uuid4())\n\n    dumped_json = json.dumps(payload)\n    encoded_json = base64.b64encode(bytes(dumped_json, 'utf-8'))\n    return encoded_json\n\n\ndef get_signature(encoded_payload):\n    signature = hmac.new(SECRET_KEY, encoded_payload, hashlib.sha512)\n    return signature.hexdigest()\n\n\ndef get_response(action, payload):\n    url = '{}{}'.format('https://api.coinone.co.kr/', action)\n\n    encoded_payload = get_encoded_payload(payload)\n\n    headers = {\n        'Content-type': 'application/json',\n        'X-COINONE-PAYLOAD': encoded_payload,\n        'X-COINONE-SIGNATURE': get_signature(encoded_payload),\n    }\n\n    http = httplib2.Http()\n    response, content = http.request(url, 'POST', headers=headers)\n\n    return content\n\n\nprint(get_response(action='/v2.1/account/trade_fee/{quote_currency}/{target_currency}', payload={\n    'access_token': ACCESS_TOKEN,\n}))\n"
            },
            {
              "language": "java",
              "code": "package main;\n\nimport com.fasterxml.jackson.core.JsonProcessingException;\nimport com.fasterxml.jackson.databind.ObjectMapper;\n\nimport javax.crypto.Mac;\nimport javax.crypto.spec.SecretKeySpec;\nimport java.io.IOException;\nimport java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\nimport java.security.InvalidKeyException;\nimport java.security.NoSuchAlgorithmException;\nimport java.util.Base64;\nimport java.util.UUID;\n\npublic class FindTradeFeeByTradePair {\n    private static final String ENDPOINT = \"https://api.coinone.co.kr/v2.1/account/trade_fee/{quoteCurrency}/{targetCurrency}\";\n    private static final String ACCESS_TOKEN = \"{accessToken}\";\n    private static final String SECRET_KEY = \"{secretKey}\";\n    private static final ObjectMapper om = new ObjectMapper();\n\n    record Payload(String access_token, String nonce){}\n\n    public static void main(String[] args) {\n        var nonce = UUID.randomUUID().toString();\n        var payload = new Payload(ACCESS_TOKEN, nonce);\n        var base64EncodedPayload = makeBase64EncodedPayload(payload);\n        var signature = makeSignature(base64EncodedPayload);\n\n        try {\n            var client = HttpClient.newBuilder().build();\n            var body = om.writeValueAsString(payload);\n            var request = HttpRequest.newBuilder()\n                    .uri(URI.create(ENDPOINT.replace(\"{quoteCurrency}\", \"KRW\").replace(\"{targetCurrency}\", \"BTC\")))\n                    .header(\"Content-type\", \"application/json\")\n                    .header(\"X-COINONE-PAYLOAD\", base64EncodedPayload)\n                    .header(\"X-COINONE-SIGNATURE\", signature)\n                    .POST(HttpRequest.BodyPublishers.ofString(body))\n                    .build();\n            var response = client.send(request, HttpResponse.BodyHandlers.ofString());\n            System.out.println(response.body());\n        } catch (InterruptedException | IOException e) {\n            throw new RuntimeException(e);\n        }\n\n    }\n\n    private static String makeBase64EncodedPayload(Payload payload) {\n        try {\n            var bytesPayload = om.writeValueAsBytes(payload);\n            return Base64.getEncoder().encodeToString(bytesPayload);\n        } catch (JsonProcessingException e) {\n            throw new RuntimeException(e);\n        }\n    }\n    private static String makeSignature(String base64EncodedPayload) {\n        try {\n            var mac = Mac.getInstance(\"HmacSHA512\");\n            var keySpec = new SecretKeySpec(SECRET_KEY.getBytes(), \"HmacSHA512\");\n            mac.init(keySpec);\n            var messageDigest = mac.doFinal(base64EncodedPayload.getBytes());\n            var sb = new StringBuilder();\n            for (byte b : messageDigest) {\n                sb.append(String.format(\"%02x\", b));\n            }\n            return sb.toString();\n        } catch (NoSuchAlgorithmException | InvalidKeyException e) {\n            throw new RuntimeException(e);\n        }\n    }\n}"
            },
            {
              "language": "kotlin",
              "code": "package main\n\nimport com.fasterxml.jackson.core.JsonProcessingException\nimport com.fasterxml.jackson.databind.ObjectMapper\nimport java.io.IOException\nimport java.net.URI\nimport java.net.http.HttpClient\nimport java.net.http.HttpRequest\nimport java.net.http.HttpResponse\nimport java.security.InvalidKeyException\nimport java.security.NoSuchAlgorithmException\nimport java.util.*\nimport javax.crypto.Mac\nimport javax.crypto.spec.SecretKeySpec\n\nobject FindTradeFeeByTradePair {\n    private const val ENDPOINT = \"https://api.coinone.co.kr/v2.1/account/trade_fee/{quoteCurrency}/{targetCurrency}\"\n    private const val ACCESS_TOKEN = \"{accessToken}\"\n    private const val SECRET_KEY = \"{secretKey}\"\n    private val om = ObjectMapper()\n    internal data class Payload(val access_token: String, val nonce: String)\n\n    @JvmStatic\n    fun main(args: Array<String>) {\n        val nonce = UUID.randomUUID().toString()\n        val payload = Payload(ACCESS_TOKEN, nonce)\n        val base64EncodedPayload = makeBase64EncodedPayload(payload)\n        val signature = makeSignature(base64EncodedPayload)\n        try {\n            val client = HttpClient.newBuilder().build()\n            val body = om.writeValueAsString(payload)\n            val request = HttpRequest.newBuilder()\n                .uri(URI.create(ENDPOINT.replace(\"{quoteCurrency}\", \"KRW\").replace(\"{targetCurrency}\", \"BTC\")))\n                .header(\"Content-type\", \"application/json\")\n                .header(\"X-COINONE-PAYLOAD\", base64EncodedPayload)\n                .header(\"X-COINONE-SIGNATURE\", signature)\n                .POST(HttpRequest.BodyPublishers.ofString(body))\n                .build()\n            val response = client.send(request, HttpResponse.BodyHandlers.ofString())\n            println(response.body())\n        } catch (e: InterruptedException) {\n            throw RuntimeException(e)\n        } catch (e: IOException) {\n            throw RuntimeException(e)\n        }\n    }\n\n    private fun makeBase64EncodedPayload(payload: Payload): String {\n        return try {\n            val bytesPayload = om.writeValueAsBytes(payload)\n            Base64.getEncoder().encodeToString(bytesPayload)\n        } catch (e: JsonProcessingException) {\n            throw RuntimeException(e)\n        }\n    }\n\n    private fun makeSignature(base64EncodedPayload: String): String {\n        return try {\n            val mac = Mac.getInstance(\"HmacSHA512\")\n            val keySpec = SecretKeySpec(SECRET_KEY.toByteArray(), \"HmacSHA512\")\n            mac.init(keySpec)\n            val messageDigest = mac.doFinal(base64EncodedPayload.toByteArray())\n            val sb = StringBuilder()\n            for (b in messageDigest) {\n                sb.append(String.format(\"%02x\", b))\n            }\n            sb.toString()\n        } catch (e: NoSuchAlgorithmException) {\n            throw RuntimeException(e)\n        } catch (e: InvalidKeyException) {\n            throw RuntimeException(e)\n        }\n    }\n}"
            },
            {
              "language": "javascript",
              "code": "const request = require('request');\nconst crypto = require('crypto');\nconst { v4: uuidv4 } = require('uuid');\n\n\nconst ACCESS_TOKEN = \"{accessToken}\"\nconst SECRET_KEY = \"{secretKey}\"\n\nconst payload = {\n    access_token: ACCESS_TOKEN,\n    nonce: uuidv4()\n};\n\nconst encodedPayload = Buffer.from(JSON.stringify(payload)).toString('base64');\nconst signature = crypto.createHmac('sha512', SECRET_KEY).update(encodedPayload).digest('hex');\nconst options = {\n    url: 'https://api.coinone.co.kr/v2.1/account/trade_fee/krw/btc',\n    method: 'POST',\n    headers: {\n        'Content-Type': 'application/json',\n        'X-COINONE-PAYLOAD': encodedPayload,\n        'X-COINONE-SIGNATURE': signature,\n    },\n    body: JSON.stringify(payload),\n};\n\nrequest(options, (error, response, body) => {\n    if (error) throw new Error(error);\n    console.log(body);\n});"
            },
            {
              "language": "go",
              "code": "package main\n\nimport (\n\t\"crypto/hmac\"\n\t\"crypto/sha512\"\n\t\"encoding/base64\"\n\t\"encoding/json\"\n\t\"fmt\"\n\t\"github.com/google/uuid\"\n\t\"io\"\n\t\"net/http\"\n\t\"strings\"\n)\n\nconst (\n\taccessToken = \"{access token}\"\n\tsecretKey   = \"{secret key}\"\n)\n\nfunc getEncodedPayload(payload map[string]interface{}) string {\n\tpayload[\"nonce\"] = uuid.New().String()\n\n\tdumpedJSON, _ := json.Marshal(payload)\n\treturn base64.StdEncoding.EncodeToString(dumpedJSON)\n}\n\nfunc getSignature(encodedPayload string) string {\n\th := hmac.New(sha512.New, []byte(secretKey))\n\th.Write([]byte(encodedPayload))\n\treturn fmt.Sprintf(\"%x\", h.Sum(nil))\n}\n\nfunc getResponse(action string, payload map[string]interface{}) ([]byte, error) {\n\turl := fmt.Sprintf(\"https://api.coinone.co.kr%s\", action)\n\n\tencodedPayload := getEncodedPayload(payload)\n\n\treq, err := http.NewRequest(\"POST\", url, strings.NewReader(\"\"))\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\treq.Header.Set(\"X-COINONE-PAYLOAD\", encodedPayload)\n\treq.Header.Set(\"X-COINONE-SIGNATURE\", getSignature(encodedPayload))\n\n\tclient := &http.Client{}\n\tresp, err := client.Do(req)\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\tdefer resp.Body.Close()\n\n\tbody, err := io.ReadAll(resp.Body)\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\n\treturn body, nil\n}\n\nfunc main() {\n\tresponse, err := getResponse(\"/v2.1/account/trade_fee/KRW/BTC\", map[string]interface{}{\n\t\t\"access_token\": accessToken,\n\t})\n\tif err != nil {\n\t\tfmt.Println(\"Error:\", err)\n\t\treturn\n\t}\n\n\tfmt.Println(string(response))\n}"
            }
          ],
          "samples-languages": [
            "python",
            "java",
            "kotlin",
            "javascript",
            "go"
          ]
        },
        "tags": [
          "고객 정보"
        ],
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.coinone.co.kr/reference/find-trade-fee-by-pair"
        },
        "x-doc-url": "https://docs.coinone.co.kr/reference/find-trade-fee-by-pair"
      }
    },
    "/v2.1/order/active_orders": {
      "post": {
        "summary": "미체결 주문 조회",
        "description": "종목 별 / 주문 방식 별로 미체결 주문 조회",
        "operationId": "find-active-orders",
        "parameters": [
          {
            "name": "X-COINONE-PAYLOAD",
            "in": "header",
            "description": "Request body object -> JSON string -> base64",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-COINONE-SIGNATURE",
            "in": "header",
            "description": "HMAC(X-COINONE-PAYLOAD, SECRET_KEY, SHA512).hexdigest()",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "access_token",
                  "nonce"
                ],
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "사용자의 액세스 토큰 (access token)"
                  },
                  "nonce": {
                    "type": "string",
                    "description": "UUID nonce (예: \"022f53b2-8b2f-40c6-8e51-b594f562ee83\")"
                  },
                  "quote_currency": {
                    "type": "string",
                    "description": "마켓 기준 통화, 미입력 시 전체 종목에 해당되는 주문 목록 조회"
                  },
                  "target_currency": {
                    "type": "string",
                    "description": "조회하려는 종목의 심볼, 미입력 시 전체 종목에 해당되는 주문 목록 조회"
                  },
                  "order_type": {
                    "type": "array",
                    "description": "조회하고자하는 주문 방식, [\"LIMIT\"], [\"STOP_LIMIT\"], [\"LIMIT\", \"STOP_LIMIT\"] 이 가능하며, [] 또는 생략시 모든 타입이 조회",
                    "default": [
                      "[]"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"result\": \"success\",\n    \"error_code\": \"0\",\n    \"active_orders\": [\n        {\n            \"order_id\": \"0f5122d8-1e4d-11e9-9ec7-00e04c3600d7\",\n            \"type\": \"STOP_LIMIT\",\n            \"quote_currency\": \"KRW\",\n            \"target_currency\": \"ETH\",\n            \"price\": \"35000000\",\n            \"remain_qty\": \"1\",\n            \"original_qty\": \"1\",\n            \"canceled_qty\": \"0\",\n            \"executed_qty\": \"0\",\n            \"side\": \"SELL\",\n            \"fee\": \"0\",\n            \"fee_rate\": \"0.0\",\n            \"average_executed_price\": \"0\",\n            \"ordered_at\": 1682382211000,\n            \"is_triggered\": false,\n            \"trigger_price\": \"37000000\",\n            \"triggered_at\": null\n        },\n        {\n            \"order_id\": \"0f51223e-1e4d-11e9-9ec7-00e04c3600d7\",\n            \"type\": \"STOP_LIMIT\",\n            \"quote_currency\": \"KRW\",\n            \"target_currency\": \"BTC\",\n            \"price\": \"35000000\",\n            \"remain_qty\": \"1\",\n            \"original_qty\": \"1\",\n            \"canceled_qty\": \"0\",\n            \"executed_qty\": \"0\",\n            \"side\": \"BUY\",\n            \"fee\": \"0\",\n            \"fee_rate\": \"0.0\",\n            \"average_executed_price\": \"0\",\n            \"ordered_at\": 1682382109000,\n            \"is_triggered\": false,\n            \"trigger_price\": \"37000000\",\n            \"triggered_at\": null\n        },\n        {\n            \"order_id\": \"0f460777-1e4d-11e9-9ec7-00e04c3600d7\",\n            \"type\": \"LIMIT\",\n            \"quote_currency\": \"KRW\",\n            \"target_currency\": \"BTT\",\n            \"price\": \"0.0009\",\n            \"remain_qty\": \"10000000\",\n            \"original_qty\": \"10000000\",\n            \"canceled_qty\": \"0\",\n            \"executed_qty\": \"0\",\n            \"side\": \"BUY\",\n            \"fee\": \"0\",\n            \"fee_rate\": \"0.0\",\n            \"average_executed_price\": \"0\",\n            \"ordered_at\": 1682058807000,\n            \"is_triggered\": null,\n            \"trigger_price\": null,\n            \"triggered_at\": null\n        },\n        {\n            \"order_id\": \"0f459a2f-1e4d-11e9-9ec7-00e04c3600d7\",\n            \"type\": \"LIMIT\",\n            \"quote_currency\": \"KRW\",\n            \"target_currency\": \"BTT\",\n            \"price\": \"0.0009\",\n            \"remain_qty\": \"50000000.1234\",\n            \"original_qty\": \"50000000.1234\",\n            \"canceled_qty\": \"0\",\n            \"executed_qty\": \"0\",\n            \"side\": \"BUY\",\n            \"fee\": \"0\",\n            \"fee_rate\": \"0.0\",\n            \"average_executed_price\": \"0\",\n            \"ordered_at\": 1682055102000,\n            \"is_triggered\": null,\n            \"trigger_price\": null,\n            \"triggered_at\": null\n        },\n        {\n            \"order_id\": \"0f4376d9-1e4d-11e9-9ec7-00e04c3600d7\",\n            \"type\": \"LIMIT\",\n            \"quote_currency\": \"KRW\",\n            \"target_currency\": \"ETH\",\n            \"price\": \"700000\",\n            \"remain_qty\": \"120\",\n            \"original_qty\": \"120\",\n            \"canceled_qty\": \"0\",\n            \"executed_qty\": \"0\",\n            \"side\": \"BUY\",\n            \"fee\": \"0\",\n            \"fee_rate\": \"0.0\",\n            \"average_executed_price\": \"0\",\n            \"ordered_at\": 1681979473000,\n            \"is_triggered\": null,\n            \"trigger_price\": null,\n            \"triggered_at\": null\n        },\n        {\n            \"order_id\": \"0f43763c-1e4d-11e9-9ec7-00e04c3600d7\",\n            \"type\": \"LIMIT\",\n            \"quote_currency\": \"KRW\",\n            \"target_currency\": \"ETH\",\n            \"price\": \"1500000\",\n            \"remain_qty\": \"30.1234\",\n            \"original_qty\": \"30.1234\",\n            \"canceled_qty\": \"0\",\n            \"executed_qty\": \"0\",\n            \"side\": \"BUY\",\n            \"fee\": \"0\",\n            \"fee_rate\": \"0.0\",\n            \"average_executed_price\": \"0\",\n            \"ordered_at\": 1681979405000,\n            \"is_triggered\": null,\n            \"trigger_price\": null,\n            \"triggered_at\": null\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "example": "success",
                          "description": "정상 처리 시 \"success\", 에러 발생 시 \"error\" 반환"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "0",
                          "description": "정상 처리 시 \"0\", 에러 발생 시 에러코드 \"0\" 이 아닌 값 반환"
                        },
                        "active_orders": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "order_id": {
                                "type": "string",
                                "example": "0f512299-1e4d-11e9-9ec7-00e04c3600d7",
                                "description": "주문 식별 가능한 ID"
                              },
                              "type": {
                                "type": "string",
                                "example": "LIMIT",
                                "description": "주문 유형\n- LIMIT: 지정가\n- STOP_LIMIT : 예약가"
                              },
                              "quote_currency": {
                                "type": "string",
                                "example": "KRW",
                                "description": "마켓 기준 통화"
                              },
                              "target_currency": {
                                "type": "string",
                                "example": "BTC",
                                "description": "주문한 종목"
                              },
                              "price": {
                                "type": "string",
                                "example": "35000000",
                                "description": "주문 가격"
                              },
                              "remain_qty": {
                                "type": "string",
                                "example": "1",
                                "description": "미체결 잔량"
                              },
                              "original_qty": {
                                "type": "string",
                                "example": "1",
                                "description": "최초 주문 수량\n_  (remain_qty + executed_qty + canceled_qty)\n_  예: \"0.01\""
                              },
                              "canceled_qty": {
                                "type": "string",
                                "example": "0",
                                "description": "취소된 수량"
                              },
                              "executed_qty": {
                                "type": "string",
                                "example": "0",
                                "description": "체결된 수량"
                              },
                              "side": {
                                "type": "string",
                                "example": "BUY",
                                "description": "매수/매도 분류\n- BUY: 매수\n- SELL : 매도"
                              },
                              "fee": {
                                "type": "string",
                                "example": "0",
                                "description": "체결 수수료"
                              },
                              "fee_rate": {
                                "type": "string",
                                "example": "0.0",
                                "description": "체결 수수료율"
                              },
                              "average_executed_price": {
                                "type": "string",
                                "example": "0",
                                "description": "체결된 주문들의 평균 체결가"
                              },
                              "ordered_at": {
                                "type": "integer",
                                "example": 1682382169000,
                                "default": 0,
                                "description": "주문 등록 시점의 타임스탬프\nunit of time: millisecond"
                              },
                              "is_triggered": {
                                "description": "해당 주문이 발동되었는지 여부\n예약가 주문 이외의 경우, \u001dnull로 응답\n예약가 주문에서만 사용"
                              },
                              "trigger_price": {
                                "description": "예약가 주문이 실행되는 가격 (감시가)\n예약가 주문 이외의 경우, \u001dnull로 응답"
                              },
                              "triggered_at": {
                                "description": "(예약가 주문인 경우) 해당 주문이 발동되었을 때, 발동된 시간\n_ is_triggered=false 일때는 null\n_ is_triggered=true 일때는 해당 주문이 발동된 시간임\n예약가 주문 이외의 경우, \u001dnull로 응답"
                              }
                            }
                          },
                          "description": "배열 형태의 미체결 주문 목록"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "example": "success",
                          "description": "정상 처리 시 \"success\", 에러 발생 시 \"error\" 반환"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "0",
                          "description": "정상 처리 시 \"0\", 에러 발생 시 에러코드 \"0\" 이 아닌 값 반환"
                        },
                        "active_orders": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "order_id": {
                                "type": "string",
                                "example": "0f5122d8-1e4d-11e9-9ec7-00e04c3600d7",
                                "description": "주문 식별 가능한 ID"
                              },
                              "type": {
                                "type": "string",
                                "example": "STOP_LIMIT",
                                "description": "주문 유형\n- LIMIT: 지정가\n- STOP_LIMIT : 예약가"
                              },
                              "quote_currency": {
                                "type": "string",
                                "example": "KRW",
                                "description": "마켓 기준 통화"
                              },
                              "target_currency": {
                                "type": "string",
                                "example": "ETH",
                                "description": "주문한 종목"
                              },
                              "price": {
                                "type": "string",
                                "example": "35000000",
                                "description": "주문 가격"
                              },
                              "remain_qty": {
                                "type": "string",
                                "example": "1",
                                "description": "미체결 잔량"
                              },
                              "original_qty": {
                                "type": "string",
                                "example": "1",
                                "description": "최초 주문 수량\n_  (remain_qty + executed_qty + canceled_qty)\n_  예: \"0.01\""
                              },
                              "canceled_qty": {
                                "type": "string",
                                "example": "0",
                                "description": "취소된 수량"
                              },
                              "executed_qty": {
                                "type": "string",
                                "example": "0",
                                "description": "체결된 수량"
                              },
                              "side": {
                                "type": "string",
                                "example": "SELL",
                                "description": "매수/매도 분류\n- BUY: 매수\n- SELL : 매도"
                              },
                              "fee": {
                                "type": "string",
                                "example": "0",
                                "description": "체결 수수료"
                              },
                              "fee_rate": {
                                "type": "string",
                                "example": "0.0",
                                "description": "체결 수수료율"
                              },
                              "average_executed_price": {
                                "type": "string",
                                "example": "0",
                                "description": "체결된 주문들의 평균 체결가"
                              },
                              "ordered_at": {
                                "type": "integer",
                                "example": 1682382211000,
                                "default": 0,
                                "description": "주문 등록 시점의 타임스탬프\nunit of time: millisecond"
                              },
                              "is_triggered": {
                                "type": "boolean",
                                "example": false,
                                "default": true,
                                "description": "해당 주문이 발동되었는지 여부\n예약가 주문 이외의 경우, \u001dnull로 응답\n예약가 주문에서만 사용"
                              },
                              "trigger_price": {
                                "type": "string",
                                "example": "37000000",
                                "description": "예약가 주문이 실행되는 가격 (감시가)\n예약가 주문 이외의 경우, \u001dnull로 응답"
                              },
                              "triggered_at": {
                                "description": "(예약가 주문인 경우) 해당 주문이 발동되었을 때, 발동된 시간\n_ is_triggered=false 일때는 null\n_ is_triggered=true 일때는 해당 주문이 발동된 시간임\n예약가 주문 이외의 경우, \u001dnull로 응답"
                              }
                            }
                          },
                          "description": "배열 형태의 미체결 주문 목록"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-readme": {
          "code-samples": [
            {
              "language": "python",
              "code": "import base64\nimport hashlib\nimport hmac\nimport json\nimport uuid\nimport httplib2\n\nACCESS_TOKEN = '{access token}'\nSECRET_KEY = bytes('{secret key}', 'utf-8')\n\n\ndef get_encoded_payload(payload):\n    payload['nonce'] = str(uuid.uuid4())\n\n    dumped_json = json.dumps(payload)\n    encoded_json = base64.b64encode(bytes(dumped_json, 'utf-8'))\n    return encoded_json\n\n\ndef get_signature(encoded_payload):\n    signature = hmac.new(SECRET_KEY, encoded_payload, hashlib.sha512)\n    return signature.hexdigest()\n\n\ndef get_response(action, payload):\n    url = '{}{}'.format('https://api.coinone.co.kr', action)\n\n    encoded_payload = get_encoded_payload(payload)\n\n    headers = {\n        'Content-type': 'application/json',\n        'X-COINONE-PAYLOAD': encoded_payload,\n        'X-COINONE-SIGNATURE': get_signature(encoded_payload),\n    }\n\n    http = httplib2.Http()\n    response, content = http.request(url, 'POST', headers=headers)\n\n    return content\n\n\nprint(get_response(action='/v2.1/order/active_orders', payload={\n    'access_token': ACCESS_TOKEN,\n    'quote_currency': 'KRW',\n    'target_currency': 'BTC'\n}))\n"
            },
            {
              "language": "java",
              "code": "package main;\n\nimport com.fasterxml.jackson.core.JsonProcessingException;\nimport com.fasterxml.jackson.databind.ObjectMapper;\n\nimport javax.crypto.Mac;\nimport javax.crypto.spec.SecretKeySpec;\nimport java.io.IOException;\nimport java.net.URI;\nimport java.net.http.HttpClient;\nimport java.net.http.HttpRequest;\nimport java.net.http.HttpResponse;\nimport java.security.InvalidKeyException;\nimport java.security.NoSuchAlgorithmException;\nimport java.util.Base64;\nimport java.util.List;\nimport java.util.UUID;\n\npublic class FindActiveOrders {\n    private static final String ENDPOINT = \"https://api.coinone.co.kr/v2.1/order/active_orders\";\n    private static final String ACCESS_TOKEN = \"{accessToken}\";\n    private static final String SECRET_KEY = \"{secretKey}\";\n    private static final ObjectMapper om = new ObjectMapper();\n    private record Payload(String access_token, String nonce, String quote_currency, String target_currency, List<String> order_type){ }\n    private enum OrderType {\n        LIMIT,\n        STOP_LIMIT\n    }\n\n    public static void main(String[] args) throws JsonProcessingException {\n        var nonce = UUID.randomUUID().toString();\n        var payload = new Payload(ACCESS_TOKEN, nonce, \"krw\", \"btc\", List.of(OrderType.LIMIT.name(), OrderType.STOP_LIMIT.name()));\n        var base64EncodedPayload = makeBase64EncodedPayload(payload);\n        var signature = makeSignature(base64EncodedPayload);\n\n        try {\n            var client = HttpClient.newBuilder().build();\n            var body = om.writeValueAsString(payload);\n            var request = HttpRequest.newBuilder()\n                    .uri(URI.create(ENDPOINT))\n                    .header(\"Content-type\", \"application/json\")\n                    .header(\"X-COINONE-PAYLOAD\", base64EncodedPayload)\n                    .header(\"X-COINONE-SIGNATURE\", signature)\n                    .POST(HttpRequest.BodyPublishers.ofString(body))\n                    .build();\n            var response = client.send(request, HttpResponse.BodyHandlers.ofString());\n            System.out.println(response.body());\n        } catch (InterruptedException | IOException e) {\n            throw new RuntimeException(e);\n        }\n    }\n\n    private static String makeBase64EncodedPayload(Payload payload) {\n        try {\n            var bytesPayload = om.writeValueAsBytes(payload);\n            return Base64.getEncoder().encodeToString(bytesPayload);\n        } catch (JsonProcessingException e) {\n            throw new RuntimeException(e);\n        }\n    }\n    private static String makeSignature(String base64EncodedPayload) {\n        try {\n            var mac = Mac.getInstance(\"HmacSHA512\");\n            var keySpec = new SecretKeySpec(SECRET_KEY.getBytes(), \"HmacSHA512\");\n            mac.init(keySpec);\n            var messageDigest = mac.doFinal(base64EncodedPayload.getBytes());\n            var sb = new StringBuilder();\n            for (byte b : messageDigest) {\n                sb.append(String.format(\"%02x\", b));\n            }\n            return sb.toString();\n        } catch (NoSuchAlgorithmException | InvalidKeyException e) {\n            throw new RuntimeException(e);\n        }\n    }\n}"
            },
            {
              "language": "kotlin",
              "code": "package main\n\nimport com.fasterxml.jackson.core.JsonProcessingException\nimport com.fasterxml.jackson.databind.ObjectMapper\nimport java.io.IOException\nimport java.net.URI\nimport java.net.http.HttpClient\nimport java.net.http.HttpRequest\nimport java.net.http.HttpResponse\nimport java.security.InvalidKeyException\nimport java.security.NoSuchAlgorithmException\nimport java.util.*\nimport javax.crypto.Mac\nimport javax.crypto.spec.SecretKeySpec\n\nobject FindActiveOrders {\n    private const val ENDPOINT = \"https://api.coinone.co.kr/v2.1/order/active_orders\"\n    private const val ACCESS_TOKEN = \"{accessToken}\"\n    private const val SECRET_KEY = \"{secretKey}\"\n    private val om = ObjectMapper()\n    private data class Payload(val access_token: String, val nonce: String, val quote_currency: String, val target_currency: String, val order_type: List<String>)\n    private enum class OrderType {\n        LIMIT, STOP_LIMIT\n    }\n\n    @JvmStatic\n    fun main(args: Array<String>) {\n        val nonce = UUID.randomUUID().toString()\n        val payload = Payload(ACCESS_TOKEN, nonce, \"krw\", \"btc\", listOf(OrderType.LIMIT.name, OrderType.STOP_LIMIT.name))\n        val base64EncodedPayload = makeBase64EncodedPayload(payload)\n        val signature = makeSignature(base64EncodedPayload)\n        try {\n            val client = HttpClient.newBuilder().build()\n            val body = om.writeValueAsString(payload)\n            val request = HttpRequest.newBuilder()\n                .uri(URI.create(ENDPOINT))\n                .header(\"Content-type\", \"application/json\")\n                .header(\"X-COINONE-PAYLOAD\", base64EncodedPayload)\n                .header(\"X-COINONE-SIGNATURE\", signature)\n                .POST(HttpRequest.BodyPublishers.ofString(body))\n                .build()\n            val response = client.send(request, HttpResponse.BodyHandlers.ofString())\n            println(response.body())\n        } catch (e: InterruptedException) {\n            throw RuntimeException(e)\n        } catch (e: IOException) {\n            throw RuntimeException(e)\n        }\n    }\n\n    private fun makeBase64EncodedPayload(payload: Payload): String {\n        return try {\n            val bytesPayload = om.writeValueAsBytes(payload)\n            Base64.getEncoder().encodeToString(bytesPayload)\n        } catch (e: JsonProcessingException) {\n            throw RuntimeException(e)\n        }\n    }\n\n    private fun makeSignature(base64EncodedPayload: String): String {\n        return try {\n            val mac = Mac.getInstance(\"HmacSHA512\")\n            val keySpec = SecretKeySpec(SECRET_KEY.toByteArray(), \"HmacSHA512\")\n            mac.init(keySpec)\n            val messageDigest = mac.doFinal(base64EncodedPayload.toByteArray())\n            val sb = StringBuilder()\n            for (b in messageDigest) {\n                sb.append(String.format(\"%02x\", b))\n            }\n            sb.toString()\n        } catch (e: NoSuchAlgorithmException) {\n            throw RuntimeException(e)\n        } catch (e: InvalidKeyException) {\n            throw RuntimeException(e)\n        }\n    }\n}"
            },
            {
              "language": "javascript",
              "code": "const request = require('request');\nconst crypto = require('crypto');\nconst { v4: uuidv4 } = require('uuid');\n\n\nconst ACCESS_TOKEN = \"{accessToken}\"\nconst SECRET_KEY = \"{secretKey}\"\n\nconst payload = {\n    access_token: ACCESS_TOKEN,\n    nonce: uuidv4(),\n    quote_currency: 'KRW',\n    target_currency: 'BTC',\n    order_type: ['LIMIT', 'STOP_LIMIT']\n};\n\nconst encodedPayload = Buffer.from(JSON.stringify(payload)).toString('base64');\nconst signature = crypto.createHmac('sha512', SECRET_KEY).update(encodedPayload).digest('hex');\nconst options = {\n    url: 'https://api.coinone.co.kr/v2.1/order/active_orders',\n    method: 'POST',\n    headers: {\n        'Content-Type': 'application/json',\n        'X-COINONE-PAYLOAD': encodedPayload,\n        'X-COINONE-SIGNATURE': signature,\n    },\n    body: JSON.stringify(payload),\n};\n\nrequest(options, (error, response, body) => {\n    if (error) throw new Error(error);\n    console.log(body);\n});"
            },
            {
              "language": "go",
              "code": "package main\n\nimport (\n\t\"fmt\"\n)\n\nimport (\n\t\"crypto/hmac\"\n\t\"crypto/sha512\"\n\t\"encoding/base64\"\n\t\"encoding/json\"\n\t\"github.com/google/uuid\"\n\t\"io\"\n\t\"net/http\"\n\t\"strings\"\n)\n\nconst (\n\taccessToken = \"{access token}\"\n\tsecretKey   = \"{secret key}\"\n)\n\nfunc getEncodedPayload(payload map[string]interface{}) string {\n\tpayload[\"nonce\"] = uuid.New().String()\n\n\tdumpedJSON, _ := json.Marshal(payload)\n\treturn base64.StdEncoding.EncodeToString(dumpedJSON)\n}\n\nfunc getSignature(encodedPayload string) string {\n\th := hmac.New(sha512.New, []byte(secretKey))\n\th.Write([]byte(encodedPayload))\n\treturn fmt.Sprintf(\"%x\", h.Sum(nil))\n}\n\nfunc getResponse(action string, payload map[string]interface{}) ([]byte, error) {\n\turl := fmt.Sprintf(\"https://api.coinone.co.kr%s\", action)\n\n\tencodedPayload := getEncodedPayload(payload)\n\n\treq, err := http.NewRequest(\"POST\", url, strings.NewReader(\"\"))\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\n\treq.Header.Set(\"Content-Type\", \"application/json\")\n\treq.Header.Set(\"X-COINONE-PAYLOAD\", encodedPayload)\n\treq.Header.Set(\"X-COINONE-SIGNATURE\", getSignature(encodedPayload))\n\n\tclient := &http.Client{}\n\tresp, err := client.Do(req)\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\tdefer resp.Body.Close()\n\n\tbody, err := io.ReadAll(resp.Body)\n\tif err != nil {\n\t\treturn nil, err\n\t}\n\n\treturn body, nil\n}\n\nfunc main() {\n\tresponse, err := getResponse(\"/v2.1/order/active_orders\", map[string]interface{}{\n\t\t\"access_token\":    accessToken,\n\t\t\"quote_currency\":  \"KRW\",\n\t\t\"target_currency\": \"BTC\",\n\t\t\"order_type\":      []string{\"LIMIT\"}, //The order_type can include MARKET, STOP_LIMIT, and if order_type is null or an empty list, all order types are retrieved\n\t})\n\tif err != nil {\n\t\tfmt.Println(\"Error:\", err)\n\t\treturn\n\t}\n\n\tfmt.Println(string(response))\n}"
            }
          ],
          "samples-languages": [
            "python",
            "java",
            "kotlin",
            "javascript",
            "go"
          ]
        },
        "tags": [
          "주문 조회"
        ],
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.coinone.co.kr/reference/find-active-orders"
        },
        "x-doc-url": "https://docs.coinone.co.kr/reference/find-active-orders"
      }
    },
    "/v2.1/order/detail": {
      "post": {
        "summary": "주문 정보 조회",
        "description": "주문 식별 ID에 해당하는 주문 조회",
        "operationId": "order-detail",
        "parameters": [
          {
            "name": "X-COINONE-PAYLOAD",
            "in": "header",
            "description": "Request body object -> JSON string -> base64",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-COINONE-SIGNATURE",
            "in": "header",
            "description": "HMAC(X-COINONE-PAYLOAD, SECRET_KEY, SHA512).hexdigest()",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "access_token",
                  "nonce",
                  "order_id",
                  "quote_currency",
                  "target_currency"
                ],
                "properties": {
                  "access_token": {
                    "type": "string",
                    "description": "사용자의 액세스 토큰 (access token)"
                  },
                  "nonce": {
                    "type": "string",
                    "description": "UUID nonce (예: \"022f53b2-8b2f-40c6-8e51-b594f562ee83\")"
                  },
                  "order_id": {
                    "type": "string",
                    "description": "조회하려는 주문 식별 ID"
                  },
                  "quote_currency": {
                    "type": "string",
                    "description": "조회하려는 주문의 마켓 기준 통화",
                    "default": "KRW"
                  },
                  "target_currency": {
                    "type": "string",
                    "description": "조회하려는 주문의 종목 심볼",
                    "default": "BTC"
                  },
                  "user_order_id": {
                    "type": "string",
                    "description": "150자까지 지원 (알파벳 소문자 / 숫자 / 특수문자 - _ . 지원)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "limit": {
                    "value": "{\n    \"result\": \"success\",\n    \"error_code\": \"0\",\n    \"order\": {\n        \"order_id\": \"0f1c26d0-1e4d-11e9-9ec7-00e04c3600d7\",\n        \"type\": \"LIMIT\",\n        \"quote_currency\": \"KRW\",\n        \"target_currency\": \"BTC\",\n        \"status\": \"CANCELED\",\n        \"side\": \"BUY\",\n        \"fee\": \"0\",\n        \"fee_rate\": \"0.0\",\n        \"average_executed_price\": \"0\",\n        \"updated_at\": 1680055490000,\n        \"ordered_at\": 1680051059000,\n        \"price\": \"100000\",\n        \"original_qty\": \"1\",\n        \"executed_qty\": \"0\",\n        \"canceled_qty\": \"1\",\n        \"remain_qty\": \"0\",\n        \"limit_price\": null,\n        \"traded_amount\": null,\n        \"original_amount\": null,\n        \"canceled_amount\": null,\n        \"is_triggered\": null,\n        \"trigger_price\": null\n    }\n}"
                  },
                  "market buy": {
                    "value": "{\n    \"result\": \"success\",\n    \"error_code\": \"0\",\n    \"order\": {\n        \"order_id\": \"0f9d1473-1e4d-11e9-9ec7-00e04c3600d7\",\n        \"type\": \"MARKET\",\n        \"quote_currency\": \"KRW\",\n        \"target_currency\": \"BTC\",\n        \"status\": \"CANCELED_UNDER_PRODUCT_UNIT\",\n        \"side\": \"BUY\",\n        \"fee\": \"1999.9999\",\n        \"average_fee_rate\": \"0.002\",\n        \"average_executed_price\": \"29959000\",\n        \"updated_at\": 1686133903000,\n        \"ordered_at\": 1686133903000,\n        \"price\": null,\n        \"original_qty\": null,\n        \"executed_qty\": \"0.03337895\",\n        \"canceled_qty\": null,\n        \"remain_qty\": null,\n        \"limit_price\": \"40000000\",\n        \"traded_amount\": \"999999.963\",\n        \"original_amount\": \"1000000\",\n        \"canceled_amount\": \"0.0369\",\n        \"is_triggered\": null,\n        \"trigger_price\": null\n    }\n}"
                  },
                  "market sell": {
                    "value": "{\n    \"result\": \"success\",\n    \"error_code\": \"0\",\n    \"order\": {\n        \"order_id\": \"0f51301f-1e4d-11e9-9ec7-00e04c3600d7\",\n        \"type\": \"MARKET\",\n        \"quote_currency\": \"KRW\",\n        \"target_currency\": \"BTC\",\n        \"status\": \"FILLED\",\n        \"side\": \"SELL\",\n        \"fee\": \"73.36\",\n        \"fee_rate\": \"0.002\",\n        \"average_executed_price\": \"36680000\",\n        \"updated_at\": 1682385152000,\n        \"ordered_at\": 1682385152000,\n        \"price\": null,\n        \"original_qty\": \"0.001\",\n        \"executed_qty\": \"0.001\",\n        \"canceled_qty\": \"0\",\n        \"remain_qty\": null,\n        \"limit_price\": \"0.0001\",\n        \"traded_amount\": null,\n        \"original_amount\": null,\n        \"canceled_amount\": null,\n        \"is_triggered\": null,\n        \"trigger_price\": null\n    }\n}"
                  },
                  "stop limit": {
                    "value": "{\n    \"result\": \"success\",\n    \"error_code\": \"0\",\n    \"order\": {\n        \"order_id\": \"0f1c2fd6-1e4d-11e9-9ec7-00e04c3600d7\",\n        \"type\": \"STOP_LIMIT\",\n        \"quote_currency\": \"KRW\",\n        \"target_currency\": \"BTC\",\n        \"status\": \"FILLED\",\n        \"side\": \"BUY\",\n        \"fee\": \"80000\",\n        \"fee_rate\": \"0.002\",\n        \"average_executed_price\": \"20000000\",\n        \"updated_at\": 1680618935000,\n        \"ordered_at\": 1680052401000,\n        \"price\": \"20000000\",\n        \"original_qty\": \"2\",\n        \"executed_qty\": \"2\",\n        \"canceled_qty\": \"0\",\n        \"remain_qty\": \"0\",\n        \"limit_price\": null,\n        \"traded_amount\": null,\n        \"original_amount\": null,\n        \"canceled_amount\": null,\n        \"is_triggered\": true,\n        \"trigger_price\": \"36998000\"\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "limit",
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "example": "success",
                          "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "0",
                          "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                        },
                        "order": {
                          "type": "object",
                          "properties": {
                            "order_id": {
                              "type": "string",
                              "example": "0f1c26d0-1e4d-11e9-9ec7-00e04c3600d7",
                              "description": "주문 식별 ID\n예: \"0e30219d-1e4d-11e9-9ec7-00e04c3600d7\""
                            },
                            "type": {
                              "type": "string",
                              "example": "LIMIT",
                              "description": "주문 유형\n- LIMIT: 지정가\n- MARKET : 시장가\n- STOP_LIMIT : 예약가"
                            },
                            "quote_currency": {
                              "type": "string",
                              "example": "KRW",
                              "description": "마켓 기준 통화\n예: \"KRW\""
                            },
                            "target_currency": {
                              "type": "string",
                              "example": "BTC",
                              "description": "주문 등록된 종목의 심볼\n예: \"BTC\""
                            },
                            "status": {
                              "type": "string",
                              "example": "CANCELED",
                              "description": "주문 진행 상태 (아래 status 표 참고)"
                            },
                            "side": {
                              "type": "string",
                              "example": "BUY",
                              "description": "매수/매도 분류\n- BUY: 매수\n- SELL : 매도"
                            },
                            "fee": {
                              "type": "string",
                              "example": "0",
                              "description": "체결 수수료"
                            },
                            "fee_rate": {
                              "type": "string",
                              "example": "0.0",
                              "description": "체결 수수료율"
                            },
                            "average_executed_price": {
                              "type": "string",
                              "example": "0",
                              "description": "체결된 주문의 평균 체결가"
                            },
                            "updated_at": {
                              "type": "integer",
                              "example": 1680055490000,
                              "default": 0,
                              "description": "마지막 주문 업데이트 시점\nunit of time: millisecond"
                            },
                            "ordered_at": {
                              "type": "integer",
                              "example": 1680051059000,
                              "default": 0,
                              "description": "주문 등록 시점\nunit of time: millisecond)"
                            },
                            "price": {
                              "type": "string",
                              "example": "100000",
                              "description": "주문 가격"
                            },
                            "original_qty": {
                              "type": "string",
                              "example": "1",
                              "description": "최초 주문 수량\n_ remain_qty + executed_qty + canceled_qty)\n_ 예: \"0.01\""
                            },
                            "executed_qty": {
                              "type": "string",
                              "example": "0",
                              "description": "체결된 수량"
                            },
[...]
