{
  "openapi": "3.1.0",
  "info": {
    "title": "Coinone REST Public API",
    "description": "코인원 공식 문서 v1.7 기준 Public REST API 스펙입니다.",
    "version": "1.7",
    "contact": {
      "name": "코인원 개발자 센터",
      "url": "https://docs.coinone.co.kr/reference"
    }
  },
  "servers": [
    {
      "url": "https://api.coinone.co.kr"
    }
  ],
  "paths": {
    "/public/v2/range_units/{quote_currency}/{target_currency}": {
      "get": {
        "summary": "개별 호가 단위 조회",
        "description": "개별 종목의 가격 단위 별 호가 단위 조회",
        "operationId": "range-unit",
        "parameters": [
          {
            "name": "quote_currency",
            "in": "path",
            "description": "마켓 기준 통화 (예: KRW)",
            "schema": {
              "type": "string",
              "default": "KRW"
            },
            "required": true
          },
          {
            "name": "target_currency",
            "in": "path",
            "description": "조회하려는 종목의 심볼 (예: BTC)",
            "schema": {
              "type": "string",
              "default": "BTC"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"range_price_units\": [\n    {\n      \"range_min\": 0,\n      \"next_range_min\": 1,\n      \"price_unit\": 0.0001\n    },\n    {\n      \"range_min\": 1,\n      \"next_range_min\": 10,\n      \"price_unit\": 0.001\n    },\n    {\n      \"range_min\": 10,\n      \"next_range_min\": 100,\n      \"price_unit\": 0.01\n    },\n    {\n      \"range_min\": 100,\n      \"next_range_min\": 1000,\n      \"price_unit\": 0.1\n    },\n    {\n      \"range_min\": 1000,\n      \"next_range_min\": 5000,\n      \"price_unit\": 1\n    },\n    {\n      \"range_min\": 5000,\n      \"next_range_min\": 10000,\n      \"price_unit\": 5\n    },\n    {\n      \"range_min\": 10000,\n      \"next_range_min\": 50000,\n      \"price_unit\": 10\n    },\n    {\n      \"range_min\": 50000,\n      \"next_range_min\": 100000,\n      \"price_unit\": 50\n    },\n    {\n      \"range_min\": 100000,\n      \"next_range_min\": 500000,\n      \"price_unit\": 100\n    },\n    {\n      \"range_min\": 500000,\n      \"next_range_min\": 1000000,\n      \"price_unit\": 500\n    },\n    {\n      \"range_min\": 1000000,\n      \"next_range_min\": 10000000000,\n      \"price_unit\": 1000\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success",
                      "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                    },
                    "error_code": {
                      "type": "string",
                      "example": "0",
                      "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                    },
                    "range_price_units": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "range_min": {
                            "type": "integer",
                            "example": 0,
                            "default": 0,
                            "description": "가격 범위의 최소 가격"
                          },
                          "next_range_min": {
                            "type": "integer",
                            "example": 1,
                            "default": 0,
                            "description": "가격 범위의 최대 가격"
                          },
                          "price_unit": {
                            "type": "number",
                            "example": 0.0001,
                            "default": 0,
                            "description": "가격 범위에 해당하는 호가 단위"
                          }
                        }
                      },
                      "description": "배열 형태로 가상자산 가격 단위 별 전체 호가 단위 정보 반환"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "tags": [
          "PUBLIC API V2"
        ],
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.coinone.co.kr/reference/range-unit"
        },
        "x-doc-url": "https://docs.coinone.co.kr/reference/range-unit"
      }
    },
    "/public/v2/markets/{quote_currency}": {
      "get": {
        "summary": "전체 종목 정보 조회",
        "description": "마켓 별로 거래 가능한 종목들의 정보 조회",
        "operationId": "markets",
        "parameters": [
          {
            "name": "quote_currency",
            "in": "path",
            "description": "마켓 기준 통화",
            "schema": {
              "type": "string",
              "default": "KRW"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"server_time\": 1416895635000,\n  \"markets\": [\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BTC\",\n      \"price_unit\": \"1000.0\",\n      \"qty_unit\": \"0.0001\",\n      \"max_order_amount\": \"1000000000.0\",\n      \"max_price\": \"1000000000000.0\",\n      \"max_qty\": \"100000000.0\",\n      \"min_order_amount\": \"0.0001\",\n      \"min_price\": \"0.0001\",\n      \"min_qty\": \"0.00000001\",\n      \"order_book_units\": [\n        \"0.0\",\n        \"10000.0\",\n        \"100000.0\"\n      ],\n      \"maintenance_status\": 0,\n      \"trade_status\": 1,\n      \"order_types\": [\n        \"limit\",\n        \"market\"\n      ]\n    },\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"ETH\",\n      \"price_unit\": \"10000.0\",\n      \"qty_unit\": \"0.0001\",\n      \"max_order_amount\": \"1000000000.0\",\n      \"max_price\": \"100000000.0\",\n      \"max_qty\": \"100.0\",\n      \"min_order_amount\": \"500.0\",\n      \"min_price\": \"0.0001\",\n      \"min_qty\": \"0.00000001\",\n      \"order_book_units\": [\n        \"50000.0\",\n        \"100000.0\"\n      ],\n      \"maintenance_status\": 0,\n      \"trade_status\": 1,\n      \"order_types\": [\n        \"limit\",\n        \"market\"\n      ]\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success",
                      "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                    },
                    "error_code": {
                      "type": "string",
                      "example": "0",
                      "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                    },
                    "server_time": {
                      "type": "integer",
                      "example": 1416895635000,
                      "default": 0,
                      "description": "반환 시점의 서버 시간 (ms)"
                    },
                    "markets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quote_currency": {
                            "type": "string",
                            "example": "KRW",
                            "description": "마켓 기준 통화"
                          },
                          "target_currency": {
                            "type": "string",
                            "example": "BTC",
                            "description": "거래 가능한 종목 명"
                          },
                          "price_unit": {
                            "type": "string",
                            "example": "1000.0",
                            "description": "가격 호가 단위 (해당 파라미터는 제거될 예정입니다. 개별 호가 단위 조회를 이용해 주세요)"
                          },
                          "qty_unit": {
                            "type": "string",
                            "example": "0.0001",
                            "description": "주문 가능 수량 단위"
                          },
                          "max_order_amount": {
                            "type": "string",
                            "example": "1000000000.0",
                            "description": "최대 주문 총액 (가격 X 주문량)"
                          },
                          "max_price": {
                            "type": "string",
                            "example": "1000000000000.0",
                            "description": "최대 주문 가능한 가격 (KRW 기준)"
                          },
                          "max_qty": {
                            "type": "string",
                            "example": "100000000.0",
                            "description": "최대 주문 가능한 수량 (종목 수량)"
                          },
                          "min_order_amount": {
                            "type": "string",
                            "example": "0.0001",
                            "description": "최소 주문 총액 (가격 X 주문량)"
                          },
                          "min_price": {
                            "type": "string",
                            "example": "0.0001",
                            "description": "최소 주문 가능한 가격 (KRW 기준)"
                          },
                          "min_qty": {
                            "type": "string",
                            "example": "0.00000001",
                            "description": "최소 주문 가능한 수량 (종목 수량)"
                          },
                          "order_book_units": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "0.0"
                            },
                            "description": "오더북 단위 정보\n표준 오더북(0.0), 최신 가격 정보에 따라 첫번째 뎁스 오더북, 두번째 뎁스 오더북이 보여짐"
                          },
                          "maintenance_status": {
                            "type": "integer",
                            "example": 0,
                            "default": 0,
                            "description": "점검 여부 상태\n0 - 정상\n1 - 점검 중"
                          },
                          "trade_status": {
                            "type": "integer",
                            "example": 1,
                            "default": 0,
                            "description": "거래 가능 여부 상태\n0 - 매수/매도 불가 상태\n1 - 매수/매도 가능 상태\n2 - 매수 불가 상태\n3 - 매도 불가 상태"
                          },
                          "order_types": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "limit"
                            },
                            "description": "가능한 주문 방식\nmarket :시장가\nlimit: 지정가\nstop_limit: 예약가"
                          }
                        }
                      },
                      "description": "마켓 기준 통화로 거래 가능한 종목 목록"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "tags": [
          "PUBLIC API V2"
        ],
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.coinone.co.kr/reference/markets"
        },
        "x-doc-url": "https://docs.coinone.co.kr/reference/markets"
      }
    },
    "/public/v2/markets/{quote_currency}/{target_currency}": {
      "get": {
        "summary": "개별 종목 정보 조회",
        "description": "마켓 별로 거래 가능한 개별 종목의 정보 조회",
        "operationId": "market",
        "parameters": [
          {
            "name": "quote_currency",
            "in": "path",
            "description": "마켓 기준 통화",
            "schema": {
              "type": "string",
              "default": "KRW"
            },
            "required": true
          },
          {
            "name": "target_currency",
            "in": "path",
            "description": "조회하려는 종목의 심볼",
            "schema": {
              "type": "string",
              "default": "BTC"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"server_time\": 1416895635000,\n  \"markets\": [\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BTC\",\n      \"price_unit\": \"100.0\",\n      \"qty_unit\": \"0.0001\",\n      \"max_order_amount\": \"1000000000.0\",\n      \"max_price\": \"1000000000000.0\",\n      \"max_qty\": \"100000000.0\",\n      \"min_order_amount\": \"0.0001\",\n      \"min_price\": \"0.0001\",\n      \"min_qty\": \"0.00000001\",\n      \"order_book_units\": [\n        \"0.0\",\n        \"10000.0\",\n        \"100000.0\"\n      ],\n      \"maintenance_status\": 0,\n      \"trade_status\": 1,\n      \"order_types\": [\n        \"limit\",\n        \"market\"\n      ]\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success",
                      "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                    },
                    "error_code": {
                      "type": "string",
                      "example": "0",
                      "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                    },
                    "server_time": {
                      "type": "integer",
                      "example": 1416895635000,
                      "default": 0,
                      "description": "반환 시점의 서버 시간 (ms)"
                    },
                    "markets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "quote_currency": {
                            "type": "string",
                            "example": "KRW",
                            "description": "마켓 기준 통화"
                          },
                          "target_currency": {
                            "type": "string",
                            "example": "BTC",
                            "description": "조회 요청한 종목"
                          },
                          "price_unit": {
                            "type": "string",
                            "example": "100.0",
                            "description": "가격 호가 단위 (해당 파라미터는 제거될 예정입니다. 개별 호가 단위 조회를 이용해 주세요)"
                          },
                          "qty_unit": {
                            "type": "string",
                            "example": "0.0001",
                            "description": "주문 가능 수량 단위"
                          },
                          "max_order_amount": {
                            "type": "string",
                            "example": "1000000000.0",
                            "description": "최대 주문 총액 (가격 X 주문량)"
                          },
                          "max_price": {
                            "type": "string",
                            "example": "1000000000000.0",
                            "description": "최대 주문 가능한 가격 (KRW 기준)"
                          },
                          "max_qty": {
                            "type": "string",
                            "example": "100000000.0",
                            "description": "최대 주문 가능한 수량 (종목 수량)"
                          },
                          "min_order_amount": {
                            "type": "string",
                            "example": "0.0001",
                            "description": "최소 주문 총액 (가격 X 주문량)"
                          },
                          "min_price": {
                            "type": "string",
                            "example": "0.0001",
                            "description": "최소 주문 가능한 가격 (KRW 기준)"
                          },
                          "min_qty": {
                            "type": "string",
                            "example": "0.00000001",
                            "description": "최소 주문 가능한 수량 (종목 수량)"
                          },
                          "order_book_units": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "0.0"
                            },
                            "description": "오더북 단위 정보\n표준 오더북(0.0), 최신 가격 정보에 따라 첫번째 뎁스 오더북, 두번째 뎁스 오더북이 보여짐"
                          },
                          "maintenance_status": {
                            "type": "integer",
                            "example": 0,
                            "default": 0,
                            "description": "점검 여부 상태\n0 - 정상\n1 - 점검 중"
                          },
                          "trade_status": {
                            "type": "integer",
                            "example": 1,
                            "default": 0,
                            "description": "거래 가능 여부 상태\n0 - 매수/매도 불가 상태\n1 - 매수/매도 가능 상태\n2 - 매수 불가 상태\n3 - 매도 불가 상태"
                          },
                          "order_types": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "limit"
                            },
                            "description": "가능한 주문 방식\nlimit: 지정가\nmarket :시장가\nstop_limit: 예약가"
                          }
                        }
                      },
                      "description": "종목 정보"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "tags": [
          "PUBLIC API V2"
        ],
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.coinone.co.kr/reference/market"
        },
        "x-doc-url": "https://docs.coinone.co.kr/reference/market"
      }
    },
    "/public/v2/orderbook/{quote_currency}/{target_currency}": {
      "get": {
        "summary": "오더북 조회",
        "description": "특정 종목의 오더북 정보 조회 (호가 단위 별)",
        "operationId": "orderbook",
        "parameters": [
          {
            "name": "quote_currency",
            "in": "path",
            "description": "마켓 기준 통화",
            "schema": {
              "type": "string",
              "default": "KRW"
            },
            "required": true
          },
          {
            "name": "target_currency",
            "in": "path",
            "description": "조회하려는 종목의 심볼",
            "schema": {
              "type": "string",
              "default": "BTC"
            },
            "required": true
          },
          {
            "name": "size",
            "in": "query",
            "description": "조회 하려는 오더북 개수 (기본값: 15)",
            "schema": {
              "type": "string",
              "enum": [
                "5",
                "10",
                "15",
                "16"
              ],
              "default": "15"
            }
          },
          {
            "name": "order_book_unit",
            "in": "query",
            "description": "Market API의 order_book_units 값 사용. 아닐경우, 표준 오더북 반환",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"timestamp\": 1644488410702,\n  \"id\": \"1644488410702001\",\n  \"quote_currency\": \"KRW\",\n  \"target_currency\": \"BTC\",\n  \"order_book_unit\": \"1000.0\",\n  \"bids\": [\n    {\n      \"price\": \"75862000\",\n      \"qty\": \"0.5\"\n    },\n    {\n      \"price\": \"75860000\",\n      \"qty\": \"0.5\"\n    },\n    {\n      \"price\": \"75859000\",\n      \"qty\": \"0.5\"\n    },\n    {\n      \"price\": \"75857000\",\n      \"qty\": \"0.5\"\n    },\n    {\n      \"price\": \"75855000\",\n      \"qty\": \"0.5\"\n    }\n  ],\n  \"asks\": [\n    {\n      \"price\": \"75863000\",\n      \"qty\": \"22.5\"\n    },\n    {\n      \"price\": \"75865000\",\n      \"qty\": \"22\"\n    },\n    {\n      \"price\": \"75867000\",\n      \"qty\": \"11\"\n    },\n    {\n      \"price\": \"75869000\",\n      \"qty\": \"23\"\n    },\n    {\n      \"price\": \"75871000\",\n      \"qty\": \"24\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success",
                      "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                    },
                    "error_code": {
                      "type": "string",
                      "example": "0",
                      "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                    },
                    "timestamp": {
                      "type": "integer",
                      "example": 1644488410702,
                      "default": 0,
                      "description": "오더북의 최근 업데이트 시간 (ms)"
                    },
                    "id": {
                      "type": "string",
                      "example": "1644488410702001",
                      "description": "order book id 값, id 값이 클수록 최신 OrderBook 정보"
                    },
                    "quote_currency": {
                      "type": "string",
                      "example": "KRW",
                      "description": "마켓 기준 통화"
                    },
                    "target_currency": {
                      "type": "string",
                      "example": "BTC",
                      "description": "조회 요청한 종목"
                    },
                    "order_book_unit": {
                      "type": "string",
                      "example": "1000.0",
                      "description": "현재 오더북 단위"
                    },
                    "bids": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "string",
                            "example": "75862000",
                            "description": "매수 호가"
                          },
                          "qty": {
                            "type": "string",
                            "example": "0.5",
                            "description": "매수 수량"
                          }
                        }
                      },
                      "description": "매수 오더북 정보"
                    },
                    "asks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "price": {
                            "type": "string",
                            "example": "75863000",
                            "description": "매도 호가"
                          },
                          "qty": {
                            "type": "string",
                            "example": "22.5",
                            "description": "매도 수량"
                          }
                        }
                      },
                      "description": "매도 오더북 정보"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "tags": [
          "PUBLIC API V2"
        ],
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.coinone.co.kr/reference/orderbook"
        },
        "x-doc-url": "https://docs.coinone.co.kr/reference/orderbook"
      }
    },
    "/public/v2/trades/{quote_currency}/{target_currency}": {
      "get": {
        "summary": "최근 체결 주문 조회",
        "description": "최신 순으로 체결된 주문 목록 조회",
        "operationId": "recent-completed-orders",
        "parameters": [
          {
            "name": "quote_currency",
            "in": "path",
            "description": "마켓 기준 통화",
            "schema": {
              "type": "string",
              "default": "KRW"
            },
            "required": true
          },
          {
            "name": "target_currency",
            "in": "path",
            "description": "조회하려는 종목의 심볼",
            "schema": {
              "type": "string",
              "default": "BTC"
            },
            "required": true
          },
          {
            "name": "size",
            "in": "query",
            "description": "한번에 조회할 목록 수 (기본:200)",
            "schema": {
              "type": "string",
              "enum": [
                "10",
                "50",
                "100",
                "150",
                "200"
              ],
              "default": "200"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"server_time\": 1416895635000,\n  \"quote_currency\": \"krw\",\n  \"target_currency\": \"btc\",\n  \"transactions\": [\n    {\n      \"id\": \"1416893212001\",\n      \"timestamp\": 1416895634000,\n      \"price\": \"420000\",\n      \"qty\": \"0.1\",\n      \"is_seller_maker\": true\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "example": "success",
                      "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                    },
                    "error_code": {
                      "type": "string",
                      "example": "0",
                      "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                    },
                    "server_time": {
                      "type": "integer",
                      "example": 1416895635000,
                      "default": 0,
                      "description": "반환 시점의 서버 시간 (ms)"
                    },
                    "quote_currency": {
                      "type": "string",
                      "example": "krw",
                      "description": "마켓 기준 통화"
                    },
                    "target_currency": {
                      "type": "string",
                      "example": "btc",
                      "description": "체결된 주문 목록의 종목"
                    },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "1416893212001",
                            "description": "주문 ID"
                          },
                          "timestamp": {
                            "type": "integer",
                            "example": 1416895634000,
                            "default": 0,
                            "description": "주문 시간(ms)"
                          },
                          "price": {
                            "type": "string",
                            "example": "420000",
                            "description": "체결 시점 원화 기준 가격"
                          },
                          "qty": {
                            "type": "string",
                            "example": "0.1",
                            "description": "체결 수량"
                          },
                          "is_seller_maker": {
                            "type": "boolean",
                            "example": true,
                            "default": true,
                            "description": "매수/매도 여부, true인 경우 매도, false인 경우 매수"
                          }
                        }
                      },
                      "description": "최근 체결된 주문 목록"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "tags": [
          "PUBLIC API V2"
        ],
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.coinone.co.kr/reference/recent-completed-orders"
        },
        "x-doc-url": "https://docs.coinone.co.kr/reference/recent-completed-orders"
      }
    },
    "/public/v2/ticker_new/{quote_currency}": {
      "get": {
        "summary": "전체 티커 정보 조회",
        "description": "마켓의 모든 티커 정보 조회",
        "operationId": "tickers",
        "parameters": [
          {
            "name": "quote_currency",
            "in": "path",
            "description": "조회하려는 마켓의 기준 통화",
            "schema": {
              "type": "string",
              "default": "KRW"
            },
            "required": true
          },
          {
            "name": "additional_data",
            "in": "query",
            "description": "입력 값이 true 이면 전일가 정보까지 조회",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"server_time\": 1416895635000,\n  \"tickers\": [\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BTC\",\n      \"timestamp\": 1499341142000,\n      \"high\": \"3845000.0\",\n      \"low\": \"3819000.0\",\n      \"first\": \"3825000.0\",\n      \"last\": \"3833000.0\",\n      \"quote_volume\": \"10000.0\",\n      \"target_volume\": \"163.3828\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499341142000001\"\n    },\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BCH\",\n      \"timestamp\": 1499341142000,\n      \"high\": \"133500.0\",\n      \"low\": \"130500.0\",\n      \"first\": \"131500.0\",\n      \"last\": \"132000.0\",\n      \"quote_volume\": \"1000000.0\",\n      \"target_volume\": \"1770.8030\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499341142000002\"\n    },\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"ETH\",\n      \"timestamp\": 1499351493000,\n      \"high\": \"120700.0\",\n      \"low\": \"117900.0\",\n      \"first\": \"118600.0\",\n      \"last\": \"118800.0\",\n      \"quote_volume\": \"10000000.0\",\n      \"target_volume\": \"3431.6560\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499351493000001\"\n    }\n  ]\n}"
                  },
                  "OK (additional_data=true)": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"server_time\": 1416895635000,\n  \"tickers\": [\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BTC\",\n      \"timestamp\": 1499341142000,\n      \"high\": \"3845000.0\",\n      \"low\": \"3819000.0\",\n      \"first\": \"3825000.0\",\n      \"last\": \"3833000.0\",\n      \"quote_volume\": \"10000.0\",\n      \"target_volume\": \"163.3828\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499341142000001\",\n      \"yesterday_high\": \"39893000.0\",\n      \"yesterday_low\": \"37250000.0\",\n      \"yesterday_first\": \"37329000.0\",\n\t\t\t\"yesterday_last\": \"39590000.0\",\n\t\t\t\"yesterday_quote_volume\": \"60543502496.3\",\n\t\t\t\"yesterday_target_volume\": \"1562.9754\"\n    },\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BCH\",\n      \"timestamp\": 1499341142000,\n      \"high\": \"133500.0\",\n      \"low\": \"130500.0\",\n      \"first\": \"131500.0\",\n      \"last\": \"132000.0\",\n      \"quote_volume\": \"1000000.0\",\n      \"target_volume\": \"1770.8030\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499341142000002\"\n    },\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"ETH\",\n      \"timestamp\": 1499351493000,\n      \"high\": \"120700.0\",\n      \"low\": \"117900.0\",\n      \"first\": \"118600.0\",\n      \"last\": \"118800.0\",\n      \"quote_volume\": \"10000000.0\",\n      \"target_volume\": \"3431.6560\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499351493000001\",\n      \"yesterday_high\": \"2539000.0\",\n\t\t\t\"yesterday_low\": \"2442000.0\",\n\t\t\t\"yesterday_first\": \"2449000.0\",\n\t\t\t\"yesterday_last\": \"2523000.0\",\n\t\t\t\"yesterday_quote_volume\": \"36533847991.9\",\n\t\t\t\"yesterday_target_volume\": \"14628.2616\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "example": "success",
                          "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "0",
                          "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                        },
                        "server_time": {
                          "type": "integer",
                          "example": 1416895635000,
                          "default": 0,
                          "description": "반환 시점의 서버 시간 (ms)"
                        },
                        "tickers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "quote_currency": {
                                "type": "string",
                                "example": "KRW",
                                "description": "마켓 기준 통화"
                              },
                              "target_currency": {
                                "type": "string",
                                "example": "BTC",
                                "description": "티커 종목 명"
                              },
                              "timestamp": {
                                "type": "integer",
                                "example": 1499341142000,
                                "default": 0,
                                "description": "티커 생성 시점 (Unix time) (ms)"
                              },
                              "high": {
                                "type": "string",
                                "example": "3845000.0",
                                "description": "고가 (24시간 기준)"
                              },
                              "low": {
                                "type": "string",
                                "example": "3819000.0",
                                "description": "저가 (24시간 기준)"
                              },
                              "first": {
                                "type": "string",
                                "example": "3825000.0",
                                "description": "시가 (24시간 기준)"
                              },
                              "last": {
                                "type": "string",
                                "example": "3833000.0",
                                "description": "종가  (24시간 기준)"
                              },
                              "quote_volume": {
                                "type": "string",
                                "example": "10000.0",
                                "description": "24시간 기준 종목 체결 금액 (원화)"
                              },
                              "target_volume": {
                                "type": "string",
                                "example": "163.3828",
                                "description": "24시간 기준 종목 체결량 (종목)"
                              },
                              "best_asks": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1200.0",
                                      "description": "매도 가격"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "1.234",
                                      "description": "매도 수량"
                                    }
                                  }
                                },
                                "description": "매도 최저가의 오더북 정보"
                              },
                              "best_bids": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1000.0",
                                      "description": "매수 가격"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "0.123",
                                      "description": "매수 수량"
                                    }
                                  }
                                },
                                "description": "매수 최고가의 오더북 정보"
                              },
                              "id": {
                                "type": "string",
                                "example": "1499341142000001",
                                "description": "티커 별 ID 값으로 클수록 최신 티커 정보"
                              }
                            }
                          },
                          "description": "티커 정보 목록"
                        }
                      }
                    },
                    {
                      "title": "OK (additional_data=true)",
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "example": "success",
                          "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "0",
                          "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                        },
                        "server_time": {
                          "type": "integer",
                          "example": 1416895635000,
                          "default": 0,
                          "description": "반환 시점의 서버 시간 (ms)"
                        },
                        "tickers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "quote_currency": {
                                "type": "string",
                                "example": "KRW",
                                "description": "마켓 기준 통화"
                              },
                              "target_currency": {
                                "type": "string",
                                "example": "BTC",
                                "description": "티커 종목 명"
                              },
                              "timestamp": {
                                "type": "integer",
                                "example": 1499341142000,
                                "default": 0,
                                "description": "티커 생성 시점 (Unix time) (ms)"
                              },
                              "high": {
                                "type": "string",
                                "example": "3845000.0",
                                "description": "고가 (24시간 기준)"
                              },
                              "low": {
                                "type": "string",
                                "example": "3819000.0",
                                "description": "저가 (24시간 기준)"
                              },
                              "first": {
                                "type": "string",
                                "example": "3825000.0",
                                "description": "시가 (24시간 기준)"
                              },
                              "last": {
                                "type": "string",
                                "example": "3833000.0",
                                "description": "종가  (24시간 기준)"
                              },
                              "quote_volume": {
                                "type": "string",
                                "example": "10000.0",
                                "description": "24시간 기준 종목 체결 금액 (원화)"
                              },
                              "target_volume": {
                                "type": "string",
                                "example": "163.3828",
                                "description": "24시간 기준 종목 체결량 (종목)"
                              },
                              "best_asks": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1200.0",
                                      "description": "매도 가격"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "1.234",
                                      "description": "매도 수량"
                                    }
                                  }
                                },
                                "description": "매도 최저가의 오더북 정보"
                              },
                              "best_bids": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1000.0",
                                      "description": "매수 가격"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "0.123",
                                      "description": "매수 수량"
                                    }
                                  }
                                },
                                "description": "매수 최고가의 오더북 정보"
                              },
                              "id": {
                                "type": "string",
                                "example": "1499341142000001",
                                "description": "티커 별 ID 값으로 클수록 최신 티커 정보"
                              },
                              "yesterday_high": {
                                "type": "string",
                                "example": "39893000.0",
                                "description": "전일 고가 (24시간 기준)"
                              },
                              "yesterday_low": {
                                "type": "string",
                                "example": "37250000.0",
                                "description": "전일 저가 (24시간 기준)"
                              },
                              "yesterday_first": {
                                "type": "string",
                                "example": "37329000.0",
                                "description": "전일 시가 (24시간 기준)"
                              },
                              "yesterday_last": {
                                "type": "string",
                                "example": "39590000.0",
                                "description": "전일 종가 (24시간 기준)"
                              },
                              "yesterday_quote_volume": {
                                "type": "string",
                                "example": "60543502496.3",
                                "description": "전일 24시간 기준 종목 체결 금액 (원화)"
                              },
                              "yesterday_target_volume": {
                                "type": "string",
                                "example": "1562.9754",
                                "description": "전일 24시간 기준 종목 체결량 (종목)"
                              }
                            }
                          },
                          "description": "티커 정보 목록"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "tags": [
          "PUBLIC API V2"
        ],
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.coinone.co.kr/reference/tickers"
        },
        "x-doc-url": "https://docs.coinone.co.kr/reference/tickers"
      }
    },
    "/public/v2/ticker_new/{quote_currency}/{target_currency}": {
      "get": {
        "summary": "개별 티커 정보 조회",
        "description": "특정 종목의 티커 정보 조회",
        "operationId": "ticker",
        "parameters": [
          {
            "name": "quote_currency",
            "in": "path",
            "description": "마켓의 기준 통화",
            "schema": {
              "type": "string",
              "default": "KRW"
            },
            "required": true
          },
          {
            "name": "target_currency",
            "in": "path",
            "description": "조회하려는 종목의 심볼",
            "schema": {
              "type": "string",
              "default": "BTC"
            },
            "required": true
          },
          {
            "name": "additional_data",
            "in": "query",
            "description": "입력 값이 true 이면 전일가 정보까지 조회",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"server_time\": 1416895635000,\n  \"tickers\": [\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BTC\",\n      \"timestamp\": 1499341142000,\n      \"high\": \"3845000.0\",\n      \"low\": \"3819000.0\",\n      \"first\": \"3825000.0\",\n      \"last\": \"3833000.0\",\n      \"quote_volume\": \"10000.0\",\n      \"target_volume\": \"163.3828\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499341142000001\"\n    }\n  ]\n}"
                  },
                  "OK (additional_data=true)": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"server_time\": 1416895635000,\n  \"tickers\": [\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BTC\",\n      \"timestamp\": 1499341142000,\n      \"high\": \"3845000.0\",\n      \"low\": \"3819000.0\",\n      \"first\": \"3825000.0\",\n      \"last\": \"3833000.0\",\n      \"quote_volume\": \"10000.0\",\n      \"target_volume\": \"163.3828\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499341142000001\",\n      \"yesterday_high\": \"39893000.0\",\n      \"yesterday_low\": \"37250000.0\",\n      \"yesterday_first\": \"37329000.0\",\n      \"yesterday_last\": \"39590000.0\",\n      \"yesterday_quote_volume\": \"60543502496.3\",\n      \"yesterday_target_volume\": \"1562.9754\"\n    },\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BCH\",\n      \"timestamp\": 1499341142000,\n      \"high\": \"133500.0\",\n      \"low\": \"130500.0\",\n      \"first\": \"131500.0\",\n      \"last\": \"132000.0\",\n      \"quote_volume\": \"1000000.0\",\n      \"target_volume\": \"1770.8030\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499341142000002\"\n    },\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"ETH\",\n      \"timestamp\": 1499351493000,\n      \"high\": \"120700.0\",\n      \"low\": \"117900.0\",\n      \"first\": \"118600.0\",\n      \"last\": \"118800.0\",\n      \"quote_volume\": \"10000000.0\",\n      \"target_volume\": \"3431.6560\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499351493000001\",\n      \"yesterday_high\": \"2539000.0\",\n      \"yesterday_low\": \"2442000.0\",\n      \"yesterday_first\": \"2449000.0\",\n      \"yesterday_last\": \"2523000.0\",\n      \"yesterday_quote_volume\": \"36533847991.9\",\n      \"yesterday_target_volume\": \"14628.2616\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "example": "success",
                          "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "0",
                          "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                        },
                        "server_time": {
                          "type": "integer",
                          "example": 1416895635000,
                          "default": 0,
                          "description": "반환 시점의 서버 시간 (ms)"
                        },
                        "tickers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "quote_currency": {
                                "type": "string",
                                "example": "KRW",
                                "description": "마켓 기준 통화"
                              },
                              "target_currency": {
                                "type": "string",
                                "example": "BTC",
                                "description": "티커 종목 명"
                              },
                              "timestamp": {
                                "type": "integer",
                                "example": 1499341142000,
                                "default": 0,
                                "description": "티커 생성 시점 (Unix time) (ms)"
                              },
                              "high": {
                                "type": "string",
                                "example": "3845000.0",
                                "description": "고가 (24시간 기준)"
                              },
                              "low": {
                                "type": "string",
                                "example": "3819000.0",
                                "description": "저가 (24시간 기준)"
                              },
                              "first": {
                                "type": "string",
                                "example": "3825000.0",
                                "description": "시가 (24시간 기준)"
                              },
                              "last": {
                                "type": "string",
                                "example": "3833000.0",
                                "description": "종가  (24시간 기준)"
                              },
                              "quote_volume": {
                                "type": "string",
                                "example": "10000.0",
                                "description": "24시간 기준 종목 체결 금액 (원화)"
                              },
                              "target_volume": {
                                "type": "string",
                                "example": "163.3828",
                                "description": "24시간 기준 종목 체결량 (종목)"
                              },
                              "best_asks": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1200.0",
                                      "description": "매도 가격"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "1.234",
                                      "description": "매도 수량"
                                    }
                                  }
                                },
                                "description": "매도 최저가 오더북 정보"
                              },
                              "best_bids": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1000.0",
                                      "description": "매수 가격"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "0.123",
                                      "description": "매수 수량"
                                    }
                                  }
                                },
                                "description": "매수 최고가 오더북 정보"
                              },
                              "id": {
                                "type": "string",
                                "example": "1499341142000001",
                                "description": "티커 별 ID 값으로 클수록 최신 티커 정보"
                              }
                            }
                          },
                          "description": "티커 정보 목록"
                        }
                      }
                    },
                    {
                      "title": "OK (additional_data=true)",
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "example": "success",
                          "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "0",
                          "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                        },
                        "server_time": {
                          "type": "integer",
                          "example": 1416895635000,
                          "default": 0,
                          "description": "반환 시점의 서버 시간 (ms)"
                        },
                        "tickers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "quote_currency": {
                                "type": "string",
                                "example": "KRW",
                                "description": "마켓 기준 통화"
                              },
                              "target_currency": {
                                "type": "string",
                                "example": "BTC",
                                "description": "티커 종목 명"
                              },
                              "timestamp": {
                                "type": "integer",
                                "example": 1499341142000,
                                "default": 0,
                                "description": "티커 생성 시점 (Unix time) (ms)"
                              },
                              "high": {
                                "type": "string",
                                "example": "3845000.0",
                                "description": "고가 (24시간 기준)"
                              },
                              "low": {
                                "type": "string",
                                "example": "3819000.0",
                                "description": "저가 (24시간 기준)"
                              },
                              "first": {
                                "type": "string",
                                "example": "3825000.0",
                                "description": "시가 (24시간 기준)"
                              },
                              "last": {
                                "type": "string",
                                "example": "3833000.0",
                                "description": "종가  (24시간 기준)"
                              },
                              "quote_volume": {
                                "type": "string",
                                "example": "10000.0",
                                "description": "24시간 기준 종목 체결 금액 (원화)"
                              },
                              "target_volume": {
                                "type": "string",
                                "example": "163.3828",
                                "description": "24시간 기준 종목 체결량 (종목)"
                              },
                              "best_asks": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1200.0",
                                      "description": "매도 가격"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "1.234",
                                      "description": "매도 수량"
                                    }
                                  }
                                },
                                "description": "매도 최저가 오더북 정보"
                              },
                              "best_bids": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1000.0",
                                      "description": "매수 가격"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "0.123",
                                      "description": "매수 수량"
                                    }
                                  }
                                },
                                "description": "매수 최고가 오더북 정보"
                              },
                              "id": {
                                "type": "string",
                                "example": "1499341142000001",
                                "description": "티커 별 ID 값으로 클수록 최신 티커 정보"
                              },
                              "yesterday_high": {
                                "type": "string",
                                "example": "39893000.0",
                                "description": "전일 고가 (24시간 기준)"
                              },
                              "yesterday_low": {
                                "type": "string",
                                "example": "37250000.0",
                                "description": "전일 저가 (24시간 기준)"
                              },
                              "yesterday_first": {
                                "type": "string",
                                "example": "37329000.0",
                                "description": "전일 시가 (24시간 기준)"
                              },
                              "yesterday_last": {
                                "type": "string",
                                "example": "39590000.0",
                                "description": "전일 종가 (24시간 기준)"
                              },
                              "yesterday_quote_volume": {
                                "type": "string",
                                "example": "60543502496.3",
                                "description": "전일 24시간 기준 종목 체결 금액 (원화)"
                              },
                              "yesterday_target_volume": {
                                "type": "string",
                                "example": "1562.9754",
                                "description": "전일 24시간 기준 종목 체결량 (종목)"
                              }
                            }
                          },
                          "description": "티커 정보 목록"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "tags": [
          "PUBLIC API V2"
        ],
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.coinone.co.kr/reference/ticker"
        },
        "x-doc-url": "https://docs.coinone.co.kr/reference/ticker"
      }
    },
    "/public/v2/ticker_utc_new/{quote_currency}": {
      "get": {
        "summary": "전체 티커 정보 조회 (UTC)",
        "description": "UTC 기준으로 마켓의 모든 티커 정보 조회",
        "operationId": "utc-tickers",
        "parameters": [
          {
            "name": "quote_currency",
            "in": "path",
            "description": "조회하려는 마켓의 기준 통화",
            "schema": {
              "type": "string",
              "default": "KRW"
            },
            "required": true
          },
          {
            "name": "additional_data",
            "in": "query",
            "description": "입력 값이 true 이면 전일가 정보까지 조회",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"server_time\": 1416895635000,\n  \"tickers\": [\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BTC\",\n      \"timestamp\": 1499341142000,\n      \"high\": \"3845000.0\",\n      \"low\": \"3819000.0\",\n      \"first\": \"3825000.0\",\n      \"last\": \"3833000.0\",\n      \"quote_volume\": \"10000.0\",\n      \"target_volume\": \"163.3828\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499341142000001\"\n    },\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BCH\",\n      \"timestamp\": 1499341142000,\n      \"high\": \"133500.0\",\n      \"low\": \"130500.0\",\n      \"first\": \"131500.0\",\n      \"last\": \"132000.0\",\n      \"quote_volume\": \"1000000.0\",\n      \"target_volume\": \"1770.8030\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499341142000002\"\n    },\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"ETH\",\n      \"timestamp\": 1499351493000,\n      \"high\": \"120700.0\",\n      \"low\": \"117900.0\",\n      \"first\": \"118600.0\",\n      \"last\": \"118800.0\",\n      \"quote_volume\": \"10000000.0\",\n      \"target_volume\": \"3431.6560\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499351493000001\"\n    }\n  ]\n}"
                  },
                  "OK (additional_data=true)": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"server_time\": 1416895635000,\n  \"tickers\": [\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BTC\",\n      \"timestamp\": 1499341142000,\n      \"high\": \"3845000.0\",\n      \"low\": \"3819000.0\",\n      \"first\": \"3825000.0\",\n      \"last\": \"3833000.0\",\n      \"quote_volume\": \"10000.0\",\n      \"target_volume\": \"163.3828\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499341142000001\",\n      \"yesterday_high\": \"39893000.0\",\n      \"yesterday_low\": \"37250000.0\",\n      \"yesterday_first\": \"37329000.0\",\n      \"yesterday_last\": \"39590000.0\",\n      \"yesterday_quote_volume\": \"60543502496.3\",\n      \"yesterday_target_volume\": \"1562.9754\"\n    },\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BCH\",\n      \"timestamp\": 1499341142000,\n      \"high\": \"133500.0\",\n      \"low\": \"130500.0\",\n      \"first\": \"131500.0\",\n      \"last\": \"132000.0\",\n      \"quote_volume\": \"1000000.0\",\n      \"target_volume\": \"1770.8030\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499341142000002\"\n    },\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"ETH\",\n      \"timestamp\": 1499351493000,\n      \"high\": \"120700.0\",\n      \"low\": \"117900.0\",\n      \"first\": \"118600.0\",\n      \"last\": \"118800.0\",\n      \"quote_volume\": \"10000000.0\",\n      \"target_volume\": \"3431.6560\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499351493000001\",\n      \"yesterday_high\": \"2539000.0\",\n      \"yesterday_low\": \"2442000.0\",\n      \"yesterday_first\": \"2449000.0\",\n      \"yesterday_last\": \"2523000.0\",\n      \"yesterday_quote_volume\": \"36533847991.9\",\n      \"yesterday_target_volume\": \"14628.2616\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "example": "success",
                          "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "0",
                          "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                        },
                        "server_time": {
                          "type": "integer",
                          "example": 1416895635000,
                          "default": 0,
                          "description": "반환 시점의 서버 시간 (ms)"
                        },
                        "tickers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "quote_currency": {
                                "type": "string",
                                "example": "KRW",
                                "description": "마켓 기준 통화"
                              },
                              "target_currency": {
                                "type": "string",
                                "example": "BTC",
                                "description": "티커 종목 명"
                              },
                              "timestamp": {
                                "type": "integer",
                                "example": 1499341142000,
                                "default": 0,
                                "description": "티커 생성 시점 (Unix time) (ms)"
                              },
                              "high": {
                                "type": "string",
                                "example": "3845000.0",
                                "description": "고가 (UTC 24시간 기준)"
                              },
                              "low": {
                                "type": "string",
                                "example": "3819000.0",
                                "description": "저가 (UTC 24시간 기준)"
                              },
                              "first": {
                                "type": "string",
                                "example": "3825000.0",
                                "description": "시가 (UTC 24시간 기준)"
                              },
                              "last": {
                                "type": "string",
                                "example": "3833000.0",
                                "description": "종가 (UTC 24시간 기준)"
                              },
                              "quote_volume": {
                                "type": "string",
                                "example": "10000.0",
                                "description": "최근 24시간 기준 종목 체결 금액 (원화)"
                              },
                              "target_volume": {
                                "type": "string",
                                "example": "163.3828",
                                "description": "최근 24시간 기준 종목 체결량 (종목)"
                              },
                              "best_asks": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1200.0",
                                      "description": "매도 가격"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "1.234",
                                      "description": "매도 수량"
                                    }
                                  }
                                },
                                "description": "매도 최저가 오더북 정보"
                              },
                              "best_bids": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1000.0",
                                      "description": "매수 가격"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "0.123",
                                      "description": "매수 수량"
                                    }
                                  }
                                },
                                "description": "매수 최고가 오더북 정보"
                              },
                              "id": {
                                "type": "string",
                                "example": "1499341142000001",
                                "description": "티커 별 ID 값으로 클수록 최신 티커 정보"
                              }
                            }
                          },
                          "description": "티커 정보 목록"
                        }
                      }
                    },
                    {
                      "title": "OK (additional_data=true)",
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "example": "success",
                          "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "0",
                          "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                        },
                        "server_time": {
                          "type": "integer",
                          "example": 1416895635000,
                          "default": 0,
                          "description": "반환 시점의 서버 시간 (ms)"
                        },
                        "tickers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "quote_currency": {
                                "type": "string",
                                "example": "KRW",
                                "description": "마켓 기준 통화"
                              },
                              "target_currency": {
                                "type": "string",
                                "example": "BTC",
                                "description": "티커 종목 명"
                              },
                              "timestamp": {
                                "type": "integer",
                                "example": 1499341142000,
                                "default": 0,
                                "description": "티커 생성 시점 (Unix time) (ms)"
                              },
                              "high": {
                                "type": "string",
                                "example": "3845000.0",
                                "description": "고가 (UTC 24시간 기준)"
                              },
                              "low": {
                                "type": "string",
                                "example": "3819000.0",
                                "description": "저가 (UTC 24시간 기준)"
                              },
                              "first": {
                                "type": "string",
                                "example": "3825000.0",
                                "description": "시가 (UTC 24시간 기준)"
                              },
                              "last": {
                                "type": "string",
                                "example": "3833000.0",
                                "description": "종가 (UTC 24시간 기준)"
                              },
                              "quote_volume": {
                                "type": "string",
                                "example": "10000.0",
                                "description": "최근 24시간 기준 종목 체결 금액 (원화)"
                              },
                              "target_volume": {
                                "type": "string",
                                "example": "163.3828",
                                "description": "최근 24시간 기준 종목 체결량 (종목)"
                              },
                              "best_asks": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1200.0",
                                      "description": "매도 가격"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "1.234",
                                      "description": "매도 수량"
                                    }
                                  }
                                },
                                "description": "매도 최저가 오더북 정보"
                              },
                              "best_bids": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1000.0",
                                      "description": "매수 가격"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "0.123",
                                      "description": "매수 수량"
                                    }
                                  }
                                },
                                "description": "매수 최고가 오더북 정보"
                              },
                              "id": {
                                "type": "string",
                                "example": "1499341142000001",
                                "description": "티커 별 ID 값으로 클수록 최신 티커 정보"
                              },
                              "yesterday_high": {
                                "type": "string",
                                "example": "39893000.0",
                                "description": "전일 고가 (UTC 24시간 기준)"
                              },
                              "yesterday_low": {
                                "type": "string",
                                "example": "37250000.0",
                                "description": "전일 저가 (UTC 24시간 기준)"
                              },
                              "yesterday_first": {
                                "type": "string",
                                "example": "37329000.0",
                                "description": "전일 시가 (UTC 24시간 기준)"
                              },
                              "yesterday_last": {
                                "type": "string",
                                "example": "39590000.0",
                                "description": "전일 종가 (UTC 24시간 기준)"
                              },
                              "yesterday_quote_volume": {
                                "type": "string",
                                "example": "60543502496.3",
                                "description": "전일 최근 24시간 기준 종목 체결 금액 (원화)"
                              },
                              "yesterday_target_volume": {
                                "type": "string",
                                "example": "1562.9754",
                                "description": "전일 최근 24시간 기준 종목 체결량 (종목)"
                              }
                            }
                          },
                          "description": "티커 정보 목록"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "tags": [
          "PUBLIC API V2"
        ],
        "externalDocs": {
          "description": "공식 문서",
          "url": "https://docs.coinone.co.kr/reference/utc-tickers"
        },
        "x-doc-url": "https://docs.coinone.co.kr/reference/utc-tickers"
      }
    },
    "/public/v2/ticker_utc_new/{quote_currency}/{target_currency}": {
      "get": {
        "summary": "개별 티커 정보 조회 (UTC)",
        "description": "UTC 기준으로 특정 종목의 티커 정보 조회",
        "operationId": "utc-ticker",
        "parameters": [
          {
            "name": "quote_currency",
            "in": "path",
            "description": "마켓의 기준 통화",
            "schema": {
              "type": "string",
              "default": "KRW"
            },
            "required": true
          },
          {
            "name": "target_currency",
            "in": "path",
            "description": "조회하려는 종목의 심볼",
            "schema": {
              "type": "string",
              "default": "BTC"
            },
            "required": true
          },
          {
            "name": "additional_data",
            "in": "query",
            "description": "입력 값이 true 이면 전일가 정보까지 조회",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"server_time\": 1416895635000,\n  \"tickers\": [\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BTC\",\n      \"timestamp\": 1499341142000,\n      \"high\": \"3845000.0\",\n      \"low\": \"3819000.0\",\n      \"first\": \"3825000.0\",\n      \"last\": \"3833000.0\",\n      \"quote_volume\": \"10000.0\",\n      \"target_volume\": \"163.3828\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499341142000001\"\n    }\n  ]\n}"
                  },
                  "OK (additional_data=true)": {
                    "value": "{\n  \"result\": \"success\",\n  \"error_code\": \"0\",\n  \"server_time\": 1416895635000,\n  \"tickers\": [\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BTC\",\n      \"timestamp\": 1499341142000,\n      \"high\": \"3845000.0\",\n      \"low\": \"3819000.0\",\n      \"first\": \"3825000.0\",\n      \"last\": \"3833000.0\",\n      \"quote_volume\": \"10000.0\",\n      \"target_volume\": \"163.3828\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499341142000001\",\n      \"yesterday_high\": \"39893000.0\",\n      \"yesterday_low\": \"37250000.0\",\n      \"yesterday_first\": \"37329000.0\",\n      \"yesterday_last\": \"39590000.0\",\n      \"yesterday_quote_volume\": \"60543502496.3\",\n      \"yesterday_target_volume\": \"1562.9754\"\n    },\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"BCH\",\n      \"timestamp\": 1499341142000,\n      \"high\": \"133500.0\",\n      \"low\": \"130500.0\",\n      \"first\": \"131500.0\",\n      \"last\": \"132000.0\",\n      \"quote_volume\": \"1000000.0\",\n      \"target_volume\": \"1770.8030\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499341142000002\"\n    },\n    {\n      \"quote_currency\": \"KRW\",\n      \"target_currency\": \"ETH\",\n      \"timestamp\": 1499351493000,\n      \"high\": \"120700.0\",\n      \"low\": \"117900.0\",\n      \"first\": \"118600.0\",\n      \"last\": \"118800.0\",\n      \"quote_volume\": \"10000000.0\",\n      \"target_volume\": \"3431.6560\",\n      \"best_asks\": [\n        {\n          \"price\": \"1200.0\",\n          \"qty\": \"1.234\"\n        }\n      ],\n      \"best_bids\": [\n        {\n          \"price\": \"1000.0\",\n          \"qty\": \"0.123\"\n        }\n      ],\n      \"id\": \"1499351493000001\",\n      \"yesterday_high\": \"2539000.0\",\n      \"yesterday_low\": \"2442000.0\",\n      \"yesterday_first\": \"2449000.0\",\n      \"yesterday_last\": \"2523000.0\",\n      \"yesterday_quote_volume\": \"36533847991.9\",\n      \"yesterday_target_volume\": \"14628.2616\"\n    }\n  ]\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "example": "success",
                          "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "0",
                          "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                        },
                        "server_time": {
                          "type": "integer",
                          "example": 1416895635000,
                          "default": 0,
                          "description": "반환 시점의 서버 시간 (ms)"
                        },
                        "tickers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "quote_currency": {
                                "type": "string",
                                "example": "KRW",
                                "description": "마켓 기준 통화"
                              },
                              "target_currency": {
                                "type": "string",
                                "example": "BTC",
                                "description": "티커 종목 명"
                              },
                              "timestamp": {
                                "type": "integer",
                                "example": 1499341142000,
                                "default": 0,
                                "description": "티커 생성 시점 (Unix time) (ms)"
                              },
                              "high": {
                                "type": "string",
                                "example": "3845000.0",
                                "description": "고가 (UTC 24시간 기준)"
                              },
                              "low": {
                                "type": "string",
                                "example": "3819000.0",
                                "description": "저가 (UTC 24시간 기준)"
                              },
                              "first": {
                                "type": "string",
                                "example": "3825000.0",
                                "description": "시가 (UTC 24시간 기준)"
                              },
                              "last": {
                                "type": "string",
                                "example": "3833000.0",
                                "description": "종가 (UTC 24시간 기준)"
                              },
                              "quote_volume": {
                                "type": "string",
                                "example": "10000.0",
                                "description": "최근 24시간 기준 종목 체결 금액 (원화)"
                              },
                              "target_volume": {
                                "type": "string",
                                "example": "163.3828",
                                "description": "최근 24시간 기준 종목 체결량 (종목)"
                              },
                              "best_asks": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1200.0",
                                      "description": "매도 가격북"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "1.234",
                                      "description": "매도 수량"
                                    }
                                  }
                                },
                                "description": "매도 최저가 오더 정보"
                              },
                              "best_bids": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1000.0",
                                      "description": "매수 가격"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "0.123",
                                      "description": "매수 수량"
                                    }
                                  }
                                },
                                "description": "매수 최고가 오더북 정보"
                              },
                              "id": {
                                "type": "string",
                                "example": "1499341142000001",
                                "description": "티커 별 ID 값으로 클수록 최신 티커 정보"
                              }
                            }
                          },
                          "description": "티커 정보 목록"
                        }
                      }
                    },
                    {
                      "title": "OK (additional_data=true)",
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "string",
                          "example": "success",
                          "description": "정상 반환 시 success, 에러 코드 반환 시 error"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "0",
                          "description": "error 발생 시 에러코드 반환, 성공인 경우 0 반환"
                        },
                        "server_time": {
                          "type": "integer",
                          "example": 1416895635000,
                          "default": 0,
                          "description": "반환 시점의 서버 시간 (ms)"
                        },
                        "tickers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "quote_currency": {
                                "type": "string",
                                "example": "KRW",
                                "description": "마켓 기준 통화"
                              },
                              "target_currency": {
                                "type": "string",
                                "example": "BTC",
                                "description": "티커 종목 명"
                              },
                              "timestamp": {
                                "type": "integer",
                                "example": 1499341142000,
                                "default": 0,
                                "description": "티커 생성 시점 (Unix time) (ms)"
                              },
                              "high": {
                                "type": "string",
                                "example": "3845000.0",
                                "description": "고가 (UTC 24시간 기준)"
                              },
                              "low": {
                                "type": "string",
                                "example": "3819000.0",
                                "description": "저가 (UTC 24시간 기준)"
                              },
                              "first": {
                                "type": "string",
                                "example": "3825000.0",
                                "description": "시가 (UTC 24시간 기준)"
                              },
                              "last": {
                                "type": "string",
                                "example": "3833000.0",
                                "description": "종가 (UTC 24시간 기준)"
                              },
                              "quote_volume": {
                                "type": "string",
                                "example": "10000.0",
                                "description": "최근 24시간 기준 종목 체결 금액 (원화)"
                              },
                              "target_volume": {
                                "type": "string",
                                "example": "163.3828",
                                "description": "최근 24시간 기준 종목 체결량 (종목)"
                              },
                              "best_asks": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "price": {
                                      "type": "string",
                                      "example": "1200.0",
                                      "description": "매도 가격북"
                                    },
                                    "qty": {
                                      "type": "string",
                                      "example": "1.234",
                                      "description": "매도 수량"
                                    }
                                  }
                                },
[...]
